<form nz-form [formGroup]="supplierAccountStatusFilter" class="ctm-label-r">
  <nz-form-item>
    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>            
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">          
            <nz-form-control>    
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>    
            </nz-form-control>    
          </div>
        </div>                
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>     
            </nz-form-control>
          </div>
        </div>                     
      </div>

      <div class="col-md-12 card-footer">
        <nz-form-control class="text-center">

          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1" (click)="supplierReportFilter()">
            <i class="mdi mdi-filter-outline"></i> {{ 'FILTER' | translate }}
          </a>

          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1" (click)="clearFilter()">
            <i class="mdi mdi-filter-remove"></i> {{ 'CLEAN_FILTERS' | translate }}
          </a>    
          
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" (click)="supplierReportPrint()">
            <i class="mdi mdi-printer"></i> {{ 'PRINT_ACCOUNT_STATUS' | translate }}
          </a>            

        </nz-form-control>
      </div>

    </div>
  </nz-form-item>
</form>

<div class="row mt-3 mb-1">
  <div class="col-md-6">
    <b>
      <i class="mdi mdi-account" class="mr-1"></i> {{ 'SUPPLIER' | translate }}: {{ supplierInfoData.supplier_name }}
    </b>    
  </div>  
  <div class="col-md-6">
    <b>
      <i class="mdi mdi-calendar-today" class="mr-1"></i> {{ 'DATE' | translate }}: {{ currentDate | date:'dd MMMM yyyy' }}
    </b>
  </div>    
</div>


<div class="row">
  <div class="col-md-12">

    <nz-table #basicTable [nzData]="supplierAccountData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
      <ng-template #noTableData>
        <div class="black2">
          {{ 'NO_RECORD_FOUND' | translate }}
        </div>
      </ng-template>        
      <thead>
        <tr>
          <th>{{ 'DATE' | translate }}</th>
          <th>{{ 'DESCRIPTION' | translate }}</th>
          <th>{{ 'SHOULD' | translate }}</th>
          <th>{{ 'TO_HAVE' | translate }}</th>
          <th>{{ 'BALANCE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <span>
              <i class="mdi mdi-calendar-check"></i> {{ data.date }}
            </span>
          </td>          
          <td>
            <a *ngIf="data.invoice_type == '1'" routerLink="/user/suppliers/info_supplier" [queryParams]="{ invoice_id: data.invoice_id}" nz-button nzType="primary" nzShape="round" class="font-weight-normal px-3">
              <i class="mdi mdi-file-check"></i> 
              {{ data.description }}
            </a>
            <span *ngIf="data.invoice_type == '2'">
              <i class="mdi mdi-file-check"></i> {{ data.description }}
            </span>                
          </td>
          <td>
            <span>L. {{ data.should }}</span>
          </td>
          <td>
            <span>L. {{ data.to_have }}</span>
          </td>
          <td>
            <span>L. {{ data.balance }}</span>
          </td>          
        </tr>

        <tr>
          <td colspan="2">{{ 'TOTALS' | translate }}</td>
          <td class="font-weight-bold">L. 0</td>
          <td class="font-weight-bold">L. 0</td>
          <td class="font-weight-bold">L. 0</td>
        </tr>

      </tbody>
    </nz-table>    

  </div>
</div>