<div class="row mb-4">
   <div class="col-md-8 mb-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchcustomersbyname()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzScroll]="{ x: '990px' }" [nzData]="customersDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
   	  <th>{{ 'REGISTRATION_DATE' | translate }}</th>
      <th>{{ 'IDENTIFICATION_CARD' | translate }}</th>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'LAST_NAME' | translate }}</th>
      <th>{{ 'BUSINESS' | translate }}</th>
      <th>{{ 'RTN' | translate }}</th>
      <th>{{ 'SEX' | translate }}</th>
      <th>{{ 'CITY' | translate }}</th>
      <th>{{ 'ADDRESS' | translate }}</th>
      <th>{{ 'TELEPHONE' | translate }}</th>
      <th>{{ 'CELLULAR' | translate }}</th>
      <th>{{ 'MAIL' | translate }}</th>
      <th>{{ 'SELLER' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
   	  <td>{{ data.customers_registration_date }}</td>
      <td>{{ data.customers_identification_card }}</td>
      <td>{{ data.customers_name }}</td>
      <td>{{ data.customers_last_name }}</td>
      <td>{{ data.customers_business }}</td>
      <td>{{ data.customers_rtn }}</td>
      <td>{{ data.customers_sex }}</td>
      <td>{{ data.customers_city }}</td>
      <td>{{ data.customers_address }}</td>
      <td>{{ data.customers_telephone }}</td>
      <td>{{ data.customers_cellular }}</td>
      <td>{{ data.customers_mail }}</td>
      <td>{{ data.customers_seller }}</td>
   </tr>
</tbody>
</nz-table>