<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchTaxVisible" [nzTitle]="searchTaxTitleTmpl" (nzOnCancel)="searchTaxClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchTaxTitleTmpl>
    {{ 'TAXES' | translate }}
  </ng-template>

  <form nz-form [formGroup]="taxAddForm" class="mb-2">      
    <nz-form-item class="mb-0">

      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label> 
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_name" />
          </nz-form-control>
        </div>
        <div class="col-md-3">
          <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label> 
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_description" />
          </nz-form-control>
        </div>
        <div class="col-md-3">
          <nz-form-label>{{ 'VALUE' | translate }}*</nz-form-label> 
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_value" />
          </nz-form-control>
        </div>
        <div class="col-md-3">          
          <label class="col-md-12"></label>
          <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2" (click)="saveTax()">
            <i class="mdi mdi-plus"></i>            
          </a>
        </div>                        
      </div>  
      
    </nz-form-item>    
  </form>

  <div class="row">
    <div class="col-md-12">
      <nz-table [nzData]="taxDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ '%' | translate }}</th>
            <th class="text-center">{{ 'OPTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of taxDatas; let i = index">
            <td>{{ data.tax_name }}</td>
            <td>{{ data.tax_description }}</td>
            <td>{{ data.tax_value }}%</td>
            <td class="text-center">
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="taxEditOpen()">
                <i class="mdi mdi-pencil"></i>            
              </a>
              <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="removeTax(i)">
                <i class="mdi mdi-delete-forever"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>


<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="taxEditVisible" [nzTitle]="taxEditTitleTmpl" (nzOnCancel)="taxEditClose()" [nzFooter]="null">

  <ng-template #taxEditTitleTmpl>
    {{ 'EDIT_TAX' | translate }}
  </ng-template>

  <form nz-form [formGroup]="taxEditForm" class="mb-2"> 

    <nz-form-item class="mb-3">

      <div class="row">
        <div class="col-md-4">
          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label> 
        </div>
        <div class="col-md-8">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_name" />
          </nz-form-control>
        </div>
      </div> 
      
      <div class="row">
        <div class="col-md-4">
          <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label> 
        </div>
        <div class="col-md-8">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_description" />
          </nz-form-control>
        </div>
      </div> 
      
      <div class="row">
        <div class="col-md-4">
          <nz-form-label>{{ 'VALUE' | translate }}*</nz-form-label> 
        </div>
        <div class="col-md-8">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="tax_value" />
          </nz-form-control>
        </div>
      </div>
      
    </nz-form-item>    

    <div class="row">          
      <div class="col-md-12 text-center">
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2" (click)="saveTaxEdit()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}        
        </a>
      </div>
    </div>

  </form>   
  
</nz-modal>