<form nz-form [formGroup]="itemfilterform">

  <nz-form-item>

    <div class="row">
      <div class="col-md-4">
        <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="item_code" placeholder="{{ 'CODE' | translate }}" />
        </nz-form-control>                
      </div>
      <div class="col-md-4">
        <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>

        <input type="hidden" nz-input formControlName="supplier_id"/>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="supplierSuffixButton">
            <input type="text" nz-input formControlName="supplier_name" class="ctm-input-disabled"/>
          </nz-input-group>
          <ng-template #supplierSuffixButton>
            <button nz-button nzType="primary" nzShape="round" nzSearch (click)="searchSupplierOpen()" class="px-2">
              ...
            </button>
          </ng-template>                                               
        </nz-form-control>        
      </div>   
      <div class="col-md-4">
        <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="item_name" placeholder="{{ 'NAME' | translate }}" />
        </nz-form-control>            
      </div>                                                     
    </div>

    <div class="row">
      <div class="col-md-4">
        <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
        <nz-form-control>    
          <nz-select nzShowSearch formControlName="item_currency">
            <nz-option nzLabel="{{ 'LEMPIRAS' | translate }}" nzValue="1"></nz-option>
            <nz-option nzLabel="{{ 'DOLLARS' | translate }}" nzValue="2"></nz-option>
          </nz-select>                      
        </nz-form-control>             
      </div> 

      <div class="col-md-4">
        <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>
        <nz-form-control>    
          <nz-select nzShowSearch formControlName="item_category">
            <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
            <nz-option nzLabel="General" nzValue="1"></nz-option>
            <nz-option nzLabel="REPUESTOS" nzValue="2"></nz-option>
          </nz-select>
        </nz-form-control>                
      </div>      

      <div class="col-md-4">
        <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="item_discount" placeholder="% {{ 'DISCOUNT' | translate }}" />
        </nz-form-control>                
      </div>                                      
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <nz-form-label>{{ 'CELLAR' | translate }}</nz-form-label>
        <nz-form-control>    
          <nz-select nzShowSearch formControlName="cellar_type">
            <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
            <nz-option nzLabel="Bodega Principal" nzValue="1"></nz-option>
          </nz-select>
        </nz-form-control>            
      </div>                                     
    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <button nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow mr-1" (click)="searchItem()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </button>
      <a nz-button nzType="primary" nzShape="round" class="ctm-btn-gray mr-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1" (click)="printItemList()">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>          
    </div>
  </div>

</form>

<!-- search supplier dialog start -->
<app-search-supplier-dialog
  [searchSupplierVisible]="searchSupplierVisible"
  (searchSupplierCls)="searchSupplierClose()"
  [supplierDatas]="supplierDatas"
  (supplierAddInputChild)="supplierAddInput($event)">
</app-search-supplier-dialog>
<!-- search supplier dialog end -->