<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       
      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>        
        <h4 class="page-title">
          <i class="mdi mdi-bank"></i> {{ 'SUMMARY_OF_ACCOUNTS' | translate }}
        </h4>
      </div>
   </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>            
            <app-account-summary-filter 
              (searchEvent)="receiveSearchData($event)">
            </app-account-summary-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">
         
      <nz-card>       
        <app-account-summary-table
          [accountsummaryData]="accountsummaryDatas">
        </app-account-summary-table>
      </nz-card>   

    </div>
  </div>   

</div>