<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">  
      
      <div class="col-md-12 p-0">

        <h4 class="page-title">
          <i class="mdi mdi-playlist-check"></i> {{ 'ITEMS' | translate }}          
        </h4>      

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-2 mb-1">
            <i class="fa fa-upload"></i> {{ 'IMPORT' | translate }}
          </a>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-2 mb-1">
            <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
          </a>                    
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mb-1" routerLink="/user/products/items/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_ITEM' | translate }}
          </a>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-5">

      <div *ngIf="!loader" class="card-header bg-primary text-center text-white f-s-0-9">
        <i class="mdi mdi-package-variant mr-1"></i>
        {{ 'TOTAL_PRODUCTS' | translate }}: {{ saleDatas.length }}<!--, {{ 'TOTAL_SERVICES' | translate }}: 0-->
      </div>       
      <nz-card>       

        <div class="row my-1" *ngIf="loader">
          <div class="col-md-12 text-center">
            <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
        </div>             

        <app-itemstable
          *ngIf="!loader" 
          [itemDatas]="saleDatas"
          (populateGetSalesList)="populateGetSalesList()">
        </app-itemstable>
      </nz-card>   

    </div>
  </div>

</div>