<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-settings"></i> {{ 'GENERAL_CONFIGURATION' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid color-gray9">
   <div class="row m-0 pt-4">
      <div class="col-md-12">
         <form nz-form [formGroup]="generalconfigurationform">
            <nz-form-item>
               <nz-card>
                  <div class="row">
                     <div class="col-md-12 py-4">
                        <h5>{{ 'GENERAL_CONFIGURATION' | translate }}-POS</h5>
                     </div>
                     <div class="col-md-12">
                        <h5 class="pb-2">{{ 'SALES_PRINTING_NECKBAND' | translate }}</h5>
                        <div class="check-bx">
                           <label nz-checkbox formControlName="product_discription">
                           <span class="check-txt">{{ 'SHOW_PRODUCT_DESCRIPTION' | translate }}</span>
                           </label>
                           <p>{{ 'WITH_THIS_OPTION_YOUR_CUSTOMERS_WILL_SEE_THE_DESCRIPTION_OF_THE_PRODUCTS_ON_THE_STRIP' | translate }}.</p>
                        </div>
                        <div class="check-bx">
                           <label nz-checkbox formControlName="price_of_products">
                           <span class="check-txt">{{ 'SHOW_UNIT_PRICE_OF_PRODUCTS' | translate }}</span>
                           </label>
                           <p>{{ 'WITH_THIS_OPTION_YOUR_CUSTOMERS_WILL_SEE_THE_UNIT_PRICE_OF_THE_PRODUCTS_ON_THE_STRIP' | translate }}.</p>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <h5 class="pb-3 pt-3 pb-0">{{ 'CASH_SHIFTS' | translate }}</h5>
                        <div class="check-bx">
                           <label nz-checkbox formControlName="enable">
                           <span class="check-txt">{{ 'ENABLE' | translate }}</span>
                           </label>
                           <p>{{ 'WITH_THIS_OPTION_YOU_CAN_KEEP_TRACK_OF_THE_MONEY_FOR_EACH_SHIFT' | translate }}.</p>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-4">
                     <div class="col-md-12 text-center">
                        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="configurationSave()">
                        {{ 'SAVE' | translate }}            
                        </a>
                        <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
                        {{ 'CANCEL' | translate }}              
                        </a>
                     </div>
                  </div>
               </nz-card>
            </nz-form-item>
         </form>
      </div>
   </div>
</div>