<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="employeeDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'IDENTIFICATION_CARD' | translate }}</th>
      <th>{{ 'PHONE' | translate }}</th>
      <th>{{ 'POSITION' | translate }}</th>
      <th>{{ 'ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/employees/emp/info" [queryParams]="{ employee_id: data.employee_id}">
          <i class="mdi mdi-account"></i>
          {{ data.first_name }}
        </a>                
      </td>
      <td>
        <span *ngIf="data.identification != ''">
          <i class="mdi mdi-account-card-details"></i> {{ data.identification }}
        </span>
        <span *ngIf="data.identification == ''">--</span>
      </td>
      <td>
        <span *ngIf="data.phone != ''">
          <i class="mdi mdi-cellphone-iphone"></i> {{ data.phone }}
        </span>
        <span *ngIf="data.phone == ''">--</span>
      </td>
      <td>
        <span *ngIf="data.charge_name != ''">
          <i class="mdi mdi-account-star"></i> {{ data.charge_name }}
        </span>
        <span *ngIf="data.charge_name == ''">--</span>
      </td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/employees/emp/info" [queryParams]="{ employee_id: data.employee_id}">
          <i class="mdi mdi-eye"></i>            
        </a>

        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/employees/edit" [queryParams]="{ employee_id: data.employee_id}">
          <i class="mdi mdi-pencil"></i>            
        </a>       

        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.employee_id)">
          <i class="mdi mdi-delete-forever"></i>
        </a>        
      </td>

    </tr>
  </tbody>
</nz-table>


<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_REFERENCE_GUIDES' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_REFERENCE_GUIDES_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteEmployee()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->