<div class="row mb-4">
   <div class="col-md-8">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchWorkorderbycode()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="workorderDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'CUSTOMER' | translate }}</th>
      <th>{{ 'SUBTOTAL' | translate }}</th>
      <th>{{ 'DISCOUNT' | translate }}</th>
      <th>{{ 'TAX' | translate }}</th>
      <th>{{ 'TOTAL' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.workorder_code }}</td>
      <td>{{ data.workorder_date }}</td>
      <td>{{ data.workorder_customer }}</td>
      <td>{{ data.workorder_subtotal }}</td>
      <td>{{ data.workorder_discount }}</td>
      <td>{{ data.workorder_tax }}</td>
      <td>{{ data.workorder_total }}</td>
      <td>
         <span *ngIf="data.workorder_state == '0'" class="badge badge-pill badge-danger color-white">
         {{ 'PENDING' | translate }}
         </span>
      </td>
   </tr>
   <tr>
      <td class="bg-white" colspan="3"><strong>{{ 'TOTALS' | translate }}</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white" colspan="2"><strong>L. 0.00</strong></td>
   </tr>
</tbody>
</nz-table>