<div class="row">
  <div class="col-md-6 text-center">
    <h6>INVERSIONES LOGISTICAS</h6>
    <p>Col. 15 de Septiembre, Avenida Independencia, Casa No. 6005<br></p>
  </div>
  <div class="col-md-6 text-center">
    <h6>{{ 'CHECKING_BALANCE' | translate }}</h6>
    <p>Al 01/Jan/2020</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13 mb-1" nzSize="large">
      {{ 'EXPORT_TO_EXCEL' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="searchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyseller()" />
        </nz-input-group>
        <ng-template #searchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="balancecheckDisplayData" class="bg-white ctm-b-b" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr role="row">
      <th rowspan="2" colspan="1" style="width: 109px;" class="ctm-b-b-b">{{ 'ACCOUNTING_ACCOUNT' | translate }}</th>
      <th rowspan="2" colspan="1" style="width: 251px;" class="ctm-b-b-b">{{ 'ACCOUNT_DESCRIPTION' | translate }}</th>
      <th class="text-center" style="border-bottom: 0px" colspan="2" rowspan="1">{{ 'PREVIOUS_BALANCE' | translate }}</th>
      <th class="text-center" style="border-bottom: 0px" colspan="2" rowspan="1">{{ 'MOVEMENTS_OF_THE_MONTH' | translate }}</th>
      <th class="text-center" style="border-bottom: 0px" colspan="2" rowspan="1">{{ 'TOTAL_BALANCE' | translate }}</th>
    </tr>
    <tr role="row">
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 61px;">{{ 'SHOULD' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 62px;">{{ 'TO_HAVE' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 47px;">{{ 'SHOULD' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 57px;">{{ 'TO_HAVE' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 62px;">{{ 'SHOULD' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 63px;">{{ 'TO_HAVE' | translate }}</th>
    </tr>    
  </thead>
  <tbody>
    <tr>
      <td>1-01-01-01</td>
      <td>CAJA GENERAL</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>
    <tr style="background-color: #eee;">
      <td style="font-weight: 700;">{{ 'TOTAL' | translate }}</td>
      <td></td>
      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>

      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>

      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>
    </tr>
    <tr role="row" class="odd">
      <td>1-01-02-01</td>
      <td>Banco Ficohsa</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>
    <tr style="background-color: #eee;">
      <td style="font-weight: 700;">{{ 'TOTAL' | translate }}</td>
      <td></td>
      

      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>

      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>

      <td style="font-weight: 700;">0.00</td>
      <td style="font-weight: 700;">0.00</td>
    </tr>
    <tr>
      <td class="ctm-b-b-b" style="font-weight: 700;">{{ 'TOTAL_GENERAL' | translate }}</td>
      <td class="ctm-b-b-b" style="font-weight: 700;">{{ 'FOR_ACCOUNT' | translate }}</td>

      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>

      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>

      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700;">0.00</td>
    </tr>                    
  </tbody>
</nz-table>