<nz-table [nzData]="quotationDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>          
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>              
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><i class="mdi mdi-file-document"></i> {{ 'INVOICE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of quotationDatas">
      <td>
        <a routerLink="/user/income/quotes/info" [queryParams]="{ quotation_id: data.quotation_id}" class="font-weight-normal">
          {{ data.quotation_code }}
        </a>
      </td>
      <td>L. 0.00</td>
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.quotation_code }}
        </a>
      </td>
      <td>{{ data.quotation_date | date : "dd/MMM/yyyy" }}</td>
      <td class="text-center">
        <span *ngIf="data.quotation_state == '0'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span> 
        <span *ngIf="data.quotation_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'BILLED' | translate }}
        </span>        
        <span *ngIf="data.quotation_state == '2'" class="badge badge-pill badge-danger color-white">
          {{ 'PENDING' | translate }}
        </span>                
      </td>
    </tr>
  </tbody>
</nz-table>