<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table [nzData]="bankaccountDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th>{{ 'ACCOUNT_NO' | translate }}</th>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'ADDRESS' | translate }}</th>
      <th>{{ 'BANK' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of bankaccountDisplayData">
      <td>{{ data.bankaccount_no }}</td>
      <td>{{ data.bank_name }}</td>
      <td>{{ data.bank_address }}</td>
      <td>{{ data.bank }}</td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2 mb-1" (click)="editBankAccountOpen()">
          <i class="mdi mdi-pencil"></i>            
        </a>
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
          <i class="mdi mdi-delete-forever"></i>
        </a>                      
      </td>
    </tr>

  </tbody>
</nz-table>

<!-- edit bank account modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editBankAccountVisible" [nzTitle]="editBankAccountTitleTmpl" (nzOnCancel)="editBankAccountClose()" [nzFooter]="editBankAccountFooterTmpl">

  <ng-template #editBankAccountTitleTmpl>{{ 'EDIT_BANK_ACCOUNT' | translate }}</ng-template>
  
  <form nz-form [formGroup]="editBankAccountForm">      
    <nz-form-item class="mb-0">

      <div class="row">
        <div class="col-md-6">
          <nz-form-label>{{ 'ACCOUNT_NO' | translate }}*</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="bankaccount_no" />
          </nz-form-control>   
        </div>
        
        <div class="col-md-6">
          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="bank_name" />
          </nz-form-control>       
        </div>      
      </div>

      <div class="row">
        <div class="col-md-6">
          <nz-form-label>{{ 'BANK' | translate }}*</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
            <nz-select nzShowSearch formControlName="bank" nzAllowClear>
              <nz-option nzLabel="Banco Atlántida S.A." nzValue="1"></nz-option>
              <nz-option nzLabel="Banco de Occidente S.A." nzValue="2"></nz-option>
              <nz-option nzLabel="Banco de Honduras S.A." nzValue="3"></nz-option>
              <nz-option nzLabel="Banco Davivienda Honduras - anteriormente HSBC" nzValue="4"></nz-option>
              <nz-option nzLabel="Banco Financiera Centroamericana S.A. (FICENSA)" nzValue="5"></nz-option>
              <nz-option nzLabel="Banco Financiera Comercial Hondureña S.A. (FICOHSA)" nzValue="6"></nz-option>
              <nz-option nzLabel="Banco Hondureño del Café S.A. (BANHCAFE)" nzValue="7"></nz-option>
              <nz-option nzLabel="Banco del País S.A." nzValue="8"></nz-option>
              <nz-option nzLabel="BAC - Bamer" nzValue="9"></nz-option>
              <nz-option nzLabel="Banco Continental S.A." nzValue="10"></nz-option>
              <nz-option nzLabel="Banco de Los Trabajadores" nzValue="11"></nz-option>
              <nz-option nzLabel="Banco Promérica S.A." nzValue="12"></nz-option>
              <nz-option nzLabel="Banco Cuscatlán" nzValue="13"></nz-option>
              <nz-option nzLabel="Banco Lafise S.A." nzValue="14"></nz-option>
              <nz-option nzLabel="Banco Nacional de Desarrollo Agrícola" nzValue="15"></nz-option>
              <nz-option nzLabel="Banco Hondureño para la Producción y la Vivienda (BANHPROVI)" nzValue="16"></nz-option>
              <nz-option nzLabel="Banco Banrural" nzValue="17"></nz-option>            
            </nz-select>          
          </nz-form-control>      
        </div>
        
        <div class="col-md-6">
          <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="bank_address" />
          </nz-form-control>    
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <nz-form-label>{{ 'CORRELATIVE_INITIAL_CHECKS' | translate }}*</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="bank_correlative_checks" />
          </nz-form-control> 
        </div>
      </div>      
           
    </nz-form-item>     
  </form>

  <ng-template #editBankAccountFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editBankAccountSave()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- edit bank account modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_BANK_ACCOUNT' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_BANK_ACCOUNT_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->