<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-account-card-details"></i> {{ 'EMPLOYEE_INFORMATION' | translate }}
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/employees/new">
            <i class="mdi mdi-plus"></i> {{ 'ADD_EMPLOYEE' | translate }}
          </a>
          <app-backbutton></app-backbutton>
        </div>
      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row my-1" *ngIf="employeeDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12 mb-5">
      <nz-card>
        <nz-tabset *ngIf="!employeeDataLoader" class="ctm-tabs-rsp">
  
          <nz-tab [nzTitle]="ctmInfoTabTemp1" class="ctm-tabs">
            <ng-template #ctmInfoTabTemp1>
              <i class="mdi mdi-account mr-1"></i>{{ 'EMPLOYEE_DATA' | translate }}
            </ng-template>
            <app-info-employee-tab1
              [employeeDatas]="employeeDatas">
            </app-info-employee-tab1>
          </nz-tab>

        </nz-tabset>                  
      </nz-card>      
    </div>
  </div>  

</div>