<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-settings"></i> {{ 'BRANCH_OFFICES' | translate }}
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/settings/business/branch/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_BRANCH' | translate }}
          </a>
          <app-backbutton></app-backbutton>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">   

    <div class="col-md-12 mt-3">
      <nz-card>

        <div class="row mb-4">

          <div class="offset-md-8 col-md-4">
            <div class="row">
              <div class="col-md-3">
                <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
              </div>
              <div class="col-md-9">
                <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                  <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                </nz-input-group>
                <ng-template #keyupsearchSuffixIcn>
                  <i nz-icon nzType="search"></i>
                </ng-template>              
              </div> 
            </div>          
          </div>
      
        </div>      
        
        <div class="row my-1" *ngIf="loader">
          <div class="col-md-12 text-center">
            <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
       </div>         

        <div *ngIf="!loader" class="row">
          <div class="col-md-12">
             <h6 class="card-title f-s-14 text-center">
                  {{ 'BRANCH_LIST' | translate }}
               </h6>
            <nz-table #branchDisplayData [nzData]="branchDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
              <ng-template #noTableData>
                <div class="black2">
                  {{ 'NO_RECORD_FOUND' | translate }}
                </div>
              </ng-template>              
              <thead>
                <tr>
                  <th>{{ 'NAME' | translate }}</th>
                  <th>{{ 'MAIL' | translate }}</th>
                  <th>{{ 'CELLAR' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of branchDisplayData.data">
                  <td>{{ data.branch_name }}</td>
                  <td>{{ data.email }}</td>
                  <td class="winery-separator">
                    <span *ngFor="let wineriesData of data.wineries">
                      {{ wineriesData.winery_name }}
                    </span>
                  </td>
                  <td>
                    <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="editBranchOpen(data)">
                      <i class="mdi mdi-pencil"></i>            
                    </a>
                    <a *ngIf="branchDatas.length > 1" nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.branch_id)">
                      <i class="mdi mdi-delete-forever"></i>            
                    </a>         
                  </td>
                </tr>
              </tbody>
            </nz-table>      
          </div>
        </div>        

      </nz-card>
    </div>
 
  
</div>  


<!-- edit branch modal start -->
<nz-modal *ngIf="editBranchVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="editBranchVisible" [nzTitle]="editBranchTitleTmpl" (nzOnCancel)="editBranchClose()" [nzFooter]="editBranchFooterTmpl">

  <ng-template #editBranchTitleTmpl>{{ 'MODIFY_BRANCH' | translate }}</ng-template>
  
  <form nz-form [formGroup]="editBranchForm" class="ctm-label-r">      
    <nz-form-item class="mb-0">

      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control>
            <input type="hidden" nz-input formControlName="branch_id" />
         </nz-form-control>
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="branch_name" />
          </nz-form-control>
        </div>      
      </div>    
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control>
            <input type="text" nz-input formControlName="cai" />
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'BILLING_RANGE' | translate }}</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control>
            <input type="text" nz-input formControlName="billing_range" />
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="address" />
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'CITY' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="city" />
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="email" />
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'INVOICE_PREFIX' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <input type="text" nz-input formControlName="invoice_prefix" />
          </nz-form-control>
        </div>      
      </div>
      
      <!-- <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'PRINTER_TYPE' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <nz-select nzShowSearch formControlName="printer_type" nzAllowClear>
              <nz-option nzLabel="Impresora Normal" nzValue="1"></nz-option>       
            </nz-select>             
          </nz-form-control>
        </div>      
      </div> 
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'COST_CENTER' | translate }}</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control>
            <nz-select nzShowSearch formControlName="cost_center" nzAllowClear>
              <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>   
              <nz-option nzLabel="Compras" nzValue="2"></nz-option>       
            </nz-select>               
          </nz-form-control>
        </div>      
      </div> -->
      
      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control>
            <textarea rows="3" nz-input formControlName="description"></textarea>            
          </nz-form-control>
        </div>      
      </div>      

      <div class="row">
        <div class="col-md-5">
          <div>
            <nz-form-label>{{ 'WINERIES' | translate }}*</nz-form-label> 
          </div>
        </div>        
        <div class="col-md-7">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <nz-select nzMode="multiple" nzShowSearch formControlName="wineries">
              <nz-option 
                *ngFor="let winery of wineryDatas" 
                [nzLabel]="winery.name" 
                [nzValue]="winery.wineries_id">
              </nz-option>
            </nz-select>            
          </nz-form-control>
        </div>      
      </div>    
           
    </nz-form-item>     
  </form>

  <ng-template #editBranchFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateBranch()" [nzLoading]="branchUpdateLoader">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- edit branch modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_BRANCH' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'BRANCH_DELETE_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteBranch()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->