<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchCustomerVisible" [nzTitle]="searchCustomerTitleTmpl" (nzOnCancel)="searchCustomerClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchCustomerTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'CUSTOMER' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'CUSTOMER' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="customerSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="customer_search_title" (keyup)="searchCustomer()" />
      </nz-input-group>
      <ng-template #customerSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #customerTable [nzData]="customerDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>        
        <thead>
          <tr>
            <th>{{ 'IDENTIFICATION_CARD' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'MOBILE' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of customerTable.data">
            <td>{{ data.customer_identification_no }}</td>
            <td>{{ data.customer_name }}</td>
            <td>{{ data.customer_mobile }}</td>
            <td>{{ data.customer_email }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="customerAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>