<nz-table #basicTable [nzData]="purchasesDisplayData" class="bg-white" nzFrontPagination="false" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'CAI' | translate }}</th>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'NOTES' | translate }}</th>
      <th>{{ 'PROVIDER' | translate }}</th>
      <th>{{ 'SUBTOTAL' | translate }}</th>
      <th>{{ 'DISCOUNT' | translate }}</th>
      <th>{{ 'TAX' | translate }}</th>
      <th>{{ 'TOTAL' | translate }}</th>
      <th>{{ 'BALANCE' | translate }}</th>
      <th>{{ 'PAYMENT_METHOD' | translate }}</th>
      <th>{{ 'TIPE_OF_PAY' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>
         <a routerLink="/user/products/purchase/info" [queryParams]="{ purchases_id: data.purchases_id}" class="font-weight-normal">
         {{ data.purchases_code }}
         </a>
      </td>
      <td>{{ data.purchases_cai }}</td>
      <td>{{ data.purchases_date }}</td>
      <td>{{ data.purchases_notes }}</td>
      <td>{{ data.purchases_provider }}</td>
      <td>{{ data.purchases_subtotal }}</td>
      <td>{{ data.purchases_discount }}</td>
      <td>{{ data.purchases_tax }}</td>
      <td>{{ data.purchases_total }}</td>
      <td>{{ data.purchases_balance }}</td>
      <td>{{ data.purchases_payment_method }}</td>
      <td>{{ data.purchases_tipe_of_pay }}</td>
      <td>
         <span *ngIf="data.purchases_state == '2'" class="badge badge-pill badge-success color-white">
         {{ 'PAID' | translate }}
         </span>
         <span *ngIf="data.purchases_state == '1'" class="badge badge-pill badge-danger color-white">
         {{ 'UNPAID' | translate }}
         </span>
         <span *ngIf="data.purchases_state == '0'" class="badge badge-pill badge-warning">
         {{ 'CANCELED' | translate }}
         </span>        
      </td>
   </tr>
   <tr>
      <td class="bg-white" colspan="5"><strong>{{ 'TOTALS' | translate }}</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white"><strong>L. 0.00</strong></td>
      <td class="bg-white" colspan="5"><strong>L. 0.00</strong></td>
   </tr>
</tbody>
</nz-table>