<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'QUOTATION' | translate }}
          <a class="color-black">
            <i class="mdi mdi-help-circle"></i>
         </a>
        
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1">
            <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
          </a> 
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/income/quotes/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_QUOTATION' | translate }}
          </a>
          <a nz-button nzType="secondary" (click)="showFilter()" class="ctm-btn-pale-blue px-2">
            <i class="mdi mdi-filter-variant"></i> {{ 'SHOW_FILTERS' | translate }}            
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>            
            <app-quotes-filter 
              (searchEvent)="receiveSearchData($event)">
            </app-quotes-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">
      
      <div class="card-header bg-primary text-center text-white f-s-0-9">
        <i class="fa fa-building mr-1"></i>
        {{ 'YOU_ARE_IN' | translate }}: Sucursal 1
      </div>      
      <nz-card>       
        <app-quotes-table
          [quotationDatas]="quotationDatas">
        </app-quotes-table>
      </nz-card>   

    </div>
  </div>   

</div>