<div class="container-fluid color-gray9">

  <div class="row m-0">
    <div class="col-md-12">
      <div class="py-3">
        <h5>{{ 'CONFIGURATION' | translate }}</h5>
      </div>      
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-6">

      <form nz-form [formGroup]="configurationform">
        <nz-form-item>

          <nz-card>

            <div class="row">                  
              <div class="col-md-12">
                <h5>{{ 'BRANCH' | translate }}</h5>
                <p>{{ 'SELECT_THE_DEFAULT_BRANCH_MSG' | translate }}</p>
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="branch">
                    <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                  </nz-select>  
                </nz-form-control>                  
              </div>
            </div> 

            <div class="row mt-3">                  
              <div class="col-md-12">
                <h5>{{ 'CELLAR' | translate }}</h5>
                <p>{{ 'SELECT_THE_DEFAULT_WARE_HOUSE_MSG' | translate }}</p>
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="cellar">
                    <nz-option nzLabel="Bodega Principal" nzValue="1"></nz-option>
                  </nz-select>  
                </nz-form-control>                  
              </div>
            </div> 
            
            <div class="row mt-4">
              <div class="col-md-12 text-center">
                <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="configurationSave()">
                  <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
                </a>
              </div>
            </div>
          
          </nz-card>
          
        </nz-form-item>    
      </form>  

    </div>
  </div>
  
</div>  


