<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">
      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>
        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'SEE_REFERENCE_GUIDES' | translate }}
        </h4>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">

	<div class="row my-1" *ngIf="referenceGuidesDataLoader">
		<div class="col-md-12 text-center">
			 <ng-template #indicatorTemplate>
					<i nz-icon nzType="loading" class="f-s-18"></i>
			 </ng-template>
			 <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
		</div>
 	</div>

  <div *ngIf="referenceGuidesDataVisible" class="row m-0">
    <div class="col-md-12 mb-4">
      <nz-card class="color-b">
        <div class="row">
          <div class="col-md-12">
            <div class="invoice-title row">
              <div class="mb-4" style="background-color: #1777B4;width: 100%;height: 20px;"></div>
              <div class="col-md-1">
								<img *ngIf="referenceGuidesDatas.sender_image" [src]="referenceGuidesDatas.sender_image" style="width: 66px; margin-top: 10px;">								
              </div>
							<div style="color: #000;" class="col-md-11 text-center">
								
								<h6 style="margin-bottom:3px; font-weight: 700;" class="p-0">
									{{ referenceGuidesDatas.sender }}
								</h6>
								
                {{ 'RTN' | translate }}: {{ referenceGuidesDatas.sender_RTN_TDI }}<br>
                {{ referenceGuidesDatas.sender_address }}<br>
                {{ 'EMAIL' | translate }}: {{ referenceGuidesDatas.sender_email }}&nbsp; {{ 'TELEPHONE' | translate }}: {{ referenceGuidesDatas.sender_telephone }}<br>
                {{ 'C_A_I' | translate }}: {{ referenceGuidesDatas.sender_CAI }} VENCE {{ referenceGuidesDatas.sender_expires }}<br>
                {{ referenceGuidesDatas.sender_site_url }}
              </div>
              <div class="referreal_border col-md-12 my-4 pt-1 pb-0 text-center">
                <h6 style="font-weight:700; margin-bottom:5px;"><span style="text-transform:uppercase;">{{ 'REFERRAL_GUIDE' | translate }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. {{ referenceGuidesDatas.reference_guide_id }} </h6>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-7">
                <address>
                  <strong>{{ 'START_DATE' | translate }}:</strong>  {{ referenceGuidesDatas.start_date }}<br>
                  <strong>{{ 'SENDER' | translate }}:</strong>  {{ referenceGuidesDatas.sender }}<br>
                  <strong>{{ 'ADDRESSEE' | translate }}:</strong> {{ referenceGuidesDatas.address }}<br>
                  <strong>{{ 'ORIGIN' | translate }}:</strong> {{ referenceGuidesDatas.origin }}<br>
                  <strong>{{ 'REASON' | translate }}:</strong> {{ referenceGuidesDatas.reason }}<br>
                </address>
              </div>
              <div class="col-5">
                <address class="text-left">
                  <strong>{{ 'FINISH_DATE' | translate }}:</strong> {{ referenceGuidesDatas.finish_date }}<br>
                  <strong>{{ 'RTN_TDI' | translate }}:</strong> {{ referenceGuidesDatas.RTN_TDI }}<br>
                  <strong>{{ 'RTN_TDI' | translate }}:</strong> {{ referenceGuidesDatas.RTN_TDI }}<br>
                  <strong>{{ 'DESTINATION' | translate }}:</strong> {{ referenceGuidesDatas.destination }}
                  <br>
                  <strong>{{ 'EMITED_BY' | translate }}:</strong>
                  {{ referenceGuidesDatas.emited_by }}
                </address>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div style="background-color: #1777B4; width: 100%; height: 4px;"></div>
                <nz-table [nzData]="referenceGuidesDatas.productsDetails" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="inforeferenceProductNoDataTmp">
                <ng-template #inforeferenceProductNoDataTmp></ng-template>
                <thead>
                  <tr>
                    <th class="bg_thead text-center"><strong>{{ 'QTY' | translate }}</strong></th>
                    <th class="text-center bg_thead"><strong>{{ 'CODE' | translate }}</strong></th>
                    <th class="text-center bg_thead"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                    <th class="text-center bg_thead"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
                    <th class="text-center bg_thead"><strong>{{ 'TAX' | translate }}</strong></th>
                    <th class="text-right bg_thead"><strong>{{ 'TOTAL' | translate }}</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of referenceGuidesDatas.productsDetails; let i = index">
                    <td class="text-center">{{ data.product_quantity }}</td>
                    <td class="text-center">{{ data.product_code }}</td>
                    <td class="text-center">{{ data.description }}</td>
                    <td class="text-center">L. {{ data.product_price | number:'.2-2' }}</td>
                    <td class="text-center">L. {{ data.product_tax | number:'.2-2' }}</td>
                    <td class="text-right">L. {{ data.product_total_price | number:'.2-2' }}</td>
                  </tr>
                  <tr>
                    <td class="border-0 text-center">
											<strong>{{ productQuantitySum }}</strong>
										</td>
                    <td class="border-0 text-center"><strong>{{ 'TOTAL_ITEMS' | translate }}</strong></td>
                    <td class="border-0" colspan="1"></td>
                    <td class="text-center thick-line text-right" colspan="1">
                      <strong>{{ 'TOTAL' | translate }}</strong>
                    </td>
                    <td class="text-center thick-line text-right">
                      <strong>L. {{ productTaxSum | number:'.2-2' }}</strong>
                    </td>
                    <td class="thick-line text-right pb-0">
											<strong>L. {{ referenceGuidesDatas.total_amount | number:'.2-2' }}</strong>
										</td>
                  </tr>
                </tbody>
                </nz-table>                
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-md-12 pt-4 pb-1">
                <h6 style="color:#000; font-size:14px;"> <strong>{{ 'CARRIER_DATA' | translate }}</strong></h6>
              </div>
              <div class="col-md-8 py-1">
                <h6 style="color:#000; font-size:14px;"> <strong>{{ 'DENOMINATION' | translate }}: {{ referenceGuidesDatas.denomination }}</strong></h6>
              </div>
              <div class="col-md-4 py-1">
                <h6 style="color:#000; font-size:14px;"> <strong>{{ 'RTN_TDI' | translate }}: {{ referenceGuidesDatas.RTN_TDI }}</strong></h6>
              </div>
              <div class="col-md-12 py-1">
                <h6 style="color:#000; font-size:14px;"> <strong>{{ 'DATA_OF_THE_TRANSPORT_AND_DRIVER_UNIT' | translate }}</strong></h6>
              </div>
              <div class="col-md-8 py-1">
                <h6 style="color:#000; font-size:14px;">{{ 'NAME_AND_SURNAME' | translate }}: {{ referenceGuidesDatas.driver_first_name }} {{ referenceGuidesDatas.driver_last_name }}
                </h6>
              </div>
              <div class="col-md-4 py-1">
                <h6 style="color:#000; font-size:14px;">{{ 'RTN_TDI' | translate }}: {{ referenceGuidesDatas.transport_RTN_TDI }}</h6>
              </div>
              <div class="col-md-3 py-1">
                <h6 style="color:#000; font-size:14px;"><strong>{{ 'VEHICAL_BRAND' | translate }}:</strong>
                  {{ referenceGuidesDatas.vehical_brand }}
                </h6>
              </div>
              <div class="col-md-3 py-1">
                <h6 style="color:#000; font-size:14px;"><strong>{{ 'MODEL' | translate }}:</strong>
                  {{ referenceGuidesDatas.model }}
                </h6>
              </div>
              <div class="col-md-3 py-1">
                <h6 style="color:#000; font-size:14px;"><strong>{{ 'LICENSE_PLATE' | translate }}:</strong>
                  {{ referenceGuidesDatas.license_plate }}
                </h6>
              </div>
              <div class="col-md-3 py-1">
                <h6 style="color:#000; font-size:14px;"><strong>{{ 'DRIVERS_LICENSE' | translate }}:</strong>
                  {{ referenceGuidesDatas.license_plate }}
                </h6>
              </div>
            </div>
            <div style="margin-top:60px; background-color: #1777B4;width: 100%;height: 7px;"></div>
            <!-- <div style="background-color:#333;">
              <div style="display: flex;" class="p-3">
                <div class="col-md-8 text-white"><strong>{{ 'AUTHORIZED_NUMBERING_RANGE' | translate }} 000-001-01-00000301 al 000-001-01-00000400 </strong></div>
                <div class="col-md-4 text-right text-white"><strong>{{ 'EMISSION_LIMIT' | translate }}: 01/01/2020 </strong></div>
              </div>
            </div> -->
            <br>
            <div class="row">
              <div class="col-md-12 d-print-none">
                <div class="pull-right">
                  <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1">
                  <i class="fa fa-print"></i>
                  </a>
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirmOpen(referenceGuidesDatas.reference_guide_id)">
                  <i class="mdi mdi-delete-forever"></i>
                  </a>
                  <!--     <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" (click)="createReceiptOpen()">
                    <i class="mdi mdi-plus"></i> {{ 'CREATE_NEW_PAYMENT' | translate }}
                    </a>  -->             
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <!--   <div class="row m-0">
    <div class="col-md-12 mb-5">
      <nz-collapse>
        <nz-collapse-panel
          [nzHeader]="payGenerateTitleTmp"
          [nzActive]="generatePaymentCollapse"
          nzDisabled="false"
          nzShowArrow="false"
          nzBordered="false"
          [nzExtra]="extraTpl">
    
          <ng-template #payGenerateTitleTmp>
            {{ 'GENERATED_PAYMENTS' | translate }}
          </ng-template>
    
          <div>
            <app-invoice-generate-payment 
              [generatePaymentData]="generatePaymentDatas">
            </app-invoice-generate-payment>
          </div>
    
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #extraTpl>
        <i class="mdi mdi-plus"></i>
      </ng-template>       
    </div>
    
    </div> -->
</div>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_REFERENCE_GUIDES' | translate }}</ng-template>
<div class="text-center">
  <p>{{ 'DELETE_REFERENCE_GUIDES_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
  <div class="row">
    <div class="col-md-12">         
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
      {{ 'CANCEL' | translate }}            
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteReferenceGuides()" [nzLoading]="deleteBtnLoading">
      {{ 'OK' | translate }}            
      </a>
    </div>
  </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->