<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-package-variant mr-1"></i>
                  <span *ngIf="pageType == 'new'">{{ 'NEW_ITEM' | translate }}</span>
                  <span *ngIf="pageType == 'edit'">{{ 'UPDATE_ITEM' | translate }}</span>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">

   <div class="row my-1" *ngIf="saleDataLoader">
      <div class="col-md-12 text-center">
         <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
         </ng-template>
         <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
      </div>
   </div>      

   <div class="row my-1" *ngIf="cateLoader">
      <div class="col-md-12 text-center">
         <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
         </ng-template>
         <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
      </div>
   </div>        
   
   <div class="row my-1" *ngIf="suplierLoader">
      <div class="col-md-12 text-center">
         <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
         </ng-template>
         <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
      </div>
   </div>   

   <div class="row my-1" *ngIf="loader">
      <div class="col-md-12 text-center">
         <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
         </ng-template>
         <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
      </div>
   </div>      

   <div *ngIf="saleDataVisible" class="row m-0 mb-4">
      <div class="col-md-12">
         <form nz-form [formGroup]="itemForm">
            <nz-card>
               <!-- general info form start -->          
               <h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
                  <b>{{ 'GENERAL_INFORMATION' | translate }}</b>
               </h6>
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>
                                 <nz-select formControlName="sale_type" (ngModelChange)="productTypeSelection($event)">
                                    <nz-option nzLabel="{{ 'SERVICE' | translate }}" nzValue="S"></nz-option>
                                    <nz-option nzLabel="{{ 'PRODUCT' | translate }}" nzValue="P"></nz-option>
                                 </nz-select>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label nz-tooltip [nzTooltipTitle]="productNameToolTmp">{{ 'NAME' | translate }}*</nz-form-label>
                              <ng-template #productNameToolTmp>{{ 'IT_APPEARS_ON_INVOICE' | translate }}</ng-template>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input formControlName="product_name" placeholder="{{ 'PRODUCT_NAME' | translate }}" required />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input formControlName="product_code" placeholder="{{ 'PRODUCT_CODE' | translate }}" required />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'CATEGORY' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <div class="row">
                                 <div class="col-md-10">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-select formControlName="category_id" required>
                                          <nz-option *ngFor="let categories of categoriesDatas" [nzValue]="categories.category_id" [nzLabel]="categories.category_name"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                                 <div class="col-md-2">
                                    <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openCategoryDialog()">
                                    <i class="mdi mdi-plus"></i>            
                                    </a>                      
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">

                     <div class="col-md-6">        
                        <div class="row">            
                           <div class="col-md-4">
                              <nz-form-label>{{ 'SUPPLIER' | translate }}*</nz-form-label>
                           </div>
         
                           <div class="col-md-8">
                              <div class="row">
                                 <div class="col-md-10">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                       <nz-select formControlName="supplier_id" required>
                                          <nz-option *ngFor="let supplier of supplierDatas" [nzValue]="supplier.supplier_id" [nzLabel]="supplier.supplier_name"></nz-option>
                                       </nz-select>                      
                                    </nz-form-control>
                                 </div>
                                 <div class="col-md-2">
                                    <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openSupplierDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                    </a>                      
                                 </div>
                              </div>
                           </div>
                        </div>              
                     </div>
                     
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>    
                                 <textarea rows="2" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     
                  </div>   

                  <!-- Image for item type service -->
                  <div *ngIf="pageType == 'new'" class="row">

                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>    
                                 <input type="file" nz-input formControlName="image" (change)="handleFileSelect($event)" class="h-auto" accept="image/x-png,image/jpeg,image/jpg" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>

                  </div>

                  <!-- Image for item type product -->
                  <div *ngIf="pageType == 'edit'" class="row">

                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>    
                                 <input type="file" nz-input formControlName="image" (change)="handleFileSelect($event)" class="h-auto" accept="image/x-png,image/jpeg,image/jpg" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <img *ngIf="saleDatas.image" [src]="saleDatas.image" width="150" height="100">
                        <img *ngIf="!saleDatas.image" src="assets/images/no-photo.png" width="150" height="100">
                     </div>

                  </div>                  

               </nz-form-item>
               <!-- general info form end -->

               <!-- price and taxes form start -->
               <h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
                  <b>{{ 'PRICES_AND_TAXES' | translate }}</b>
               </h6>

               <nz-form-item>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>
                                 <nz-select formControlName="currency_code">
                                    <nz-option *ngFor="let currency of currencyDatas" [nzValue]="currency.currency_code" [nzLabel]="currency.currency_name"></nz-option>                                    
                                 </nz-select>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control>
                                 <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input type="number" nz-input formControlName="discount" />
                                 </nz-input-group>
                                 <ng-template #suffixTemplate>
                                    <i class="mdi mdi-percent"></i>
                                 </ng-template>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'SALE_PRICE' | translate }}*</nz-form-label>
                              <!-- <small (click)="showSalePriceCollapse()" class="text-primary">
                                 <br>
                                 <i class="mdi mdi-plus-circle mr-1"></i>
                                 <span *ngIf="!salePriceCollapse">{{ 'USE_PRICE_LIST' | translate }}</span>
                                 <span *ngIf="salePriceCollapse">{{ 'REMOVE_PRICE_LIST' | translate }}</span>
                              </small> -->
                           </div>
                           <div class="col-md-8">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                 <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                                    <input type="number" nz-input formControlName="sale_price1" placeholder="{{ 'SALE_PRICE' | translate }}" required />
                                 </nz-input-group>
                                 <ng-template #suffixButton>
                                    <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(1)">
                                    {{ 'PRICE_WITH_ISV' | translate }}
                                    </button>
                                 </ng-template>
                              </nz-form-control>

                           </div>
                        </div>
                     </div>
                     <div class="col-md-6" *ngIf="itemTypeShow">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'COST_PRICE' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input placeholder="0" formControlName="cost_price" [required]="itemTypeRequired" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- sales taxes row start -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'SALES_TAXES' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <div class="row">
                                 <div class="col-md-12">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-select formControlName="sales_tax1" required>
                                          <nz-option nzLabel="0%" nzValue="0"></nz-option>
                                          <nz-option *ngFor="let utilConstants of utilConstantsDatas" [nzValue]="utilConstants.value" [nzLabel]="utilConstants.constant_name_value"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              <nz-form-label>{{ 'PURCHASE_TAXES' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-8">
                              <div class="row">
                                 <div class="col-md-12">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-select formControlName="purchase_tax1" required>
                                          <nz-option nzLabel="0%" nzValue="0"></nz-option>
                                          <nz-option *ngFor="let utilConstants of utilConstantsDatas" [nzValue]="utilConstants.value" [nzLabel]="utilConstants.constant_name_value"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- sales taxes row end -->
               </nz-form-item>
               <!-- price and taxes form end -->

               <!-- physical distribution form Begin -->
               <div *ngIf="itemTypeShow">
                  <h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
                     <b>{{ 'PHYSICAL_DISTRIBUTION' | translate }}</b>
                  </h6>
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">

                              <div class="col-md-6">
                                 <nz-form-label>{{ 'INITIAL_WAREHOUSE' | translate }}*</nz-form-label>
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select formControlName="initial_warehouse" [required]="itemTypeRequired">
                                       <nz-option [nzValue]="defaultWineryData.wineries_id" [nzLabel]="defaultWineryData.name"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>

                              <div class="col-md-6">
                                 <nz-form-label>{{ 'INITIAL_AMOUNT' | translate }}*</nz-form-label>
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-input-group>
                                       <input type="number" nz-input formControlName="initial_amount" [required]="itemTypeRequired" />
                                    </nz-input-group>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-control>
                                    <nz-form-label>{{ 'LOW_MAIL_EXISTENCE' | translate }}</nz-form-label>
                                    <nz-switch
                                    formControlName="low_mail_stock"
                                    [nzCheckedChildren]="checkedTemplate"
                                    [nzUnCheckedChildren]="unCheckedTemplate">
                                    </nz-switch>
                                    <ng-template #checkedTemplate>{{ 'YES' | translate }}</ng-template>
                                    <ng-template #unCheckedTemplate>{{ 'NO' | translate }}</ng-template>
                                 </nz-form-control>
                              </div>
                              <div class="col-md-6" *ngIf="itemForm.get('low_mail_stock').value">
                                 <nz-form-label>{{ 'NOTIFY_IN_STOCK' | translate }}*</nz-form-label>
                                 <nz-form-control>
                                    <nz-input-group [nzAddOnBefore]="prefixButton" [nzAddOnAfter]="suffixButton">
                                    <input type="number" nz-input formControlName="notify_in_stock"/>
                                    </nz-input-group>
                                    <ng-template #prefixButton class="bg-primary">
                                       <i class="mdi mdi-minus cursor-pointer" (click)="notify_add_remove(0)"></i>
                                    </ng-template>
                                    <ng-template #suffixButton class="bg-primary">                  
                                       <i class="mdi mdi-plus cursor-pointer" (click)="notify_add_remove(1)"></i>
                                    </ng-template>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <nz-form-label nz-tooltip [nzTooltipTitle]="winriesToolTmp">{{ 'ACTIVATE_IN_WINERIES' | translate }}* <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                                       <ng-template #winriesToolTmp>{{ 'SELECT_MULTI_WINERIES' | translate }}</ng-template>
                                    </div>
                                    <div class="col-md-12">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzMode="multiple" formControlName="wineries" [required]="itemTypeRequired">
                                             <nz-option *ngFor="let winery of wineryDatas" [nzValue]="winery.wineries_id" [nzLabel]="winery.name"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-label>{{ 'MINIMUM_EXISTENCE' | translate }}</nz-form-label>
                                 <nz-form-control>
                                    <input type="number" nz-input formControlName="minimum_existence" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </div>
               <!-- physical distribution form end -->

            </nz-card>

            <div class="card-footer text-center">            
               <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="saveSale()" [disabled]="!itemForm.valid" [nzLoading]="btnLoading">
                  <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </button>

               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN' | translate }}              
               </a>
            </div>

         </form>
      </div>
   </div>
</div>

<!-- category add form start -->
<nz-modal *ngIf="categoryDialogVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="categoryDialogVisible" [nzTitle]="categoryDTitleTmpl" (nzOnCancel)="closeCategoryDialog()" [nzFooter]="categoryDFooterTmpl">
<ng-template #categoryDTitleTmpl>{{ 'NEW_CATEGORY' | translate }}</ng-template>
<form nz-form [formGroup]="categoriesAddForm">
   <nz-form-item class="mb-0">

      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="category_code" placeholder="{{ 'CATEGORY_CODE' | translate }}" required />
            </nz-form-control>
         </div>
      </div>      

      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" required />
            </nz-form-control>
         </div>
      </div>

      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="category_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #categoryDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeCategoryDialog()">
                  <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertCategories()" [disabled]="!categoriesAddForm.valid" [nzLoading]="btnLoadingAddCategory">
                  <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </button>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- category add form end -->

<!-- supplier form start -->
<nz-modal *ngIf="supplierDialogVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="supplierDialogVisible" [nzTitle]="supplierDTitleTmpl" (nzOnCancel)="closeSupplierDialog()" [nzFooter]="supplierDFooterTmpl">

  <ng-template #supplierDTitleTmpl>{{ 'NEW_SUPPLIER' | translate }}</ng-template>  
  
  <form nz-form [formGroup]="supplierAddForm">

    <nz-form-item class="mb-0">

      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="supplier_name" placeholder="{{ 'NAME' | translate }}" required />
          </nz-form-control> 
        </div>                      
			</div>     
			
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'IDENTIFICATION' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="identification" placeholder="{{ 'IDENTIFICATION' | translate }}" required />
          </nz-form-control> 
        </div>                      
      </div>     			
      
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="phone" placeholder="{{ 'PHONE' | translate }}" />
          </nz-form-control> 
        </div>                      
      </div>   
      
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" />
          </nz-form-control> 
        </div>                      
      </div>   
      
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="fax" placeholder="{{ 'FAX' | translate }}" />
          </nz-form-control> 
        </div>                      
      </div>   
      
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
          </nz-form-control> 
        </div>                      
      </div>
      
      <div class="row">             
        <div class="col-md-3">
          <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <textarea rows="3" nz-input formControlName="direction" placeholder="{{ 'DIRECTION' | translate }}"></textarea>
          </nz-form-control> 
        </div>                      
      </div>      

    </nz-form-item>    

    <ng-template #supplierDFooterTmpl>
      <div class="row">
        <div class="col-md-12">
    
          <div class="pull-right">
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeSupplierDialog()">
              <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
						</button>        
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertSupplier()" [disabled]="!supplierAddForm.valid" [nzLoading]="supplierBtnLoading">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
						</button>
          </div>
    
        </div>
      </div>
    </ng-template>
      
  </form>
</nz-modal>
<!-- supplier form end -->

<!-- priceIsv1 form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="priceIsv1Visible" [nzTitle]="priceIsv1TitleTmpl" (nzOnCancel)="priceIsv1close()" [nzFooter]="priceIsv1FooterTmpl" nzClassName="modal-sm">
<ng-template #priceIsv1TitleTmpl>{{ 'FINAL_PRICE' | translate }}</ng-template>
<form nz-form [formGroup]="priceIsv1Form">
   <div class="row">
      <div class="col-md-12">
         <nz-form-control>    
            <input type="number" nz-input formControlName="final_price" placeholder="{{ 'ENTER_FINAL_PRICE' | translate }}" required />
         </nz-form-control>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 text-center">
         <nz-form-label>{{ 'TAX_TO_CALCULATE' | translate }}</nz-form-label>
         <nz-form-control>
            <nz-select formControlName="tax_to_calculate" required>
               <nz-option *ngFor="let utilConstants of utilConstantsDatas" [nzValue]="utilConstants.value" [nzLabel]="utilConstants.constant_name_value"></nz-option>
            </nz-select>
         </nz-form-control>
      </div>
   </div>
   <ng-template #priceIsv1FooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="priceIsv1calculate()" [disabled]="!priceIsv1Form.valid">
               <i class="mdi mdi-calculator"></i> {{ 'CALCULATE' | translate }}            
            </button>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- priceIsv1 form end -->