<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'BANK' | translate }}</nz-form-label>              
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>             
              <nz-select nzShowSearch formControlName="bank">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Banco Financiera Comercial" nzValue="1"></nz-option>
              </nz-select>
            </nz-form-control>            
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'TITLE' | translate }}*</nz-form-label>              
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="title" />
            </nz-form-control>            
          </div>
        </div>         
      </div>

    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>  
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
        <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
      </a>    
    </div>
  </div>

</form>