<div class="row mt-2 mb-1 justify-content-center">

  <div class="col-md-5">

    <form nz-form [formGroup]="monthlyPeriodAddForm">

      <nz-form-item class="mb-0">        

        <div class="row">                  
          <div class="col-md-4">
            <nz-form-label>{{ 'SELECT_YEAR' | translate }}*</nz-form-label>               
          </div>
          <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
              <nz-select nzShowSearch formControlName="select_year" nzAllowClear>
                <nz-option nzLabel="2018" nzValue="2018"></nz-option>
                <nz-option nzLabel="2019" nzValue="2019"></nz-option>
              </nz-select>  
            </nz-form-control>
          </div>             
        </div>

        <div class="row">                  
          <div class="col-md-4">
            <nz-form-label>{{ 'SELECT_MONTH' | translate }}*</nz-form-label>               
          </div>
          <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
              <nz-select nzShowSearch formControlName="select_month" nzAllowClear>
                <nz-option nzLabel="{{ 'JANUARY' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'FEBRUARY' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'MARCH' | translate }}" nzValue="3"></nz-option>
                <nz-option nzLabel="{{ 'APRIL' | translate }}" nzValue="4"></nz-option>
                <nz-option nzLabel="{{ 'MAY' | translate }}" nzValue="5"></nz-option>
                <nz-option nzLabel="{{ 'JUNE' | translate }}" nzValue="6"></nz-option>
                <nz-option nzLabel="{{ 'JULY' | translate }}" nzValue="7"></nz-option>
                <nz-option nzLabel="{{ 'AUGUST' | translate }}" nzValue="8"></nz-option>
                <nz-option nzLabel="{{ 'SEPTEMBER' | translate }}" nzValue="9"></nz-option>
                <nz-option nzLabel="{{ 'OCTOBER' | translate }}" nzValue="10"></nz-option>
                <nz-option nzLabel="{{ 'NOVEMBER' | translate }}" nzValue="11"></nz-option>
                <nz-option nzLabel="{{ 'DECEMBER' | translate }}" nzValue="12"></nz-option>
              </nz-select>  
            </nz-form-control>
          </div>             
        </div>               
        
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="monthlyPeriodAddFormSave()">
              <i class="fa fa-lock"></i> {{ 'CLOSE_MONTHLY_PERIOD' | translate }}
            </a>
          </div>
        </div>

      </nz-form-item>

    </form>          

  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h5 class="text-center font-weight-normal">{{ 'CLOSED_PERIODS' | translate }}</h5>

    <nz-table #monthlyPeriodClose [nzData]="monthlyPeriodCloseDatas" class="ctm-r-b-b mt-4" [nzNoResult]="noTableData">
      <ng-template #noTableData>
        <div class="black2">
          {{ 'NO_RECORD_FOUND' | translate }}
        </div>
      </ng-template>
      <thead>
        <tr>
          <th class="text-center">{{ 'MONTH' | translate }}</th>
          <th class="text-center">{{ 'YEAR' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of monthlyPeriodClose.data">
          <td class="text-center">{{ data.month }}</td>
          <td class="text-center">{{ data.year }}</td>
        </tr>
      </tbody>
    </nz-table>    

  </div>

</div>
    
