<nz-table #basicTable [nzData]="invoiceDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.invoice_code }}
        </a>
      </td>
      <td>
        <a routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id}" class="font-weight-normal">
          {{ data.invoice_provider_name }}
        </a>         
      </td>
      <td>L. {{ data.invoice_total }}</td>
      <td>L. {{ data.invoice_balance }}</td>
      <td>{{ data.invoice_date | date : "dd/MMM/yyyy" }}</td>
      <td>
        <span *ngIf="data.invoice_state == '1'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span>
        <span *ngIf="data.invoice_state == '0'" class="badge badge-pill badge-danger">
          {{ 'UNPAID' | translate }}
        </span>        
      </td>
    </tr>
  </tbody>
</nz-table>