<div class="container-fluid color-gray9">

  <div class="row m-0">

    <div class="col-md-12 pt-4">

      <div class="card-box">
        <p class="m-t-0 header-title"><b>{{ 'SALES_CARRIED_OUT' | translate }}</b></p>
        <p class="text-muted f-s-13 mb-5">
          {{ 'POS_OFFLINE_MSG' | translate }}
        </p>

        <nz-table [nzData]="invoicesDatas" class="ctm-r-b-b" nzShowPagination="false" [nzNoResult]="noDataBlankTmp">
          <ng-template #noDataBlankTmp></ng-template>
          <thead>
            <tr>
              <th>{{ 'CODE' | translate }}</th>
              <th>{{ 'CUSTOMER' | translate }}</th>
              <th>{{ 'DATE' | translate }}</th>
              <th>{{ 'TOTAL' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of invoicesDatas">
              <td>{{ data.code }}</td>
              <td>{{ data.customer_name }}</td>
              <td>{{ data.date }}</td>
              <td>{{ data.total }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong>{{ 'TOTAL' | translate }}</strong></td>
              <td><strong>{{ 'LPS' | translate }} 00.00</strong></td>
            </tr>           
          </tbody>
        </nz-table>  

      </div>

    </div>

  </div>

</div>  