<div class="row mb-4">
   <div class="col-md-8 mb-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchproductservicebycode()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="productservicelistDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'CATEGORY' | translate }}</th>
      <th>{{ 'PROVIDER' | translate }}</th>
      <th>{{ 'COST' | translate }}</th>
      <th>{{ 'SALE_PRICE' | translate }}</th>
      <th>{{ 'TYPE' | translate }}</th>
      <th>{{ 'CURRENCY' | translate }}</th>
      <th>{{ 'EXEMPT_TAX' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.productservicelist_code }}</td>
      <td>{{ data.productservicelist_product }}</td>
      <td>{{ data.productservicelist_description }}</td>
      <td>{{ data.productservicelist_category }}</td>
      <td>{{ data.productservicelist_provider }}</td>
      <td>{{ data.productservicelist_cost }}</td>
      <td>{{ data.productservicelist_sale_price }}</td>
      <td>{{ data.productservicelist_type }}</td>
      <td>{{ data.productservicelist_currency }}</td>
      <td>{{ data.productservicelist_exempt_tax }}</td>
   </tr>
</tbody>
</nz-table>