<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-file-document"></i> {{ 'EDIT_CREDIT_NOTE' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <form nz-form [formGroup]="editcreditnotesAddform">
      <nz-form-item>
         <div class="row m-0 mt-4 mb-1">
            <div class="col-md-12">
               <nz-card>
                  <!-- general info form start -->          
                  <h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
                     <b>{{ 'CREDIT_NOTES_DATA' | translate }}</b>
                  </h6>
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'CUSTOMER' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="customer">
                                             <nz-option nzLabel="Customer 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Customer 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openEditCreditNotesDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'TYPE_OF_CREDIT_NOTES' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch formControlName="types_of_credit_notes">
                                       <nz-option nzLabel="{{ 'TOTAL_DISCOUNT_APPLIED' | translate }}" nzValue="1"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>{{ 'SENDER' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="sender">
                                             <nz-option nzLabel="Company name 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Company name 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openSenderDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'CORRELATIVE_OF_THE_VOUCHER' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="correlative_of_the_voucher" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>{{ 'REASON' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="reason">
                                             <nz-option nzLabel="Reason 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Reason 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openReasonDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'PROOF_ISSUE_DATE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-date-picker nzShowSearch nzAllowClear formControlName="proof_issue_date" nzPlaceHolder=""></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'DATE_OF_ISSUE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-date-picker nzShowSearch nzAllowClear formControlName="date_of_issue" nzPlaceHolder=""></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'ANNULMENT' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="checkbox" class="checkbox" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'ORIGINAL' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="original" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'RETURN' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="checkbox" class="checkbox" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'OTHERS_SPECIFY' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="others_specify" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'DISCOUNT' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="checkbox" class="checkbox" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </div>
      </nz-form-item>
   </form>
   <div class="row m-0 mt-4 mb-2">
      <div class="col-md-12 mb-3">
         <nz-card>
            <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfeditcreditData">
               <thead>
                  <tr>
                     <th nzWidth="21%">{{ 'ITEM' | translate }}</th>
                     <th>{{ 'REFERENCE' | translate }}</th>
                     <th>{{ 'PRICE' | translate }}</th>
                     <th>{{ 'DISCOUNT' | translate }}</th>
                     <th>{{ 'TAX' | translate }}</th>
                     <th>{{ 'DESCRIPTION' | translate }}</th>
                     <th>{{ 'QUANTITY' | translate }}</th>
                     <th nzWidth="10%">{{ 'TOTAL' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let creditItems of listOfeditcreditData; let i = index" class="editable-row">
                     <td>
                        <nz-select class="ctm-w-100" nzShowSearch [(ngModel)]="itemSelect[i]" (ngModelChange)="updateCreditItem($event, i)">
                        <nz-option nzLabel="Item 1" nzValue="1"></nz-option>
                        <nz-option nzLabel="Item 2" nzValue="2"></nz-option>
                        </nz-select>
                     </td>
                     <td>
                        <input type="text" nz-input [value]='creditItems.reference' />
                     </td>
                     <td>
                        <input type="text" nz-input [value]="creditItems.price"  />
                     </td>
                     <td>
                        <input type="text" nz-input [value]="creditItems.discount" />
                     </td>
                     <td>
                        <input type="text" nz-input [value]="creditItems.tax" />                     
                     </td>
                     <td>
                        <textarea nz-input >{{ creditItems.discription }}</textarea>  
                     </td>
                     <td>
                        <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1" [(ngModel)]="creditItems.quantity"></nz-input-number>
                     </td>
                     <td>L. {{ creditItems.total | number }}</td>
                     <td>
                        <a (click)="deletenewcreditRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                     </td>
                  </tr>
               </tbody>
            </nz-table>
            <br>
            <button nz-button class="ctm-btn-pale-blue" (click)="addeditcreditRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_ITEM' | translate }}  </button>
            <div class="row text-right">
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'SUBTOTAL' | translate }} : 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'DISCOUNT' | translate }} : 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'SUBTOTAL' | translate }} : 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'NONE' | translate }} (0%): 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     <strong>{{ 'TOTAL' | translate }} :  
                     <span>L. 0.00</span></strong>
                  </div>
               </div>
            </div>
         </nz-card>
      </div>
   </div>
   <div class="row m-0 mt-2 mb-2">
      <div class="col-md-12 mb-3">
         <nz-card>
            <nz-tabset>
               <nz-tab nzTitle="{{ 'THERE_IS_MONEY_BACK' | translate }}">
                  <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfeditcreditData">
                     <thead>
                        <tr>
                           <th nzWidth="25%">{{ 'DATE' | translate }}</th>
                           <th nzWidth="25%">{{ 'ACCOUNT' | translate }}</th>
                           <th nzWidth="25%">{{ 'AMOUNT' | translate }}</th>
                           <th nzWidth="25%">{{ 'OBSERVATIONS' | translate }}</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let moneyBacks of listOfmoneybackData; let i = index" class="editable-row">
                           <td>
                              <nz-select  class="ctm-w-100">
                                 <nz-option nzLabel="25/05/2020" nzValue="1"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <nz-select  class="ctm-w-100">
                                 <nz-option nzLabel="{{ 'BANK' | translate }} 1" nzValue="1"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <input type="text" nz-input [value]="moneyBacks.amount"  />
                           </td>
                           <td>
                              <textarea nz-input >{{ moneyBacks.Observations }}</textarea>  
                           </td>
                           <td>
                              <a (click)="deletemoneybackRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </nz-table>
                  <br>
                  <button nz-button class="ctm-btn-pale-blue" (click)="addmoneybackRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_MONEY_BACK' | translate }}  </button>
               </nz-tab>
               <nz-tab nzTitle="{{ 'CREDIT_TO_SALES_INVOICE' | translate }}">
                  <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfSaleInvoiceData">
                     <thead>
                        <tr>
                           <th nzWidth="21%">{{ 'SALES_INVOICE' | translate }}</th>
                           <th>{{ 'DATE' | translate }}</th>
                           <th>{{ 'EXPIRATION' | translate }}</th>
                           <th>{{ 'OBSERVATIONS' | translate }}</th>
                           <th>{{ 'TOTAL' | translate }}</th>
                           <th>{{ 'PAID_OUT' | translate }}</th>
                           <th>{{ 'PAYABLE' | translate }}</th>
                           <th nzWidth="10%">{{ 'AMOUNT' | translate }}</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let salesItems of listOfSaleInvoiceData; let i = index" class="editable-row">
                           <td>
                              <nz-select class="ctm-w-100" nzShowSearch [(ngModel)]="itemSelectSales[i]" (ngModelChange)="updateSalesItem($event, i)">
                              <nz-option nzLabel="Sales invoice 1" nzValue="1"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <div>{{ salesItems.date }}</div>
                           </td>
                           <td>
                              <div>{{ salesItems.expiration }}</div>
                           </td>
                           <td>
                              <div>{{ salesItems.observations }}</div>
                           </td>
                           <td>
                              <div>{{ salesItems.total }}</div>
                           </td>
                           <td>
                              <div>{{ salesItems.paid_out }}</div>
                           </td>
                           <td>
                              <div>{{ salesItems.payable }}</div>
                           </td>
                           <td>
                              <div>
                                 <input type="text" nz-input  />
                              </div>
                           </td>
                           <td>
                              <a (click)="deletesaleinvoiceRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </nz-table>
                  <br />
                  <button nz-button  class="ctm-btn-pale-blue" (click)="addsaleinvoiceRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_SALES_INVOICE' | translate }}</button>
               </nz-tab>
            </nz-tabset>
         </nz-card>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12">
         <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="saveCredit()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>       
         </div>
      </div>
   </div>
</div>
<!-- customerAdd form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="customerAddDialogVisible" [nzTitle]="customerAddDTitleTmpl" (nzOnCancel)="closeCustomerAddDialog()" [nzFooter]="customeraddFooterTmpl" nzWidth="1000">
<ng-template #customerAddDTitleTmpl>{{ 'ADD_CUSTOMER' | translate }}</ng-template>
<ng-template #titleTemplate>
   <div class="ctm-card-title">          
      <i class="mdi mdi-account mr-1"></i>
      <span>{{ 'CUSTOMER_DATA' | translate }}</span>
   </div>
</ng-template>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title">
      <i class="mdi mdi-account-card-details mr-1"></i>
      <span>{{ 'GENERAL_DATA' | translate }}</span>
   </div>
</ng-template>
<form nz-form [formGroup]="addCustomerAddForm" class="ctm-label-r">
   <div class="m-b-20">
      <nz-card nzType="inner" [nzTitle]="titleTemplate">
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_type">
                           <nz-option nzLabel="{{ 'PERSONAL_CLIENT' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'COMPANY_CLIENT' | translate }}" nzValue="2"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5 my-2">
                     <div>
                        <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'TAX_EXEMPT' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_tax_exempt">
                           <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="no"></nz-option>
                           <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="yes"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'ASSIGN_SELLER' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_assign_seller">
                           <nz-option nzLabel="Norma Aracely Rodas Lagos" nzValue="1"></nz-option>
                           <nz-option nzLabel="Michelle Arely Cuestas Hernandez" nzValue="2"></nz-option>
                           <nz-option nzLabel="Hector Obdulio Mercadal Mendoza" nzValue="3"></nz-option>
                           <nz-option nzLabel="Manuel Santos" nzValue="4"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
         </div>
      </nz-card>
   </div>
   <div class="m-b-20">
      <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form">
         <nz-form-item>
            <div class="row" *ngIf="this.addCustomerAddForm.value.customer_type == '1'">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification_card" placeholder="{{ 'IDENTIFICATION_CARD' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_firstname" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_lastname" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'BIRTHDATE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <nz-date-picker formControlName="customer_birthdate" nzPlaceHolder="{{ 'BIRTHDATE' | translate }}"></nz-date-picker>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification1" placeholder="{{ 'IDENTIFICATION' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'SEX' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="customer_sex">
                              <nz-option nzLabel="{{ 'MALE' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'FEMALE' | translate }}" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="this.addCustomerAddForm.value.customer_type == '2'">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COMPANY' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_company" placeholder="{{ 'COMPANY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification" placeholder="{{ 'IDENTIFICATION' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'POSTAL_CODE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_postal_code" placeholder="{{ 'POSTAL_CODE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <input type="text" nz-input formControlName="customer_direction" placeholder="{{ 'DIRECTION' | translate }}" />                    
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_city" placeholder="{{ 'CITY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COUNTRY' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_country" placeholder="{{ 'COUNTRY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_phone" placeholder="{{ 'PHONE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_fax" placeholder="{{ 'FAX' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="this.addCustomerAddForm.value.customer_type == '2'">
               <div class="col-md-12 mb-2">
                  <div class="border-bottom my-2 py-3 text-center font-weight-bold">
                     {{ 'CONTACT_DETAILS' | translate }}
                  </div>
               </div>
               <!-- information of contact 1 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 1
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name1" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname1" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile1" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email1" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 1 end-->   
               <!-- information of contact 2 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 2
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name2" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname2" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile2" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email2" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 2 end-->
               <!-- information of contact 3 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 3
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name3" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname3" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile3" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email3" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 3 end-->
            </div>
         </nz-form-item>
      </nz-card>
   </div>
   <ng-template #customeraddFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeCustomerAddDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveCustomerAdd()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- customerAdd form end -->
<!-- sender add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="senderDialogVisible" [nzTitle]="senderDTitleTmpl" (nzOnCancel)="closeSenderDialog()" [nzFooter]="senderDFooterTmpl">
<ng-template #senderDTitleTmpl>{{ 'NEW_SENDER' | translate }}</ng-template>
<form nz-form [formGroup]="addSenderForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'COMPANY_NAME' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="company_name"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'RTN_TDI' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="rtn_tdi"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="address"></textarea>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="email" nz-input formControlName="email"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'TELEPHONE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="tel" nz-input formControlName="telephone"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="c_a_i"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'EXPIRES' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control>
               <nz-date-picker formControlName="expires" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'SITE_URL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="url" nz-input formControlName="site_url"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input class="h-auto" type="file" nz-input formControlName="image"/>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #senderDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeSenderDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveSender()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- sender add form end -->
<!-- Reason add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="reasonDialogVisible" [nzTitle]="reasonDTitleTmpl" (nzOnCancel)="closeReasonDialog()" [nzFooter]="reasonDFooterTmpl">
<ng-template #reasonDTitleTmpl>{{ 'NEW_REASON' | translate }}</ng-template>
<form nz-form [formGroup]="addReasonForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'REASON' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="reason"/>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #reasonDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeReasonDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveReason()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- reason add form end -->