<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">
          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-account-plus mr-1"></i>
            <span *ngIf="pageType == 'new'">{{ 'ADD_EMPLOYEE' | translate }}</span>
            <span *ngIf="pageType == 'edit'">{{ 'EDIT_EMPLOYEE' | translate }}</span>            
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #generalTitleTemplate>
  <div class="ctm-card-title">
    <i class="mdi mdi-account-card-details mr-1"></i>
    <span>{{ 'GENERAL_INFORMATION' | translate }}</span>
  </div>
</ng-template>

<div class="content-section">

  <div class="row my-1" *ngIf="employeeDataLoader">
    <div class="col-md-12 text-center">
       <ng-template #indicatorTemplate>
          <i nz-icon nzType="loading" class="f-s-18"></i>
       </ng-template>
       <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>    

  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  
  
  <div class="row my-1" *ngIf="chargeDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  

  <div *ngIf="employeeDataVisible" class="row m-0">
    <div class="col-md-12 m-b-20">
      
      <form nz-form [formGroup]="employeeForm" class="ctm-label-r">

        <div class="m-b-20">

          <nz-card nzType="inner" [nzTitle]="generalTitleTemplate">
            
            <nz-form-item>

              <div *ngIf="pageType == 'new'" class="row justify-content-center mb-2">
                <div class="col-md-4 text-center">                  
                  <img src="assets/images/no-photo.png" width="150" height="100">
                  <input type="file" nz-input formControlName="image" class="my-2 h-auto" (change)="handleFileSelect($event)" accept="image/x-png,image/jpeg,image/jpg"/>
                </div>
              </div>

              <div *ngIf="pageType == 'edit'" class="row justify-content-center mb-2">
                <div class="col-md-4 text-center">                  
                  <img *ngIf="employeeDatas.image" [src]="employeeDatas.image" width="150" height="100">
                  <img *ngIf="!employeeDatas.image" src="assets/images/no-photo.png" width="150" height="100">
                  <input type="file" nz-input formControlName="image" class="my-2 h-auto" (change)="handleFileSelect($event)" accept="image/x-png,image/jpeg,image/jpg"/>
                </div>
              </div>              
              
              <div class="row">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="identification" placeholder="{{ 'IDENTIFICATION_CARD' | translate }}" />
                      </nz-form-control>                      
                    </div>
                  </div>                  
                </div> 

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'FIRST_NAME' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                        <input type="text" nz-input formControlName="first_name" placeholder="{{ 'FIRST_NAME' | translate }}" required />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>          

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                        <input type="text" nz-input formControlName="last_name" placeholder="{{ 'LAST_NAME' | translate }}" required />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>   

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'BIRTHDATE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>
                        <nz-date-picker formControlName="birth_date" nzPlaceHolder="yyyy-mm-dd" nzAllowClear="false"></nz-date-picker>
                      </nz-form-control>                      
                    </div>
                  </div>                  
                </div>  

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'SEX' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                        <nz-select formControlName="sex" required>
                          <nz-option nzLabel="{{ 'MALE' | translate }}" nzValue="1"></nz-option>
                          <nz-option nzLabel="{{ 'FEMALE' | translate }}" nzValue="2"></nz-option>
                        </nz-select>                    
                      </nz-form-control>
                    </div>
                  </div>                  
                </div> 

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'PHONE' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                        <input type="text" nz-input formControlName="phone" placeholder="{{ 'PHONE' | translate }}" required />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>  

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>      

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'EMAIL' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                        <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" required />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>    

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="direction" placeholder="{{ 'ADDRESS' | translate }}" />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>  

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'DATE_OF_ADMISSION' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>
                        <nz-date-picker formControlName="admission_date" nzPlaceHolder="yyyy-mm-dd" nzAllowClear="false"></nz-date-picker>
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>   

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'SALARY' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="salary" placeholder="{{ 'SALARY' | translate }}" />
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>    

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'POSITION' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                        <nz-select formControlName="charge_id" required>
                          <nz-option *ngFor="let charge of chargeDatas" [nzValue]="charge.charge_id" [nzLabel]="charge.charge_name"></nz-option>
                        </nz-select>                    
                      </nz-form-control>
                    </div>
                  </div>                  
                </div>    

              </div>              
              
            </nz-form-item>             

          </nz-card>

        </div>        
  
        <nz-form-item>
          <nz-form-control class="text-center">              
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveEmployee()" [disabled]="!employeeForm.valid" [nzLoading]="saveBtnLoading">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </button>
            <a *ngIf="pageType == 'new'" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
              <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
            </a>                  
          </nz-form-control>
        </nz-form-item>                                   

      </form>

    </div>
  </div>  

</div>