<div class="row mb-4">
   <div class="col-md-8">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchquotesbycode()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="quotesDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'CUSTOMER' | translate }}</th>
      <th>{{ 'SUBTOTAL' | translate }}</th>
      <th>{{ 'DISCOUNT' | translate }}</th>
      <th>{{ 'TAX' | translate }}</th>
      <th>{{ 'TOTAL' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.quotes_code }}</td>
      <td>{{ data.quotes_date }}</td>
      <td>{{ data.quotes_customer }}</td>
      <td>{{ data.quotes_subtotal }}</td>
      <td>{{ data.quotes_discount }}</td>
      <td>{{ data.quotes_tax }}</td>
      <td>{{ data.quotes_total }}</td>
      <td>
         <span *ngIf="data.quotes_state == '1'" class="badge badge-pill badge-danger color-white">
         {{ 'PENDING' | translate }}
         </span>
         <span *ngIf="data.quotes_state == '0'" class="badge badge-pill badge-warning">
         {{ 'CANCELED' | translate }}
         </span>        
      </td>
   </tr>
   <tr>
      <td class="bg-white" colspan="3"><strong> {{ 'TOTALS' | translate }}</strong></td>
      <td class="bg-white"> <strong>L. 4,17,565.99</strong></td>
      <td class="bg-white"> <strong>L. 0.00</strong></td>
      <td class="bg-white"> <strong>L. 707,634.9</strong></td>
      <td class="bg-white" colspan="2"><strong> L. 5,425,200.89</strong></td>
   </tr>
</tbody>
</nz-table>