<nz-card>

  <form nz-form [formGroup]="filterForm" class="ctm-label-r">
  
    <nz-form-item class="mb-0">
  
      <div class="row m-0">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>
                <nz-date-picker formControlName="date_from" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
              </nz-form-control>              
            </div>
          </div>          
        </div> 

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>
                <nz-date-picker formControlName="date_to" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
              </nz-form-control>                              
            </div>
          </div>          
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'PAYMENT_TYPE' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">              
              <nz-form-control>             
                <nz-select nzShowSearch formControlName="payment_type">        
                  <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>    
                  <nz-option nzLabel="{{ 'COUNTED' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'CREDIT' | translate }}" nzValue="2"></nz-option>
                </nz-select>
              </nz-form-control>      
            </div>
          </div>          
        </div> 

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'PAYMENT_METHOD' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>
                <nz-select nzShowSearch formControlName="payment_method">
                  <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                  <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                  <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                  <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                  <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
                </nz-select>          
              </nz-form-control>                       
            </div>
          </div>          
        </div> 
        
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>
                <nz-select nzShowSearch formControlName="state">
                  <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                  <nz-option nzLabel="{{ 'PAID' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'UNPAID' | translate }}" nzValue="2"></nz-option>
                  <nz-option nzLabel="{{ 'CANCELED' | translate }}" nzValue="3"></nz-option>
                </nz-select>          
              </nz-form-control>                       
            </div>
          </div>          
        </div> 

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>                
              </div>
            </div>
            <div class="col-md-7">              
              <nz-form-control>
                <nz-select nzShowSearch formControlName="branch">
                  <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                  <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                </nz-select>          
              </nz-form-control>         
            </div>
          </div>          
        </div> 
              
        
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'CUSTOMER' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <input type="hidden" nz-input formControlName="customer_id"/>
              <nz-form-control>
                <nz-input-group nzSearch [nzAddOnAfter]="customerSuffixButton">
                  <input type="text" nz-input formControlName="customer_name" class="ctm-input-disabled"/>
                </nz-input-group>
                <ng-template #customerSuffixButton>
                  <button nz-button nzType="primary" nzSearch (click)="searchCustomerOpen()" class="px-2">
                    ...
                  </button>
                </ng-template>                                               
              </nz-form-control>              
            </div>
          </div>          
          
        </div>  
        
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'SELLER' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <input type="hidden" nz-input formControlName="seller_id"/>
              <nz-form-control>
                <nz-input-group nzSearch [nzAddOnAfter]="sellerSuffixButton">
                  <input type="text" nz-input formControlName="seller_name" class="ctm-input-disabled"/>
                </nz-input-group>
                <ng-template #sellerSuffixButton>
                  <button nz-button nzType="primary" nzSearch (click)="searchSellerOpen()" class="px-2">
                    ...
                  </button>
                </ng-template>                                               
              </nz-form-control>               
            </div>
          </div>          
  
        </div>
        
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>                
                <nz-form-label>{{ 'USER' | translate }}</nz-form-label>    
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>
                <input type="hidden" nz-input formControlName="user_id"/>
                <nz-input-group nzSearch [nzAddOnAfter]="userSuffixButton">
                  <input type="text" nz-input formControlName="user_name" class="ctm-input-disabled"/>
                </nz-input-group>
                <ng-template #userSuffixButton>
                  <button nz-button nzType="primary" nzSearch (click)="searchUserOpen()" class="px-2">
                    ...
                  </button>
                </ng-template>                                               
              </nz-form-control>              
            </div>
          </div>          
          
        </div>     
        
      </div>   
  
    </nz-form-item>     
  
  </form>
  
</nz-card>
  
<div class="row m-0 card-footer">
  <div class="col-md-12 text-center my-1">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
      <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
      <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
      <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
    </a>    
  </div>
</div>

<!-- search customer dialog start -->
<app-search-customer-dialog
  [searchCustomerVisible]="searchCustomerVisible"
  (searchCustomerCls)="searchCustomerClose()"
  [customerDatas]="customerDatas"
  (customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->

<!-- search seller dialog start -->
<app-search-seller-dialog
  [searchSellerVisible]="searchSellerVisible"
  (searchSellerCls)="searchSellerClose()"
  [sellerDatas]="sellerDatas"
  (sellerAddInputChild)="sellerAddInput($event)">
</app-search-seller-dialog>
<!-- search customer dialog end -->

<!-- search user dialog start -->
<app-search-user-dialog
  [searchUserVisible]="searchUserVisible"
  (searchUserCls)="searchUserClose()"
  [userDatas]="userDatas"
  (userAddInputChild)="userAddInput($event)">
</app-search-user-dialog>
<!-- search customer dialog end -->
