<nz-table [nzData]="quotationDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template> 
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><i class="mdi mdi-file-document"></i> {{ 'INVOICE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of quotationDatas">
      <td>
        <a routerLink="/user/income/quotes/info" [queryParams]="{ quotation_id: data.quotation_id}" class="font-weight-normal">
          {{ data.quotation_code }}
        </a>
      </td>
      <td>
        {{ data.customer_firstname }} {{ data.customer_lastname }}       
      </td>      
      <td>L. 0.00</td>
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.quotation_code }}
        </a>
      </td>
      <td>{{ data.quotation_date | date : "dd/MMM/yyyy" }}</td>
      <td class="text-center">
        <span *ngIf="data.quotation_state == '0'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span> 
        <span *ngIf="data.quotation_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'BILLED' | translate }}
        </span>        
        <span *ngIf="data.quotation_state == '2'" class="badge badge-pill badge-danger color-white">
          {{ 'PENDING' | translate }}
        </span>                
      </td>
      <td>
       
          <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/income/quotes/info" [queryParams]="{ quotation_id: data.quotation_id }">
            <i class="mdi mdi-eye"></i>            
          </a> 
          <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1">
            <i class="mdi mdi-printer"></i>            
          </a>         
          <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/income/quotes/edit" [queryParams]="{ quotation_id: data.quotation_id }">
            <i class="mdi mdi-pencil-box-outline"></i> 
          </a>                                                             
          <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
            <i class="mdi mdi-delete-forever"></i>    
          </a>
       
      </td>
    
    </tr>
  </tbody>
</nz-table>
<!--Modal Begin-->
<nz-modal [nzStyle]="{ top: '20px' }" 
      [(nzVisible)]="isVisible"
      [nzTitle]="deleteConfirmTmpl"
      [nzFooter]="deleteConfirmFooterTmpl"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #deleteConfirmTmpl>
        {{ 'DELETE_QUOTATION' | translate }}
      </ng-template>

      <div class="text-center">
        <p>{{ 'ITEM_DELETE_QUOTATION_MSG' | translate }}</p>
      </div>
      <ng-template #deleteConfirmFooterTmpl>
        <div class="row">
          <div class="col-md-12">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
              {{ 'CANCEL' | translate }}            
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
              {{ 'OK' | translate }}            
            </a>
          </div>
        </div>
      </ng-template>  
    </nz-modal>
<!--Modal End-->