.referreal_border{
	border-top:4px solid #1777B4;
	border-bottom:4px solid #1777B4;
	width:100%;
}
.bg_thead{
	background-color:#333333;
	color: #fff;
}
.checkbox{
position: absolute;
margin-top: 3px;
margin-left: 4px;
}
.border_bottom{
	position: absolute;
    height: 1px;
    top: 5;
    width: 50%;
    background: #000;
    bottom: 11px;
}
.border_top{
    padding-top:15px;
	border-top:1px solid #000;
}