<section class="bg-w-shadow mb-4">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-file-document"></i> {{ 'NEW_EXPENSE' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
 <div class="col-md-12">
   <nz-card>
      <form nz-form [formGroup]="newpaymentmade" >
         <nz-form-item style="margin-bottom:0px;">
            <div class="row m-0 mt-4 mb-1">
               <div class="col-md-12">
                  <nz-form-item >
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'REFERENCE_NO' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="reference_no" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'SUPPLIER' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <input type="hidden" nz-input formControlName="supplier_id"/>
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-input-group nzSearch [nzAddOnAfter]="supplierSuffixButton">
                                       <input type="text" nz-input formControlName="supplier_name" class="ctm-input-disabled"/>
                                    </nz-input-group>
                                    <ng-template #supplierSuffixButton>
                                       <button nz-button nzType="primary" nzSearch (click)="searchSupplierOpen()" class="px-2">
                                       ...
                                       </button>
                                    </ng-template>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'CREATION_DATE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-date-picker nzPlaceHolder="yyyy-mm-dd" nzShowSearch nzAllowClear formControlName="creation_date"></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'BRANCH' | translate }}*
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch formControlName="branch">
                                       <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                                       <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'PAYMENT_METHOD' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control>
                                    <nz-select nzShowSearch formControlName="payment_method">
                                       <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                                       <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                                       <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                                       <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                                       <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'CURRENCY' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control>
                                    <nz-select nzShowSearch formControlName="currency">
                                       <nz-option nzLabel="{{ 'LEMPIRAS' | translate }}" nzValue="0"></nz-option>
                                       <nz-option nzLabel="{{ 'DOLLARS' | translate }}" nzValue="1"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'OBSERVATIONS' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <textarea rows="2" nz-input formControlName="observations"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>
                                    {{ 'INTERNAL_NOTE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <textarea rows="2" nz-input formControlName="internal_note"></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
                  <div class="row">
                     <div class="col-md-12 text-center">
                        <h6 class="p-0 m-0">{{ 'PAYMENT_TITLE' | translate }}</h6>
                        <p>{{ 'YOU_CAN_ALSO_RECORD_AN_EXPENSE_WITHOUT_HAVING_TO_CREATE_A_PURCHASE_INVOICE' | translate }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </nz-form-item>
      </form>
      <div class="row mb-3 m-0">
         <div class="col-md-12 text-center my-1">
            <a (click)="checkUser('yes')" class="ctm-btn-pale-blue mb-1" nz-button nzType="secondary">{{ 'YES' | translate }}</a>
            <a (click)="checkUser('no')" class="ctm-btn-pale-blue mb-1" nz-button nzType="secondary">{{ 'NO' | translate }}</a>
         </div>
         <div *ngIf="type == 'yes'" class="col-md-12 my-3">
            <nz-table [nzShowPagination]="false" class="bg-white ctm-r-b-b" [nzNoResult]="noDataTmp" #basicTable [nzData]="listOfData">
            <ng-template #noDataTmp></ng-template>
            <thead>
               <tr>
                  <th>{{ 'INVOICE_NO' | translate }}</th>
                  <th>{{ 'TOTAL' | translate }}</th>
                  <th>{{ 'PAID_OUT' | translate }}</th>
                  <th>{{ 'BALANCE' | translate }}</th>
                  <th>{{ 'WITH_HOLDINGS' | translate }}</th>
                  <th>{{ 'AMOUNT_TO_BE_PAID' | translate }}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of basicTable.data">
                  <td class="ctm_tablehead">{{ data.invoice_no }}</td>
                  <td class="ctm_tablehead">{{ data.total }}</td>
                  <td class="ctm_tablehead">{{ data.paid_out }}</td>
                  <td class="ctm_tablehead">{{ data.balance }}</td>
                  <td class="ctm_tablehead">{{ data.with_holdings }}</td>
                  <td class="ctm_tablehead">{{ data.amount_to_be_paid }}</td>
               </tr>
            </tbody>
            </nz-table>
            <div class="row text-right">
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'SUBTOTAL' | translate }} : 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     <strong>{{ 'TOTAL' | translate }} :  
                     <span>L. 0.00</span></strong>
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="type == 'no'" class="col-md-12 my-3">
            <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfnewpaymentsmadeData">
               <thead>
                  <tr>
                     <th>{{ 'CATEGORY' | translate }}</th>
                     <th>{{ 'VALUE' | translate }}</th>
                     <th>{{ 'TAX' | translate }}</th>
                     <th>{{ 'QUANTITY' | translate }}</th>
                     <th>{{ 'TOTAL' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let paymentItems of listOfnewpaymentsmadeData; let i = index" class="editable-row">
                     <td style="width:210px; display:flex;">
                        <nz-select class="ctm-w-100" nzShowSearch>
                           <nz-option nzLabel="Category 1" nzValue="1"></nz-option>
                           <nz-option nzLabel="Category 2" nzValue="2"></nz-option>
                        </nz-select>
                        <a nz-button nzType="primary" nzShape="round" class="px-2 ml-1 color-white" (click)="openCategoryDialog()">
                        <i class="mdi mdi-plus"></i>            
                        </a> 
                     </td>
                     <td>
                        <input type="text" nz-input [value]='paymentItems.value' />
                     </td>
                     <td style="width:150px;">
                        <nz-select class="ctm-w-100" nzPlaceHolder="0 %" nzShowSearch>
                           <nz-option nzLabel="0 %" nzValue="1"></nz-option>
                           <nz-option nzLabel="15%" nzValue="2"></nz-option>
                        </nz-select>
                     </td>
                     <td>
                        <input type="text" nz-input [value]="paymentItems.quantity"  />
                     </td>
                     <td>
                        <input type="text" nz-input [value]="paymentItems.total" disabled="true" />
                     </td>
                     <td>
                        <a (click)="deletenewpaymentmadeRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                     </td>
                  </tr>
               </tbody>
            </nz-table>
            <br>
            <div class="col-md-12 mb-3 text-center">
               <button nz-button class="ctm-btn-pale-blue" (click)="addnewpaymentmadeRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_CATEGORY' | translate }}  </button>
            </div>
            <div class="col-md-12 text-center my-1">
               <div class="ctm_border"></div>
               <p>{{ 'DO_YOU_WANT_TO_APPLY_WITHHOLDING' | translate }}</p>
               <a (click)="check('yes')" class="ctm-btn-pale-blue mb-1" nz-button nzType="secondary">{{ 'YES' | translate }}</a>
               <a (click)="check('no')" class="ctm-btn-pale-blue mb-1" nz-button nzType="secondary">{{ 'NO' | translate }}</a>
            </div>
            <div *ngIf="typeuser == 'yes'" class="my-3">
               <div class="col-md-10">
                  <div class="row text-center">
                     <div class="col-md-6 text-right">
                        <nz-form-label>
                           {{ 'RETENTION' | translate }}
                        </nz-form-label>
                     </div>
                     <div class="col-md-4">
                        <nz-form-control>
                           <nz-select nzPlaceHolder="None 0%" nzShowSearch  style="width:100%;">
                              <nz-option nzLabel="None 0%" nzValue="0"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="row text-right">
                  <div class="ctm_total"></div>
                  <div class="col-md-12">
                     <div class="pull-right">
                        {{ 'SUBTOTAL' | translate }} : 
                        <span>L. 0.00</span>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="pull-right">
                        <strong>{{ 'TOTAL' | translate }} :  
                        <span>L. 0.00</span></strong>
                     </div>
                  </div>
               </div>
            </div>
            <div *ngIf="typeuser == 'no'" class="col-md-12 my-3">
               <div class="row text-right">
                  <div class="ctm_total"></div>
                  <div class="col-md-12">
                     <div class="pull-right">
                        {{ 'SUBTOTAL' | translate }} : 
                        <span>L. 0.00</span>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="pull-right">
                        <strong>{{ 'TOTAL' | translate }} :  
                        <span>L. 0.00</span></strong>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row m-0">
         <div class="col-md-12">
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="savePayments()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>       
            </div>
         </div>
      </div>
   </nz-card>
</div>
</div>
<!-- search supplier dialog start -->
<app-search-supplier-dialog
[searchSupplierVisible]="searchSupplierVisible"
(searchSupplierCls)="searchSupplierClose()"
[supplierDatas]="supplierDatas"
(supplierAddInputChild)="supplierAddInput($event)">
</app-search-supplier-dialog>
<!-- search supplier dialog end -->
<!-- Category add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="categoryDialogVisible" [nzTitle]="categoryDTitleTmpl" (nzOnCancel)="closeCategoryDialog()" [nzFooter]="categoryDFooterTmpl">
<ng-template #categoryDTitleTmpl>{{ 'NEW_CATEGORY' | translate }}</ng-template>
<form nz-form [formGroup]="addCategoryForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'BELONGING_TO' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control>
               <nz-select nzShowSearch formControlName="belonging_to">
                  <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                  <nz-option nzLabel="{{ '-Passive' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ '--Current liabilities' | translate }}" nzValue="2"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="code"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="name"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <textarea rows="2" nz-input formControlName="description"></textarea>
         </div>
      </div>
   </nz-form-item>
   <ng-template #categoryDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeCategoryDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveCategory()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- category add form end -->