.ctm_tablehead{
	background:#fff;
	border:none;
}
.ctm_border{
	border-top: 1px solid #dee2e6;
	margin-bottom:20px;
}
.ctm_total{
	border-top: 1px solid #dee2e6;
    margin: 20px 0px;
    width: 100%;
}