<div class="container-fluid">
   <div class="row m-0 mb-4">
      <div class="col-md-6 card-pd">
         <nz-card>
            <form nz-form [formGroup]="correlativeinvoiceForm">
               <nz-form-item class="mb-0">
                  <h6 class="card-title text-center mt-0 f-s-14">
                     {{ 'SELECT_HOW_THE_CORRELATIVE_OF_INVOICES_AND_RECEIPTS_IS_GENERATED' | translate }}
                  </h6>
                  <div class="row">
                     <div class="col-md-7">
                        <nz-form-label>{{ 'A_DIFFERENT_CORRELATIVE_BY_BRANCH' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-5 circle-radio">
                        <nz-form-control>
                           <nz-radio-group formControlName="invoice_branch_selection" (ngModelChange)="branchSelection()">
                              <label nz-radio nzValue="1">
                              {{ 'YES' | translate }}
                              </label>
                              <label nz-radio nzValue="0">
                              {{ 'NO' | translate }}
                              </label>
                           </nz-radio-group>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-7">
                        <nz-form-label>{{ 'BRANCH_USED_FOR_THE_CORRELATIVE' | translate }}</nz-form-label>
                     </div>
                     <div class="col-md-5">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="invoice_branch" nzAllowClear [nzDisabled]="invoice_branch_button">
                              <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </form>
         </nz-card>
         <div class="row m-0 card-footer">
            <div class="col-md-12 text-center my-1">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveCorrelativeInvoice()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearCorrelativeInvoiceFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
               </a>    
            </div>
         </div>
      </div>
      <div class="col-md-6 card-pd">
         <nz-card>
            <form nz-form [formGroup]="seatcorrelativeForm">
               <nz-form-item class="mb-0">
                  <h6 class="card-title text-center mt-0 f-s-14">
                     {{ 'MODIFY_CORRELATIVE_OF_SEATS' | translate }}
                  </h6>
                  <div class="row">
                     <div class="col-md-4 text-right">
                        <nz-form-label>{{ 'BRANCH' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-8">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="branch">
                              <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 text-right">
                        <nz-form-label>{{ 'CURRENT_CORRELATIVE' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-8">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" nz-input formControlName="current_correlative"/>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </form>
         </nz-card>
         <div class="row m-0 card-footer">
            <div class="col-md-12 text-center my-1">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveSeatCorrelative()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearSeatCorrelative()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
               </a>    
            </div>
         </div>
      </div>
   </div>
</div>