<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchProductNormalVisible" [nzTitle]="searchProductNormalTitleTmpl" (nzOnCancel)="searchProductNormalClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchProductNormalTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'PRODUCT' | translate }}
  </ng-template>

  <div class="row my-1" *ngIf="cateLoader">
    <div class="col-md-12 text-center">
       <ng-template #indicatorTemplate>
          <i nz-icon nzType="loading" class="f-s-18"></i>
       </ng-template>
       <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
 </div> 

  <div class="row mb-4">    
    <div class="col-md-8">
      <nz-form-label>{{ 'PRODUCT' | translate }}</nz-form-label>
      <nz-input-group [nzSuffix]="productNormalSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="productNormal_search_title" (keyup)="searchProductNormal()" />
      </nz-input-group>
      <ng-template #productNormalSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

    <div class="col-md-4">        
      <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>      
      <nz-form-control>    
        <nz-select nzShowSearch [(ngModel)]="product_search_category" (ngModelChange)="searchProductNormal()" class="w-100">
          <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
          <nz-option *ngFor="let categories of categoriesDatas" [nzValue]="categories.category_id" [nzLabel]="categories.category_name"></nz-option>
        </nz-select>                                      
      </nz-form-control>                      
    </div>         

  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #productNormalTable [nzData]="productNormalDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'PRODUCT' | translate }}</th>
            <th>{{ 'PRICE' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productNormalTable.data">
            <td>{{ data.product_code }}</td>
            <td>{{ data.product_name }}</td>
            <td>{{ data.sale_price1 }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="productNormalAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>