<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchSupplierVisible" [nzTitle]="searchSupplierTitleTmpl" (nzOnCancel)="searchSupplierClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchSupplierTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'SUPPLIER' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="supplierSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="supplier_search_title" (keyup)="searchSupplier()" />
      </nz-input-group>
      <ng-template #supplierSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #supplierTable [nzData]="supplierDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'PHONE' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of supplierTable.data">
            <td>{{ data.supplier_name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="supplierAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>