<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-account-plus"></i> {{ 'ADD_SUPPLIER' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6">

      <form nz-form [formGroup]="supplierAddform" class="ctm-label-r">

        <div class="card text-center">
          <h5 class="card-header font-weight-normal">{{ 'ENTER_THE_DATA' | translate }}</h5>
        </div>

        <div class="card-body bg-white">
          <nz-form-item>
          
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="supplier_name" placeholder="{{ 'NAME' | translate }}" required />
                </nz-form-control> 
              </div>                      
            </div>

            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'IDENTIFICATION' | translate }}*</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="identification" placeholder="{{ 'IDENTIFICATION' | translate }}" required />
                </nz-form-control> 
              </div>                      
            </div>            
            
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="phone" placeholder="{{ 'PHONE' | translate }}" />
                </nz-form-control> 
              </div>                      
            </div>   
            
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" />
                </nz-form-control> 
              </div>                      
            </div>   
            
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="fax" placeholder="{{ 'FAX' | translate }}" />
                </nz-form-control> 
              </div>                      
            </div>   
            
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
                </nz-form-control> 
              </div>                      
            </div>
            
            <div class="row">             
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
                </div>
              </div>
              <div class="col-md-7">
                <nz-form-control>    
                  <textarea rows="3" nz-input formControlName="direction" placeholder="{{ 'DIRECTION' | translate }}"></textarea>
                </nz-form-control> 
              </div>                      
            </div>            

          </nz-form-item>
          
        </div>

        <div class="card-footer text-center">            
          <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="insertSupplier()" [disabled]="!supplierAddform.valid" [nzLoading]="btnLoading">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
          </button>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
            <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
          </a>
        </div>

      </form>  

    </div>

  </div>
</div>