<div class="container">
  <div class="row">

    <div class="col-md-6 offset-md-2">

      <form nz-form [formGroup]="supplierEditform" class="ctm-label-r">

        <nz-form-item>
        
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                <input type="text" nz-input formControlName="supplier_name" placeholder="{{ 'NAME' | translate }}" required />
              </nz-form-control> 
            </div>                      
          </div> 

          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <input type="text" nz-input formControlName="identification" placeholder="{{ 'IDENTIFICATION' | translate }}" />
              </nz-form-control> 
            </div>                      
          </div>          
          
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <input type="text" nz-input formControlName="phone" placeholder="{{ 'PHONE' | translate }}" />
              </nz-form-control> 
            </div>                      
          </div>   
          
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <input type="text" nz-input formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" />
              </nz-form-control> 
            </div>                      
          </div>   
          
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <input type="text" nz-input formControlName="fax" placeholder="{{ 'FAX' | translate }}" />
              </nz-form-control> 
            </div>                      
          </div>   
          
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
              </nz-form-control> 
            </div>                      
          </div>
          
          <div class="row">             
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control>    
                <textarea rows="3" nz-input formControlName="direction" placeholder="{{ 'DIRECTION' | translate }}"></textarea>
              </nz-form-control> 
            </div>                      
          </div>            

        </nz-form-item>

        <div class="row text-center">
          <div class="col-md-12">

            <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateSupplier(supplierEditform.value)" [disabled]="!supplierEditform.valid" [nzLoading]="btnLoading">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
            </button>

          </div>            
        </div>

      </form>  

    </div>

  </div>
</div>