<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="itemDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'TYPE' | translate }}</th>
      <th>{{ 'PRICE' | translate }}</th>
      <th style="width: 190px;">{{ 'ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.product_name }}</td>
      <td>{{ data.description }}</td>
      <td>
        <span *ngIf="data.sale_type == 'S'">{{ 'SERVICE' | translate }}</span>
        <span *ngIf="data.sale_type == 'P'">{{ 'PRODUCT' | translate }}</span>
      </td>
      <td>L. {{ data.sale_price1 | number:'.2-2' }}</td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" (click)="itemViewOpen(data.product_id)">
          <i class="mdi mdi-eye"></i>            
        </a>
        
        <a 
          nz-button 
          nzType="primary" 
          nzShape="round" 
          class="color-white px-2 mr-1 mb-1"
          [routerLink]="'/user/products/items/edit'"
          [queryParams]="{ product_id: data.product_id }">
          <i class="mdi mdi-pencil"></i>            
        </a>         

        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow px-2 mr-1 mb-1" *ngIf="data.item_active_status == '1'" nz-tooltip [nzTooltipTitle]="active">
          <i class="mdi mdi-layers" ></i>
        </a>      
        <ng-template #active>{{ 'ACTIVATE' | translate }}</ng-template>

        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow3 px-2 mr-1 mb-1" *ngIf="data.item_active_status == '0'" nz-tooltip [nzTooltipTitle]="deactive">
          <ng-template #deactive>{{ 'DEACTIVATE' | translate }}</ng-template>
          <i class="mdi mdi-layers-off"></i> 
        </a>        

        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.product_id)">
          <i class="mdi mdi-delete-forever"></i>
        </a>         
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_ITEM' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'ITEM_DELETE_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteSale()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
        </button>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->

<!-- item view start -->
<nz-modal *ngIf="itemViewVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="itemViewVisible" [nzTitle]="itemViewTitleTmpl" (nzOnCancel)="itemViewClose()" [nzFooter]="itemViewFooterTmpl" nzWidth="900" nzClassName="item-view-d">

  <ng-template #itemViewTitleTmpl>{{ 'GENERAL_INFORMATION' | translate }}</ng-template>
  
  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>

  <div *ngIf="!loader">

    <div class="row">
      <div class="col-md-6">
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            <span *ngIf="saleDatas.sale_type == 'S'">
              {{ 'SERVICE' | translate }}
            </span>

            <span *ngIf="saleDatas.sale_type == 'P'">
              {{ 'PRODUCT' | translate }}
            </span>            
          </div>
        </div>
      </div>

      <div class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.product_name }}
          </div>
        </div>              
      </div>        
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8"> 
            {{ saleDatas.product_code }}
          </div>
        </div>
      </div>

      <div class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            <span>{{ saleDatas.category_name }}</span>
          </div>
        </div>              
      </div>        
    </div> 
        
    <div class="row">
      <div class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.supplier_name }}
          </div>
        </div>              
      </div>  

      <div class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.description }}
          </div>
        </div>              
      </div>        
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            <img *ngIf="saleDatas.image" [src]="saleDatas.image" width="150" height="100">
            <img *ngIf="!saleDatas.image" src="assets/images/no-photo.png" width="150" height="100">
          </div>
        </div>
      </div>

      <div class="col-md-6">

      </div>
    </div>

    <!-- price and taxes form start -->
    <h6 class="border-bottom pb-3 pt-2">
      {{ 'PRICES_AND_TAXES' | translate }}
    </h6>

    <div class="row">
      <div class="col-md-6">
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.currency_name }}
          </div>
        </div>
      </div>

      <div class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.discount }}%
          </div>
        </div>              
      </div>        
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'SALE_PRICE' | translate }}</nz-form-label>           
          </div>

          <div class="col-md-8">
            <div class="row">            
              <div class="col-md-12">{{ saleDatas.sale_price1 }}</div>
            </div>    
          </div>
        </div>
      </div>

      <div *ngIf="saleDatas.sale_type == 'P'" class="col-md-6">        
        <div class="row">            
          <div class="col-md-4">
            <nz-form-label>{{ 'COST_PRICE' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.cost_price }}
          </div>
        </div>              
      </div>        
    </div>

    <!-- sales taxes row start -->
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          
          <div class="col-md-4">
            <nz-form-label>{{ 'SALES_TAXES' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.sales_tax1 }}
          </div>

        </div>  

      </div>

      <div class="col-md-6">

        <div class="row">        
          <div class="col-md-4">
            <nz-form-label>{{ 'PURCHASE_TAXES' | translate }}</nz-form-label>
          </div>

          <div class="col-md-8">
            {{ saleDatas.purchase_tax1 }}
          </div>
        </div>  

      </div>              
    </div>            
    <!-- sales taxes row end -->            
          
    <!-- physical distribution start -->    
    <div *ngIf="saleDatas.sale_type == 'P'">    
      <h6 class="border-bottom pb-3 pt-2">
        {{ 'PHYSICAL_DISTRIBUTION' | translate }}
      </h6>

      <div class="row">
        <div class="col-md-6">
          <div class="row">         
            
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mb-2">
                  <nz-form-label>{{ 'INITIAL_WAREHOUSE' | translate }}*</nz-form-label>
                  <div>{{ saleDatas.initial_warehouse_name }}</div>
                </div>                     
              </div>

              <div class="row">            
                <div class="col-md-12">              
                  <nz-form-label nz-tooltip [nzTooltipTitle]="winriesToolTmp">{{ 'WINERIES' | translate }} <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                  <ng-template #winriesToolTmp>{{ 'SELECT_MULTI_WINERIES' | translate }}</ng-template>                  
                </div>

                <div class="col-md-12">
                  <div *ngFor="let wineries of saleDatas.wineries">{{ wineries.winery_name }}</div>
                </div>                
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">            
                <div class="col-md-12">
                  <nz-form-label>{{ 'MINIMUM_EXISTENCE' | translate }}</nz-form-label>
                  {{ saleDatas.minimum_existence }}
                </div>                
              </div>              
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="row">            
            <div class="col-md-6">
              <nz-form-label>{{ 'LOW_MAIL_EXISTENCE' | translate }}</nz-form-label>
              <span *ngIf="saleDatas.low_mail_stock == 'Y'">
                {{ 'YES' | translate }}
              </span>
              <span *ngIf="saleDatas.low_mail_stock == 'N'">
                {{ 'NO' | translate }}
              </span>
            </div>

            <div class="col-md-6">
              <nz-form-label>{{ 'NOTIFY_IN_STOCK' | translate }}</nz-form-label>
              {{ saleDatas.notify_in_stock }}
            </div>                
          </div>              
        </div>        
        
      </div>
    </div>
    <!-- physical distribution end -->

  </div>

  <ng-template #itemViewFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="itemViewClose()" [disabled]="loader">
          {{ 'CLOSE' | translate }}            
        </button>
      </div>
    </div>
  </ng-template>
      
</nz-modal>
<!-- item view end -->