<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-settings"></i> {{ 'NEW_TRANSACTION' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form nz-form [formGroup]="createtransactionsAddform" class="ctm-label-r">
            <div class="card text-center">
               <h5 class="card-header font-weight-normal">{{ 'ENTER_THE_DATA' | translate }}</h5>
            </div>
            <div class="card-body bg-white">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'TRANSACTION_NAME' | translate }}" nz-input formControlName="transactions_name" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <textarea rows="3"  placeholder="{{ 'DESCRIPTION' | translate }}" nz-input formControlName="transactions_description"></textarea>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'TYPE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="transactions_type">
                              <nz-option nzLabel="{{ 'TICKETS' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'DEPARTURES' | translate }}" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </div>
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="savecreatetransactions()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
               </a>
            </div>
         </form>
      </div>
   </div>
</div>