@import './../../../scss/styles.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-bottom{
  width:100%;
  bottom:20px;
  position:absolute;
  padding:0px 20px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ant-layout-header{
  padding: 0px 30px;
}
.text-bottom-right{
  a{
  color: #00A82D;
  }
}
.text-bottom-right{
  a:hover{
  color: #00A82D;
  }
}
.text-bottom-left{
  width:80%;
}
.text-bottom-left{
   h6{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
  }
}
.text-bottom-right{
  width:20%;
  color: #00A82D;
  text-align: right;
  font-size: 21px;
}
.dp-menu{
  min-width: 22rem;
  max-width: 22rem;
  padding:5px;
  pointer-events: none;
  cursor: default;
}
.dp-title{
  font-weight:700;
  font-size:15px;
  color: #00A82D;
}
.dp-border{
  border-bottom: 1px solid #e8ebf0;
}
.close-shift-title {
  margin: 0 auto;
  display: table;
  font-size: 23px;
  color: #00A82D;
  font-weight: 400;
}
.dp-right{
  float:right;
  color: #00A82D;
}

.app-layout {
  height: 100vh;
}

.logo {
  float: left;
  img {
    height: 32px;
  }
  h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: $white;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
}

[nz-menu] {
  line-height: 62px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ant-layout-footer {
  background-color: $gray10;
  bottom: 0;
  padding: 20px 30px;
}

.pos-footer {
  position: absolute;  
  width: 100%;
  bottom: 0;
}

.inner-content {
  background: $gray11;
}

.ant-layout-header {
  background-color: $dark_green;
}

.pos-top-head {
  color: $white;
  float: right;
  background-color: $dark_green;
  font-size: 16px;
}

.pos-head {
  .ant-menu-item:active, .ant-menu-item:focus, .ant-menu-item:hover {
    color: $white;
    border-bottom: 2px solid $green4;
    z-index: 1;  
  }
  
  .ant-menu-item-selected {
    color: $white;
    border-bottom: 2px solid $green4;
    z-index: 1;
  }
}

.ant-menu-horizontal {
  border-bottom: none;
}

.sidebar-logo {
  position: relative;
  height: 100px;
  padding: 9px 19px;
  overflow: hidden;
  line-height: 28px;
  background: #14CC45;
  transition: all 0.3s;
}
.btn-close{
  display:block;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

.pos-menu-icon {
  font-size: 30px;
  color: $white;
  cursor: pointer;
}

.ant-menu {
  .ant-menu-item {
    a {
      span {
        position: relative;
        top: -2px;
      }
    }
  }
}
.img-user{
  height: 20px;
  width: 20px;
}
@media only screen and (max-width: 414px) {
 .dp-menu{
  padding:0px;
  min-width: 200px;
  max-width: 250px;
}
.pos-top-head{
  float:inherit;
}
.pos-menu-icon{
  font-size: 26px;
}
.logo h1{
  margin: 0 0 0 2px;
}
}