<nz-layout class="app-layout">
   <nz-drawer
   [nzClosable]="false"
   [nzVisible]="posDrawerVisible"
   [nzPlacement]="posDrawerPlacement"
   [nzTitle]="posSlideDrawerTemp"
   (nzOnClose)="posDrawerClose()">
   <ng-template #posSlideDrawerTemp>
      <div class="sidebar-logo">
         <a routerLink="/pos">
            <img src="assets/images/logo.png" alt="logo">
            <h1>Avesta Contable</h1>
         </a>
         <a nz-button nzType="secondary" (click)="openShiftOpen()" class="ctm-btn-pale-blue btn-close text-uppercase mt-2">
         {{ 'OPEN_SHIFT' | translate }}
         </a>
      </div>
   </ng-template>
   <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
      <li nz-menu-item (click)="posDrawerClose()">
         <a routerLink="/pos">
         <i class="mdi mdi-cloud-print-outline" nz-icon></i>          
         <span>{{ 'POS' | translate }}</span>
         </a>
      </li>
      <li nz-menu-item (click)="posDrawerClose()">
         <a routerLink="/pos/invoices">
         <i class="mdi mdi-file" nz-icon></i>          
         <span>{{ 'INVOICES' | translate }}</span>
         </a>
      </li>
      <li nz-menu-item (click)="posDrawerClose()">
         <a routerLink="/pos/configuration">
         <i class="mdi mdi-settings" nz-icon></i>          
         <span>{{ 'CONFIGURATION' | translate }}</span>
         </a>
      </li>
      <li nz-menu-item (click)="posDrawerClose()">
         <a routerLink="/pos/shifts">
         <i class="mdi mdi-arrow-all" nz-icon></i>          
         <span>{{ 'SHIFTS' | translate }}</span>
         </a>
      </li>
   </ul>
   <!--    <div class="text-bottom">
      <div class="text-bottom-left">
         <h6>{{ 'SYNCHRONIZE_DATA' | translate }}</h6>
         <small>{{ 'LAST_DATE' | translate }}: {{todayDate | date:'short'}}</small>
      </div>
      <div class="text-bottom-right">
         <a>
         <i class="fa fa-refresh"></i>
         </a>
      </div>
      </div> -->
   </nz-drawer>  
   <nz-header class="pos-head">
      <span class="pos-menu-icon float-left">
      <i class="mdi mdi-menu" (click)="posDrawerOpen()"></i>
      </span>
      <div class="logo">
         <a routerLink="/pos">
            <h1>Avesta Contable</h1>
         </a>
      </div>
      <ul  nz-menu nzTheme="light" nzMode="horizontal" class="pos-top-head">
         <li nz-menu-item>
            <a nz-dropdown [nzDropdownMenu]="menu">
            <i class="fa fa-list-alt color-white" aria-hidden="true"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
               <ul class="dp-menu" nz-menu nzSelectable>
                  <li nz-menu-item class="dp-border bg-white py-2 dp-title">Terminal 1</li>
                  <li nz-menu-item class="dp-border py-1 pt-2 bg-white">{{ 'DEBIT_CARD' | translate }}<span class="dp-right">{{ 'NOT_SELECTED' | translate }}</span></li>
                  <li nz-menu-item class="dp-border py-1 bg-white">{{ 'CREDIT_CARD' | translate }}<span class="dp-right">{{ 'NOT_SELECTED' | translate }}</span></li>
                  <li nz-menu-item class="dp-border py-1 bg-white">{{ 'TRANSFERENCE' | translate }}<span class="dp-right">{{ 'NOT_SELECTED' | translate }}</span></li>
                  <li nz-menu-item class="dp-border py-1 bg-white">{{ 'NUMERATION' | translate }}<span class="dp-right">Principal</span></li>
                  <li nz-menu-item class="dp-border py-1 pb-2 bg-white">{{ 'CELLAR' | translate }}<span class="dp-right">Principal</span></li>
               </ul>
            </nz-dropdown-menu>
         </li>
         <li nz-menu-item>
            <a class="color-white"> <i class="mdi mdi-help-circle "></i></a>
         </li>
         <li nz-menu-item>
            <a class="color-white">
            <img src="assets/images/user.png" class="rounded-circle img-user"></a>
         </li>
         <!--  <li nz-menu-item>
            <i class="fa fa-refresh"></i>
            </li> -->
         <li nz-menu-item >
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1" class="logout-dd">
            <i nz-icon nzType="user" class="text-white"></i>
            </a>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
               <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="logout()">
                     <i class="mdi mdi-logout-variant font-16"></i> {{ 'SIGN_OUT' | translate }}
                  </li>
                  <li nz-menu-item (click)="useLanguage('en')">
                     <img src="assets/images/united-kingdom.png"> English
                  </li>
                  <li nz-menu-item (click)="useLanguage('es')">
                     <img src="assets/images/spain.png"> Spanish
                  </li>
               </ul>
            </nz-dropdown-menu>
         </li>
      </ul>
   </nz-header>
   <nz-content>
      <div class="inner-content">
         <router-outlet></router-outlet>
      </div>
   </nz-content>
   <!-- <nz-footer class="pos-footer">Copyright © 2020</nz-footer> -->
</nz-layout>
<!-- open shift modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="openShiftVisible" [nzTitle]="openShiftTitleTmpl" (nzOnCancel)="openShiftClose()" [nzFooter]="openShiftFooterTmpl">
<ng-template #openShiftTitleTmpl><span class="close-shift-title">{{ 'OPEN_SHIFT' | translate }}<a class="ml-2"> <i class="mdi mdi-help-circle "></i></a></span></ng-template>
<form nz-form [formGroup]="openShiftForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-12">
            <h6>{{ 'NOW_YOU_CAN_USE_YOUR' | translate }}<b> {{ 'INITIAL_BASE' | translate }}</b> {{ 'TO_GENERATE_TRANSACTIONS' | translate }}.</h6>
         </div>
         <div class="col-md-12">
            <nz-form-label>{{ 'ENTER_YOUR_INITIAL_BASE' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" placeholder="{{ 'INITIAL_BASE' | translate }}" nz-input formControlName="initial_base" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #openShiftFooterTmpl>
   <div class="row">
      <div class="col-md-12">  
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="openShiftClose()">
         {{ 'CANCEL' | translate }}            
         </a>      
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="openShiftSave()" disabled>
         {{ 'OPEN_SHIFT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- open shift modal end -->