<section class="bg-w-shadow mb-4">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-file-tree"></i> {{ 'CATEGORIES' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mt-4">
         <nz-card>
            <app-categories-table
               [categoriesData]="categoriesDatas">
            </app-categories-table>
         </nz-card>
      </div>
   </div>
</div>