.referreal_border{
	border-top:4px solid #1777B4;
	border-bottom:4px solid #1777B4;
	width:100%;
}
.bg_thead{
	background-color:#333333;
	color: #fff;
}

.border_bottom{
	position: absolute;
    height: 1px;
    width: 91%;
    background: #000;
    margin-top:15px;
}
.border_top{
    padding-top:15px;
	border-top:1px solid #000;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 
    .border_bottom{
	position: absolute;
    height: 1px;
    width: 71%;
    background: #000;
    margin-top:15px;
}
}