<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <div class="pull-right">
               <app-backbutton></app-backbutton>
            </div>
            <h4 class="page-title">
               <i class="mdi mdi-file-document"></i> {{ 'SEE_DEBIT_NOTE' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mb-4">
         <nz-card class="color-b">
            <div class="row">
               <div class="col-md-12">
                  <div class="invoice-title row">
                     <div class="mb-4" style="background-color: #1777B4;width: 100%;height: 20px;"></div>
                     <div class="col-md-1">
                        <img src="assets/images/invoice-logo.png" style="width: 66px; margin-top: 10px;">
                     </div>
                     <div style="color: #000;" class="col-md-11 text-center">
                        <h6 style="margin-bottom:3px; font-weight: 700;" class="p-0">INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</h6>
                        {{ 'RTN' | translate }}: 08019017912731<br>
                        Col. 15 de Septiembre Ave Independencia Casa No.6065,Tegucigalpa, Honduras M.D.C<br>
                        {{ 'EMAIL' | translate }}: ventas@inversioneslogisticas.com&nbsp; {{ 'TELEPHONE' | translate }}: 22342181<br>
                        {{ 'C_A_I' | translate }}: 4D42E1-3AF99E-034BB5-8DD95E-F12272-04/ VENCE 27/05/2020<br>
                        www.inversioneslogisticas.com
                     </div>
                     <div class="referreal_border col-md-12 my-4 pt-1 pb-0 text-center">
                        <h6 style="font-weight:700; margin-bottom:5px;"><span style="text-transform:uppercase;">{{ 'DEBIT_NOTE' | translate }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. 000-001-01-00000351 </h6>
                     </div>
                  </div>
                  <div class="row mb-2">
                     <div class="col-7">
                        <address>
                           <strong>{{ 'DATE_OF_ISSUE' | translate }}:</strong>  {{ infodebitDatas.debit_date_of_issue }}<br>
                           <strong>{{ 'S_R_A' | translate }}:</strong>  {{ infodebitDatas.debit_sender }}<br>
                        </address>
                     </div>
                     <div class="col-5">
                        <address class="text-left">
                           <strong>{{ 'RTN' | translate }}:</strong> 08019017912731<br>
                           <strong>{{ 'PROOF_CAI' | translate }}:</strong> 4D42E1-3AF99E-034BB5-8DD95E-F12272-04<br>
                           <strong>{{ 'CORRELATIVE_OF_THE_VOUCHER' | translate }}:</strong>  000-001-01-00000351
                           <br>
                           <strong>{{ 'PROOF_ISSUE_DATE' | translate }}:</strong>
                           01/02/2020
                        </address>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <h6 style="color:#000; font-size:14px;"><strong>{{ 'REASON' | translate }}:<span class="border_bottom"></span></strong></h6>
                        <div style="background-color: #1777B4; width: 100%; height: 4px;"></div>
                        <nz-table [nzData]="infodebitnotesDatas.infodebitnotes_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="infodebitnotesProductNoDataTmp">
                        <ng-template #infodebitnotesProductNoDataTmp></ng-template>
                        <thead>
                           <tr>
                              <th style="width:10%;" class="text-center bg_thead"><strong>{{ 'QTY' | translate }}</strong></th>
                              <th class="text-center bg_thead"><strong>{{ 'CODE' | translate }}</strong></th>
                              <th class="text-center bg_thead"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                              <th class="text-center bg_thead"><strong>{{ 'UNIT_PRICE' | translate }}</strong></th>
                              <th class="text-center bg_thead"><strong>{{ 'TOTAL' | translate }}</strong></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let data of infodebitnotesDatas.infodebitnotes_product_item; let i = index">
                              <td class="text-center">{{ data.item_qty }}</td>
                              <td class="text-center">{{ data.item_code }}</td>
                              <td class="text-center">{{ data.item_description }}</td>
                              <td class="text-center">{{ data.unit_price }}</td>
                              <td class="text-center">{{ data.total }}</td>
                           </tr>
                           <tr>
                              <td class="no-line text-center">
                                 <strong>150</strong>
                              </td>
                              <td class="no-line text-center">
                                 <strong>{{ 'TOTAL_ITEMS' | translate }}</strong>
                              </td>
                              <td class="no-line text-center" colspan="1"></td>
                              <td class="no-line text-center"></td>
                              <td class="no-line text-center" colspan="1"></td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="2"></td>
                              <td class="no-line"></td>
                              <td class="text-center">{{ 'SUBTOTAL' | translate }}</td>
                              <td class="text-center">L. 3,900.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="3"></td>
                              <td class="text-center">{{ 'ISV' | translate }}(15%)</td>
                              <td class="text-center">L. 585.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="3"></td>
                              <td class="text-center"><strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
                              <td class="text-center"><strong>L. 4,485.00</strong></td>
                           </tr>
                        </tbody>
                        </nz-table>                
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-md-12 py-1">
                        <h6 style="color:#000; font-size:14px;"><strong>{{ 'ORIGINAL' | translate }}:</strong> {{ 'CUSTOMER' | translate }}</h6>
                     </div>
                     <div class="col-md-12 py-1">
                        <h6 style="color:#000; font-size:14px;"><strong>{{ 'COPY' | translate }}:</strong> {{ 'TRANSMITTER' | translate }}</h6>
                     </div>
                  </div>
                  <div class="row justify-content-end">
                     <div class="col-md-4 text-center py-1">
                        <div class="border_top">
                           <h6 class="text-uppercase " style="color:#000; font-size:14px;"><strong >{{ 'SIGNATURE_AND_STAMP' | translate }}</strong></h6>
                        </div>
                     </div>
                  </div>
                  <div style="margin-top:60px; background-color: #1777B4;width: 100%;height: 7px;"></div>
                  <div style="background-color:#333;">
                     <div style="display: flex;" class="p-3">
                        <div class="col-md-8 text-white"><strong>{{ 'AUTHORIZED_NUMBERING_RANGE' | translate }} 000-001-01-00000301 al 000-001-01-00000400 </strong></div>
                        <div class="col-md-4 text-right text-white"><strong>{{ 'EMISSION_LIMIT' | translate }}: 01/01/2020 </strong></div>
                     </div>
                  </div>
                  <br>
                  <div class="row">
                     <div class="col-md-12 d-print-none">
                        <div class="pull-right">
                           <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="generatePayViewOpen()">
                           <i class="mdi mdi-eye"></i>
                           </a>
                           <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1">
                           <i class="fa fa-print"></i>
                           </a>
                           <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirmOpen()">
                           <i class="mdi mdi-delete-forever"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </nz-card>
      </div>
   </div>
</div>
<!-- generate payment view receipt form start -->
<nz-modal [(nzVisible)]="generatePayViewVisible" [nzTitle]="generatePayViewTitleTmpl" (nzOnCancel)="generatePayViewClose()" [nzFooter]="generatePayViewFooterTmpl" nzWidth="1100">
<ng-template #generatePayViewTitleTmpl>{{ 'SEE_RECEIPT' | translate }}</ng-template>
<div style="background-color: #1777B4;width: 100%;height: 20px;"></div>
<div class="row py-4">
   <div class="col-md-1">
      <img src="assets/images/invoice-logo.png" style="width: 66px; margin-top: 10px;">
   </div>
   <div style="color: #000;" class="col-md-11 text-center">
      <h6 style="margin-bottom:3px; font-weight: 700;" class="p-0">INVERSIONES INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</h6>
      {{ 'RTN' | translate }}: 08019017912731<br>
      Col. 15 de septiembre Ave Independencia Casa No. 6065, Tegucigalpa, Honduras M.D.C<br>
      {{ 'EMAIL' | translate }}: ventas@inversioneslogisticas.com {{ 'TELEPHONE' | translate }}: 22342181<br>
      {{ 'C_A_I' | translate }}: 4D42E1-3AF99E-034BB5-8DD95E-F12272-04/ VENCE 27/05/2020<br>
      www.inversioneslogisticas.com
   </div>
</div>
<div class="row">
   <div class="referreal_border col-md-12 pt-1 pb-0 text-center">
      <h6 style="font-weight:700; margin-bottom:5px;"><span style="text-transform: uppercase;">{{ 'DEBIT_NOTE' | translate }} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. 000-001-01-00000351</h6>
   </div>
</div>
<div class="row pt-4 pb-2">
   <div style="color: #000;" class="col-7">
      <address>
         <strong style="color: rgba(0,0,0,0.85);">{{ 'DATE_OF_ISSUE' | translate }}: </strong> {{ infodebitDatas.debit_date_of_issue }}<br>
         <strong style="color: rgba(0,0,0,0.85);">{{ 'S_R_A' | translate }}: </strong> {{ infodebitDatas.debit_sender }}<br>
      </address>
   </div>
   <div style="color: #000;" class="col-5">
      <address class="text-left">
         <strong style="color: rgba(0,0,0,0.85);"> {{ 'RTN' | translate }}: </strong>08019017912731<br>
         <strong style="color: rgba(0,0,0,0.85);">{{ 'PROOF_CAI' | translate }}: </strong> 4D42E1-3AF99E-034BB5-8DD95E-F12272-04<br>
         <strong style="color: rgba(0,0,0,0.85);">{{ 'CORRELATIVE_OF_THE_VOUCHER' | translate }}: </strong> 000-001-01-00000351<br>
         <strong style="color: rgba(0,0,0,0.85);">{{ 'PROOF_ISSUE_DATE' | translate }}: </strong>01/02/2020
         <br>
      </address>
   </div>
</div>
<h6 style="color:#000; font-size:14px;"><strong>{{ 'REASON' | translate }}:<span class="border_bottom"></span></strong></h6>
<div style="background-color: #1777B4; width: 100%; height: 4px;"></div>
<nz-table class="bg-white ctm-r-b-b ctm-table-style" #basicTable [nzFrontPagination]="false" [nzData]="listOfData">
<thead>
   <tr>
      <th style="width:10%;" class="text-center bg_thead"><strong>{{ 'QTY' | translate }}</strong></th>
      <th class="text-center bg_thead"><strong>{{ 'CODE' | translate }}</strong></th>
      <th class="text-center bg_thead"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
      <th class="text-center bg_thead"><strong>{{ 'UNIT_PRICE' | translate }}</strong></th>
      <th class="text-center bg_thead"><strong>{{ 'TOTAL' | translate }}</strong></th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td class="text-center">{{ data.qty }}</td>
      <td class="text-center">{{ data.code }}</td>
      <td class="text-center">{{ data.description }}</td>
      <td class="text-center">{{ data.unit_price }}</td>
      <td class="text-center">{{ data.total }}</td>
   </tr>
   <tr>
      <td class="no-line text-center">
         <strong>150</strong>
      </td>
      <td class="no-line text-center">
         <strong>{{ 'TOTAL_ITEMS' | translate }}</strong>
      </td>
      <td class="no-line text-center" colspan="1"></td>
      <td class="no-line text-center"></td>
      <td class="no-line text-center" colspan="1"></td>
   </tr>
   <tr>
      <td class="no-line" colspan="2"></td>
      <td class="no-line"></td>
      <td class="text-center">{{ 'SUBTOTAL' | translate }}</td>
      <td class="text-center">L. 3,900.00</td>
   </tr>
   <tr>
      <td class="no-line" colspan="3"></td>
      <td class="text-center">{{ 'ISV' | translate }}(15%)</td>
      <td class="text-center">L. 585.00</td>
   </tr>
   <tr>
      <td class="no-line" colspan="3"></td>
      <td class="text-center"><strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
      <td class="text-center"><strong>L. 4,485.00</strong></td>
   </tr>
</tbody>
</nz-table>
<div class="row mb-3">
   <div class="col-md-12 py-1">
      <h6 style="color:#000; font-size:14px;"><strong>{{ 'ORIGINAL' | translate }}:</strong> {{ 'CUSTOMER' | translate }}</h6>
   </div>
   <div class="col-md-12 py-1">
      <h6 style="color:#000; font-size:14px;"><strong>{{ 'COPY' | translate }}:</strong> {{ 'TRANSMITTER' | translate }}</h6>
   </div>
</div>
<div class="row justify-content-end">
   <div class="col-md-4 text-center py-1">
      <div class="border_top">
         <h6 class="text-uppercase " style="color:#000; font-size:14px;"><strong >{{ 'SIGNATURE_AND_STAMP' | translate }}</strong></h6>
      </div>
   </div>
</div>
<div style="margin-top:60px; background-color: #1777B4;width: 100%;height: 7px;"></div>
<div style="background-color:#333;">
   <div style="display: flex;" class="p-3">
      <div class="col-md-8 text-white"><strong>{{ 'AUTHORIZED_NUMBERING_RANGE' | translate }} 000-001-01-00000301 al 000-001-01-00000400 </strong></div>
      <div class="col-md-4 text-right text-white"><strong>{{ 'EMISSION_LIMIT' | translate }}: 01/01/2020 </strong></div>
   </div>
</div>
<ng-template #generatePayViewFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="generatePayViewPrint()">
         <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- generate payment view receipt form END -->
<!-- create receipt form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="createReceiptVisible" [nzTitle]="createReceiptTitleTmpl" (nzOnCancel)="createReceiptClose()" [nzFooter]="createReceiptFooterTmpl" nzWidth="600">
<ng-template #createReceiptTitleTmpl>{{ 'CREATE_RECEIPT' | translate }}</ng-template>
<form nz-form [formGroup]="createReceiptForm" class="ctm-label-r">
   <nz-form-item>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'REFERRALGUIDE_NO' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>{{ infodebitnotesDatas.inforeference_order_no }}</span>
         </div>
      </div>
      <div class="row my-2">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'CUSTOMER_NAME' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>{{ infodebitnotesDatas.inforeference_customer_name }}</span>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'DATE_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-date-picker formControlName="receipt_date_of_payment" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
            </nz-form-control>
         </div>
      </div>
      <div class="row my-2">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PREVIOUS_BALANCE' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>436</span>    
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PAYMENT_RECEIVED' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="receipt_payment_received" />      
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_bank_account">
                  <nz-option nzLabel="Bank 1" nzValue="1"></nz-option>
                  <nz-option nzLabel="Bank 2" nzValue="2"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'METHOD_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_method_of_payment">
                  <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                  <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                  <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                  <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'NOTES' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea nz-input formControlName="receipt_notes"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #createReceiptFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="createReceiptSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- create receipt form end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_DEBIT_NOTES' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_DEBIT_NOTES_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->