<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">  
      
      <div class="col-md-12 p-0">

        <h4 class="page-title">
          <i class="mdi mdi-package-variant"></i> {{ 'PURCHASE_ORDERS' | translate }}      
        </h4>      

        <div class="pull-right">                
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mb-1" routerLink="/user/products/purchase/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_PURCHASE_ORDER' | translate }}
          </a>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>
            
            <app-purchasefilter 
              (searchEvent)="receiveSearchData($event)">
            </app-purchasefilter>

          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>

  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">

      <div class="card-header bg-primary text-center text-white f-s-0-9">
        <i class="fa fa-building mr-1"></i>
        {{ 'YOU_ARE_IN' | translate }}: {{ 'BRANCH' | translate }}
      </div>       
      <nz-card>       
        <app-purchasetable 
          [purchaseDatas]="purchaseDatas">
        </app-purchasetable>
      </nz-card>   

    </div>
  </div>  

</div>