<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
					<h4 class="page-title">
						<i class="mdi mdi-settings"></i> {{ 'CURRENCY' | translate }}
					</h4>
					<div class="pull-right">
						<a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" (click)="currencyOpen()">
							<i class="mdi mdi-plus"></i> {{ 'NEW_CURRENCY' | translate }}
						</a>
						<app-backbutton></app-backbutton>
					</div>
        </div>
     </div>
  </div>
</section>

<div class="container-fluid">
  <div class="col-md-12 mt-3">
    <nz-card>

      <div class="row my-1" *ngIf="loader">
        <div class="col-md-12 text-center">
          <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
          </ng-template>
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>
      </div>      

      <div *ngIf="!loader" class="row mb-4">
        <div class="offset-md-8 col-md-4">
          <div class="row">
            <div class="col-md-3">
              <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
            </div>
            <div class="col-md-9">
              <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
              </nz-input-group>
              <ng-template #keyupsearchSuffixIcn>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loader" class="row">
        <div class="col-md-12">
        <h6 class="card-title f-s-14 text-center">{{ 'CURRENCY_LIST' | translate }}</h6>
          <nz-table #companyCurrencyDisplayData [nzData]="companyCurrencyDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
            <ng-template #noTableData>
              <div class="black2">
                {{ 'NO_RECORD_FOUND' | translate }}
              </div>
            </ng-template>
            <thead>
              <tr>
                <th>{{ 'CURRENCY' | translate }}</th>
                <th>{{ 'ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of companyCurrencyDisplayData.data">
                <td>{{ data.currency_name }}</td>
                <td>
                  <!-- <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="currencyOpen(data)">
                    <i class="mdi mdi-pencil"></i>            
                  </a> -->
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.currency_id)">
                    <i class="mdi mdi-delete-forever"></i>            
                  </a>            
                </td>
              </tr>
            </tbody>
          </nz-table>      
        </div>
      </div>
      
    </nz-card>
  </div>
</div>

<!-- currency modal start -->
<nz-modal *ngIf="currencyVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="currencyVisible" [nzTitle]="currencyTitleTmpl" (nzOnCancel)="currencyClose()" [nzFooter]="currencyFooterTmpl">
  <ng-template #currencyTitleTmpl>    
    <span *ngIf="!currency_id">{{ 'NEW_CURRENCY' | translate }}</span>
  </ng-template>

  <form nz-form [formGroup]="currencyForm" class="ctm-label-r">
    <nz-form-item class="mb-0">
       <div class="row">
          <div class="col-md-12">
             <div class="row">
                <div class="col-md-4">
             <nz-form-label>{{ 'CURRENCY' | translate }}*</nz-form-label>
           </div>
           <div class="col-md-8">
             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
								<nz-select formControlName="currency_id" nzShowSearch required >
									<nz-option *ngFor="let allCurrency of allCurrencyDatas" [nzValue]="allCurrency.id" [nzLabel]="allCurrency.currency_name"></nz-option>
								</nz-select>								
             </nz-form-control>
           </div>
          </div>
        </div>
       </div>
    </nz-form-item>
  </form>
  <ng-template #currencyFooterTmpl>
    <div class="row">
       <div class="col-md-12 text-center">         
         
         <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertCurrency()" [disabled]="!currencyForm.valid" [nzLoading]="btnLoading">
           <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
         </button>
          
       </div>
    </div>
  </ng-template>
</nz-modal>
<!-- currency modal end -->