<div class="row">

  <div class="col-md-3">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-success">
        <i class="mdi mdi-file-check"></i>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-success">3</h3>
      </div>
      <div class="clearfix"></div>
      <p class="mb-0 mt-3 f-s-13">
        <i class="mdi mdi-check text-success m-r-5"></i> {{ 'TOTAL_INVOICES_ISSUED' | translate }}
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-danger">
        <i class="mdi mdi-clock-alert"></i>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-danger">2</h3>
      </div>
      <div class="clearfix"></div>
      <p class="mb-0 mt-3 f-s-13">
        <i class="mdi mdi-alarm text-danger m-r-5"></i>{{ 'TOTAL_INVOICES_STATUS' | translate }} 
        <b class="text-danger">{{ 'UNPAID' | translate }}</b>
      </p>
    </div>
  </div>  

  <div class="col-md-4">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-warning">
        <app-currency-sign></app-currency-sign>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-warning">
          <small>L.</small> 3100.50
        </h3>
      </div>
      <div class="clearfix"></div>
      <p class=" mb-0 mt-3">
        <i class="mdi mdi-alert-outline text-warning m-r-5"></i>{{ 'TOTAL_OUTSTANDING_BALANCE' | translate }} 
      </p>
    </div>
  </div>  
  
</div>

<div class="row">
  <div class="col-md-12">

    <nz-tabset class="ctm-tabs-rsp">
  
      <nz-tab [nzTitle]="tabTemp1" class="ctm-tabs">
        <ng-template #tabTemp1>
          {{ 'UNPAID_BILLS' | translate }}
        </ng-template>
        <app-unpaid-bills 
          [customerUnPaidBills]="customerUnPaidBills">          
        </app-unpaid-bills>
      </nz-tab>

      <nz-tab [nzTitle]="tabTemp2">
        <ng-template #tabTemp2>
          {{ 'ISSUED_INVOICES' | translate }}
        </ng-template>
        <app-issued-invoices 
          [customerIssuedInvoiceBills]="customerIssuedInvoiceBills">
        </app-issued-invoices>
      </nz-tab>

      <nz-tab [nzTitle]="tabTemp3">
        <ng-template #tabTemp3>
          {{ 'QUOTATION' | translate }}
        </ng-template>
        <app-quotation
          [quotationDatas]="quotationDatas">
        </app-quotation>
      </nz-tab>

      <nz-tab [nzTitle]="tabTemp4">
        <ng-template #tabTemp4>
          {{ 'PURCHASE_INVOICES' | translate }}
        </ng-template>
        <app-purchase-invoices
          [invoiceDatas]="invoiceDatas">
        </app-purchase-invoices>
      </nz-tab>
      
      <nz-tab [nzTitle]="tabTemp5">
        <ng-template #tabTemp5>
          {{ 'PURCHASE_ORDERS' | translate }}
        </ng-template>
        <app-purchase-orders
          [purchaseDatas]="purchaseDatas">
        </app-purchase-orders>
      </nz-tab>      
                         
    </nz-tabset>    

  </div>
</div>