  <section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>        
        <h4 class="page-title">
          <i class="mdi mdi-settings"></i> {{ 'ACCOUNTING' | translate }}
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-5">

      <nz-card>
        <nz-tabset class="ctm-tabs-rsp">
  
        <nz-tab [nzTitle]="ctmInfoTabTemp1">
            <ng-template #ctmInfoTabTemp1>
              <i class="fa fa-list-ul mr-1" aria-hidden="true"></i> {{ 'CORRELATIVE' | translate }}
            </ng-template>
            <app-accounting-tab1>
            </app-accounting-tab1>
          </nz-tab> 
       <nz-tab [nzTitle]="ctmInfoTabTemp2">
            <ng-template #ctmInfoTabTemp2>
              <i class="fa fa-font mr-1" aria-hidden="true"></i>{{ 'SOURCES' | translate }}
            </ng-template>
            <app-accounting-tab2>
            </app-accounting-tab2>
          </nz-tab> 
           <nz-tab [nzTitle]="ctmInfoTabTemp3">
            <ng-template #ctmInfoTabTemp3>
              <i class="fa fa-building mr-1" aria-hidden="true"></i>{{ 'COST_CENTER' | translate }}
            </ng-template>
            <app-accounting-tab3>
            </app-accounting-tab3>
          </nz-tab> 
                              
        </nz-tabset>
      </nz-card>      

    </div>

  </div>

</div>