<div class="row">

  <div class="col-md-3">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-success">
        <i class="mdi mdi-file-check"></i>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-success">0</h3>
      </div>
      <div class="clearfix"></div>
      <p class="mb-0 mt-3 f-s-13">
        <i class="mdi mdi-check text-success m-r-5"></i> {{ 'PURCHASE_ORDERS_ISSUED' | translate }}
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-danger">
        <i class="mdi mdi-clock-alert"></i>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-danger">0</h3>
      </div>
      <div class="clearfix"></div>
      <p class="mb-0 mt-3 f-s-13">
        <i class="mdi mdi-alarm text-danger m-r-5"></i>{{ 'PURCHASE_ORDERS' | translate }} 
        <b class="text-danger">{{ 'UNPAID' | translate }}</b>
      </p>
    </div>
  </div>  

  <div class="col-md-4">
    <div class="mini-stat clearfix bg-white">
      <span class="mini-stat-icon bg-warning">
        <app-currency-sign></app-currency-sign>
      </span>
      <div class="mini-stat-info text-right">
        <h3 class="counter mt-0 text-warning">
          <small>L.</small> 0
        </h3>
      </div>
      <div class="clearfix"></div>
      <p class=" mb-0 mt-3">
        <i class="mdi mdi-alert-outline text-warning m-r-5"></i>{{ 'TOTAL_OUTSTANDING_BALANCE' | translate }} 
      </p>
    </div>
  </div>  
  
</div>

<div class="row mb-4">
  <div class="col-md-6 col-sm-12">
    <h6>{{ 'UNPAID_PURCHASE_ORDERS' | translate }}</h6>

    <nz-table #basicTable [nzData]="supplierUnPaidBills" nzShowSizeChanger class="bg-white border" [nzNoResult]="noTableData">
      <ng-template #noTableData>
        <div class="black2">
          {{ 'NO_RECORD_FOUND' | translate }}
        </div>
      </ng-template>      
      <thead>
        <tr>
          <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
          <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
          <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <a>{{ data.invoice_no }}</a>                
          </td>
          <td>
            <span>{{ data.date }}</span>
          </td>
          <td>
            <span>L. {{ data.balance }}</span>
          </td>
        </tr>
      </tbody>
    </nz-table>    

  </div>
</div>