<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="fa fa-chain"></i> {{ 'ACCOUNT_LINK' | translate }}
          <a class="color-black ml-2"><i class="mdi mdi-help-circle"></i></a>
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0 justify-content-center">
    <div class="col-md-5 mb-4">
                   
      <app-account-link-filter 
        (searchEvent)="receiveSearchData($event)">
      </app-account-link-filter>

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">
      
      <nz-card>       
        <app-account-link-table
          [accountlinkData]="accountlinkDatas">
        </app-account-link-table>
      </nz-card>   

    </div>
  </div>   

</div>