<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="returnsDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
      <th> {{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/income/returns/info" [queryParams]="{ returns_id: data.returns_id}" class="font-weight-normal">
          {{ data.returns_code }}
        </a>
      </td>
      <td>
      {{ data.customer_firstname }} {{ data.customer_lastname }}
      </td>
      <td>L. 0.00</td>
      <td>L. 0.00</td>
      <td>{{ data.returns_date | date : "dd/MMM/yyyy" }}</td>
      <td>
        <span *ngIf="data.returns_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'ACTIVE' | translate }}
        </span>
        <span *ngIf="data.returns_state == '0'" class="badge badge-pill badge-danger">
          {{ 'VOIDED' | translate }}
        </span>        
      </td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1"  routerLink="/user/income/returns/info" [queryParams]="{ returns_id: data.returns_id}">
          <i class="mdi mdi-eye"></i>            
        </a>        
        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/income/returns/edit" [queryParams]="{ returns_id: data.returns_id}">
          <i class="mdi mdi-pencil-box-outline"></i> 
        </a>                                                             
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="deleteConfirmOpen()">
          <i class="mdi mdi-delete-forever"></i>    
        </a>  
      </td>
    </tr>
  </tbody>
</nz-table>
<!--modal-->
<nz-modal [nzStyle]="{ top: '20px' }" 
      [(nzVisible)]="isVisible"
      [nzTitle]="deleteConfirmTmpl"
      [nzFooter]="deleteConfirmFooterTmpl"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #deleteConfirmTmpl>
        {{ 'DELETE_RETURN' | translate }}
      </ng-template>

      <div class="text-center">
        <p>{{ 'ITEM_DELETE_RETURN_MSG' | translate }}</p>
      </div>
      <ng-template #deleteConfirmFooterTmpl>
        <div class="row">
          <div class="col-md-12">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
              {{ 'CANCEL' | translate }}            
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
              {{ 'OK' | translate }}            
            </a>
          </div>
        </div>
      </ng-template>  
    </nz-modal>