<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">
      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-settings"></i> {{ 'SETTINGS' | translate }}
        </h4>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row m-0">
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'BUSINESS' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/business/branch/list">{{ 'BRANCH_OFFICES' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/business/invoice">{{ 'BILLING' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/business/accounting">{{ 'ACCOUNTING' | translate }}</a>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'INVENTORY' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/inventory/inventories">{{ 'INVENTORIES' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/inventory/transactions">{{ 'TRANSACTIONS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/inventory/wineries">{{ 'WINERIES' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/inventory/categories">{{ 'CATEGORIES' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/inventory/reason">{{ 'REASON' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/inventory/employee-position">{{ 'EMPLOYEE_POSITION' | translate }}</a>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'CONTACTS' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/contacts/customers">{{ 'CUSTOMERS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/contacts/users">{{ 'USERS' | translate }}</a>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'CORRELATIVES' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/correlatives/bill">{{ 'BILL' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/correlatives/quotation">{{ 'QUOTATION' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/correlatives/work-order">{{ 'WORK_ORDER' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/correlatives/receipts">{{ 'RECEIPTS' | translate }}</a>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'OTHER_SETTINGS' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/other-settings/discounts">{{ 'DISCOUNTS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/other-settings/permanent-discounts">{{ 'PERMANENT_DISCOUNTS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/user/settings/other-settings/currency">{{ 'CURRENCY' | translate }}</a>
          </li>         
          <li>
            <a routerLink="/user/products/sender/list">{{ 'SENDER' | translate }}</a>
          </li>           
        </ul>
      </nz-card>
    </div>
    <div class="col-md-3">
      <nz-card class="c_bdy ctm_bdy">
        <h6 class="card-title m-0 f-s-18 font-weight-normal">
          {{ 'POINT_OF_SALE' | translate }}
        </h6>
        <ul class="t-d-none">
          <li>
            <a routerLink="/user/settings/pos/general-configuration">{{ 'GENERAL_CONFIGURATION' | translate }}</a>
          </li>
        </ul>
      </nz-card>
    </div>
  </div>
</div>