.c_bdy{
  border:3px solid #00a82d;
  background-color: transparent;
  ul{
    list-style: none;
    padding: 0px;
    li a{
      color: #00a82d;
      text-decoration:underline;
      cursor: pointer;
    }
  }
}
.card-title{
  color:#00a82d;
  border-bottom:2px solid transparent;
}
.ctm_bdy{
    height: 205px;
    margin-bottom: 20px;
}