<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-settings"></i> {{ 'ENTER_BRANCH' | translate }}
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
 </div>    

  <div *ngIf="!loader" class="row m-0 justify-content-center mb-4">   

    <div class="col-md-6">
      <nz-card>

        <form nz-form [formGroup]="addBranchForm" class="ctm-label-r">      
          <nz-form-item class="mb-0">
      
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="branch_name" />
                </nz-form-control>
              </div>      
            </div>    
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <input type="text" nz-input formControlName="cai" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'BILLING_RANGE' | translate }}</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <input type="text" nz-input formControlName="billing_range" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="address" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'CITY' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="city" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="email" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'INVOICE_PREFIX' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_prefix" />
                </nz-form-control>
              </div>      
            </div>
            
            <!-- <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'PRINTER_TYPE' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-select nzShowSearch formControlName="printer_type" nzAllowClear>
                    <nz-option nzLabel="Impresora Normal" nzValue="1"></nz-option>       
                  </nz-select>             
                </nz-form-control>
              </div>      
            </div> 
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'COST_CENTER' | translate }}</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="cost_center" nzAllowClear>
                    <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>       
                    <nz-option nzLabel="Compras" nzValue="2"></nz-option>       
                  </nz-select>               
                </nz-form-control>
              </div>      
            </div> -->
            
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <textarea rows="3" nz-input formControlName="description"></textarea>
                </nz-form-control>
              </div>      
            </div>      
      
            <div class="row">
              <div class="col-md-5">
                <div>
                  <nz-form-label>{{ 'WINERIES' | translate }}*</nz-form-label> 
                </div>
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-select nzMode="multiple" nzShowSearch formControlName="wineries">
                    <nz-option 
                      *ngFor="let winery of wineryDatas" 
                      [nzLabel]="winery.name" 
                      [nzValue]="winery.wineries_id">
                    </nz-option>
                  </nz-select>            
                </nz-form-control>
              </div>      
            </div>    
                 
          </nz-form-item>

        </form>  

      </nz-card>

      <div class="row m-0 card-footer">
        <div class="col-md-12 text-center my-1">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="insertBranch()" [nzLoading]="btnLoading">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
          </a>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
            <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
          </a>    
        </div>
      </div>      

    </div>
    
  </div>  

</div>  