<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-file-document"></i> {{ 'PAYMENT_LINKS' | translate }}
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/income/online-payment/create">
               <i class="mdi mdi-plus"></i> {{ 'NEW' | translate }}
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12">
         <div>
            <app-payments-links-filter 
               (searchEvent)="receiveSearchData($event)">
            </app-payments-links-filter>
         </div>
      </div>
   </div>
</div>