<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-file-document"></i> {{ 'EDIT_DEBIT_NOTE' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <form nz-form [formGroup]="editdebitnotesAddform">
      <nz-form-item>
         <div class="row m-0 mt-4">
            <div class="col-md-12">
               <nz-card>
                  <!-- general info form start -->          
                  <h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
                     <b>{{ 'DEBIT_NOTES_DATA' | translate }}</b>
                  </h6>
            <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'NUMERATION' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="numeration" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'DATE_OF_ISSUE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-date-picker nzShowSearch nzAllowClear formControlName="date_of_issue" nzPlaceHolder=""></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'SUPPLIER' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="supplier">
                                             <nz-option nzLabel="Supplier 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Supplier 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openSupplierDebitNotesDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'PROOF_ISSUE_DATE' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-date-picker nzShowSearch nzAllowClear formControlName="proof_issue_date" nzPlaceHolder=""></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>{{ 'SENDER' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="sender">
                                             <nz-option nzLabel="Company name 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Company name 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openSenderDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'CORRELATIVE_OF_THE_VOUCHER' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="correlative_of_the_voucher" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>{{ 'REASON' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-10">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear formControlName="reason">
                                             <nz-option nzLabel="Reason 1" nzValue="1"></nz-option>
                                             <nz-option nzLabel="Reason 2" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-2">
                                       <a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openReasonDialog()">
                                       <i class="mdi mdi-plus"></i>            
                                       </a>                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'ORIGINAL' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="original" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-6">
                                 <nz-form-label>
                                    {{ 'COPY' | translate }}
                                 </nz-form-label>
                              </div>
                              <div class="col-md-6">
                                 <nz-form-control>    
                                    <input type="text" nz-input formControlName="copy" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </div>
      </nz-form-item>
   </form>
   <div class="row m-0 mt-4 mb-2">
      <div class="col-md-12 mb-3">
         <nz-card>
            <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfnewdebitData">
               <thead>
                  <tr>
                     <th nzWidth="21%">{{ 'CONCEPT' | translate }}</th>
                     <th>{{ 'VALUE' | translate }}</th>
                     <th>{{ 'TAX' | translate }}</th>
                     <th>{{ 'QUANTITY' | translate }}</th>
                     <th>{{ 'OBSERVATIONS' | translate }}</th>
                     <th nzWidth="10%">{{ 'TOTAL' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let debitLines of listOfnewdebitData; let i = index" class="editable-row">
                     <td>
                        <nz-select class="ctm-w-100" nzShowSearch [(ngModel)]="itemSelect[i]" (ngModelChange)="updateDebitItem($event, i)">
                        <nz-option nzLabel="Concept 1" nzValue="1"></nz-option>
                        <nz-option nzLabel="Concept 2" nzValue="2"></nz-option>
                        </nz-select>
                     </td>
                     <td>
                        <input type="text" nz-input [value]='debitLines.value' />
                     </td>
                     <td>
                        <input type="text" nz-input [value]="debitLines.tax" />                     
                     </td>
                     <td>
                        <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1" [(ngModel)]="debitLines.quantity"></nz-input-number>
                     </td>
                     <td>
                        <textarea nz-input >{{ debitLines.observations }}</textarea>  
                     </td>
                     <td>L. {{ debitLines.total | number }}</td>
                     <td>
                        <a (click)="deletenewdebitRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                     </td>
                  </tr>
               </tbody>
            </nz-table>
            <br>
            <button nz-button class="ctm-btn-pale-blue" (click)="addnewdebitRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_LINE' | translate }}  </button>
            <div class="row text-right">
               <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'SUBTOTAL' | translate }} : 
                     <span>L. 0.00</span>
                  </div>
               </div>
                <div class="col-md-12">
                  <div class="pull-right">
                     {{ 'ISV' | translate }}(15%) : 
                     <span>L. 0.00</span>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="pull-right">
                     <strong>{{ 'TOTAL' | translate }} :  
                     <span>L. 0.00</span></strong>
                  </div>
               </div>
            </div>
         </nz-card>
      </div>
   </div>
   <div class="row m-0 mt-2 mb-2">
      <div class="col-md-12 mb-3">
         <nz-card>
            <nz-tabset>
      <nz-tab nzTitle="{{'THERE_IS_MONEY_BACK' | translate }}">
        <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfmoneybackData">
                     <thead>
                        <tr>
                           <th nzWidth="25%">{{ 'DATE' | translate }}</th>
                           <th nzWidth="25%">{{ 'ACCOUNT' | translate }}</th>
                           <th nzWidth="25%">{{ 'AMOUNT' | translate }}</th>
                           <th nzWidth="25%">{{ 'OBSERVATIONS' | translate }}</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let moneyBacks of listOfmoneybackData; let i = index" class="editable-row">
                           <td>
                              <nz-select  class="ctm-w-100">
                                 <nz-option nzLabel="25/05/2020" nzValue="1"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <nz-select  class="ctm-w-100">
                                 <nz-option nzLabel="{{ 'BANK' | translate }} 1" nzValue="1"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <input type="text" nz-input [value]="moneyBacks.amount"  />
                           </td>
                           <td>
                              <textarea nz-input >{{ moneyBacks.Observations }}</textarea>  
                           </td>
                           <td>
                              <a (click)="deletemoneybackRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </nz-table>
                  <br>
                  <button nz-button class="ctm-btn-pale-blue" (click)="addmoneybackRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_MONEY_BACK' | translate }}  </button>
      </nz-tab>
      <nz-tab nzTitle="{{ 'DEBIT_TO_SUPPLIER_INVOICE' | translate }}">
          <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfSupplierInvoiceData">
               <thead>
                  <tr>
                     <th nzWidth="21%">{{ 'NUMBER' | translate }}</th>
                     <th>{{ 'TOTAL' | translate }}</th>
                     <th>{{ 'PAID_OUT' | translate }}</th>
                     <th>{{ 'PAYABLE' | translate }}</th>
                     <th nzWidth="20%">{{ 'AMOUNT_TO_BE_PAID' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let supplierItems of listOfSupplierInvoiceData; let i = index" class="editable-row">
                     <td>
                        <nz-select class="ctm-w-100" nzShowSearch [(ngModel)]="itemSelectSupplier[i]" (ngModelChange)="updateSupplierItem($event, i)">
                        <nz-option nzLabel="Number 1" nzValue="1"></nz-option>
                        </nz-select>
                     </td>
                     <td>
                        <div>{{ supplierItems.total }}</div>
                     </td>
                     <td>
                        <div>{{ supplierItems.paid_out }}</div>
                     </td>
                     <td>
                        <div>{{ supplierItems.payable }}</div>
                     </td>
                     <td>
                        <div>
                           <input type="text" nz-input  />
                        </div>
                     </td>
                     <td>
                        <a (click)="deletesupplierinvoiceRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                     </td>
                  </tr>
               </tbody>
            </nz-table>
            <br />
            <button nz-button  class="ctm-btn-pale-blue" (click)="addsupplierinvoiceRow()" nzType="secondary"><i class="mdi mdi-plus"></i>{{ 'ADD_SUPPLIER_INVOICE' | translate }}</button>
      </nz-tab>
     
    </nz-tabset>
            <h6 class="card-title ctm-border-bottom mt-0 text-left text-primary">
               <b></b>
            </h6>
          
         </nz-card>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12">
         <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="saveCredit()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>       
         </div>
      </div>
   </div>
</div>
<!-- supplierAdd form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="supplierAddDialogVisible" [nzTitle]="supplierAddDTitleTmpl" (nzOnCancel)="closeSupplierAddDialog()" [nzFooter]="supplieraddFooterTmpl">
<ng-template #supplierAddDTitleTmpl>{{ 'ADD_SUPPLIER' | translate }}</ng-template>
<form nz-form [formGroup]="addSupplierAddForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_name" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_identification" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_phone" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_mobile" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_fax" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
            <nz-form-control>    
               <input type="email" nz-input formControlName="supplier_email" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
            <nz-form-control>    
               <textarea rows="3" nz-input formControlName="supplier_direction"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #supplieraddFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeSupplierAddDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveSupplierAdd()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- supplier Add form end -->
<!-- sender add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="senderDialogVisible" [nzTitle]="senderDTitleTmpl" (nzOnCancel)="closeSenderDialog()" [nzFooter]="senderDFooterTmpl">
<ng-template #senderDTitleTmpl>{{ 'NEW_SENDER' | translate }}</ng-template>
<form nz-form [formGroup]="addSenderForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'COMPANY_NAME' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="company_name"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'RTN_TDI' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="rtn_tdi"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="address"></textarea>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="email" nz-input formControlName="email"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'TELEPHONE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="tel" nz-input formControlName="telephone"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="c_a_i"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'EXPIRES' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control>
               <nz-date-picker formControlName="expires" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'SITE_URL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="url" nz-input formControlName="site_url"/>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input class="h-auto" type="file" nz-input formControlName="image"/>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #senderDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeSenderDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveSender()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- sender add form end -->
<!-- Reason add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="reasonDialogVisible" [nzTitle]="reasonDTitleTmpl" (nzOnCancel)="closeReasonDialog()" [nzFooter]="reasonDFooterTmpl">
<ng-template #reasonDTitleTmpl>{{ 'NEW_REASON' | translate }}</ng-template>
<form nz-form [formGroup]="addReasonForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'REASON' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="reason"/>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #reasonDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeReasonDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveReason()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- reason add form end -->