<div class="container-fluid">
   <div class="row justify-content-center m-0 mb-4">
      <div class="col-md-9 card-pd">
         <nz-card>
            <form nz-form [formGroup]="costcenterForm">
               <nz-form-item class="mb-0">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="row">
                           <div class="col-md-5">
                              <div>
                                 <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input formControlName="code"/>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="row">
                           <div class="col-md-5">
                              <div>
                                 <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input formControlName="name"/>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="row">
                           <div class="col-md-5">
                              <div>
                                 <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="text" nz-input formControlName="description"/>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                  </div>
               </nz-form-item>
            </form>
         </nz-card>
         <div class="row m-0 card-footer">
            <div class="col-md-12 text-center my-1">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="savecostcenter()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearcostcenter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
               </a>    
            </div>
         </div>
         <div class="mt-4">
            <div class="offset-md-6 col-md-6 my-3">
               <div class="row">
                  <div class="col-md-3">
                     <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
                  </div>
                  <div class="col-md-9">
                     <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                        <input type="text" nz-input/>
                     </nz-input-group>
                     <ng-template #keyupsearchSuffixIcn>
                        <i nz-icon nzType="search"></i>
                     </ng-template>
                  </div>
               </div>
            </div>
            <nz-table #basicTable [nzData]="listOfData">
            <thead>
               <tr>
                  <th>{{ 'CODE' | translate }}</th>
                  <th>{{ 'NAME' | translate }}</th>
                  <th>{{ 'DESCRIPTION' | translate }}</th>
                  <th>{{ 'ACTIONS' | translate }}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of basicTable.data">
                  <td>{{ data.costcenter_code }}</td>
                  <td>{{ data.costcenter_name }}</td>
                  <td>{{ data.costcenter_description }}</td>
                  <td>
                     <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="editCostCenterOpen()">
                     <i class="mdi mdi-pencil"></i>            
                     </a>
                     <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteCostCenterOpen()">
                     <i class="mdi mdi-delete-forever"></i>
                     </a>                      
                  </td>
               </tr>
            </tbody>
            </nz-table>
         </div>
      </div>
   </div>
</div>
<!-- edit CostCenter modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editCostCenterVisible" [nzTitle]="editCostCenterTitleTmpl" (nzOnCancel)="editCostCenterClose()" [nzFooter]="editCostCenterFooterTmpl">
<ng-template #editCostCenterTitleTmpl>{{ 'MODIFY_COST_CENTER' | translate }}</ng-template>
<form nz-form [formGroup]="editCostCenterForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="costcenter_code" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="costcenter_name" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="costcenter_description" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #editCostCenterFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editCostCenterSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- edit CostCenter modal end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_COST_CENTER' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_COST_CENTER_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->