<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-settings"></i>  {{ 'INVENTORIES' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row m-0">
      <div class="col-md-12 my-2 text-center">
         <h5 class="font-weight-normal">
              {{ 'CHOOSE_THE_COSTING_METHOD_THAT_BEST_SUITS_YOUR_COMPANY' | translate }}
         </h5>
      </div>
   </div>
   <div class="row m-0 mb-4">
      <form nz-form [formGroup]="inventoriesForm">
         <nz-form-item class="mb-0">
            <div class="row m-0 mt-2 mb-4">
               <div class="col-md-4 text-center mb-3">
                  <nz-card>
                     <h6 class="card-title mt-0 f-s-14">
                        {{ 'AVERAGE_COST' | translate }}
                     </h6>
                     <div class="row">
                        <div class="col-md-12 form-checkbox">
                           <nz-form-control>
                              <label nz-checkbox formControlName="checkbox_1" (ngModelChange)="onChangeCheck($event, 1)"></label>
                           </nz-form-control>
                        </div>
                        <div class="col-md-12">
                          {{ 'AVERAGE_COST_DESCRIPTION' | translate }}
                        </div>
                     </div>
                  </nz-card>
               </div>
               <div class="col-md-4 text-center mb-3">
                  <nz-card>
                     <h6 class="card-title mt-0 f-s-14">
                        {{ 'LAST_PRICE' | translate }}
                     </h6>
                     <div class="row">
                        <div class="col-md-12 form-checkbox">
                           <nz-form-control>
                              <label nz-checkbox formControlName="checkbox_2" (ngModelChange)="onChangeCheck($event, 2)"></label>
                           </nz-form-control>
                        </div>
                        <div class="col-md-12">
                           {{ 'LAST_PRICE_DESCRIPTION' | translate }}
                        </div>
                     </div>
                  </nz-card>
               </div>
               <div class="col-md-4 text-center mb-3">
                  <nz-card>
                     <h6 class="card-title mt-0 f-s-14">
                        {{ 'LAST_SHOPPING' | translate }}
                     </h6>
                     <div class="row">
                        <div class="col-md-12 form-checkbox">
                           <nz-form-control>
                              <label nz-checkbox formControlName="checkbox_3" (ngModelChange)="onChangeCheck($event, 3)"></label>
                           </nz-form-control>
                        </div>
                        <div class="row my-1">
                           <div class="col-md-3 pt-2 pr-0">
                              {{ 'LATEST' | translate }}
                           </div>
                           <div class="col-md-5">
                               <nz-form-control>
                                 <nz-input-group>
                                    <input type="number" nz-input formControlName="item_latest" [disabled]="inputDisabled" />
                                 </nz-input-group>
                              </nz-form-control>
                           </div>
                           <div class="col-md-3 pt-2 pl-0">
                              {{ 'PURCHASES' | translate }}
                           </div>
                        </div>
                        <div class="col-md-12">
                          {{ 'LAST_SHOPPING_DESCRIPTION' | translate }}
                        </div>
                     </div>
                  </nz-card>
               </div>
            
            </div>
         </nz-form-item>
      </form>
         <div class="col-md-12 text-center my-1">
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveinventories()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearinventories()">
            <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
            </a>    
         </div>
        
      
   </div>
</div>