<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-chart-areaspline"></i> {{ 'PERIOD_CLOSING' | translate }}
          <a class="color-black ml-2"><i class="mdi mdi-help-circle "></i></a>
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-5">

      <nz-card>
        <nz-tabset class="ctm-tabs-rsp">
  
          <nz-tab [nzTitle]="ctmInfoTabTemp1">
            <ng-template #ctmInfoTabTemp1>
              <i class="fa fa-lock mr-1"></i>{{ 'MONTHLY_PERIOD_CLOSING' | translate }}
            </ng-template>
            <app-period-closing-tab1>
            </app-period-closing-tab1>
          </nz-tab>
  
          <nz-tab [nzTitle]="ctmInfoTabTemp2">
            <ng-template #ctmInfoTabTemp2>
              <i class="fa fa-lock mr-1"></i>{{ 'ANNUAL_PERIOD_CLOSING' | translate }}
            </ng-template>
            <app-period-closing-tab2>
            </app-period-closing-tab2>
          </nz-tab>  
                              
        </nz-tabset>
      </nz-card>      

    </div>

  </div>

</div>