<nz-table #basicTable [nzData]="purchaseDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'SUPPLIER' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td><a routerLink="/user/products/purchase/info" [queryParams]="{ purchase_id: data.purchase_id}" class="font-weight-normal">{{ data.purchase_code }}</a></td>
      <td>{{ data.purchase_supplier_name }}</td>
      <td>L. {{ data.purchase_total }}</td>
      <td>L. {{ data.purchase_balance }}</td>
      <td>{{ data.purchase_date | date : "dd/MMM/yyyy" }}</td>
      <td>
        <span *ngIf="data.purchase_state == '1'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span>
        <span *ngIf="data.purchase_state == '0'" class="badge badge-pill badge-danger">
          {{ 'UNPAID' | translate }}
        </span>        
      </td>
    </tr>
  </tbody>
</nz-table>