<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basictable [nzData]="customerDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'PHONE' | translate }}</th>
      <th>{{ 'IDENTIFICATION' | translate }}</th>
      <th>{{ 'MAIL' | translate }}</th>
      <th>{{ 'ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basictable.data">
      <td>
        <a routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id}">
          <span *ngIf="data.type == 'P'">
            <i class="mdi mdi-account"></i> {{ data.name }}
          </span>
          <span *ngIf="data.type == 'C'">
            <i class="fa fa-building"></i> {{ data.company }}
          </span>
        </a>                
      </td>
      <td>
        <span *ngIf="data.phone != ''">
          <i class="mdi mdi-phone"></i> {{ data.phone }}
        </span>
        <span *ngIf="data.phone == ''">--</span>
      </td>
      <td>
        <span *ngIf="data.identification != ''">
          {{ data.identification }}
        </span>
        <span *ngIf="data.identification == ''">--</span>
      </td>
      <td>
        <span *ngIf="data.email != ''">
          <i class="mdi mdi-telegram"></i> {{ data.email }}
        </span>
        <span *ngIf="data.email == ''">--</span>
      </td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id, active_tab: 0}">
          <i class="mdi mdi-eye"></i>            
        </a>        
        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id, active_tab: 3}">
          <i class="mdi mdi-pencil-box-outline"></i> 
        </a>                                                             
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.customer_id)">
          <i class="mdi mdi-delete-forever"></i>            
        </a>        
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_CUSTOMER' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THE_CLIENT' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteCustomer()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->