<div class="row mb-4">
   <div class="offset-md-8 col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
            </nz-input-group>
            <ng-template #keyupsearchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="senderDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th><i class="fa fa-building-o"></i> {{ 'COMPANY_NAME' | translate }}</th>
      <th><i class="fa fa-envelope-o"></i> {{ 'EMAIL' | translate }}</th>
      <th><i class="fa fa-phone"></i>{{ 'TELEPHONE' | translate }}</th>
      <th> {{ 'ACTION' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>
         <a routerLink="/user/products/sender-info" [queryParams]="{ sender_id: data.sender_id}">
         {{ data.company_name }}
         </a>  
      </td>
      <td>{{ data.email }}</td>
      <td>{{ data.telephone }}</td>
      <td> 
         <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/products/sender-info" [queryParams]="{ sender_id: data.sender_id}">
         <i class="mdi mdi-eye"></i>            
         </a>  
         <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/products/sender/edit" [queryParams]="{ sender_id: data.sender_id}">
         <i class="mdi mdi-pencil-box-outline"></i> 
         </a>                                                             
         <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="deleteConfirmOpen(data.sender_id)">
         <i class="mdi mdi-delete-forever"></i>    
         </a>  
      </td>
   </tr>
</tbody>
</nz-table>

<!--modal-->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" [nzFooter]="deleteConfirmFooterTmpl" (nzOnCancel)="deleteConfirmClose()">
   <ng-template #deleteConfirmTmpl>
      {{ 'DELETE_SENDER' | translate }}
   </ng-template>

   <div class="text-center">
      <p>{{ 'ITEM_DELETE_SENDER_MSG' | translate }}</p>
   </div>

   <ng-template #deleteConfirmFooterTmpl>
      <div class="row">
         <div class="col-md-12">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="deleteConfirmClose()">
               {{ 'CANCEL' | translate }}            
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteSender()" [nzLoading]="deleteBtnLoading">
               {{ 'OK' | translate }}            
            </a>
         </div>
      </div>
   </ng-template>

</nz-modal>