<section class="bg-w-shadow mb-3">
	<div class="container-fluid">
		<div class="row m-0 page-title-box-b">
				<div class="col-sm-12 p-0">
					<div class="pull-right">
						<app-backbutton></app-backbutton>
					</div>
					<h4 class="page-title">
						<i class="fa fa-paper-plane-o"></i> {{ 'SEE_SENDER' | translate }}
					</h4>
				</div>
		</div>
	</div>
</section>

<div class="container-fluid">

  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  	

	<div class="row m-0">
		<div class="col-md-12 mb-5">

			<nz-card *ngIf="!loader">

				<h6 class="card-title mt-0 f-s-14">
					{{ 'SENDER_DATA' | translate }}
				</h6>

				<div class="ctm-card">
					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'COMPANY_NAME' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.company_name }}
						</div>
					</div> 

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'RTN_TDI' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.RTN_TDI }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'ADDRESS' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.address }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'EMAIL' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.email }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'TELEPHONE' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.telephone }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'C_A_I' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.CAI }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'EXPIRES' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.expires }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey">
							{{ 'SITE_URL' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							{{ senderInfoDatas.site_url }}
						</div>
					</div>

					<div nz-row nzGutter="16" class="m-0">
						<div nz-col nzMd="4" class="bg-blue-grey img_sender">
							{{ 'IMAGE' | translate }}
						</div>
						<div nz-col nzMd="20" class="detail-data-col">
							<img *ngIf="senderInfoDatas.image" [src]="senderInfoDatas.image" width="40" height="40">
							<img *ngIf="!senderInfoDatas.image" src="assets/images/no-photo.png" width="40" height="40">							
						</div>
					</div>

				</div>
			</nz-card>
		</div>
	</div>
</div>