<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'SALES_INVOICES' | translate }}
         <a class="color-black ml-2"> <i class="mdi mdi-help-circle "></i></a>
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mb-1 mr-1">
            <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
          </a>          
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" routerLink="/user/income/invoice/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_SALES_INVOICE' | translate }}
            
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row m-0">
    <div class="col-md-12 mb-5">

      <div class="card-header bg-primary text-center text-white f-s-0-9">
        <i class="fa fa-building mr-1"></i>
        {{ 'BRANCH' | translate }}: Sucursal 1
      </div>       
      <nz-card>       
        <app-invoice-table 
          [invoiceDatas]="invoiceDatas">
        </app-invoice-table>
      </nz-card>   

    </div>
  </div>   

</div>