<nz-table [nzData]="inventoryMovementData" [nzShowPagination]="false" class="bg-white ctm-r-b-b" [nzNoResult]="noDataTmp">
  <ng-template #noDataTmp></ng-template>
  <thead>
    <tr>
      <th>{{ 'PRODUCT' | translate }}</th>

      <th *ngIf="entryTypeShow || exitTypeShow">{{ 'TRANSACTION' | translate }}</th>

      <th>{{ 'QUANTITY' | translate }}</th>

      <th *ngIf="entryTypeShow">{{ 'SUPPLIER' | translate }}</th>

      <th *ngIf="entryTypeShow">{{ 'COST_PRICE' | translate }}</th>

      <th *ngIf="entryTypeShow">{{ 'SALE_PRICE' | translate }}</th>

      <th>{{ 'OBSERVATIONS' | translate }}</th>

      <th>{{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of inventoryMovementData; let i = index">      
      <td>{{ data.product_name }}</td>

      <td *ngIf="entryTypeShow || exitTypeShow">
        <span *ngIf="data.transaction == '1'">{{ 'ENTRY' | translate }}</span>
      </td>

      <td>{{ data.quantity }} </td>

      <td *ngIf="entryTypeShow">{{ data.supplier_name }}</td>

      <td *ngIf="entryTypeShow">{{ data.cost_price | number:'.2-2' }}</td>

      <td *ngIf="entryTypeShow">{{ data.sale_price | number:'.2-2' }}</td>

      <td>{{ data.observation }}</td>

      <td class="text-center">
      	<a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="inventoryMovementRemove(i)">
					<i class="mdi mdi-delete-forever"></i>            
				</a>
      </td>
    </tr>
  </tbody>
</nz-table>