<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-file-document"></i> {{ 'DEBIT_NOTES' | translate }}
               <a class="color-black ml-2"> <i class="mdi mdi-help-circle "></i></a>
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1">
               <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
               </a>                    
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" routerLink="/user/accounting/debit-notes/new">
               <i class="mdi mdi-plus"></i> {{ 'NEW_DEBIT_NOTE' | translate }}
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mt-4 mb-5">
         <nz-card>
            <app-debit-notes-tables
               [debitDatas]="debitDatas">
            </app-debit-notes-tables>
         </nz-card>
      </div>
   </div>
</div>