<nz-table #basicTable [nzData]="chequeData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'CHEQUE_NO' | translate }}</th>
      <th>{{ 'BANK_ACCOUNT' | translate }}</th>
      <th>{{ 'PAY_TO' | translate }}</th>
      <th>{{ 'AMOUNT' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.cheque_date | date : "dd-MMM-yyyy" }}</td>
      <td>
        <a routerLink="/user/banks/cheque/info" [queryParams]="{ cheque_id: data.cheque_id}" class="font-weight-normal">
          {{ data.cheque_reference }}
        </a>
      </td>
      <td>{{ data.cheque_account_no }}</td>
      <td>
        {{ data.cheque_pay_to }}
      </td>
      <td>L. {{ data.cheque_amount | number:'.2-2' }}</td>
      <td class="text-center">
        <span *ngIf="data.cheque_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'ACTIVE' | translate }}
        </span>        
        <span *ngIf="data.cheque_state == '2'" class="badge badge-pill badge-danger color-white">
          {{ 'REMOVED' | translate }}
        </span>                
      </td>
      <td>
       
         <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/banks/cheque/info" [queryParams]="{ cheque_id: data.cheque_id}">
          <i class="mdi mdi-eye"></i>            
        </a>
        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/banks/cheque/edit" [queryParams]="{ cheque_id: data.cheque_id }">
          <i class="mdi mdi-pencil-box-outline"></i> 
        </a>                                                             
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
          <i class="mdi mdi-delete-forever"></i>    
        </a>
     
    </td>
    </tr>
  </tbody>
</nz-table>
<!--Modal Begin-->
<nz-modal [nzStyle]="{ top: '20px' }" 
      [(nzVisible)]="isVisible"
      [nzTitle]="deleteConfirmTmpl"
      [nzFooter]="deleteConfirmFooterTmpl"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #deleteConfirmTmpl>
        {{ 'DELETE_CHEQUES' | translate }}
      </ng-template>

      <div class="text-center">
        <p>{{ 'ITEM_DELETE_CHEQUES_MSG' | translate }}</p>
      </div>
      <ng-template #deleteConfirmFooterTmpl>
        <div class="row">
          <div class="col-md-12">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
              {{ 'CANCEL' | translate }}            
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
              {{ 'OK' | translate }}            
            </a>
          </div>
        </div>
      </ng-template>  
    </nz-modal>
<!--Modal End-->