<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-chart-areaspline"></i> {{ 'EDIT_ENTRIES' | translate }}
            <a class="color-black">
            <i class="mdi mdi-help-circle"></i>
          </a>
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <form nz-form [formGroup]="seatAddForm" class="ctm-label-r">

    <nz-form-item>

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-12">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'SEAT_DATA' | translate }}
            </h6>

            <div class="row m-0">                  
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'DATE' | translate }}*</nz-form-label>
                </div>
                </div>
                <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <nz-date-picker formControlName="date" nzPlaceHolder=""></nz-date-picker>
                </nz-form-control>
              </div>
              </div>                
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
                </div>
                </div>
                <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="description" />
                </nz-form-control>
              </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'VOUCHER' | translate }}*</nz-form-label>
                </div>
                </div>
                <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="voucher" />
                </nz-form-control>
                </div>
              </div>
              </div>              
            </div>

            <hr>

            <div class="row m-0">                  
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'SOURCE' | translate }}*</nz-form-label>
                </div>
                </div>
                <div class="col-md-7">
                <nz-form-control>             
                  <nz-select nzShowSearch formControlName="source">
                    <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                    <nz-option nzLabel="{{ 'OPENING' | translate }}" nzValue="1"></nz-option>
                    <nz-option nzLabel="{{ 'INCOME' | translate }}" nzValue="2"></nz-option>
                    <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="3"></nz-option>
                    <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
                    <nz-option nzLabel="{{ 'PROVISIONS' | translate }}" nzValue="5"></nz-option>
                  </nz-select>          
                </nz-form-control>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'COST_CENTER' | translate }}*</nz-form-label>
                </div>
                </div>
                <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <nz-select nzShowSearch formControlName="cost_center">
                    <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                    <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>
                    <nz-option nzLabel="Compras" nzValue="2"></nz-option>
                  </nz-select>  
                </nz-form-control>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label class="mb-1">{{ 'SEARCH_ACCOUNT' | translate }}*</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
                <a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchAccountOpen()">
                  <i nz-icon nzType="monitor" nzTheme="outline"></i>                </a>
                </div>
              </div>
              </div>              
            </div>  
            
            <hr>

            <div class="row m-0">                  
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>
                <nz-form-label>{{ 'ATTACH_FILE' | translate }}</nz-form-label>
              </div>
            </div>
            <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="file" nz-input formControlName="seat_file" class="h-auto" />
                </nz-form-control>
              </div>
              </div>
              </div>
            </div>  
            
            <div class="row mt-4 mb-3">
        
              <div class="col-md-12"> 
                   
                <nz-table [nzData]="seatTableDatas" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
                  <ng-template #invoiceProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th>{{ 'CODE' | translate }}</th>
                      <th>{{ 'DESCRIPTION' | translate }}</th>
                      <th>{{ 'COST_CENTER' | translate }}</th>
                      <th>{{ 'COMMENTARY' | translate }}</th>
                      <th width="100px">{{ 'DEBIT' | translate }}</th>
                      <th width="100px">{{ 'CREDIT' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of seatTableDatas; let i = index">
                      <td>{{ data.account_code }}</td>
                      <td>{{ data.account_description }}</td>
                      <td>--</td>
                      <td><input type="text" nz-input formControlName="commentary" /></td>
                      <td><input type="text" nz-input formControlName="debit" /></td>
                      <td><input type="text" nz-input formControlName="credit" /></td>
                      <td>
                        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="seatTableDataRemove(i)">
                          <i class="mdi mdi-delete-forever"></i>            
                        </a>         
                      </td>
                    </tr>
                    <tr *ngIf="seatTableDatas.length > 0">
                      <td colspan="4"></td>
                      <td>L. {{ seatAddForm.get('debit').value | number:'.2-2' }}</td>
                      <td>L. {{ seatAddForm.get('credit').value | number:'.2-2' }}</td>
                      <td></td>
                     </tr>                    
                  </tbody>
                </nz-table>                 
                                        
              </div>
              
            </div>            

          </nz-card>
 
        </div>

        <div class="col-md-12">
          <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveSeat()">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>          
          </div>        
        </div>        

      </div>
      
      <div class="row m-0">

      </div>      

    </nz-form-item>

  </form>

</div>

<!-- search account dialog start -->
<app-search-account-dialog
  [searchAccountVisible]="searchAccountVisible"
  (searchAccountCls)="searchAccountClose()"
  [accountDatas]="accountDatas"
  (accountAddInputChild)="accountAddInput($event)">
</app-search-account-dialog>
<!-- search account dialog end -->