<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">       

          <h4 class="page-title">
            <i class="mdi mdi-account-plus"></i> {{ 'ADD_CUSTOMER' | translate }}
          </h4>

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>           

        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #titleTemplate>
  <div class="ctm-card-title">          
    <i class="mdi mdi-account mr-1"></i>
    <span>{{ 'CUSTOMER_DATA' | translate }}</span>
  </div>
</ng-template>

<ng-template #generalTitleTemplate>
  <div class="ctm-card-title">
    <i class="mdi mdi-account-card-details mr-1"></i>
    <span>{{ 'GENERAL_DATA' | translate }}</span>
  </div>
</ng-template>

<div class="content-section">

  <div class="row">
    <div class="col-md-12">
      
      <form nz-form [formGroup]="customerAddform" class="ctm-label-r">

        <div class="m-b-20">

          <nz-card nzType="inner" [nzTitle]="titleTemplate">
      
            <div class="row">

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>                      
                      <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <nz-form-control>    
                      <nz-select nzShowSearch formControlName="type" (ngModelChange)="customerTypeSelection($event)">
                        <nz-option nzLabel="{{ 'PERSONAL_CLIENT' | translate }}" nzValue="P"></nz-option>
                        <nz-option nzLabel="{{ 'COMPANY_CLIENT' | translate }}" nzValue="C"></nz-option>
                      </nz-select>                      
                    </nz-form-control>                    
                  </div>
                </div>                
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5 my-2">
                    <div>
                      <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
                    </div>
                  </div>
                </div>   
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>                      
                      <nz-form-label>{{ 'TAX_EXEMPT' | translate }}</nz-form-label>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <nz-form-control>
                      <nz-select nzShowSearch formControlName="tax_exempt">
                        <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="N"></nz-option>
                        <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="Y"></nz-option>
                      </nz-select>                    
                    </nz-form-control>
                  </div>
                </div>                
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div>                      
                      <nz-form-label>{{ 'ASSIGN_SELLER' | translate }}</nz-form-label>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <nz-form-control>    
                      <nz-select nzShowSearch formControlName="assign_seller">
                        <nz-option nzLabel="Norma Aracely Rodas Lagos" nzValue="1"></nz-option>
                        <nz-option nzLabel="Michelle Arely Cuestas Hernandez" nzValue="2"></nz-option>
                        <nz-option nzLabel="Hector Obdulio Mercadal Mendoza" nzValue="3"></nz-option>
                        <nz-option nzLabel="Manuel Santos" nzValue="4"></nz-option>
                      </nz-select>
                    </nz-form-control>                    
                  </div>
                </div>                
              </div>               
              
            </div>

          </nz-card>

        </div>  

        <div class="m-b-20">

          <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form">
            
            <nz-form-item>
      
              <div class="row" *ngIf="personalDetailShow">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="id_card" placeholder="{{ 'IDENTIFICATION_CARD' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div> 
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                        <input type="text" nz-input formControlName="name" placeholder="{{ 'NAME' | translate }}" [required]="personalRequired" />
                      </nz-form-control>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                        <input type="text" nz-input formControlName="last_name" placeholder="{{ 'LAST_NAME' | translate }}" [required]="personalRequired" />
                      </nz-form-control>                      
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'BIRTHDATE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <nz-date-picker formControlName="birth_date" nzPlaceHolder="{{ 'BIRTHDATE' | translate }}"></nz-date-picker>
                      </nz-form-control>                      
                    </div>                    
                  </div>
                </div> 
   
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'SEX' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <nz-select nzShowSearch formControlName="sex">
                          <nz-option nzLabel="{{ 'MALE' | translate }}" nzValue="M"></nz-option>
                          <nz-option nzLabel="{{ 'FEMALE' | translate }}" nzValue="F"></nz-option>
                        </nz-select>
                      </nz-form-control>                      
                    </div>
                  </div>
                </div>                                                                        
              </div>                                

              <div class="row" *ngIf="!personalDetailShow">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'COMPANY' | translate }}*</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                        <input type="text" nz-input formControlName="company" placeholder="{{ 'COMPANY' | translate }}" [required]="companyRequired" />
                      </nz-form-control>              
                    </div>
                  </div>                  
                </div>  
              </div>
              
              <div class="row">      
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="identification" placeholder="{{ 'IDENTIFICATION' | translate }}" />
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div> 

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'POSTAL_CODE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="postal_code" placeholder="{{ 'POSTAL_CODE' | translate }}" />
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>
                        <input type="text" nz-input formControlName="direction" placeholder="{{ 'DIRECTION' | translate }}" />                    
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div>  
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="city" placeholder="{{ 'CITY' | translate }}" />
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div>                                             
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'COUNTRY' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="country" placeholder="{{ 'COUNTRY' | translate }}" />
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div>                  
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="phone" placeholder="{{ 'PHONE' | translate }}" />
                      </nz-form-control>                
                    </div>
                  </div>                  
                </div> 
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="fax" placeholder="{{ 'FAX' | translate }}" />
                      </nz-form-control>                      
                    </div>
                  </div>                  
                </div>                                 
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="mobile" placeholder="{{ 'MOBILE' | translate }}" />
                      </nz-form-control>                      
                    </div>
                  </div>                  
                </div>                  
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>                        
                        <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
                      </nz-form-control>                      
                    </div>
                  </div>                  
                </div>                                                                           
              </div>  
              
              <div class="row" *ngIf="!personalDetailShow">
                <div class="col-md-12 mb-2">
                  <div class="border-bottom my-2 py-3 text-center font-weight-bold">
                    {{ 'CONTACT_DETAILS' | translate }}
                  </div>
                </div>
                <!-- information of contact 1 start-->                
                <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                    {{ 'INFORMATION_OF_CONTACT' | translate }} 1
                  </div>
                </div>                
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="name1" placeholder="{{ 'NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="last_name1" placeholder="{{ 'LAST_NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>     
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="mobile1" placeholder="{{ 'MOBILE' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="email1" placeholder="{{ 'EMAIL' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <!-- information of contact 1 end-->   
                
                <!-- information of contact 2 start-->                
                <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                    {{ 'INFORMATION_OF_CONTACT' | translate }} 2
                  </div>
                </div>                
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="name2" placeholder="{{ 'NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="last_name2" placeholder="{{ 'LAST_NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>     
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="mobile2" placeholder="{{ 'MOBILE' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="email2" placeholder="{{ 'EMAIL' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <!-- information of contact 2 end-->

                <!-- information of contact 3 start-->                
                <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                    {{ 'INFORMATION_OF_CONTACT' | translate }} 3
                  </div>
                </div>                
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="name3" placeholder="{{ 'NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="last_name3" placeholder="{{ 'LAST_NAME' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>     
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="mobile3" placeholder="{{ 'MOBILE' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                      </div>
                    </div>
                    <div class="col-md-7">                      
                      <nz-form-control>    
                        <input type="text" nz-input formControlName="email3" placeholder="{{ 'EMAIL' | translate }}" />
                      </nz-form-control>                
                    </div>                    
                  </div>
                </div>
                <!-- information of contact 3 end-->
              </div>                 
              
            </nz-form-item>             

          </nz-card>

        </div>        
  
        <nz-form-item>
          <nz-form-control class="text-center">              
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="insertCustomer()" [disabled]="!customerAddform.valid" [nzLoading]="btnLoading">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </button>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
              <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
            </a>                  
          </nz-form-control>
        </nz-form-item>                                   

      </form>

    </div>
  </div>  

</div>