<form nz-form [formGroup]="purchasefilterform">

  <nz-form-item>

    <div class="row">
      <div class="col-md-4">
        <nz-form-label>{{ 'INVOICE_CODE' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="purchase_invoice_code" />                 
        </nz-form-control>         
      </div> 
      <div class="col-md-4">
        <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>

        <nz-form-control>
          <input type="hidden" nz-input formControlName="purchase_supplier_id"/>
          <nz-input-group nzSearch [nzAddOnAfter]="supplierSuffixButton">
            <input type="text" nz-input formControlName="purchase_supplier_name"/>
          </nz-input-group>
          <ng-template #supplierSuffixButton>
            <button nz-button nzType="primary" nzShape="round" nzSearch (click)="searchSupplierOpen()" class="px-2">
              ...
            </button>
          </ng-template>                                               
        </nz-form-control> 

      </div>
      <div class="col-md-4">
        <nz-form-label>{{ 'DATE' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="purchase_date" nzPlaceHolder=""></nz-date-picker>
        </nz-form-control>                
      </div>                                      
    </div>

    <div class="row">
      <div class="col-md-4">
        <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
        <nz-form-control>             
          <nz-select nzShowSearch formControlName="purchase_state">
            <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
            <nz-option nzLabel="{{ 'PAID' | translate }}" nzValue="1"></nz-option>
            <nz-option nzLabel="{{ 'UNPAID' | translate }}" nzValue="2"></nz-option>
            <nz-option nzLabel="{{ 'VOIDED' | translate }}" nzValue="3"></nz-option>
          </nz-select>          
        </nz-form-control>             
      </div> 
      <div class="col-md-4">
        <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>
        <nz-form-control>    
          <nz-select nzShowSearch formControlName="purchase_branch">
            <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
            <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
          </nz-select>   
        </nz-form-control>            
      </div>
      <div class="col-md-4">
        <nz-form-label>{{ 'USER' | translate }}</nz-form-label>    
        
        <nz-form-control>
          <input type="hidden" nz-input formControlName="purchase_user_id"/>
          <nz-input-group nzSearch [nzAddOnAfter]="userSuffixButton">
            <input type="text" nz-input formControlName="purchase_user_name"/>
          </nz-input-group>
          <ng-template #userSuffixButton>
            <button nz-button nzType="primary" nzShape="round" nzSearch (click)="searchUserOpen()" class="px-2">
              ...
            </button>
          </ng-template>                                               
        </nz-form-control>        
      </div>                                      
    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <button nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow m-r-5" (click)="searchPurchase()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </button>
      <a nz-button nzType="primary" nzShape="round" class="ctm-btn-gray" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- search supplier dialog start -->
<app-search-supplier-dialog
  [searchSupplierVisible]="searchSupplierVisible"
  (searchSupplierCls)="searchSupplierClose()"
  [supplierDatas]="supplierDatas"
  (supplierAddInputChild)="supplierAddInput($event)">
</app-search-supplier-dialog>
<!-- search supplier dialog end -->

<!-- search user dialog start -->
<app-search-user-dialog
  [searchUserVisible]="searchUserVisible"
  (searchUserCls)="searchUserClose()"
  [userDatas]="userDatas"
  (userAddInputChild)="userAddInput($event)">
</app-search-user-dialog>
<!-- search user dialog end -->