<form nz-form [formGroup]="filterForm" class="ctm-label-r">
   <nz-form-item>
      <div class="row m-0">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>
                     <nz-date-picker formControlName="date_from" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>
                     <nz-date-picker formControlName="date_to" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="state">
                        <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'PENDING' | translate }}" nzValue="1"></nz-option>
                        <nz-option nzLabel="{{ 'BILLED' | translate }}" nzValue="2"></nz-option>
                        <nz-option nzLabel="{{ 'VOIDED' | translate }}" nzValue="3"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="supplier">
                        <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                        <nz-option nzLabel="Supplier 1" nzValue="1"></nz-option>
                        <nz-option nzLabel="Supplier 2" nzValue="2"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="branch">
                        <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                        <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'INVOICE_CODE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>    
                     <input type="text" nz-input formControlName="invoice_code" />                 
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control>    
                     <input type="text" nz-input formControlName="code" />                 
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
   </nz-form-item>
   <div class="row card-footer">
      <div class="col-md-12 text-center my-1">
         <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="searchFilter()">
         <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
         </button>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
         <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
         </a>    
      </div>
   </div>
</form>