<form nz-form [formGroup]="filterForm" class="mt-3 ctm-label-r">
   <nz-card>
      <nz-form-item>
         <div class="row m-0">
            <div class="col-md-3">
               <nz-form-control>    
                  <input type="text" placeholder="{{ 'SEARCH_BY_CODE' | translate }}" nz-input formControlName="search_by_code" />                 
               </nz-form-control>
            </div>
            <div class="col-md-3">
               <nz-form-control>
                  <nz-select nzShowSearch formControlName="customers">
                     <nz-option nzLabel="--{{ 'ALL_CUSTOMERS' | translate }}--" nzValue="0"></nz-option>
                     <nz-option nzLabel="{{ 'CUSTOMERS' | translate }} 1" nzValue="1"></nz-option>
                     <nz-option nzLabel="{{ 'CUSTOMERS' | translate }} 2" nzValue="2"></nz-option>
                  </nz-select>
               </nz-form-control>
            </div>
            <div class="col-md-3">
               <nz-form-control>
                  <nz-select nzShowSearch formControlName="everyone">
                     <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                     <nz-option nzLabel="{{ 'OPEN' | translate }}" nzValue="1"></nz-option>
                     <nz-option nzLabel="{{ 'CLOSED' | translate }}" nzValue="2"></nz-option>
                     <nz-option nzLabel="{{ 'SENT' | translate }}" nzValue="3"></nz-option>
                     <nz-option nzLabel="{{ 'CANCELED' | translate }}" nzValue="4"></nz-option>
                  </nz-select>
               </nz-form-control>
            </div>
            <div class="col-md-3">
               <nz-form-control>
                  <nz-date-picker formControlName="date" nzPlaceHolder="dd-mm-yy"></nz-date-picker>
               </nz-form-control>
            </div>
         </div>
      </nz-form-item>
   </nz-card>
</form>