<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">
          <div class="pull-right">
            <app-backbutton></app-backbutton>
          </div>
          <h4 class="page-title">
            <i class="mdi mdi-file-document mr-1"></i> 
            <span *ngIf="pageType == 'new'">{{ 'CREATE_REFERENCE_GUIDES' | translate }}</span>
            <span *ngIf="pageType == 'edit'">{{ 'EDIT_REFERENCE_GUIDES' | translate }}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row my-1" *ngIf="referenceGuidesDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>
	
  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>
	
  <div class="row my-1" *ngIf="reasonDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>	

  <div class="row my-1" *ngIf="senderDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>	
	
  <div class="row my-1" *ngIf="employeeDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>		

  <div class="row my-1" *ngIf="saleDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>
	
  <form *ngIf="referenceGuidesDataVisible" nz-form [formGroup]="referenceGuidesForm">
		<nz-form-item>
			<div class="row m-0 mt-4 mb-2">
				<div class="col-md-12 mb-3">
					<nz-card>
						<!-- general info form start -->          
						<h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
							<b>{{ 'REFERENCE_GUIDE_DATA' | translate }}</b>
						</h6>
						<nz-form-item>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'START_DATE' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control>
												<nz-date-picker formControlName="start_date" nzPlaceHolder="" nzAllowClear="false" required ></nz-date-picker>
											</nz-form-control>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'FINISH_DATE' | translate }}*</nz-form-label>
											<ng-template #productNameToolTmp>{{ 'IT_APPEARS_ON_INVOICE' | translate }}</ng-template>
										</div>
										<div class="col-md-8">
											<nz-form-control>
												<nz-date-picker formControlName="finish_date" nzPlaceHolder="" nzAllowClear="false" required ></nz-date-picker>
											</nz-form-control>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- Name of the employee who receive the product -->
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'RECEIVER' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<nz-select formControlName="address" nzShowSearch required >
													<nz-option *ngFor="let employee of employeeDatas" [nzValue]="employee.employee_id" [nzLabel]="employee.employee_full_name"></nz-option>
												</nz-select>												
											</nz-form-control>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'RTN_TDI' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<input type="text" nz-input formControlName="RTN_TDI" required />
											</nz-form-control>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- Origin branch auto selected -->
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'ORIGIN' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<nz-select formControlName="origin" nzShowSearch required >
													<nz-option *ngFor="let branch of branchDatas" [nzValue]="branch.branch_id" [nzLabel]="branch.branch_name"></nz-option>
												</nz-select>													
												<!-- <input type="text" nz-input formControlName="origin" required /> -->
											</nz-form-control>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'DESTINATION' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<nz-select formControlName="destination" nzShowSearch required >
													<nz-option *ngFor="let branch of branchDatas" [nzValue]="branch.branch_id" [nzLabel]="branch.branch_name"></nz-option>
												</nz-select>													
												<!-- <input type="text" nz-input formControlName="destination" required /> -->
											</nz-form-control>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'DENOMINATION' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<input type="text" nz-input formControlName="denomination" required />
											</nz-form-control>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'EMITED_BY' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
												<input type="text" nz-input formControlName="emited_by" required />
											</nz-form-control>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'SENDER' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-10">
													<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
														<nz-select formControlName="sender_company_id" required >
															<nz-option *ngFor="let sender of senderDatas" [nzValue]="sender.sender_id" [nzLabel]="sender.company_name"></nz-option>
														</nz-select>
													</nz-form-control>
												</div>
												<div class="col-md-2">
													<a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openSenderDialog()">
													<i class="mdi mdi-plus"></i>            
													</a>                      
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row mt-1">
										<div class="col-md-4">
											<nz-form-label>{{ 'PRODUCTS' | translate }}</nz-form-label>
										</div>
										<div class="col-md-8">
											<a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchProductOpen()">
											<i class="mdi mdi-plus"></i> {{ 'ADD_PRODUCTS' | translate }}            
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<nz-form-label>{{ 'REASON' | translate }}*</nz-form-label>
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-10">
													<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
														<nz-select formControlName="reason_id" required >
															<nz-option *ngFor="let reason of reasonDatas" [nzValue]="reason.reason_id" [nzLabel]="reason.reason"></nz-option>
														</nz-select>
													</nz-form-control>
												</div>
												<div class="col-md-2">
													<a nz-button nzType="primary" nzShape="round" class="px-2 mt-1 color-white" (click)="openReasonDialog()">
													<i class="mdi mdi-plus"></i>            
													</a>                      
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</nz-form-item>
					</nz-card>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12">
					<nz-card>
						<nz-table [nzData]="productDatas" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
						<ng-template #invoiceProductNoDataTmp></ng-template>
						<thead>
							<tr>
								<th>#</th>
								<th>{{ 'CODE' | translate }}</th>
								<th>{{ 'DESCRIPTION' | translate }}</th>
								<th>{{ 'QUANTITY' | translate }}</th>
								<th>{{ 'PRICE' | translate }}</th>
								<th>{{ 'TAX' | translate }}</th>
								<th>{{ 'TOTAL' | translate }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of productDatas; let i = index">
								<td>{{ i+1 }}</td>
								<td>{{ data.product_code }}</td>
								<td>{{ data.description }}</td>
								<td>{{ data.product_quantity }}</td>
								<td>L. {{ data.product_price | number:'.2-2' }}</td>
								<td>{{ data.product_tax }}%</td>
								<td>L. {{ data.product_total_price | number:'.2-2' }}</td>
								<td>
									<a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="invoiceProductRemove(i)">
									<i class="mdi mdi-delete-forever"></i>            
									</a>         
								</td>
							</tr>
						</tbody>
						</nz-table>
						<div class="row mt-3">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="pull-right" style="color:#000;">
											<strong>
											{{ 'TOTAL' | translate }}: 
											<span>L. {{ referenceGuidesForm.get('total_amount').value | number:'.2-2' }}</span>
											</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nz-card>
					<div class="pt-4">
						<nz-card>
							<h6 class="card-title ctm-border-bottom mt-0 text-center text-primary">
								<b>{{ 'DATA_OF_THE_TRANSPORT_AND_DRIVER_UNIT' | translate }}</b>
							</h6>
							<nz-form-item>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'DRIVER_FIRSTNAME' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
													<input type="text" nz-input formControlName="driver_first_name" required />
												</nz-form-control>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'DRIVER_LASTNAME' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
													<input type="text" nz-input formControlName="driver_last_name" required />
												</nz-form-control>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'VEHICAL_BRAND' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
													<input type="text" nz-input formControlName="vehical_brand" required />
												</nz-form-control>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'MODEL' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
													<input type="text" nz-input formControlName="model" required />
												</nz-form-control>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'LICENSE_PLATE' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
													<input type="text" nz-input formControlName="license_plate" required />
												</nz-form-control>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'DRIVERS_LICENSE' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
													<input type="text" nz-input formControlName="driver_license" required />
												</nz-form-control>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5">
												<nz-form-label>{{ 'RTN_TDI' | translate }}*</nz-form-label>
											</div>
											<div class="col-md-7">
												<nz-form-control>    
													<input type="text" nz-input formControlName="transport_RTN_TDI" required />
												</nz-form-control>
											</div>
										</div>
									</div>
								</div>
							</nz-form-item>
						</nz-card>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12">
					<div class="card-footer text-center">            
						<button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveReferenceGuides()" [disabled]="!referenceGuidesForm.valid || productDatas.length == 0" [nzLoading]="saveBtnLoading">
						<i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
						</button>          
					</div>
				</div>
			</div>
		</nz-form-item>
  </form>
</div>

<!-- search product dialog start -->
<app-search-product-dialog
*ngIf="!saleDataLoader"
[searchProductVisible]="searchProductVisible"
(searchProductCls)="searchProductClose()"
[saleDatas]="saleDatas"
(productAddInputChild)="productAddInput($event)">
</app-search-product-dialog>
<!-- search product dialog end -->

<!-- sender add form start -->
<nz-modal *ngIf="senderDialogVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="senderDialogVisible" [nzTitle]="senderDTitleTmpl" (nzOnCancel)="closeSenderDialog()" [nzFooter]="senderDFooterTmpl">
	<ng-template #senderDTitleTmpl>{{ 'NEW_SENDER' | translate }}</ng-template>
	<form nz-form [formGroup]="senderForm">
		<nz-form-item class="mb-0">
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'COMPANY_NAME' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="text" nz-input formControlName="company_name" required/>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'RTN_TDI' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="text" nz-input formControlName="RTN_TDI" required/>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
						<textarea nz-input formControlName="address" required></textarea>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'EMAIL' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="email" nz-input formControlName="email" required/>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'TELEPHONE' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="text" nz-input formControlName="telephone" required/>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control>    
						<input type="text" nz-input formControlName="CAI" />
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'EXPIRES' | translate }}</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
						<nz-date-picker formControlName="expires" nzPlaceHolder="" nzAllowClear="false" nzFormat="yyyy-MM-dd"></nz-date-picker>
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'SITE_URL' | translate }}</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control>    
						<input type="text" nz-input formControlName="site_url" />
					</nz-form-control>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<nz-form-label>{{ 'IMAGE' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-8">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="file" class="h-auto" nz-input formControlName="image" (change)="handleFileSelect($event)" accept="image/x-png,image/jpeg,image/jpg" required/>
					</nz-form-control>
				</div>
			</div>
		</nz-form-item>
		<ng-template #senderDFooterTmpl>
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right">
						<a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeSenderDialog()">
						<i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
						</a>        
						<button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertSender()" [disabled]="!senderForm.valid" [nzLoading]="btnLoadingAddSender">
						<i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
						</button>
					</div>
				</div>
			</div>
		</ng-template>
	</form>
</nz-modal>
<!-- sender add form end -->

<!-- Reason add form start -->
<nz-modal *ngIf="reasonDialogVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="reasonDialogVisible" [nzTitle]="reasonDTitleTmpl" (nzOnCancel)="closeReasonDialog()" [nzFooter]="reasonDFooterTmpl">
	<ng-template #reasonDTitleTmpl>{{ 'NEW_REASON' | translate }}</ng-template>
	<form nz-form [formGroup]="addReasonForm">
		<nz-form-item class="mb-0">
			<div class="row">
				<div class="col-md-3">
					<nz-form-label>{{ 'REASON' | translate }}*</nz-form-label>
				</div>
				<div class="col-md-7">
					<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
						<input type="text" nz-input formControlName="reason" required/>
					</nz-form-control>
				</div>
			</div>
		</nz-form-item>
		<ng-template #reasonDFooterTmpl>
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right">
						<a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeReasonDialog()">
						<i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
						</a>
						<button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertReason()" [disabled]="!addReasonForm.valid" [nzLoading]="btnLoadingAddReason">
						<i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
						</button>
					</div>
				</div>
			</div>
		</ng-template>
	</form>
</nz-modal>
<!-- reason add form end -->