<div class="row mb-4">
   <div class="offset-md-8 col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
            </nz-input-group>
            <ng-template #keyupsearchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #expandTable [nzData]="listOfMapData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
   </tr>
</thead>
<tbody>
   <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
         <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td>{{ item.code }}</td>
            <td
            [nzIndentSize]="item.level * 10"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
            >
            {{ item.account }}
            </td>
            <td>
               <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="editCategoriesOpen()">
               <i class="mdi mdi-pencil"></i>            
               </a>
               <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="addCategoriesOpen()">
               <i class="mdi mdi-plus"></i>            
               </a>    
            </td>
         </tr>
      </ng-container>
   </ng-container>
</tbody>
</nz-table>
<!-- edit categories modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [nzTitle]="CategoriesEditFormTitleTmpl" [(nzVisible)]="editCategoriesVisible" (nzOnCancel)="editCategoriesClose()" [nzFooter]="editCategoriesFooterTmpl">
   <ng-template #CategoriesEditFormTitleTmpl>{{ 'NEW_CATEGORIES' | translate }}</ng-template>
<form nz-form [formGroup]="editCategoriesForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="categories_code" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="categories_name" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <textarea rows="2" nz-input formControlName="categories_description"></textarea>    
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #editCategoriesFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editCategoriesSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- edit categories modal end -->
<!-- add categories modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [nzTitle]="CategoriesAddFormTitleTmpl" [(nzVisible)]="addCategoriesVisible" (nzOnCancel)="addCategoriesClose()" [nzFooter]="addCategoriesFooterTmpl">
<ng-template #CategoriesAddFormTitleTmpl>{{ 'NEW_CATEGORIES' | translate }}</ng-template>
<form nz-form [formGroup]="addCategoriesForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="categories_code" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="categories_name" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <textarea rows="2" nz-input formControlName="categories_description"></textarea>    
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #addCategoriesFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="addCategoriesSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- add categories modal end -->