<nz-table [nzData]="generatePaymentData" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="purchaseProductNoDataTmp">
<ng-template #purchaseProductNoDataTmp></ng-template>
<thead>
   <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th>
         <app-currency-sign></app-currency-sign>
         {{ 'PREVIOUS_BALANCE' | translate }}
      </th>
      <th>
         <app-currency-sign></app-currency-sign>
         {{ 'AMOUNT' | translate }}
      </th>
      <th>
         <app-currency-sign></app-currency-sign>
         {{ 'NEW_BALANCE' | translate }}
      </th>
      <th><i class="mdi mdi-settings"></i> {{ 'ACTIONS' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of generatePaymentData; let i = index">
      <td>{{ data.payment_code }}</td>
      <td>{{ data.payment_date | date: 'dd/MMM/yyyy' }}</td>
      <td>L. {{ data.payment_previous_balance | number:'.2-2' }}</td>
      <td>L. {{ data.payment_amount | number:'.2-2' }}</td>
      <td>L. {{ data.payment_new_balance | number:'.2-2' }}</td>
      <td>
         <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1" (click)="generatePayEditOpen()">
         <i class="mdi mdi-pencil-box-outline"></i> 
         </a> 
         <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1" (click)="generatePayMailOpen()">
         <i class="mdi mdi-email-outline"></i>            
         </a>                                         
         <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1" (click)="generatePayViewOpen()">
         <i class="mdi mdi-eye"></i>            
         </a>                     
         <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow px-2 mr-1 mb-1" *ngIf="data.g_p_receipt_status == '1'" nz-tooltip [nzTooltipTitle]="active">
         <i class="mdi mdi-layers" ></i>
         </a> 
         <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirm2Open()">
         <i class="mdi mdi-delete-forever"></i>            
         </a>      
         <ng-template #active>{{ 'ACTIVATE' | translate }}</ng-template>
         <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow3 px-2 mr-1 mb-1" *ngIf="data.g_p_receipt_status == '0'" nz-tooltip [nzTooltipTitle]="deactive">
         <ng-template #deactive>{{ 'DEACTIVATE' | translate }}</ng-template>
         <i class="mdi mdi-layers-off"></i> 
         </a>          
      </td>
   </tr>
</tbody>
</nz-table>          
<!-- generate payment edit form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="generatePayEditVisible" [nzTitle]="generatePayEditTitleTmpl" (nzOnCancel)="generatePayEditClose()" [nzFooter]="generatePayEditFooterTmpl">
<ng-template #generatePayEditTitleTmpl>{{ 'EDIT_RECEIPT' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'ENTER_THE_RECEIPT_INFORMATION' | translate }}</p>
</div>
<form nz-form [formGroup]="generatePayEditForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'DATE_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-date-picker formControlName="receipt_date_of_payment" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
            </nz-form-control>
         </div>
      </div>
      <div class="row my-2">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PREVIOUS_BALANCE' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>436</span>    
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PAYMENT_RECEIVED' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="receipt_payment_received" />      
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_bank_account">
                  <nz-option nzLabel="Bank 1" nzValue="1"></nz-option>
                  <nz-option nzLabel="Bank 2" nzValue="2"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'AMOUNT_IN_LETTERS' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="amount_in_letters" />      
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'METHOD_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_method_of_payment">
                  <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                  <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                  <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                  <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'NOTES' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea nz-input formControlName="receipt_notes"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #generatePayEditFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="generatePayEditSave()">
         <i class="mdi mdi-email"></i> {{ 'SEND' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- generate payment edit form end -->
<!-- generate payment send mail form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="generatePayMailVisible" [nzTitle]="generatePayMailTitleTmpl" (nzOnCancel)="generatePayMailClose()" [nzFooter]="generatePayMailFooterTmpl">
<ng-template #generatePayMailTitleTmpl>{{ 'SEND_RECEIPT_BY_MAIL' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'ENTER_TO_WHICH_EMAILS_THE_RECEIPT_WILL_BE_SENT' | translate }}</p>
</div>
<form nz-form [formGroup]="generatePayMailForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'Correo' | translate }} 1</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="send_receipt_email1" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'Correo' | translate }} 2</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="send_receipt_email2" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'Correo' | translate }} 3</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="send_receipt_email3" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #generatePayMailFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="generatePayMailSave()">
         <i class="mdi mdi-email"></i> {{ 'SEND' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- generate payment send mail form end -->
<!-- delete confirm 2 start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirm2Visible" [nzTitle]="deleteConfirm2Tmpl" (nzOnCancel)="deleteConfirm2Close()" [nzFooter]="deleteConfirm2FooterTmpl">
<ng-template #deleteConfirm2Tmpl>{{ 'DELETE_GENERATED_PAYMENT' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_GENERATED_PAYMENT_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirm2FooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirm2Close()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirm2Close()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->
<!-- generate payment view receipt form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="generatePayViewVisible" [nzTitle]="generatePayViewTitleTmpl" (nzOnCancel)="generatePayViewClose()" [nzFooter]="generatePayViewFooterTmpl" nzWidth="1100">
<ng-template #generatePayViewTitleTmpl>{{ 'SEE_RECEIPT' | translate }}</ng-template>
<div style="background-color: #1777B4;width: 100%;height: 20px;"></div>
  <div id="recibo" class="" style="margin: 0px auto !important; width: 95%;">
    <div class="print-recibo-header">
      <img src="assets/images/invoice-logo.png" style="width: 66px; margin-top: 10px;">
  
      <div class="recibo-empresa-nombre">
        <b>INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</b>
      </div>
      <div class="recibo-numero">
        {{ 'RECEIPT_NO' | translate }} <b><label id="recibo-fill-reciboNumero">000-001-01-00000114</label></b>
      </div>
      <div class="recibo-emitidopor">
        {{ 'ISSUED_BY' | translate }}: <label id="recibo-fill-emitidoPor">Manuel  Santos</label>
      </div>
    </div> 
    
    <div style="margin-bottom: 10px; background-color: #1777B4; width: 100%; height: 4px;"></div>

    <table style="width: 100%;" cellpadding="5">
      <tbody>
        <tr>
          <td colspan="2" style="width: 70%; border-bottom: 1px solid #bebebe;">
            {{ 'RECEIVED_FROM' | translate }}: <label id="recibo-fill-proveedor">Confecciones y Variedades Kawas</label>
          </td>

          <td colspan="2" style="border-bottom: 1px solid #bebebe;">
            {{ 'DATE' | translate }}: <label id="recibo-fill-fecha">27 Diciembre, 2019 - 12:00:00 AM</label>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="width: 70%; border-bottom: 1px solid #bebebe;">
            {{ 'PAYMENT_METHOD' | translate }}: <label id="recibo-fill-metodopago">{{ 'CHECK' | translate }}</label>
          </td>
        </tr>

        <tr>
          <td colspan="4" style="border-bottom: 1px solid #bebebe;">
            {{ 'THE_AMOUNT_OF' | translate }}: <label id="recibo-fill-montoLetras">five</label>
          </td>
        </tr>

        <tr>
          <td colspan="4" style="border-bottom: 1px solid #bebebe;">
            {{ 'BY_CONCEPT_OF' | translate }}: 
            <label id="recibo-fill-concepto">
              {{ 'PAYMENT_TO_INVOICE_NO' | translate }} 000-001-01-0000351
            </label>
          </td>
        </tr>

        <tr>
          <td colspan="2" rowspan="5" style="vertical-align: center; border: 1px solid #bebebe;">
            <div style="text-align: center;">
               <p>{{ 'THIS_RECEIPT_IS_VALID_WITH_SIGNATURE_AND_SEAL' | translate }}</p>
              <img src="assets/images/dummy-logo-text.png" style="margin: 0px auto; width: 200px; height: auto;">
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="border: 1px solid #bebebe;">
            <div style="text-align: center;">{{ 'SUMMARY' | translate }}</div>
          </td>
        </tr>

        <tr>
          <td style="width: 130px; border: 1px solid #bebebe;">
            <b>{{ 'PREVIOUS_BALANCE' | translate }}:</b>
          </td>
          <td style="border: 1px solid #bebebe;">
            L. <label id="recibo-fill-saldoAnterior">4,4850.00</label>
          </td>
        </tr>

        <tr>
          <td style="border: 1px solid #bebebe;">
            <b>{{ 'PAY_TODAY' | translate }}</b>
          </td>
          <td style="border: 1px solid #bebebe;">
            L. <label id="recibo-fill-montoNumeros">4,4850.00</label>
          </td>
        </tr>

        <tr>
          <td style="border: 1px solid #bebebe;">
            <b>{{ 'ENDING_BALANCE' | translate }}</b>
          </td>
          <td style="border: 1px solid #bebebe;">
            L. <label id="recibo-fill-saldoNuevo">0.00</label>
          </td>
        </tr>
      </tbody>
    </table>    

    <div style="margin-top: 10px;"><p>{{ 'NOTES' | translate }}</p></div>

    <div style="margin-top: 5px; border: 1px solid #bebebe; height: 80px; padding: 5px;">  <p>{{ 'BILL_PAYMENT_NO' | translate }}:  000-001-01-0000351</p>    
    </div>

    <div style="margin-top: 10px; width: 100%; height: 7px; background-color: #1777B4;"></div>
    <div style="margin-top: 0px; width: 100%; height: 34px; background-color: #333333;"></div>

  </div>  
<ng-template #generatePayViewFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="generatePayViewPrint()">
         <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- generate payment view receipt form end -->