<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <i class="mdi mdi-view-dashboard"></i> {{ 'START' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="container-fluid" [hidden]="isShowshortcut">
   <div class="col-md-12">
      <div class="content-area">
         <div id="achievements-banner">
            <div class="achievements-text">
               {{ 'FIRST_STEPS_TO_MAKE_YOUR_COMPANY_MORE_EFFICIENT' | translate }}:
            </div>
            <div class="triangle"></div>
            <div class="achievements">
               <div class="employees achievements-background-position">
                  <div class="title">1. {{ 'EMPLOYEES' | translate }}:</div>
                  <a class="text" href="/user/employees/list" target="_blank">{{ 'MANAGE_YOUR_EMPLOYEES' | translate }}</a>
               </div>
               <div class="create-contact  achievements-background-position">
                  <div class="title">3. {{ 'CONTACTS' | translate }}:</div>
                  <a class="text" href="user/customers/new" target="_blank">{{ 'CREATE_YOUR_FIRST_CONTACT' | translate }}</a>
               </div>
               <div class="create-first-invoice achievements-background-position">
                  <div class="title">5. {{ 'NEW_INVOICE' | translate }}:</div>
                  <a class="text" href="user/income/invoice/new" target="_blank">{{ 'CREATE_YOUR_FIRST_INVOICE' | translate }}</a>
               </div>
               <div class="create-account achievements-background-position">
                  <div class="title">7. {{ 'BANKS' | translate }}:</div>
                  <a class="text" href="/user/banks/bank-account" target="_blank">{{ 'MANAGE_YOUR_BANKS_IN_THE_SYSTEM' | translate }}</a>
               </div>
               <div class="credit-notes achievements-background-position">
                  <div class="title">9. {{ 'CREDIT_NOTES' | translate }}:</div>
                  <a class="text" href="/user/income/credit-notes/list" target="_blank">{{ 'MANAGE_YOUR_CREDIT_NOTES' | translate }}</a>
               </div>
               <div class="suppliers achievements-background-position">
                  <div class="title">2. {{ 'SUPPLIERS' | translate }}:</div>
                  <a class="text" href="user/suppliers/new" target="_blank">{{ 'ENTER_YOUR_SUPPLIERS_INFORMATION' | translate }}</a>
               </div>
               <div class="create-first-item achievements-background-position">
                  <div class="title">4. {{ 'NEW_ITEM' | translate }}:</div>
                  <a class="text" href="user/products/items/new" target="_blank">{{ 'CREATE_YOUR_FIRST_ITEM_PRODUCT' | translate }}</a>
               </div>
               <div class="create-accounting achievements-background-position">
                  <div class="title">6. {{ 'ACCOUNTING' | translate }}:</div>
                  <a class="text" href="user/accounting/account-catalog/list" target="_blank">{{ 'MANAGE_YOUR_ACCOUNTING' | translate }}</a>
               </div>
               <div class="debit-notes achievements-background-position">
                  <div class="title">8. {{ 'DEBIT_NOTES' | translate }}:</div>
                  <a class="text" href="/user/accounting/debit-notes/list" target="_blank">{{ 'MANAGE_YOUR_DEBIT_NOTES' | translate }}:</a>
               </div>
               <div class="reports achievements-background-position">
                  <div class="title">10. {{ 'REPORTS' | translate }}:</div>
                  <a class="text" href="user/reports" target="_blank">{{ 'SEE_ALL_REPORTS' | translate }}</a>
               </div>
            </div>
            <div class="buttons">
               <div (click)="deleteConfirmOpen()" class="achievement-close-button" id="ext-gen1094"></div>
               <a id="support-link3" class="support" (click)="openSupportDialog()">{{ 'SUPPORT' | translate }}</a>
               <a href="#" class="help" target="_blank">{{ 'HELP' | translate }}</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-7 mb-5">
         <div class="card p-2">
            <highcharts-chart 
            [Highcharts]="dataChart"
            [options]="dataChartOptions" 
            class="ctm-highchart">
            </highcharts-chart> 
         </div>
      </div>
      <div class="col-md-5 mb-5">
         <div class="card p-2">
            <highcharts-chart 
            [Highcharts]="pieChart" 
            [options]="pieChartOptions"
            class="ctm-highchart">
            </highcharts-chart>
         </div>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-7 mb-5">
         <div class="card p-2">
            <highcharts-chart 
            [Highcharts]="lineChart"
            [options]="lineChartOptions"
            class="ctm-highchart">
            </highcharts-chart> 
         </div>
      </div>
      <div class="col-md-5 mb-5">
         <div class="card p-2">
            <highcharts-chart 
            [Highcharts]="salesPieChart" 
            [options]="salesPieChartOptions"
            class="ctm-highchart">
            </highcharts-chart>
         </div>
      </div>
   </div>
</div>
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center"> 
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="ConfirmClose()">
         {{ 'TO_CLOSE' | translate }}            
         </a> 
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mx-3" (click)="deleteConfirmClose()">
         {{ 'CLOSE_AND_DO_NOT_SHOW_AGAIN' | translate }}            
         </a>       
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->
<!-- support form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="supportDialogVisible" [nzTitle]="supportDTitleTmpl" (nzOnCancel)="closeSupportDialog()" [nzFooter]="supportDFooterTmpl">
<ng-template #supportDTitleTmpl><span class="title-heading">{{ 'HOW_CAN_WE_HELP_YOU' | translate }}</span></ng-template>
<form nz-form [formGroup]="supportForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-12">
            <nz-form-label>{{ 'QUESTION' | translate }}*</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="question" />
            </nz-form-control>
         </div>
         <div class="col-md-12">
            <nz-form-label>{{ 'DETAILS' | translate }}*</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <textarea nz-input formControlName="details"></textarea>
            </nz-form-control>
         </div>
         <div class="col-md-12">
            <nz-form-label>{{ 'YOUR_NAME' | translate }}*</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="your_name" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #supportDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">       
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveSupport()">
               {{ 'SEND' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- support form end -->