.content-area {
    overflow: auto;
    padding: 2rem 0 2rem 0;
}
#achievements-banner {
    display:inline-block;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
    min-height: 102px;
    position: relative;
}
#achievements-banner .achievements-text {
    height:96px;
    text-align: right;
    background-color: #00A82D;
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 33px 12px 15px 16px;
    width: 200px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#achievements-banner .triangle {
    background-color: #00A82D;
    height: 13px;
    left: 193px;
    position: absolute;
    top: 44px;
    transform: rotate(45deg);
    width: 13px;
    -webkit-transform: rotate(45deg);
}
#achievements-banner .achievements {
    color: #cecece;
    float: left;
    width: 675px;
    background: #FFF;
}
#achievements-banner .achievements>div {
    text-align: center;
    float: left;
    height: 48px;
    width: 135px;
}
.achievements-background-position:hover {
    transition: all ease .2s;
}
.reports {
    background-image: url("src/assets/images/billing-banner.png");
}
.achievements-background-position {
    background-repeat: no-repeat;
    background-position: 55px 7px;
}
#achievements-banner div.reports:hover .title, #achievements-banner div.create-contact:hover .title, #achievements-banner div.create-first-invoice:hover .title, #achievements-banner div.create-accounting:hover .title, #achievements-banner div.suppliers:hover .title, #achievements-banner div.create-first-item:hover .title, #achievements-banner div.credit-notes:hover .title, #achievements-banner div.debit-notes:hover .title, #achievements-banner div.employees:hover .title, #achievements-banner div.create-account:hover .title {
    display: none;
    height: 48px;
}
#achievements-banner div.debit-notes:hover .text, #achievements-banner div.create-contact:hover .text, #achievements-banner div.create-first-invoice:hover .text, #achievements-banner div.create-accounting:hover .text, #achievements-banner div.create-account:hover .text, #achievements-banner div.create-first-item:hover .text, #achievements-banner div.employees:hover .text, #achievements-banner div.reports:hover .text, #achievements-banner div.credit-notes:hover .text, #achievements-banner div.suppliers:hover .text {
    display: block;
    height: 48px;
    font-size:12px;
    color:#fff;
}
#achievements-banner .title {
    padding: 30px 0 5px;
    font-size:12px;
}

#achievements-banner .text {
    color: #fff;
    text-decoration: none;
    background: #14CC45;
    padding: 9px 5px;
    height: 48px;
    transition: all ease .2s;
    display: none;
}
.achievement-completed {
    background-color: #e4e4e4 !important;
}
.create-contact {
    background-image: url(src/assets/images/contact-banner.png);
}

.create-first-invoice {
    background-image: url(src/assets/images/new-invoice-banner.png);
}
.create-account {
    background-image: url(src/assets/images/banks-banner.png);
    background-position: 65px 12px;
}
.create-accounting {
    background-image: url(src/assets/images/invoice-banner.png);
}
.suppliers {
    background-image: url(src/assets/images/supplier-banner.png);
    background-position: 65px 10px;
}
.create-first-item {
    background-image: url(src/assets/images/item-banner.png);
    background-position: 65px 12px;
}
.credit-notes {
    background-image: url(src/assets/images/notes-banner.png);
}
.debit-notes {
    background-image: url(src/assets/images/notes-banner.png);
}
.employees {
    background-image: url(src/assets/images/company-banner.png);
}
#achievements-banner .buttons {
    float: left;
    width: 74px;
}
#achievements-banner .achievement-close-button {
    background: url(src/assets/images/close-banner.png) no-repeat 0 0;
    cursor: pointer;
    height: 17px;
    position: absolute;
    width: 16px;
    right: -3px;
    top: -6px;
}
#achievements-banner .buttons a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    clear: both;
    display: block;
    height: 48px;
    padding-top: 17px;
    width: 100%;
}
#achievements-banner .support {
    background-color: #00A82D;
}
#achievements-banner .help {
    background-color: #14CC45;
}
.title-heading{
	margin: 0 auto;
    display: table;
    font-size: 23px;
    color: #00A82D;
    font-weight: 400;
}
@media only screen and (max-width: 1296px) {
  .content-area {
   display:flex;
    overflow-y: scroll;
    padding: 2rem 0 2rem 0;
}
#achievements-banner {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
    min-height: 92px;
    position: relative;
    display:flex;
}
#achievements-banner .achievement-close-button {
    right: -3px;
}
}
