<!-- <div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div> -->

<nz-table #basicTable [nzData]="itemDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'CATEGORY' | translate }}</th>
      <th>{{ 'PRICE' | translate }}</th>
      <th>{{ 'STOCKS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.item_code }}</td>
      <td>
        <a (click)="generalInfoOpen()" class="text-primary font-weight-normal">
          {{ data.item_name }}
        </a>
      </td>
      <td>{{ data.category_name }}</td>
      <td>L. {{ data.item_price | number:'.2-2' }}</td>
      <td>{{ data.item_stocks }}</td>
    </tr>
  </tbody>
</nz-table>

<!-- general info dialog start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="generalInfoVisible" [nzTitle]="generalInfoTitleTmpl" (nzOnCancel)="generalInfoClose()" [nzFooter]="null" nzWidth="1100">

  <ng-template #generalInfoTitleTmpl>{{ 'GENERAL_INFORMATION' | translate }}</ng-template> 
  
  <fieldset class="p-2 border">

    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3">
            <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
          </div>
          <div class="col-md-9">
            <nz-form-control>    
              <nz-date-picker [(ngModel)]="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>          
        </div>
      </div>

      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3">
            <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
          </div>
          <div class="col-md-9">
            <nz-form-control>    
              <nz-date-picker [(ngModel)]="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>          
        </div>
      </div>
      
      <div class="col-md-2">
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow m-r-5 px-2" (click)="generalInfoFilter()">
          {{ 'FILTER' | translate }}            
        </a>
      </div>
    </div>

  </fieldset>

  <fieldset class="p-2">
    <div class="table-responsive">
      <table class="col-md-12">
        <tbody id="tblInfoProductoBody">
            <tr>
            <td class="text-primary">{{ 'CODE' | translate }}</td>
            <td>C014</td>

            <td class="text-primary">{{ 'CATEGORY' | translate }}</td>
            <td>General</td>

            <td class="text-primary">{{ 'UNIT_COST' | translate }}</td>
            <td>L. 0.00</td>

            <td class="text-primary">{{ 'TYPE_OF_COST' | translate }}</td>
            <td>Costo Promedio</td>

            <td class="text-primary">{{ 'CURRENT_EXISTENCE' | translate }}</td>
            <td>0.00</td>
          </tr>

          <tr>
            <td class="text-primary">{{ 'FIRST_NAME' | translate }}</td>
            <td>Gatorade de sab...</td>

            <td class="text-primary">{{ 'SUPPLIER' | translate }}</td>
            <td title="Comercial el Tigre">Comercial el Ti...</td>

            <td class="text-primary">{{ 'SALE_PRICE' | translate }}</td>
            <td>L. 20.00</td>

            <td class="text-primary">{{ 'MINIMUM_EXISTENCE' | translate }}</td>
            <td>0</td>

            <td class="text-primary">{{ 'COST_INV' | translate }}</td>
            <td>L. 0.00</td>
          </tr>

          <tr>
            <td class="text-primary">{{ 'DESCRIPTION' | translate }}</td>
            <td title="Gatorade de sabores">Gatorade de sab...</td>

            <td class="text-primary">{{ 'CURRENCY' | translate }}</td>
            <td>Lempiras</td>

            <td class="text-primary">{{ 'DISCOUNT' | translate }}</td>
            <td>0 %</td>

            <td class="text-primary">{{ 'TYPE' | translate }}</td>
            <td>Producto</td>

            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>    
  </fieldset>

  <div class="table-responsive border" style="max-height: 400px">
    <table class="table table-hover" style="font-size:11px;">
      <thead>
        <tr style="font-weight: bold">
          <td>{{ 'DATE' | translate }}</td>
          <td>{{ 'EXIST_ANT' | translate }}</td>
          <td>{{ 'TRANSACTION' | translate }}</td>
          <td>{{ 'QTY' | translate }}</td>
          <td># {{ 'FAC' | translate }}</td>
          <td>{{ 'COST_U' | translate }}</td>
          <td>{{ 'SUPPLIER' | translate }}</td>
          <td>{{ 'USER' | translate }}</td>
          <td>{{ 'CELLAR' | translate }}</td>
          <td>{{ 'DOCUMENT' | translate }}</td>
          <td>{{ 'OBSERVATIONS' | translate }}</td>
        </tr>
      </thead>

      <tbody id="bitacoraDeProducto">
        <tr>
          <td style="width:100px;">19-Dic-2019</td>
          <td style="width:100px;">0</td>
          <td style="width:140px;">producto</td>
          <td style="width:70px;">100.00</td>
          <td style="width:70px;"></td>
          <td style="width:70px;">0.00</td>
          <td style="width:120px;">Comercial el...</td>
          <td style="width:100px;">test@com</td>
          <td style="width:100px;">Bodega Principal</td>
          <td style="width:100px;"></td>
          <td style="width:140px;"></td>
        </tr>
        <tr>
          <td style="width:100px;">19-Dic-2019</td>
          <td style="width:100px;">200</td>
          <td style="width:140px;">Venta</td>
          <td style="width:70px;">-100.00</td>
          <td style="width:70px;"></td>
          <td style="width:70px;">0.00</td>
          <td style="width:120px;">Comercial el...</td>
          <td style="width:100px;">test@com</td>
          <td style="width:100px;">Bodega Principal</td>
          <td style="width:100px;">
            <a>000-001-01-01122</a>
          </td>
          <td style="width:140px;"></td>
        </tr>                                                                
      </tbody>
    </table>
  </div>  

  <fieldset class="p-2">
    <table style="width: 100%;">
      <tbody id="totalesProducto">
        <tr>
          <td class="text-primary text-center">{{ 'GENERAL_EXISTENCE' | translate }}</td>
        </tr> 
        <tr>
          <td class="text-center">0.00</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
</nz-modal>
<!-- general info dialog end -->