<div class="row mb-4">
   <div class="col-md-12">
      <highcharts-chart 
      [Highcharts]="lineChart"
      [options]="lineChartOptions"
      class="ctm-highchart">
      </highcharts-chart>
   </div>
</div>
<div class="row mb-4">
   <div class="col-md-8">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="branchSearchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchworkorderbyquantity()" />
            </nz-input-group>
            <ng-template #branchSearchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="workordersbyproductDisplayData" class="bg-white"	 [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th style="width: 684px;">{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'QUANTITY' | translate }}</th>
      <th>{{ 'TOTAL_ORDERED' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.workordersbyproduct_product }}</td>
      <td>{{ data.workordersbyproduct_quantity }}</td>
      <td>{{ data.workordersbyproduct_total_ordered }}</td>
   </tr>
</tbody>
</nz-table>
<div class="text-center mt-4">
   <h6><strong>{{ 'TOTAL_BILLED' | translate }}: L. 0.00</strong></h6>
</div>