<nz-card>

  <h6 class="card-title f-s-14 text-center">
    {{ 'SETTING' | translate }}
  </h6>

    <div class="row">                  
      <div class="col-md-5">
        <nz-form-label>{{ 'LINK_MODULE' | translate }}*</nz-form-label>           
      </div>
      <div class="col-md-7">      
        <nz-select nzShowSearch [(ngModel)]="link_module" (ngModelChange)="searchFilter()" nzAllowClear class="w-100">
          <nz-option nzLabel="Crear facturas" nzValue="1"></nz-option>
          <nz-option nzLabel="Cierre de Periodo Mensual" nzValue="2"></nz-option>
          <nz-option nzLabel="Crear Recibos" nzValue="3"></nz-option>
          <nz-option nzLabel="Crear Orden de Compra" nzValue="4"></nz-option>
          <nz-option nzLabel="Crear Pago" nzValue="5"></nz-option>
        </nz-select>          
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-5">
        <nz-form-label>{{ 'ACTIVATE_ACCOUNTING_LINK' | translate }}*</nz-form-label>
      </div>              
      <div class="col-md-7"> 
        <nz-radio-group [(ngModel)]="activate_account_link">
          <label nz-radio nzValue="1">{{ 'YES' | translate }}</label>
          <label nz-radio nzValue="0">{{ 'NO' | translate }}</label>
        </nz-radio-group>
      </div>    
    </div>

</nz-card>