<div class="row mb-4">
   <div class="col-md-8">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchbycodereceipt()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="batchofreceiptDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'COD_RECEIPT' | translate }}</th>
      <th>{{ 'INVOICE_CODE1' | translate }}</th>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'CUSTOMER' | translate }}</th>
      <th>{{ 'PREVIOUS_BALANCE' | translate }}</th>
      <th>{{ 'AMOUNT' | translate }}</th>
      <th>{{ 'NEW_BALANCE' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.batchofreceipts_cod_receipt }}</td>
      <td>{{ data.batchofreceipts_invoice_code }}</td>
      <td>{{ data.batchofreceipts_date }}</td>
      <td>{{ data.batchofreceipts_customer }}</td>
      <td>{{ data.batchofreceipts_previous_balance }}</td>
      <td>{{ data.batchofreceipts_amount }}</td>
      <td>{{ data.batchofreceipts_new_balance }}</td>
      <td>
         <span *ngIf="data.batchofreceipts_state == '1'" class="badge badge-pill badge-danger color-white">
         {{ 'CANCELED' | translate }}
         </span>
         <span *ngIf="data.batchofreceipts_state == '0'" class="badge badge-pill badge-success">
         {{ 'ACTIVE' | translate }}
         </span>        
      </td>
   </tr>
   <tr>
     <td class="bg-white" colspan="4"><strong>{{ 'TOTALS' | translate }}</strong></td>
     <td class="bg-white"><strong>{{ 'L. 0.00' | translate }}</strong></td>
     <td class="bg-white"><strong>{{ 'L. 0.00' | translate }}</strong></td>
     <td class="bg-white" colspan="2"><strong>{{ 'L. 0.00' | translate }}</strong></td>
   </tr>
</tbody>
</nz-table>