<nz-card>
   <form nz-form [formGroup]="filterForm" class="ctm-label-r">
      <nz-form-item class="mb-0">
         <div class="row mt-3 m-0 justify-content-center">
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="category">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'GENERAL' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'SPARE_PARTS' | translate }}" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="currency">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'LEMPIRAS' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'DOLLARS' | translate }}" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="state">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'ASSETS' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'REMOVED' | translate }}" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'CELLAR' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="cellar">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'TEST_WINERY' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'VARIOUS' | translate }}" nzValue="2"></nz-option>
                           <nz-option nzLabel="{{ 'MAIN_CELLAR' | translate }}" nzValue="3"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'SHOW_NON_EXISTENT_PRODUCT' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="show_non_existent_product">
                           <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'ONLY_SEE_PRODUCTS_WITH_MINIMUM_STOCK' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="only_see_products_with_minimum_stock">
                           <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
         </div>
      </nz-form-item>
   </form>
</nz-card>
<div class="row m-0 card-footer">
   <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
      <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
      <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
      <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>    
   </div>
</div>