<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-file-document"></i> {{ 'CREATE_SALES_INVOICE' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <form nz-form [formGroup]="invoiceAddform">

    <nz-form-item>

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-6 mb-3">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'INVOICE_DATA' | translate }}
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="fa fa-calendar"></i> {{ 'DATE' | translate }}
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control>    
                  <nz-date-picker formControlName="date" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
                </nz-form-control>  
              </div>
            </div>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-av-timer"></i> Term
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="term" (ngModelChange)="termChange($event)">
                    <nz-option nzLabel="{{ 'COUNTED' | translate }}" nzValue="1"></nz-option>
                    <nz-option nzLabel="{{ 'MANUAL_EXPIRATION' | translate }}" nzValue="plus1"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 15 {{ 'DAYS' | translate }}" nzValue="plus15"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 30 {{ 'DAYS' | translate }}" nzValue="plus30"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 45 {{ 'DAYS' | translate }}" nzValue="plus45"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 60 {{ 'DAYS' | translate }}" nzValue="plus60"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 90 {{ 'DAYS' | translate }}" nzValue="plus90"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT' | translate }} 120 {{ 'DAYS' | translate }}" nzValue="plus120"></nz-option>                    
                  </nz-select>
                </nz-form-control>  
              </div>
            </div>
            
            <div class="row" *ngIf="expirationShow">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="fa fa-calendar"></i> {{ 'EXPIRATION' | translate }}
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control>    
                  <nz-date-picker formControlName="expiration_date" nzPlaceHolder="" nzAllowClear="false" [nzDisabled]="expirationDisable"></nz-date-picker>
                </nz-form-control>  
              </div>
            </div>      
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-credit-card-multiple "></i> {{ 'PAYMENT_METHOD' | translate }}*
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="payment_method">
                    <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                    <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                    <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                    <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                    <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
                  </nz-select>
                </nz-form-control>  
              </div>
            </div>            
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-percent"></i> {{ 'DISCOUNT' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="discount">                   
                  </nz-select>                                      
                </nz-form-control>  
              </div>
            </div> 
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account"></i> {{ 'ATTENDED_BY' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <input type="hidden" nz-input formControlName="employee_id"/>
                <nz-form-control>
                  <nz-input-group nzSearch [nzAddOnAfter]="employeeSuffixButton">
                    <input type="text" nz-input formControlName="employee_name" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #employeeSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchEmployeeOpen()" class="px-2">
                      ...
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div>
            </div>
               <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="fa fa-dribbble"></i> {{ 'ORIGINAL' | translate }}
                </nz-form-label>
              </div>
                <div class="col-md-8">
                      <nz-form-control>    
                              <input type="text" nz-input formControlName="original" />
                      </nz-form-control>
                 </div>
            </div>             

          </nz-card>
        </div>

        <div class="col-md-6">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'CUSTOMER_DATA' | translate }}
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account-card-details"></i> {{ 'IDENTIFICATION_NO' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">                  
                  <nz-input-group nzSearch [nzAddOnAfter]="customerSuffixButton">
                    <input type="text" nz-input formControlName="identification_no" />
                  </nz-input-group>
                  <ng-template #customerSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchCustomerOpen()" class="px-2">
                      ...
                    </button>
                  </ng-template>                                               
                </nz-form-control>                      
              </div>
            </div>
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <input type="hidden" nz-input formControlName="customer_id"/>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="customer_name" class="ctm-input-disabled"/>
                </nz-form-control>
              </div>
            </div>          

          </nz-card>

          <nz-card class="mt-3">

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-calculator"></i> {{ 'EXCHANGE_RATE' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-input-group nzSearch [nzAddOnAfter]="exchangeSuffixButton">
                    <input type="text" nz-input formControlName="exchange_rate" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #exchangeSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="exchangeRateOpen()" class="px-2">
                      <i class="mdi mdi-pencil-box-outline"></i>
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div>
            </div>
            
            <div class="row mt-1">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-tag-text-outline"></i> {{ 'PRODUCTS' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchProductOpen()">
                  <i class="mdi mdi-plus"></i> {{ 'ADD_PRODUCTS' | translate }}            
                </a>
              </div>
            </div>         

          </nz-card>          
        </div>   

      </div>

      <div class="row m-0">
        
        <div class="col-md-12"> 
          <nz-card>         
            <nz-table [nzData]="invoiceProductDatas" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
              <ng-template #invoiceProductNoDataTmp></ng-template>
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'CODE' | translate }}</th>
                  <th>{{ 'DESCRIPTION' | translate }}</th>
                  <th>{{ 'QUANTITY' | translate }}</th>
                  <th>{{ 'PRICE' | translate }}</th>
                  <th>{{ 'DISCOUNT' | translate }}</th>
                  <th>{{ 'TOTAL' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of invoiceProductDatas; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ data.item_code }}</td>
                  <td>{{ data.item_description }}</td>
                  <td>{{ data.item_quantity }}</td>
                  <td>L. {{ data.item_price | number:'.2-2' }}</td>
                  <td>L. {{ data.item_discount | number:'.2-2' }}</td>
                  <td>L. {{ data.item_total | number:'.2-2' }}</td>
                  <td>
                    <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="invoiceProductRemove(i)">
                      <i class="mdi mdi-delete-forever"></i>            
                    </a>         
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <div class="row mt-3">
              <div class="col-md-6">
                <nz-form-label><strong>{{ 'NOTES' | translate }}</strong></nz-form-label>
                <textarea nz-input formControlName="notes"></textarea>          
              </div>
              <div class="col-md-6">
                <div class="row" style="color:rgba(0,0,0,.85);">         

                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'EXONERATED_AMOUNT' | translate }} : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'EXEMPT_AMOUNT' | translate }} : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'TAXED_AMOUNT' | translate }}(15%) : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'TAXED_AMOUNT' | translate }}(18%) : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'ISV' | translate }}(15%) : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                    <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'ISV' | translate }}(18%) : 
                      <span>L. 0.00</span>
                    </div>
                  </div>
                  
                  <div class="col-md-12">
                    <div class="pull-right">
                      <strong>
                        {{ 'TOTAL_TO_PAY' | translate }} : 
                        <span>L. {{ invoiceAddform.get('total_to_pay').value | number:'.2-2' }}</span>
                      </strong>
                    </div>
                  </div>                  

                </div>
              </div>        
            </div>   
            
            <hr>

            <div class="row">
              
              <div class="col-md-4"> 
                <nz-form-label>{{ 'NO_EXEMPT_PURCHASE_ORDER' | translate }}</nz-form-label>          
                <nz-form-control>    
                  <input type="text" nz-input formControlName="no_exempt_purchase_order" />
                </nz-form-control>          
              </div>

              <div class="col-md-4"> 
                <nz-form-label>{{ 'NO_SAG_ID' | translate }}</nz-form-label>          
                <nz-form-control>    
                  <input type="text" nz-input formControlName="no_identification_sag" />
                </nz-form-control>          
              </div>
              
              <div class="col-md-4"> 
                <nz-form-label>{{ 'NO_PROOF_OF_REGISTRATION_EXONERATED' | translate }}</nz-form-label>          
                <nz-form-control>    
                  <input type="text" nz-input formControlName="no_proof_of_registration_exonerated" />
                </nz-form-control>          
              </div>              
      
            </div>            
            
          </nz-card>                            
        </div>
        
      </div>
      
      <div class="row m-0">
        <div class="col-md-12">
          <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveInvoice()">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>          
          </div>        
        </div>
      </div>      

    </nz-form-item>

  </form>

</div>

<!-- search employee dialog start -->
<app-search-employee-dialog
  [searchEmployeeVisible]="searchEmployeeVisible"
  (searchEmployeeCls)="searchEmployeeClose()"
  [employeeDatas]="employeeDatas"
  (employeeAddInputChild)="employeeAddInput($event)">
</app-search-employee-dialog>
<!-- search employee dialog end -->

<!-- search customer dialog start -->
<app-search-customer-dialog
  [searchCustomerVisible]="searchCustomerVisible"
  (searchCustomerCls)="searchCustomerClose()"
  [customerDatas]="customerDatas"
  (customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->

<!-- exchange rate form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="exchangeRateVisible" [nzTitle]="exchangeRateTitleTmpl" (nzOnCancel)="exchangeRateClose()" [nzFooter]="exchangeRateFooterTmpl" nzClassName="modal-sm">

  <ng-template #exchangeRateTitleTmpl>{{ 'CHANGE_EXCHANGE_RATE' | translate }}</ng-template>  
  
  <form nz-form [formGroup]="exchangeRateForm">

    <div class="row">
      <div class="col-md-12">
        <nz-form-label>{{ 'EXCHANGE_RATE' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="exchange_rate" />      
        </nz-form-control>        
      </div>      
    </div>

    <ng-template #exchangeRateFooterTmpl>
      <div class="row">
        <div class="col-md-12 text-center">         
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="exchangeRateCalculate()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
          </a>
        </div>
      </div>
    </ng-template>
      
  </form>
</nz-modal>
<!-- exchange rate form end -->

<!-- search product dialog start -->
<app-search-product-dialog
  [searchProductVisible]="searchProductVisible"
  (searchProductCls)="searchProductClose()"
  [saleDatas]="saleDatas"
  (productAddInputChild)="productAddInput($event)">
</app-search-product-dialog>
<!-- search product dialog end -->