<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-file-document"></i> {{ 'NEW_RETURN' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row m-0">
    <div class="col-md-12 text-center">
      <h5 class="font-weight-normal">
				<i class="fa fa-building"></i> {{ 'BRANCH' | translate }} 1
      </h5>      
    </div>
  </div>  

  <form nz-form [formGroup]="returnsAddForm">

    <nz-form-item>

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-6 mb-3">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'RETURN_DATA' | translate }}
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="fa fa-calendar"></i> {{ 'DATE' | translate }}
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <nz-date-picker formControlName="date" nzPlaceHolder=""></nz-date-picker>
                </nz-form-control>  
              </div>
            </div>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account"></i> {{ 'ISSUED_BY' | translate }}
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <div class="mt-1">Manual</div>  
              </div>
            </div>                         

          </nz-card>

          <nz-card class="mt-3">

            <h6 class="card-title mt-0 f-s-14">
              {{ 'DATA_OF_THE_INVOICE' | translate }}*
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}*
                </nz-form-label>
              </div>
              <div class="col-md-8">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_code" />    
                </nz-form-control>  
              </div>
            </div>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <app-currency-sign></app-currency-sign> {{ 'TOTAL_INVOICE' | translate }}
                </nz-form-label>
              </div>
              <div class="col-md-8">

                <input type="hidden" nz-input formControlName="invoice_id"/>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-input-group nzSearch [nzAddOnAfter]="invoiceSuffixButton">
                    <input type="text" nz-input formControlName="invoice_total" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #invoiceSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchInvoiceOpen()" class="px-2">
                      ...
                    </button>
                  </ng-template>                                               
                </nz-form-control>                 

              </div>
            </div>                         

          </nz-card>          
        </div>

        <div class="col-md-6">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'CUSTOMER_DATA' | translate }}*
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account-card-details"></i> {{ 'IDENTIFICATION_NO' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="identification_no" />
                </nz-form-control>  
              </div>
            </div>
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <input type="hidden" nz-input formControlName="customer_id"/>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">                  
                  <nz-input-group nzSearch [nzAddOnAfter]="customerSuffixButton">
                    <input type="text" nz-input formControlName="customer_name" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #customerSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchCustomerOpen()" class="px-2">
                      ...
                    </button>
                  </ng-template>                                               
                </nz-form-control>                 
              </div>
            </div>          

          </nz-card>

          <nz-card class="mt-3">

            <h6 class="card-title mt-0 f-s-14">
              {{ 'PRODUCT' | translate }}
            </h6>            
            
            <div class="row mt-1">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-tag-text-outline"></i> {{ 'PRODUCTS' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchProductOpen()">
                  <i class="mdi mdi-plus"></i> {{ 'ADD_PRODUCTS' | translate }}            
                </a>
              </div>
            </div>  
            
            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-playlist-check"></i> {{ 'RECEIVED' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control>
                  <label nz-checkbox formControlName="received">
                    {{ 'RECEIVE_PRODUCT_WHEN_GENERATING_RETURN' | translate }}
                  </label>
                </nz-form-control>                       
              </div>
            </div>              

          </nz-card>          
        </div>   

      </div>

      <div class="row m-0">
        
        <div class="col-md-12"> 
          <nz-card>         
            <nz-table [nzData]="invoiceProductDatas" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
              <ng-template #invoiceProductNoDataTmp></ng-template>
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'PRODUCT' | translate }}</th>
                  <th>{{ 'QUANTITY' | translate }}</th>
                  <th>{{ 'PRICE' | translate }}</th>
                  <th>{{ 'TOTAL' | translate }}</th>
                  <th>{{ 'CELLAR' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of invoiceProductDatas; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ data.item_name }}</td>
                  <td>{{ data.item_quantity }}</td>
                  <td>L. {{ data.item_cost_price | number:'.2-2' }}</td>
                  <td>L. {{ data.item_total | number:'.2-2' }}</td>
                  <td>{{ data.item_cellar }}</td>
                  <td>
                    <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="invoiceProductRemove(i)">
                      <i class="mdi mdi-delete-forever"></i>            
                    </a>         
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <div class="row mt-3">
              <div class="col-md-6">
                <nz-form-label><strong>{{ 'NOTES' | translate }}</strong></nz-form-label>
                <textarea nz-input formControlName="notes"></textarea>          
              </div>
              <div class="col-md-6">
                <div class="row">

                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'EXEMPT_AMOUNT' | translate }} / {{ 'ISV' | translate }}  : 
                      <span>L. {{ returnsAddForm.get('exempt_amount').value | number:'.2-2' }}</span>
                    </div>
                  </div>                 

                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'TAXED_AMOUNT' | translate }} : 
                      <span>L. 0.00</span>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="pull-right">
                      {{ 'ISV' | translate }} : 
                      <span>L. 0.00</span>
                    </div>
                  </div>                  
                  
                  <div class="col-md-12">
                    <div class="pull-right">
                      <strong>
                        {{ 'TOTAL_TO_PAY' | translate }} : 
                        <span>L. {{ returnsAddForm.get('total_to_pay').value | number:'.2-2' }}</span>
                      </strong>
                    </div>
                  </div>                  

                </div>
              </div>        
            </div>              
            
          </nz-card>                            
        </div>
        
      </div>
      
      <div class="row m-0">
        <div class="col-md-12">
          <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveReturns()">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>          
          </div>        
        </div>
      </div>      

    </nz-form-item>

  </form>

</div>

<!-- search invoice dialog start -->
<app-search-invoice-dialog
  [searchInvoiceVisible]="searchInvoiceVisible"
  (searchInvoiceCls)="searchInvoiceClose()"
  [invoiceDatas]="invoiceDatas"
  (invoiceAddInputChild)="invoiceAddInput($event)">
</app-search-invoice-dialog>
<!-- search invoice dialog end -->

<!-- search customer dialog start -->
<app-search-customer-dialog
  [searchCustomerVisible]="searchCustomerVisible"
  (searchCustomerCls)="searchCustomerClose()"
  [customerDatas]="customerDatas"
  (customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->

<!-- search product dialog start -->
<app-search-product-dialog
  [searchProductVisible]="searchProductVisible"
  (searchProductCls)="searchProductClose()"
  [saleDatas]="saleDatas"
  (productAddInputChild)="productAddInput($event)">
</app-search-product-dialog>
<!-- search product dialog end -->