<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-bank"></i> {{ 'NEW_CHEQUE' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <form nz-form [formGroup]="chequeAddForm">

    <nz-form-item>

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-12">
          <nz-card>

            <h6 class="card-title f-s-14 text-center">
              {{ 'CHEQUE_DATA' | translate }}
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>{{ 'DATE' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <nz-date-picker formControlName="date" nzPlaceHolder=""></nz-date-picker>
                </nz-form-control>                
              </div>
              <div class="col-md-4">
                <nz-form-label>{{ 'AMOUNT' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="amount" />
                </nz-form-control>               
              </div>
              <div class="col-md-4">
                <nz-form-label>{{ 'AMOUNT_IN_LETTERS' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="amount_in_letters" />
                </nz-form-control>               
              </div>              
            </div> 

            <div class="row">      
              <div class="col-md-4">
                <nz-form-label>{{ 'PAY_TO' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="pay_to" />
                </nz-form-control>               
              </div>       
              <div class="col-md-4">
                <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}*</nz-form-label>
                <input type="hidden" nz-input formControlName="bankaccount_id"/>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-input-group nzSearch [nzAddOnAfter]="bankaccountSuffixButton">
                    <input type="text" nz-input formControlName="bankaccount_no" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #bankaccountSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchBankaccountOpen()" class="px-2">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div> 

              <div class="col-md-4">
                <nz-form-label>{{ 'CHEQUE_NO' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="cheque_no" class="ctm-input-disabled" />
                </nz-form-control>
              </div>             
            </div>             
            
          </nz-card>
        </div>
        
      </div>  

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-12">
          <nz-card>

            <h6 class="card-title f-s-14 text-center">
              {{ 'SEAT_DATA' | translate }}
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label class="mb-1">{{ 'SEARCH_ACCOUNT' | translate }}*</nz-form-label>
                <a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchAccountOpen()">
                  <i class="mdi mdi-magnify"></i>
                </a>
              </div>
              <div class="col-md-4">
                <nz-form-label>{{ 'REFERENCE' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="reference" />
                </nz-form-control>
              </div>
              <div class="col-md-4">
                <nz-form-label>{{ 'VOUCHER' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <input type="text" nz-input formControlName="voucher" />
                </nz-form-control>
              </div>              
            </div>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>{{ 'SOURCE' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
                  <nz-select nzShowSearch formControlName="source" nzAllowClear>
                    <nz-option nzLabel="{{ 'OPENING' | translate }}" nzValue="1"></nz-option>
                    <nz-option nzLabel="{{ 'INCOME' | translate }}" nzValue="2"></nz-option>
                    <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="3"></nz-option>
                    <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
                    <nz-option nzLabel="{{ 'PROVISIONS' | translate }}" nzValue="5"></nz-option>
                  </nz-select>          
                </nz-form-control>
              </div>
              <div class="col-md-4">
                <nz-form-label>{{ 'COST_CENTER' | translate }}*</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                  <nz-select nzShowSearch formControlName="cost_center" nzAllowClear>
                    <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>
                    <nz-option nzLabel="Compras" nzValue="2"></nz-option>
                  </nz-select>  
                </nz-form-control>
              </div>
           
            </div>
            
            <div class="row mt-4 mb-3">
        
              <div class="col-md-12"> 
                   
                <nz-table [nzData]="chequeTableDatas" class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
                  <ng-template #invoiceProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th>{{ 'CODE' | translate }}</th>
                      <th>{{ 'DESCRIPTION' | translate }}</th>
                      <th>{{ 'COST_CENTER' | translate }}</th>
                      <th>{{ 'COMMENTARY' | translate }}</th>
                      <th width="100px">{{ 'DEBIT' | translate }}</th>
                      <th width="100px">{{ 'CREDIT' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of chequeTableDatas; let i = index">
                      <td>{{ data.account_code }}</td>
                      <td>{{ data.account_description }}</td>
                      <td>--</td>
                      <td><input type="text" nz-input formControlName="commentary" /></td>
                      <td><input type="text" nz-input formControlName="debit" /></td>
                      <td><input type="text" nz-input formControlName="credit" /></td>
                      <td>
                        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="chequeTableDataRemove(i)">
                          <i class="mdi mdi-delete-forever"></i>            
                        </a>         
                      </td>
                    </tr>
                    <tr *ngIf="chequeTableDatas.length > 0">
                      <td colspan="4"></td>
                      <td>L. {{ chequeAddForm.get('debit').value | number:'.2-2' }}</td>
                      <td>L. {{ chequeAddForm.get('credit').value | number:'.2-2' }}</td>
                      <td></td>
                     </tr>                    
                  </tbody>
                </nz-table>                 
                                        
              </div>
              
            </div>            

          </nz-card>
 
        </div>

        <div class="col-md-12">
          <div class="card-footer text-center">            
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveCheque()">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </a>          
          </div>        
        </div>        

      </div>
      
      <div class="row m-0">

      </div>      

    </nz-form-item>

  </form>

</div>

<!-- search account dialog start -->
<app-search-account-dialog
  [searchAccountVisible]="searchAccountVisible"
  (searchAccountCls)="searchAccountClose()"
  [accountDatas]="accountDatas"
  (accountAddInputChild)="accountAddInput($event)">
</app-search-account-dialog>
<!-- search account dialog end -->

<!-- search bankaccount dialog start -->
<app-search-bankaccount-dialog
  [searchBankaccountVisible]="searchBankaccountVisible"
  (searchBankaccountCls)="searchBankaccountClose()"
  [bankaccountDatas]="bankaccountDatas"
  (bankaccountAddInputChild)="bankaccountAddInput($event)">
</app-search-bankaccount-dialog>
<!-- search bankaccount dialog end -->