<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <div class="pull-right">
               <app-backbutton></app-backbutton>
            </div>
            <h4 class="page-title">
               <i class="mdi mdi-file-document"></i> {{ 'SEE_SALES_INVOICE' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mb-4">
         <nz-card class="color-b">
            <div class="row">
               <div class="col-md-12">
                  <div class="mb-4" style="background-color: #1777B4;width: 100%;height: 20px;"></div>
                  <div class="invoice-title row">
                     <div class="col-md-1">
                        <img src="assets/images/invoice-logo.png" style="width: 66px; margin-top: 10px;">
                     </div>
                     <div style="color: #000;" class="col-md-11 text-center">
                        <h6 style="margin-bottom:3px; font-weight: 700;" class="p-0">INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</h6>
                        {{ 'RTN' | translate }}: 08019017912731<br>
                        Col. 15 de Septiembre Ave Independencia Casa No.6065,Tegucigalpa, Honduras M.D.C<br>
                        {{ 'EMAIL' | translate }}: ventas@inversioneslogisticas.com&nbsp; {{ 'TELEPHONE' | translate }}: 22342181<br>
                        {{ 'C_A_I' | translate }}: 4D42E1-3AF99E-034BB5-8DD95E-F12272-04/ VENCE 27/05/2020<br>
                        www.inversioneslogisticas.com
                     </div>
                  </div>
                  <div class="row">
                     <div class="referreal_border my-4 col-md-12 pt-1 pb-0 text-center">
                        <h6 style="font-weight:700; margin-bottom:5px;"><span style="text-transform: uppercase; ">{{ 'INVOICE' | translate }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. 000-001-01-0000351</h6>
                     </div>
                  </div>
                  <div class="row my-2">
                     <div class="col-7">
                        <address>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'CUSTOMER' | translate }}: </strong> {{ invoiceDatas.invoice_customer_name }}<br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'RTN' | translate }}: </strong> {{ invoiceDatas.invoice_rtn }}<br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'DIRECTION' | translate }}: </strong> {{ invoiceDatas.invoice_direction }}<br>
                           No. 65432<br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'TELEPHONE' | translate }}: </strong> {{ invoiceDatas.invoice_telephone }}<br>
                        </address>
                     </div>
                     <div class="col-5">
                        <address class="text-left">
                           <strong style="color:rgba(0,0,0,0.85);"> {{ 'BRANCH' | translate }}:</strong> {{ 'ANYOLY_COFFEE' | translate }}<br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'CREATION_DATE' | translate }}:</strong> {{ invoiceDatas.invoice_date | date: 'MMM d, y h:mm:ss a' }}<br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'EXPIRATION_DATE' | translate }}:</strong> {{ invoiceDatas.invoice_date | date: 'MMM d, y h:mm:ss a' }}
                           <br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'TERM' | translate }}:</strong>
                           (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
                           <br> 
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'ATTENDED_BY' | translate }}:</strong>
                           {{ invoiceDatas.invoice_attended }}
                           <br>
                           <strong style="color:rgba(0,0,0,0.85);">{{ 'EXCHANGE_RATE' | translate }}:</strong>
                           $ 25.17
                        </address>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div style="background-color: #1777B4; width: 100%; height: 4px;"></div>
                        <nz-table [nzData]="invoiceDatas.invoice_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="invoiceProductNoDataTmp">
                        <ng-template #invoiceProductNoDataTmp></ng-template>
                        <thead>
                           <tr>
                              <th class="bg_thead text-center"><strong>{{ 'QTY' | translate }}</strong></th>
                              <th class="bg_thead text-center"><strong>{{ 'CODE' | translate }}</strong></th>
                              <th class="bg_thead text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                              <th class="bg_thead text-center"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
                              <th class="bg_thead text-center"><strong>{{ 'DESC_AND_REB_CORGADOS' | translate }}</strong></th>
                              <th class="bg_thead text-right"><strong>{{ 'TOTAL' | translate }}</strong></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let data of invoiceDatas.invoice_product_item; let i = index">
                              <td class="text-center">{{ data.item_quantity }}</td>
                              <td class="text-center">{{ data.item_code }}</td>
                              <td class="text-center">{{ data.item_description }}</td>
                              <td class="text-center">L. {{ data.item_price | number:'.2-2' }}</td>
                              <td class="text-center">L. {{ data.item_discount | number:'.2-2' }}</td>
                              <td class="text-right">L. {{ data.item_total | number:'.2-2' }}</td>
                           </tr>
                           <tr>
                              <td class="no-line text-center">
                                 3
                              </td>
                              <td class="no-line text-center">
                                 {{ 'TOTAL_ITEMS' | translate }}
                              </td>
                              <td class="no-line text-center" colspan="1"></td>
                              <td class="no-line text-center"></td>
                              <td class="no-line text-center"></td>
                              <td class="no-line text-center" colspan="1"></td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="2"></td>
                              <td class="no-line"></td>
                              <td class="no-line"></td>
                              <td class="text-center">{{ 'EXONERATED_AMOUNT' | translate }}</td>
                              <td class="text-center">L. 0.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="4"></td>
                              <td class="text-center">{{ 'EXEMPT_AMOUNT' | translate }}</td>
                              <td class="text-center">L. 0.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" style="position: absolute;">
                                 <strong>{{ 'NO_EXEMPT_PURCHASE_ORDER' | translate }}:</strong>
                              </td>
                              <td class="no-line">
                              </td>
                              <td class="no-line text-center" colspan="2"></td>
                              <td class="text-center">{{ 'TAXED_AMOUNT' | translate }}(15%)</td>
                              <td class="text-center">L. 3,900.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" style="position: absolute;">
                                 <strong>{{ 'NO_PROOF_OF_REGISTRATION_EXONERATED' | translate }}:</strong> No
                              </td>
                              <td class="no-line">
                              </td>
                              <td class="no-line text-center" colspan="2"></td>
                              <td class="text-center">{{ 'TAXED_AMOUNT' | translate }}(18%)</td>
                              <td class="text-center">L. 0.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" style="position: absolute;">
                                 <strong>{{ 'IDENTIFICATION_SAG' | translate }}:</strong>
                              </td>
                              <td class="no-line">
                              </td>
                              <td class="no-line text-center" colspan="2"></td>
                              <td class="text-center">{{ 'ISV' | translate }}(15%)</td>
                              <td class="text-center">L. 585.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" style="position: absolute;">
                                 <strong>{{ 'ORIGINAL' | translate }}:</strong> 
                                 {{ 'CLIENT_COPY_ISSUER' | translate }}
                              </td>
                              <td class="no-line">
                              </td>
                              <td class="no-line" colspan="2"></td>
                              <td class="text-center">{{ 'ISV' | translate }}(18%)</td>
                              <td class="text-center">L. 0.00</td>
                           </tr>
                           <tr>
                              <td class="no-line" colspan="4"></td>
                              <td class="text-center"> <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
                              <td class="text-center"><strong>L. 4,4850.00</strong></td>
                           </tr>
                           <tr>
                              <td class="no-line" style="position: absolute;">
                                 <strong>{{ 'SUBTOTAL' | translate }}</strong> 
                                 L. 120.00L. 3,900.00
                              </td>
                              <td class="no-line">
                              </td>
                              <td class="no-line" colspan="2"></td>
                              <td class="no-line text-center"></td>
                              <td class="no-line text-center"></td>
                           </tr>
                           <br>
                        </tbody>
                        </nz-table> 
                        <div style="margin-top: 40px;">
                           <p style="color: #000;">{{ 'NOTES' | translate }}</p>
                        </div>
                        <div style="margin-top: 5px; border: 1px solid #bebebe; height: 80px; padding: 5px;">      
                        </div>
                        <p style="color: rgba(0,0,0,0.85);" class="py-3 text-center"><strong>{{ 'AUTHORIZED_BILLING_RANGE' | translate }} 000-001-01-00000301 al 000-001-01-00000400</strong></p>
                        <p style="color: #000;" class="pt-3 "><strong>{{ 'VALUE_IN_LETTERS' | translate }}:</strong> {{ 'FOUR_THOUSAND_FOUR_HUNDRED_ AND_EIGHTY_FIVE_LEMPIRAS_WITH_EXACT_PENNIES' | translate }}</p>
                        <div style="margin-top: 10px; width: 100%; height: 7px; background-color: #1777B4;"></div>
                        <div style="margin-top: 0px; width: 100%; padding:10px; background-color: #333333;">
                           <p class="m-0 p-0 text-right text-white">{{ 'A_INVOICE_IS_A_BENEFIT_OF_EVERYONE_REQUIRE_IT' | translate }}</p>
                        </div>
                        <br>               
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 d-print-none">
                        <div class="pull-right">
                             <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1" (click)="PayViewOpen()">
         <i class="mdi mdi-eye"></i>            
         </a>
                           <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1">
                           <i class="fa fa-print"></i>
                           </a>
                           <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1" (click)="sendInvoiceMailOpen()">
                           <i class="mdi mdi-email"></i>
                           </a>
                           <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirmOpen()">
                           <i class="mdi mdi-delete-forever"></i>
                           </a>
                           <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" (click)="createReceiptOpen()">
                           <i class="mdi mdi-plus"></i> {{ 'CREATE_NEW_PAYMENT' | translate }}
                           </a>              
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </nz-card>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12 mb-5">
         <nz-collapse>
            <nz-collapse-panel
            [nzHeader]="payGenerateTitleTmp"
            [nzActive]="generatePaymentCollapse"
            nzDisabled="false"
            nzShowArrow="false"
            nzBordered="false"
            [nzExtra]="extraTpl">
            <ng-template #payGenerateTitleTmp>
               {{ 'GENERATED_PAYMENTS' | translate }}
            </ng-template>
            <div>
               <app-invoice-generate-payment 
                  [generatePaymentData]="generatePaymentDatas">
               </app-invoice-generate-payment>
            </div>
            </nz-collapse-panel>
         </nz-collapse>
         <ng-template #extraTpl>
            <i class="mdi mdi-plus"></i>
         </ng-template>
      </div>
   </div>
</div>
<!-- create receipt form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="createReceiptVisible" [nzTitle]="createReceiptTitleTmpl" (nzOnCancel)="createReceiptClose()" [nzFooter]="createReceiptFooterTmpl" nzWidth="600">
<ng-template #createReceiptTitleTmpl>{{ 'CREATE_RECEIPT' | translate }}</ng-template>
<form nz-form [formGroup]="createReceiptForm" class="ctm-label-r">
   <nz-form-item>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'INVOICE_NUMBER' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>{{ invoiceDatas.invoice_order_no }}</span>
         </div>
      </div>
      <div class="row my-2">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'CUSTOMER_NAME' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>{{ invoiceDatas.invoice_customer_name }}</span>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'DATE_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-date-picker formControlName="receipt_date_of_payment" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
            </nz-form-control>
         </div>
      </div>
      <div class="row my-2">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PREVIOUS_BALANCE' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <span>436</span>    
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'PAYMENT_RECEIVED' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="receipt_payment_received" />      
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_bank_account">
                  <nz-option nzLabel="Bank 1" nzValue="1"></nz-option>
                  <nz-option nzLabel="Bank 2" nzValue="2"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'METHOD_OF_PAYMENT' | translate }}*</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
               <nz-select nzShowSearch formControlName="receipt_method_of_payment">
                  <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
                  <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
                  <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
                  <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
                  <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5">
            <div>
               <nz-form-label>{{ 'NOTES' | translate }}</nz-form-label>
            </div>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea nz-input formControlName="receipt_notes"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #createReceiptFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="createReceiptSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- create receipt form end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_INVOICE' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_INVOICE_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->
<!-- send invoice mail form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="sendInvoiceMailVisible" [nzTitle]="sendInvoiceMailTitleTmpl" (nzOnCancel)="sendInvoiceMailClose()" [nzFooter]="sendInvoiceMailFooterTmpl">
<ng-template #sendInvoiceMailTitleTmpl>{{ 'SEND_INVOICE_BY_MAIL' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'ENTER_TO_WHICH_EMAILS_THE_PURCHASE_ORDER_WILL_BE_SENT' | translate }}</p>
</div>
<form nz-form [formGroup]="sendInvoiceMailForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-2">
            <nz-form-label>{{ 'EMAIL' | translate }} 1</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="send_invoice_email1" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            <nz-form-label>{{ 'EMAIL' | translate }} 2</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="send_invoice_email2" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            <nz-form-label>{{ 'EMAIL' | translate }} 3</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="send_invoice_email3" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #sendInvoiceMailFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="sendInvoiceMailSave()">
         <i class="mdi mdi-email"></i> {{ 'SEND' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- send invoice mail form end -->
<!-- payment view receipt form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="PayViewVisible" [nzTitle]="PayViewTitleTmpl" (nzOnCancel)="PayViewClose()" [nzFooter]="PayViewFooterTmpl" nzWidth="1100">
<ng-template #PayViewTitleTmpl>{{ 'SEE_RECEIPT' | translate }}</ng-template>
<div style="background-color: #1777B4;width: 100%;height: 20px;"></div>
<div id="recibo" class="" style="margin: 0px auto !important; width: 95%;">

   <div class="row py-4">
      <div class="col-md-1">
         <img src="assets/images/invoice-logo.png" style="width: 66px; margin-top: 10px;">
      </div>
      <div style="color: #000;" class="col-md-11 text-center">
         <h6 style="margin-bottom:3px; font-weight: 700;" class="p-0">INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</h6>
        {{ 'RTN' | translate }}: 08019017912731<br>
         Col. 15 de Septiembre Ave Independencia Casa No.6065,Tegucigalpa, Honduras M.D.C<br>
         {{ 'EMAIL' | translate }}: ventas@inversioneslogisticas.com&nbsp; {{ 'TELEPHONE' | translate }}: 22342181<br>
         {{ 'C_A_I' | translate }}: 4D42E1-3AF99E-034BB5-8DD95E-F12272-04/ VENCE 27/05/2020<br>
         www.inversioneslogisticas.com
      </div>
   </div>
   <div class="row">
      <div class="referreal_border col-md-12 pt-1 pb-0 text-center">
         <h6 style="font-weight:700; margin-bottom:5px;"><span style="text-transform: uppercase; ">{{ 'INVOICE' | translate }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. 000-001-01-0000351</h6>
      </div>
   </div>
   <div class="row pt-4 pb-2">
      <div style="color: #000;" class="col-7">
         <address>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'CUSTOMER' | translate }}: </strong> {{ invoiceDatas.invoice_customer_name }}<br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'RTN' | translate }}: </strong> {{ invoiceDatas.invoice_rtn }}<br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'DIRECTION' | translate }}: </strong> {{ invoiceDatas.invoice_direction }}<br>
            No. 65432<br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'TELEPHONE' | translate }}: </strong> {{ invoiceDatas.invoice_telephone }}<br>
         </address>
      </div>
      <div style="color: #000;" class="col-5">
         <address class="text-left">
            <strong style="color:rgba(0,0,0,0.85);"> {{ 'BRANCH' | translate }}:</strong> {{ 'ANYOLY_COFFEE' | translate }}<br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'CREATION_DATE' | translate }}:</strong> {{ invoiceDatas.invoice_date | date: 'MMM d, y h:mm:ss a' }}<br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'EXPIRATION_DATE' | translate }}:</strong> {{ invoiceDatas.invoice_date | date: 'MMM d, y h:mm:ss a' }}
            <br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'TERM' | translate }}:</strong>
            (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
            <br> 
            <strong style="color:rgba(0,0,0,0.85);">{{ 'ATTENDED_BY' | translate }}:</strong>
            {{ invoiceDatas.invoice_attended }}
            <br>
            <strong style="color:rgba(0,0,0,0.85);">{{ 'EXCHANGE_RATE' | translate }}:</strong>
            $ 25.17
         </address>
      </div>
   </div>
   <div style="background-color: #1777B4; width: 100%; height: 4px;"></div>
   <nz-table class="bg-white ctm-r-b-b ctm-table-style" #basicTable [nzFrontPagination]="false" [nzData]="listOfData">
   <thead>
      <tr>
         <th class="bg_thead text-center" style="width:10%;"><strong>{{ 'QTY' | translate }}</strong></th>
         <th class="bg_thead text-center"><strong>{{ 'CODE' | translate }}</strong></th>
         <th class="bg_thead text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
         <th class="bg_thead text-center"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
         <th class="bg_thead text-center"><strong>{{ 'DESC_AND_REB_CORGADOS' | translate }}</strong></th>
         <th class="bg_thead text-center"><strong>{{ 'TOTAL' | translate }}</strong></th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let data of basicTable.data">
         <td class="text-center">{{ data.qty }}</td>
         <td class="text-center">{{ data.code }}</td>
         <td class="text-center">{{ data.description }}</td>
         <td class="text-center">{{ data.unitprice }}</td>
         <td class="text-center">{{ data.desc_and_reb_granted }}</td>
         <td class="text-center">{{ data.total }}</td>
      </tr>
      <tr>
         <td class="no-line text-center">
            3
         </td>
         <td class="no-line text-center">
            {{ 'TOTAL_ITEMS' | translate }}
         </td>
         <td class="no-line text-center" colspan="1"></td>
         <td class="no-line text-center"></td>
         <td class="no-line text-center"></td>
         <td class="no-line text-center" colspan="1"></td>
      </tr>
      <tr>
         <td class="no-line" colspan="2"></td>
         <td class="no-line"></td>
         <td class="no-line"></td>
         <td class="text-center">{{ 'EXONERATED_AMOUNT' | translate }}</td>
         <td class="text-center">L. 0.00</td>
      </tr>
      <tr>
         <td class="no-line" colspan="4"></td>
         <td class="text-center">{{ 'EXEMPT_AMOUNT' | translate }}</td>
         <td class="text-center">L. 0.00</td>
      </tr>
      <tr>
         <td class="no-line" style="position: absolute;">
            <strong>{{ 'NO_EXEMPT_PURCHASE_ORDER' | translate }}:</strong>
         </td>
         <td class="no-line">
         </td>
         <td class="no-line text-center" colspan="2"></td>
         <td class="text-center">{{ 'TAXED_AMOUNT' | translate }}(15%)</td>
         <td class="text-center">L. 3,900.00</td>
      </tr>
      <tr>
         <td class="no-line" style="position: absolute;">
            <strong>{{ 'NO_PROOF_OF_REGISTRATION_EXONERATED' | translate }}:</strong> No
         </td>
         <td class="no-line">
         </td>
         <td class="no-line text-center" colspan="2"></td>
         <td class="text-center">{{ 'TAXED_AMOUNT' | translate }}(18%)</td>
         <td class="text-center">L. 0.00</td>
      </tr>
      <tr>
         <td class="no-line" style="position: absolute;">
            <strong>{{ 'IDENTIFICATION_SAG' | translate }}:</strong>
         </td>
         <td class="no-line">
         </td>
         <td class="no-line text-center" colspan="2"></td>
         <td class="text-center">{{ 'ISV' | translate }}(15%)</td>
         <td class="text-center">L. 585.00</td>
      </tr>
      <tr>
         <td class="no-line" style="position: absolute;">
            <strong>{{ 'ORIGINAL' | translate }}:</strong> 
            {{ 'CLIENT_COPY_ISSUER' | translate }}
         </td>
         <td class="no-line">
         </td>
         <td class="no-line" colspan="2"></td>
         <td class="text-center">{{ 'ISV' | translate }}(18%)</td>
         <td class="text-center">L. 0.00</td>
      </tr>
      <tr>
         <td class="no-line" colspan="4"></td>
         <td class="text-center"> <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
         <td class="text-center"><strong>L. 4,4850.00</strong></td>
      </tr>
      <tr>
         <td class="no-line" style="position: absolute;">
            <strong>{{ 'SUBTOTAL' | translate }}</strong> 
            L. 120.00L. 3,900.00
         </td>
         <td class="no-line">
         </td>
         <td class="no-line" colspan="2"></td>
         <td class="no-line text-center"></td>
         <td class="no-line text-center"></td>
      </tr>
      <br>
   </tbody>
   </nz-table>
   <div style="margin-top: 40px;">
      <p style="color: #000;">{{ 'NOTES' | translate }}</p>
   </div>
   <div style="margin-top: 5px; border: 1px solid #bebebe; height: 80px; padding: 5px;">      
   </div>
   <p style="color: rgba(0,0,0,0.85);" class="py-3 text-center"><strong>{{ 'AUTHORIZED_BILLING_RANGE' | translate }} 000-001-01-00000301 al 000-001-01-00000400</strong></p>
   <p style="color: #000;" class="pt-3 "><strong>{{ 'VALUE_IN_LETTERS' | translate }}:</strong> {{ 'FOUR_THOUSAND_FOUR_HUNDRED_ AND_EIGHTY_FIVE_LEMPIRAS_WITH_EXACT_PENNIES' | translate }}</p>
   <div style="margin-top: 10px; width: 100%; height: 7px; background-color: #1777B4;"></div>
   <div style="margin-top: 0px; width: 100%; padding:10px; background-color: #333333;">
      <p class="m-0 p-0 text-right text-white">{{ 'A_INVOICE_IS_A_BENEFIT_OF_EVERYONE_REQUIRE_IT' | translate }}</p>
   </div>
</div>
<ng-template #PayViewFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="PayViewPrint()">
         <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- payment view receipt form end -->