<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <h6 class="card-title mt-0 f-s-14 text-center">
      {{ 'INCOME_FROM_ACCOUNTING_ACCOUNTS' | translate }}
    </h6>    

    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">      
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <input type="text" nz-input formControlName="accountcatalog_code" />
              </nz-input-group>
              <ng-template #suffixTemplateInfo>
                <i class="fa fa-info-circle" (click)="accountCodingOpen()"></i>
              </ng-template>          
            </nz-form-control>            
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'ACCOUNT_IS' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
              <nz-select nzShowSearch formControlName="account_is" nzAllowClear>
                <nz-option nzLabel="{{ 'GROUP_ACCOUNT' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'ACCOUNT_DETAIL' | translate }}" nzValue="2"></nz-option>
              </nz-select>          
            </nz-form-control>
          </div>
        </div>         
      </div> 
      
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="description" />
            </nz-form-control>         
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'REQUIRES_COST_CENTER' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
              <nz-select nzShowSearch formControlName="required_cost_center" nzAllowClear>
                <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="0"></nz-option>
              </nz-select>          
            </nz-form-control>                            
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BELONGING_TO' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
              <nz-select nzShowSearch formControlName="belonging_to" nzAllowClear>
                <nz-option nzLabel="{{ 'ACTIVE' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'PASSIVE' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'CAPITAL' | translate }}" nzValue="3"></nz-option>
                <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
                <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="5"></nz-option>
                <nz-option nzLabel="{{ 'COSTS' | translate }}" nzValue="6"></nz-option>
              </nz-select>   
            </nz-form-control>            
          </div>
        </div>         
      </div>
    </div> 

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="searchFilter()">
        <i class="mdi mdi-plus"></i> {{ 'SAVE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- exchange rate form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="accountCodingVisible" [nzTitle]="accountCodingTitleTmpl" (nzOnCancel)="accountCodingClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #accountCodingTitleTmpl>{{ 'ACCOUNTING_ACCOUNT_CODING' | translate }}</ng-template>

    <div class="row">
      <div class="col-md-12">
        <h6>{{ 'STRUCTURE_OF_AN_ACCOUNT_CODE' | translate }}</h6>
        <p class="alert text-white bg-primary">{{ 'ACCOUNT_CODING_SUMMARY' | translate }}</p>             
      </div>
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <p class="center green">{{ 'CORRECT_CODING' | translate }}</p>
            <select size="8" class="custom-select">
              <option>1</option>
              <option>1-01</option>
              <option>1-01-01</option>
              <option>1-02</option>
              <!-- <option>2</option>
              <option>2-01</option>
              <option>2-02</option>
              <option>2-02-01</option> -->
            </select>            
          </div>

          <div class="col-md-6">
            <p class="center red">{{ 'INCORRECT_CODING' | translate }}</p>
            <select size="8" class="custom-select">
              <option>10000</option>
              <option>101000</option>
              <option>102000</option>
              <option>103000</option>
              <!-- <option>00002</option>
              <option>00010</option>
              <option>00020</option> -->
            </select>            
          </div>
        </div>
      </div>
    </div>
      
  
</nz-modal>
<!-- exchange rate form end -->