<div class="row">
  <div class="col-md-6 text-center">
    <h6>INVERSIONES LOGISTICAS</h6>
    <p>Col. 15 de Septiembre, Avenida Independencia, Casa<br> No. 6005<br></p>
  </div>
  <div class="col-md-6 text-center">
    <h6>{{ 'BALANCE_GENERAL' | translate }}</h6>
    <p>Al 01/Jan/2020</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13 mb-1" nzSize="large">
      {{ 'EXPORT_TO_EXCEL' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="searchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyseller()" />
        </nz-input-group>
        <ng-template #searchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="balancegeneralDisplayData" class="bg-white ctm-b-b" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th style="width: 155px;">{{ 'ACCOUNTING_ACCOUNT' | translate }}</th>
      <th style="width: 488px;">{{ 'ACCOUNT_DESCRIPTION' | translate }}</th>
      <th style="width: 120px;">{{ 'SUB_TOTALS' | translate }}</th>
      <th style="width: 93px;">{{ 'TOTALS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><b>ACTIVO</b></td>
      <td></td>
      <td>0.00</td>
    </tr>

    <tr>
      <td>1-01</td>
      <td style="text-align: left;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Activo Circulante<b></b></b>
      </td>
      <td></td>
      <td>0.00</td>
    </tr>

    <tr>
      <td class="center">1-01-01</td>
      <td class="black" style="font-weight: bold; padding-left: 92px;">CAJA</td>
      <td class="center"></td>
      <td class="center">0.00</td>
    </tr>   
    
    <tr>
      <td class="center">1-01-01-01</td>
      <td style="padding-left: 118px;">CAJA GENERAL</td>
      <td class="center">0.00</td>
      <td class="center"></td>
    </tr>    

    <tr>
      <td class="center">1-01-02</td>
      <td class="black" style="font-weight: bold; padding-left: 92px;">BANCOS</td>
      <td class="center"></td>
      <td class="center">0.00</td>
    </tr>   
    
    <tr>
      <td class="center">1-01-02-01</td>
      <td style="padding-left: 118px;">Banco Ficohsa</td>
      <td class="center">0.00</td>
      <td class="center"></td>
    </tr>   
    
    <tr>
      <td></td>
      <td style="font-weight: 700">{{ 'TOTAL_ACTIVO' | translate }}</td>
      <td></td>
      <td class="subtotal" style="font-weight: 700">0.00</td>
    </tr> 

    <tr>
      <td></td>
      <td style="font-weight: 700">{{ 'TOTAL_PASSIVE' | translate }} + {{ 'CAPITAL' | translate }}</td>
      <td></td>
      <td class="total text-success" style="font-size: 18px;">0.00</td>
    </tr>    

  </tbody>
</nz-table>