<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-settings"></i> {{ 'USERS' | translate }}
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/settings/contacts/users/create-users">
               <i class="mdi mdi-plus"></i> {{ 'NEW_USER' | translate }}
               </a>
               <app-backbutton></app-backbutton>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mb-4">
         <app-users-filter 
            (searchEvent)="receiveSearchData($event)">
         </app-users-filter>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12 mb-5">
      	 <div class="card-header bg-primary text-center text-white f-s-0-9">
        <i class="fa fa-building mr-1"></i>
        {{ 'BRANCH' | translate }}: Sucursal 1
      </div>
         <nz-card>
            <app-users-table
               [usersData]="usersDatas">
            </app-users-table>
         </nz-card>
      </div>
   </div>
</div>