<div class="row mb-4">
   <div class="col-md-8 mb-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchinventoriesbycode()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="inventoriesDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'CATEGORY' | translate }}</th>
      <th>{{ 'PROVIDER' | translate }}</th>
      <th>{{ 'UNIT_COST' | translate }}</th>
      <th>{{ 'SALE_PRICE' | translate }}</th>
      <th>{{ 'STOCK_MIN' | translate }}</th>
      <th>{{ 'EXISTENCE' | translate }}</th>
      <th>{{ 'COST_INV' | translate }}</th>
      <th>{{ 'SALE_INV' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.inventories_code }}</td>
      <td>{{ data.inventories_product }}</td>
      <td>{{ data.inventories_description }}</td>
      <td>{{ data.inventories_category }}</td>
      <td>{{ data.inventories_provider }}</td>
      <td>{{ data.inventories_unit_cost }}</td>
      <td>{{ data.inventories_sale_price }}</td>
      <td>{{ data.inventories_stock_min }}</td>
      <td>{{ data.inventories_existence }}</td>
      <td>{{ data.inventories_cost_inv }}</td>
      <td>{{ data.inventories_sale_inv }}</td>
   </tr>
   <tr>
   	 <td class="bg-white" colspan="5"><strong>{{ 'TOTALS' | translate }}</strong></td>
     <td class="bg-white"><strong>L. 0.00</strong></td>
     <td class="bg-white" colspan="2"><strong>L. 0.00</strong></td>
     <td class="bg-white"><strong>L. 0.00</strong></td>
     <td class="bg-white"><strong>L. 0.00</strong></td>
     <td class="bg-white"><strong>L. 0.00</strong></td>
   </tr>
</tbody>
</nz-table>