<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <div class="pull-right">
               <app-backbutton></app-backbutton>
            </div>
            <h4 class="page-title">
               <i class="mdi mdi-settings"></i> {{ 'PERMANENT_DISCOUNTS' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row justify-content-center m-0 mb-4">
      <div class="col-md-7 card-pd">
         <form nz-form [formGroup]="permanentDiscountsForm" class="ctm-label-r">
            <div class="card text-center">
               <h5 class="card-header font-weight-normal">{{ 'ENTER_THE_DATA' | translate }}</h5>
            </div>
            <div class="card-body bg-white">
               <nz-form-item class="mb-0">
                  <div class="row">
                     <div class="col-md-4 text-right">
                        <nz-form-label>{{ 'DISCOUNT' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'DISCOUNT_IN_PERCENTAGE' | translate }}" nz-input formControlName="discount" required/>
                        </nz-form-control>
                     </div>
                     <div class="col-md-1 p-0 float-left">%</div>
                  </div>
               </nz-form-item>
            </div>
         </form>
         <div class="card-footer text-center">
            <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="insertPermanentDiscounts()" [disabled]="!permanentDiscountsForm.valid" [nzLoading]="btnLoading2">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
            </button>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearPermanentDiscounts()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
            </a>    
         </div>

         <div class="mt-4 bg-white">

            <div class="row my-1" *ngIf="loader">
               <div class="col-md-12 text-center">
                 <ng-template #indicatorTemplate>
                   <i nz-icon nzType="loading" class="f-s-18"></i>
                 </ng-template>
                 <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
               </div>
            </div>            

            <nz-table *ngIf="!loader" #basicTable [nzData]="permanentDiscountsDatas">
            <thead>
               <tr>
                  <th class="text-center">{{ 'DISCOUNT' | translate }}</th>
                  <th class="text-center">{{ 'ACTIONS' | translate }}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of permanentDiscountsDatas">
                  <td class="text-center">{{ data.discount }}</td>
                  <td class="text-center">
                     <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="editPermanentDiscountsOpen(data)">
                     <i class="mdi mdi-pencil"></i>            
                     </a>
                     <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.discount_id)">
                     <i class="mdi mdi-delete-forever"></i>
                     </a>                      
                  </td>
               </tr>
            </tbody>
            </nz-table>
         </div>
      </div>
   </div>
</div>

<!-- permanent Discounts start -->
<nz-modal *ngIf="editPermanentDiscountsVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="editPermanentDiscountsVisible" [nzTitle]="editPermanentDiscountsTitleTmpl" (nzOnCancel)="editPermanentDiscountsClose()" [nzFooter]="editPermanentDiscountsFooterTmpl">
<ng-template #editPermanentDiscountsTitleTmpl>{{ 'EDIT_DISCOUNT' | translate }}</ng-template>
<form nz-form [formGroup]="editPermanentDiscountsForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DISCOUNT' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" placeholder="{{ 'DISCOUNT_IN_PERCENTAGE' | translate }}" nz-input formControlName="discount" required />
            </nz-form-control>
         </div>
         <div class="col-md-1 p-0 float-left">
            %    
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #editPermanentDiscountsFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updatePermanentDiscounts()" [disabled]="!editPermanentDiscountsForm.valid" [nzLoading]="btnLoading">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
         </button>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- permanent Discounts modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_DISCOUNT' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_DISCOUNT_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deletePermanentDiscounts()" [nzLoading]="deleteBtnLoading">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->