<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_FROM' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>
        </div>        
      </div>       

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <input type="hidden" nz-input formControlName="bankaccount_id"/>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <nz-input-group nzSearch [nzAddOnAfter]="bankaccountSuffixButton">
                <input type="text" nz-input formControlName="bankaccount_no" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #bankaccountSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchBankaccountOpen()" class="px-2">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </ng-template>                                               
            </nz-form-control>            
          </div>
        </div>        
      </div> 
    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>  
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
        <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
      </a>  
    </div>
  </div>

</form>

<!-- search bankaccount dialog start -->
<app-search-bankaccount-dialog
  [searchBankaccountVisible]="searchBankaccountVisible"
  (searchBankaccountCls)="searchBankaccountClose()"
  [bankaccountDatas]="bankaccountDatas"
  (bankaccountAddInputChild)="bankaccountAddInput($event)">
</app-search-bankaccount-dialog>
<!-- search bankaccount dialog end -->