<section class="bg-w-shadow mb-4">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 *ngIf="!loader" class="page-title">        
          <i class="mdi mdi-account-card-details"></i> {{ supplierInfoDatas.supplier_name }}
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mb-1 mr-1" routerLink="/user/suppliers/new">
            <i class="mdi mdi-plus"></i> {{ 'NEW_SUPPLIER' | translate }}
          </a>
          <app-backbutton></app-backbutton>
        </div>
      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  

  <div class="row m-0">

    <div class="col-md-12 mb-5">

      <nz-card>
        <nz-tabset *ngIf="!loader" class="ctm-tabs-rsp" [nzSelectedIndex]="active_tab">
  
          <nz-tab [nzTitle]="ctmInfoTabTemp1" class="ctm-tabs">
            <ng-template #ctmInfoTabTemp1>
              <i class="mdi mdi-account mr-1"></i>{{ 'SUPPLIER_DATA' | translate }}
            </ng-template>
            <app-supplierinfotab1
              [supplierInfoData]="supplierInfoDatas">
            </app-supplierinfotab1>
          </nz-tab>
  
          <nz-tab [nzTitle]="ctmInfoTabTemp2">
            <ng-template #ctmInfoTabTemp2>
              <i class="mdi mdi-scale-balance mr-1"></i>{{ 'ACCOUNT_STATUS' | translate }}
            </ng-template>
            <app-supplierinfotab2            
              [supplierInfoData]="supplierInfoDatas" 
              [supplierAccountData]="supplierAccountDatas">
            </app-supplierinfotab2>
          </nz-tab>
          <nz-tab [nzTitle]="ctmInfoTabTemp3">
            <ng-template #ctmInfoTabTemp3>
              <i class="mdi mdi-account-convert mr-1"></i>{{ 'SUPPLIER_ACTIVITY' | translate }}
            </ng-template>
            <app-supplierinfotab3 
              [supplierUnPaidBills]="supplierUnPaidBills">
            </app-supplierinfotab3>
          </nz-tab>
          <nz-tab [nzTitle]="ctmInfoTabTemp4">
            <ng-template #ctmInfoTabTemp4>
              <i class="mdi mdi-account-settings mr-1"></i>{{ 'EDIT_INFORMATION' | translate }}
            </ng-template>
            <app-supplierinfotab4
              [supplierInfoData]="supplierInfoDatas"              
              (populateGetSingleSupplier)="populateGetSingleSupplier()">
            </app-supplierinfotab4>
          </nz-tab>                            
        </nz-tabset>
      </nz-card>      

    </div>

  </div>

</div>