<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <a nz-button nzType="secondary" (click)="showFilter()" class="ctm-btn-pale-blue px-2">
            <i class="mdi mdi-filter-variant"></i> {{ 'SHOW_FILTERS' | translate }}            
          </a>
        </div>

        <h4 class="page-title">
          <i class="fa fa-cubes"></i> {{ 'INVENTORY_FLOW' | translate }}
        </h4>
      </div> 

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>
            <app-inventory-flow-filter
              (searchEvent)="receiveSearchData($event)">
            </app-inventory-flow-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">

      <nz-card>
        <app-inventory-flow-table 
          [itemDatas]="itemDatas">
        </app-inventory-flow-table>
      </nz-card>   

    </div>
  </div>    

</div>