<div class="row mb-4">
   <div class="col-md-8 mb-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchaccountreceivablebyamount()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="accountreceivableDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th style="width: 610px;">{{ 'CLIENT' | translate }}</th>
      <th style="width: 374px;">{{ 'AMOUNT' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
   	   <td>
        <a routerLink="/user/customers/info_customer" [queryParams]="{ accountreceivable_id: data.accountreceivable_id}">
          {{ data.accountreceivable_client }}
        </a>                
      </td>
      <td>{{ data.accountreceivable_amount }}</td>
   </tr>
</tbody>
</nz-table>
<div class="text-center mt-4">
   <h6><strong>{{ 'TOTAL_RECEIVABLE' | translate }}: L. 0.00</strong></h6>
</div>