<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <h6 class="card-title f-s-14 text-center">
      {{ 'INCOME_FROM_ACCOUNTING_ACCOUNTS' | translate }}
    </h6>    

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'ACCOUNT_NO' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="bankaccount_no" />
            </nz-form-control>   
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'INITIAL_BALANCE' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="bankaccount_initial_balance" />
            </nz-form-control>               
          </div>
        </div>        
      </div> 
      
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="bank_name" />
            </nz-form-control>         
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BANK' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
              <nz-select nzShowSearch formControlName="bank" nzAllowClear>
                <nz-option nzLabel="Banco Atlántida S.A." nzValue="1"></nz-option>
                <nz-option nzLabel="Banco de Occidente S.A." nzValue="2"></nz-option>
                <nz-option nzLabel="Banco de Honduras S.A." nzValue="3"></nz-option>
                <nz-option nzLabel="Banco Davivienda Honduras - anteriormente HSBC" nzValue="4"></nz-option>
                <nz-option nzLabel="Banco Financiera Centroamericana S.A. (FICENSA)" nzValue="5"></nz-option>
                <nz-option nzLabel="Banco Financiera Comercial Hondureña S.A. (FICOHSA)" nzValue="6"></nz-option>
                <nz-option nzLabel="Banco Hondureño del Café S.A. (BANHCAFE)" nzValue="7"></nz-option>
                <nz-option nzLabel="Banco del País S.A." nzValue="8"></nz-option>
                <nz-option nzLabel="BAC - Bamer" nzValue="9"></nz-option>
                <nz-option nzLabel="Banco Continental S.A." nzValue="10"></nz-option>
                <nz-option nzLabel="Banco de Los Trabajadores" nzValue="11"></nz-option>
                <nz-option nzLabel="Banco Promérica S.A." nzValue="12"></nz-option>
                <nz-option nzLabel="Banco Cuscatlán" nzValue="13"></nz-option>
                <nz-option nzLabel="Banco Lafise S.A." nzValue="14"></nz-option>
                <nz-option nzLabel="Banco Nacional de Desarrollo Agrícola" nzValue="15"></nz-option>
                <nz-option nzLabel="Banco Hondureño para la Producción y la Vivienda (BANHPROVI)" nzValue="16"></nz-option>
                <nz-option nzLabel="Banco Banrural" nzValue="17"></nz-option>            
              </nz-select>          
            </nz-form-control>                                        
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="bank_address" />
            </nz-form-control>            
          </div>
        </div>        
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'CORRELATIVE_INITIAL_CHECKS' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="bank_correlative_checks" />
            </nz-form-control>              
          </div>
        </div>        
      </div>
    </div> 

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="mdi mdi-plus"></i> {{ 'SAVE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- exchange rate form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="accountCodingVisible" [nzTitle]="accountCodingTitleTmpl" (nzOnCancel)="accountCodingClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #accountCodingTitleTmpl>{{ 'ACCOUNTING_ACCOUNT_CODING' | translate }}</ng-template>

    <div class="row">
      <div class="col-md-12">
        <h6>{{ 'STRUCTURE_OF_AN_ACCOUNT_CODE' | translate }}</h6>
        <p class="alert text-white bg-primary">{{ 'ACCOUNT_CODING_SUMMARY' | translate }}</p>             
      </div>
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <p class="center green">{{ 'CORRECT_CODING' | translate }}</p>
            <select size="8" class="custom-select">
              <option>1</option>
              <option>1-01</option>
              <option>1-01-01</option>
              <option>1-02</option>
              <!-- <option>2</option>
              <option>2-01</option>
              <option>2-02</option>
              <option>2-02-01</option> -->
            </select>            
          </div>

          <div class="col-md-6">
            <p class="center red">{{ 'INCORRECT_CODING' | translate }}</p>
            <select size="8" class="custom-select">
              <option>10000</option>
              <option>101000</option>
              <option>102000</option>
              <option>103000</option>
              <!-- <option>00002</option>
              <option>00010</option>
              <option>00020</option> -->
            </select>            
          </div>
        </div>
      </div>
    </div>
      
  
</nz-modal>
<!-- exchange rate form end -->