<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-package-variant"></i> {{ 'CREATE_PURCHASE' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row m-0">
    <div class="col-md-12 text-center">
      <h5 class="font-weight-normal">
        <i class="fa fa-building"></i> Sucursal 1
      </h5>      
    </div>
  </div>

  <form nz-form [formGroup]="purchaseAddform">

    <nz-form-item>

      <div class="row m-0 mt-2 mb-4">

        <div class="col-md-6 mb-3">
          <nz-card>

            <nz-form-label class="remove-collan mb-2">
              <i class="mdi mdi-account"></i> {{ 'ISSUED_BY' | translate }}: <strong>Test User</strong>
            </nz-form-label>

            <div class="row">                  
              <div class="col-md-3">
                <nz-form-label>
                  <i class="fa fa-calendar"></i> {{ 'DATE' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-9">
                <nz-form-control>    
                  <nz-date-picker formControlName="purchase_date" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
                </nz-form-control>  
              </div>
            </div>
            
            <div class="row">                  
              <div class="col-md-3">
                <nz-form-label>
                  <i class="mdi mdi-percent"></i> {{ 'DISCOUNT' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-9">
                <nz-form-control>    
                  <nz-select nzShowSearch formControlName="purchase_discount">
                    <nz-option nzLabel="0" nzValue="0"></nz-option>
                  </nz-select>                                      
                </nz-form-control>  
              </div>
            </div>          

          </nz-card>
        </div>

        <div class="col-md-6">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'SUPPLIER_DATA' | translate }} *
            </h6>

            <div class="row">                  
              <div class="col-md-3">
                <nz-form-label>
                  <i class="mdi mdi-account"></i> {{ 'NAME' | translate }}*
                </nz-form-label>
              </div>

              <div class="col-md-9">
                <input type="hidden" nz-input formControlName="purchase_supplier_id"/>
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-input-group nzSearch [nzAddOnAfter]="supplierSuffixButton">
                    <input type="text" nz-input formControlName="purchase_supplier_name"/>
                  </nz-input-group>
                  <ng-template #supplierSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchSupplierOpen()" class="px-2">
                      <i class="mdi mdi-playlist-plus"></i>
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div>
            </div>
            
            <div class="row">                  
              <div class="col-md-3">
                <nz-form-label>
                  <i class="mdi mdi-email"></i> {{ 'EMAIL' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-9">
                <nz-form-control>    
                  <input type="text" nz-input formControlName="purchase_supplier_email" placeholder="{{ 'EMAIL' | translate }}" />
                </nz-form-control>  
              </div>
            </div>          

          </nz-card>
        </div>   

      </div>
      
      <div class="row m-0 mb-4">
        <div class="col-md-6">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'PRODUCT' | translate }} *
            </h6>

            <div class="row">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-calculator"></i> {{ 'EXCHANGE_RATE' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <nz-input-group nzSearch [nzAddOnAfter]="exchangeSuffixButton">
                    <input type="text" nz-input formControlName="purchase_exchange_rate" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #exchangeSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="exchangeRateOpen()" class="px-2">
                      <i class="mdi mdi-pencil-box-outline"></i>
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div>
            </div>
            
            <div class="row mt-1">                  
              <div class="col-md-4">
                <nz-form-label>
                  <i class="mdi mdi-tag-text-outline"></i> {{ 'PRODUCTS' | translate }}
                </nz-form-label>
              </div>

              <div class="col-md-8">
                <a nz-button nzBlock nzType="secondary" class="ctm-btn-pale-blue" (click)="searchProductOpen()">
                  <i class="mdi mdi-plus"></i> {{ 'ADD_PRODUCTS' | translate }}            
                </a>
              </div>
              <div class="col-md-12">
                <nz-form-control>
                  <label nz-checkbox formControlName="purchase_receive_product">
                    {{ 'RECEIVE_PRODUCT_WHEN_GENERATING_PURCHASE_ORDER' | translate }}
                  </label>
                </nz-form-control>  
              </div>
            </div>          

          </nz-card>
        </div>        

        <div class="col-md-6">
          <nz-card>

            <h6 class="card-title mt-0 f-s-14">
              {{ 'NOTES' | translate }}
            </h6>
            
            <div class="row">
              <div class="col-md-12">
                <textarea nz-input formControlName="purchase_notes"></textarea>                  
              </div>
            </div>

          </nz-card>
        </div>        
      </div>

    </nz-form-item>

  </form>      

  <div class="row m-0">
    
    <div class="col-md-12"> 
      <nz-card>         
        <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzNoResult]="purchaseProductNoDataTmp">
        <ng-template #purchaseProductNoDataTmp></ng-template>
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'PRODUCT' | translate }}</th>
            <th>{{ 'QUANTITY' | translate }}</th>
            <th>{{ 'COST_PRICE' | translate }}</th>
            <th>{{ 'SALE_PRICE' | translate }}</th>
            <th>{{ 'DISCOUNT' | translate }}</th>
            <th>{{ 'TOTAL' | translate }}</th>
            <th>{{ 'CELLAR' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of purchaseProductDatas; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ data.item_name }}</td>
            <td>
              <input type="number" nz-input [value]="data.item_quantity" class="w-80px" (keyup)="quantityOnKeyUp($event.target.value, i)" />
            </td>
            <td>
              <input type="number" nz-input [value]="data.item_cost_price" class="w-80px" (keyup)="costPriceOnKeyUp($event.target.value, i)" />
            </td>
            <td>
              <input type="number" nz-input [value]="data.item_price" class="w-80px" (keyup)="salePriceOnKeyUp($event.target.value, i)" />
            </td>
            <td>
              <!-- L. {{ data.item_discount | number:'.2-2' }} -->
              <input type="number" nz-input [value]="data.item_discount_percent" class="w-80px" (keyup)="discountOnKeyUp($event.target.value, i, data.item_id)" />
            </td>
            <td>L. {{ data.item_total | number:'.2-2' }}</td>
            <td>{{ data.item_cellar }}</td>
            <td>
              <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="purchaseProductRemove(i)">
                <i class="mdi mdi-delete-forever"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>

        <div class="row mt-3">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <div class="row">

              <div class="col-md-12">
                <div class="pull-right">
                  {{ 'SUBTOTAL' | translate }} : 
                  <span>L. {{ purchaseAddform.get('purchase_exempt_amount').value | number:'.2-2' }}</span>
                </div>
              </div>

              <!-- <div class="col-md-12">
                <div class="pull-right">
                  {{ 'ISV_AMOUNT' | translate }} : 
                  <span>L. {{ purchaseAddform.get('purchase_isv_amount').value | number:'.2-2' }}</span>
                </div>
              </div> -->

              <div class="col-md-12">
                <div class="pull-right">
                  {{ 'DISCOUNT' | translate }} : 
                  <span>L. {{ purchaseAddform.get('purchase_final_discount').value | number:'.2-2' }}</span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="pull-right">
                  {{ 'SUBTOTAL' | translate }} : 
                  <span>L. {{ purchaseAddform.get('purchase_total_to_pay').value | number:'.2-2' }}</span>
                </div>
              </div>              
              
              <div class="col-md-12">
                <div class="pull-right">
                  <strong>
                    {{ 'TOTAL_TO_PAY' | translate }} : 
                    <span>L. {{ purchaseAddform.get('purchase_total_to_pay').value | number:'.2-2' }}</span>
                  </strong>
                </div>
              </div>                  

            </div>
          </div>        
        </div>          
      </nz-card>                            
    </div>
    
  </div>

  <div class="row m-0">
    <div class="col-md-12">
      <div class="card-footer text-center">            
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="savePurchase()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
        </a>          
      </div>        
    </div>
  </div>

</div>

<!-- search supplier dialog start -->
<app-search-supplier-dialog
  [searchSupplierVisible]="searchSupplierVisible"
  (searchSupplierCls)="searchSupplierClose()"
  [supplierDatas]="supplierDatas"
  (supplierAddInputChild)="supplierAddInput($event)">
</app-search-supplier-dialog>
<!-- search supplier dialog end -->

<!-- exchange rate form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="exchangeRateVisible" [nzTitle]="exchangeRateTitleTmpl" (nzOnCancel)="exchangeRateClose()" [nzFooter]="exchangeRateFooterTmpl" nzClassName="modal-sm">

  <ng-template #exchangeRateTitleTmpl>{{ 'CHANGE_EXCHANGE_RATE' | translate }}</ng-template>  
  
  <form nz-form [formGroup]="exchangeRateForm">

    <div class="row">
      <div class="col-md-12">
        <nz-form-label>{{ 'EXCHANGE_RATE' | translate }}</nz-form-label>
        <nz-form-control>    
          <input type="text" nz-input formControlName="exchange_rate" />      
        </nz-form-control>        
      </div>      
    </div>

    <ng-template #exchangeRateFooterTmpl>
      <div class="row">
        <div class="col-md-12 text-center">         
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="exchangeRateCalculate()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
          </a>
        </div>
      </div>
    </ng-template>
      
  </form>
</nz-modal>
<!-- exchange rate form end -->

<!-- search product dialog start -->
<app-search-product-dialog
  [searchProductVisible]="searchProductVisible"
  (searchProductCls)="searchProductClose()"
  [saleDatas]="saleDatas"
  (productAddInputChild)="productAddInput($event)">
</app-search-product-dialog>
<!-- search product dialog end -->