<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       
      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>        
        <h4 class="page-title">
          <i class="mdi mdi-book-open-page-variant"></i> {{ 'LEDGER' | translate }}
          <!-- <div class="pull-right">
          <a nz-button nzType="secondary" (click)="showFilter()" class="ctm-btn-pale-blue px-2">
            <i class="mdi mdi-filter-variant"></i> {{ 'SHOW_FILTERS' | translate }}            
          </a>
        </div> -->
        </h4>
      </div>
   </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>            
            <app-ledger-filter 
              (searchEvent)="receiveSearchData($event)">
            </app-ledger-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">
      
      <nz-card>       
        <app-ledger-table
          [ledgerData]="ledgerDatas">
        </app-ledger-table>
      </nz-card>   

    </div>
  </div>   

</div>