<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchBankaccountVisible" [nzTitle]="searchBankaccountTitleTmpl" (nzOnCancel)="searchBankaccountClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchBankaccountTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'BANK_ACCOUNT' | translate }}
  </ng-template>

  <div class="row mb-4">    
    <div class="col-md-8">
      <nz-form-label>{{ 'ACCOUNT_NO' | translate }}/{{ 'NAME' | translate }}</nz-form-label>
      <nz-input-group [nzSuffix]="bankaccountSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="bankaccount_search_title" (keyup)="searchBankaccount()" />
      </nz-input-group>
      <ng-template #bankaccountSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

    <div class="col-md-4">        
      <nz-form-label>{{ 'BANK' | translate }}</nz-form-label>      
      <nz-form-control>    
        <nz-select nzShowSearch [(ngModel)]="search_bank_id" (ngModelChange)="searchBankaccount()" class="w-100">
          <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
          <nz-option nzLabel="Banco Financiera Comercial" nzValue="1"></nz-option>
        </nz-select>                                      
      </nz-form-control>                      
    </div>      
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #bankaccountTable [nzData]="bankaccountDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>        
        <thead>
          <tr>
            <th>{{ 'ACCOUNT_NO' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'ADDRESS' | translate }}</th>
            <th>{{ 'BANK' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of bankaccountTable.data">
            <td>{{ data.bankaccount_no }}</td>
            <td>{{ data.bank_name }}</td>
            <td>{{ data.bank_address }}</td>
            <td>{{ data.bank }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="bankaccountAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>