<section class="bg-w-shadow mb-4">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 *ngIf="customerInfoDatas" class="page-title">        
          <i class="mdi mdi-account-card-details"></i>
          <span *ngIf="customerInfoDatas.type == 'P'"> {{ customerInfoDatas.name }} {{ customerInfoDatas.last_name }}</span>
          <span *ngIf="customerInfoDatas.type == 'C'"> {{ customerInfoDatas.company }}</span>
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mb-1 mr-1" routerLink="/user/customers/new">
            <i class="mdi mdi-account-plus"></i> {{ 'NEW_CUSTOMER' | translate }}
          </a>
          <app-backbutton></app-backbutton>
        </div>
      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-5">

      <nz-card>

        <div class="row my-1" *ngIf="loader">
          <div class="col-md-12 text-center">
            <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
        </div>            

        <nz-tabset *ngIf="!loader" class="ctm-tabs-rsp" [nzSelectedIndex]="active_tab">
  
          <nz-tab [nzTitle]="ctmInfoTabTemp1" class="ctm-tabs">
            <ng-template #ctmInfoTabTemp1>
              <i class="mdi mdi-account mr-1"></i>{{ 'CUSTOMER_DATA' | translate }}
            </ng-template>
            <app-infotab1 [customerInfoData]="customerInfoDatas"></app-infotab1>
          </nz-tab>
  
          <nz-tab [nzTitle]="ctmInfoTabTemp2">
            <ng-template #ctmInfoTabTemp2>
              <i class="mdi mdi-scale-balance mr-1"></i>{{ 'ACCOUNT_STATUS' | translate }}
            </ng-template>
            <app-infotab2 
              [customerInfoData]="customerInfoDatas" 
              [customerAccountData]="customerAccountDatas">
            </app-infotab2>
          </nz-tab>
          <nz-tab [nzTitle]="ctmInfoTabTemp3">
            <ng-template #ctmInfoTabTemp3>
              <i class="mdi mdi-account-convert mr-1"></i>{{ 'CUSTOMER_ACTIVITY' | translate }}
            </ng-template>
            <app-infotab3 
              [customerUnPaidBills]="customerUnPaidBills"
              [customerIssuedInvoiceBills]="customerIssuedInvoiceBills"
              [quotationDatas]="quotationDatas"
              [invoiceDatas]="invoiceDatas"
              [purchaseDatas]="purchaseDatas">              
            </app-infotab3>
          </nz-tab>
          <nz-tab [nzTitle]="ctmInfoTabTemp4">
            <ng-template #ctmInfoTabTemp4>
              <i class="mdi mdi-account-settings mr-1"></i>{{ 'EDIT_INFORMATION' | translate }}
            </ng-template>
            <app-infotab4 
              [customerInfoData]="customerInfoDatas"
              (populateGetSingleCustomer)="populateGetSingleCustomer()">              
            </app-infotab4>
          </nz-tab>                            
        </nz-tabset>
      </nz-card>      

    </div>

  </div>

</div>