<nz-table #basicTable [nzData]="batchofinvoiceDisplayData" class="bg-white" nzFrontPagination="false" [nzScroll]="{ x: '1100px' }" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'CAI' | translate }}</th>
      <th>{{ 'RTN' | translate }}</th>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'CUSTOMER' | translate }}</th>
      <th>{{ 'SUBTOTAL' | translate }}</th>
      <th>{{ 'DISCOUNT' | translate }}</th>
      <th>{{ 'TAX' | translate }}</th>
      <th>{{ 'TOTAL' | translate }}</th>
      <th>{{ 'BALANCE' | translate }}</th>
      <th>{{ 'PAYMENT_METHOD' | translate }}</th>
      <th>{{ 'TIPE_OF_PAY' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td style="width:115px;">
      <a routerLink="/user/income/invoice/info" [queryParams]="{ batchofinvoice_id: data.batchofinvoice_id}" class="font-weight-normal">
          {{ data.batchofinvoice_code }}
        </a>
      </td>
      <td style="width:196px;">{{ data.batchofinvoice_cai }}</td>
      <td>{{ data.batchofinvoice_rtn }}</td>
      <td>{{ data.batchofinvoice_date }}</td>
      <td>{{ data.batchofinvoice_customer }}</td>
      <td>{{ data.batchofinvoice_subtotal }}</td>
      <td>{{ data.batchofinvoice_discount }}</td>
      <td>{{ data.batchofinvoice_tax }}</td>
      <td>{{ data.batchofinvoice_total }}</td>
      <td>{{ data.batchofinvoice_balance }}</td>
      <td>{{ data.batchofinvoice_payment_method }}</td>
      <td>{{ data.batchofinvoice_tipe_of_pay }}</td>
      <td>
        <span *ngIf="data.batchofinvoice_state == '1'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span>
        <span *ngIf="data.batchofinvoice_state == '0'" class="badge badge-pill badge-success">
          {{ 'PAID' | translate }}
        </span>        
      </td>
    </tr>
    <tr> 
      <td colspan="5"><strong>{{ 'TOTALS' | translate }}</strong></td>
      <td><strong>L. 0.00</strong></td>
      <td><strong>L. 0.00</strong></td>
      <td><strong>L. 0.00</strong></td>
      <td><strong>L. 0.00</strong></td>
      <td colspan="5"><strong>L. 0.00</strong></td>

    </tr>
  </tbody>
</nz-table>

