<div class="row mb-4">
   <div class="col-md-4">
      <button nz-button nzType="primary" class="ctm-btn-pale-blue px-2 mb-1 mr-1" (click)="defaultWineriesOpen()">
         {{ 'DEFAULT_WINERY' | translate }}
      </button>
   </div>

  <div class="offset-md-8 col-md-4">
     <div class="row">
        <div class="col-md-3">
           <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
           <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
              <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
           </nz-input-group>
           <ng-template #keyupsearchSuffixIcn>
              <i nz-icon nzType="search"></i>
           </ng-template>
        </div>
     </div>
  </div>
</div>

<h6 class="card-title f-s-14 text-center">
   {{ 'LIST_OF_WINERIES' | translate }}
</h6>

<nz-table [nzData]="wineryDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
  <div class="black2">
     {{ 'NO_RECORD_FOUND' | translate }}
  </div>
</ng-template>
<thead>
  <tr>
     <th>{{ 'NAME' | translate }}</th>
     <th>{{ 'CITY' | translate }}</th>
     <th>{{ 'DESCRIPTION' | translate }}</th>
     <th>{{ 'DEFAULT_WINERY' | translate }}</th>
     <th>{{ 'ACTION' | translate }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of wineryDisplayData">
     <td>{{ data.name }}</td>
     <td>{{ data.city }}</td>
     <td>{{ data.description }}</td>
     <td>
         <i *ngIf="data.default_winery" class="mdi mdi-checkbox-marked-circle-outline font-20 color-green2"></i>
     </td>
     <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2 mb-1" (click)="editWineriesOpen(data)">
        <i class="mdi mdi-pencil"></i>            
        </a>
        <a *ngIf="wineryDatas.length > 1" nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.wineries_id)">
        <i class="mdi mdi-delete-forever"></i>
        </a>                      
     </td>
  </tr>
</tbody>
</nz-table>

<!-- default wineries modal start -->
<nz-modal *ngIf="defaultWineriesVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="defaultWineriesVisible" [nzTitle]="defaultWineriesTitleTmpl" (nzOnCancel)="defaultWineriesClose()" [nzFooter]="defaultWineriesFooterTmpl">

   <ng-template #defaultWineriesTitleTmpl>{{ 'SELECT_DEFAULT_WINERY' | translate }}</ng-template>

   <form nz-form [formGroup]="defaultWineriesForm">
     <nz-form-item class="mb-0">
        <div class="row">
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
                     <nz-form-label>{{ 'DEFAULT_WINERY' | translate }}*</nz-form-label>
                  </div>
                  <div class="col-md-8">
                     <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                        <nz-select nzShowSearch formControlName="wineries_id" required>
                           <nz-option *ngFor="let winery of wineryDatas" [nzValue]="winery.wineries_id" [nzLabel]="winery.name"></nz-option>                                    
                        </nz-select>                     
                     </nz-form-control>
                  </div>
               </div>
           </div>
        </div>
     </nz-form-item>
   </form>

   <ng-template #defaultWineriesFooterTmpl>
     <div class="row">
        <div class="col-md-12 text-center">         
           <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateDefaultWinery()" [disabled]="!defaultWineriesForm.valid" [nzLoading]="btnLoadingDefaultWinery">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
           </button>
        </div>
     </div>
   </ng-template>
</nz-modal>
<!-- default wineries modal end -->

<!-- edit wineries modal start -->
<nz-modal *ngIf="editWineriesVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="editWineriesVisible" [nzTitle]="editWineriesTitleTmpl" (nzOnCancel)="editWineriesClose()" [nzFooter]="editWineriesFooterTmpl">
<ng-template #editWineriesTitleTmpl>{{ 'MODIFY_WINERY' | translate }}</ng-template>
<form nz-form [formGroup]="editWineriesForm">
  <nz-form-item class="mb-0">
     <div class="row">
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
            <nz-form-control>
               <input type="hidden" nz-input formControlName="wineries_id" />
            </nz-form-control>
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="name" />
           </nz-form-control>
           </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'CITY' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="city" />
           </nz-form-control>
         </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="address" />
           </nz-form-control>
         </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
            <div class="col-md-4">
           <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
           </div>
           <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
            <textarea rows="3" class="mt-1" nz-input formControlName="description"></textarea>            
          </nz-form-control>
         </div>
         </div>
        </div>
     </div>
  </nz-form-item>
</form>
<ng-template #editWineriesFooterTmpl>
  <div class="row">
     <div class="col-md-12 text-center">         
        <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateWinery()" [disabled]="!editWineriesForm.valid" [nzLoading]="btnLoading">
        <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </button>
     </div>
  </div>
</ng-template>
</nz-modal>
<!-- edit wineries modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_WINERIES' | translate }}</ng-template>
<div class="text-center">
  <p>{{ 'DELETE_WINERIES_ACCOUNT_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
  <div class="row">
     <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
        {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteWinery()" [nzLoading]="deleteBtnLoading">
        {{ 'OK' | translate }}            
        </a>
     </div>
  </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->