<section class="bg-w-shadow mb-4">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-file-document"></i> {{ 'NEW_PAYMENT_LINK' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="col-md-12">
      <form nz-form [formGroup]="newpaymentlinks" >
         <nz-form-item style="margin-bottom:0px;">
            <div class="row m-0 mt-4 mb-1">
               <div class="col-md-12">
                  <nz-card>
                     <nz-form-item >
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5">
                                    <nz-form-label>
                                       {{ 'CUSTOMER' | translate }}
                                    </nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <div class="row">
                                       <div class="col-md-10">
                                          <nz-form-control>
                                             <nz-select nzShowSearch formControlName="customer_name">
                                                <nz-option nzLabel="{{ 'CUSTOMER' | translate }} 1" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'CUSTOMER' | translate }} 2" nzValue="2"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                       <div class="col-md-2">
                                          <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="searchCustomerOpen()">
                                          <i class="mdi mdi-plus"></i>            
                                          </a>                      
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5">
                                    <nz-form-label>
                                       {{ 'CREATION_DATE' | translate }}*
                                    </nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-date-picker nzPlaceHolder="yyyy-mm-dd" nzShowSearch nzAllowClear formControlName="creation_date"></nz-date-picker>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5">
                                    <nz-form-label>
                                       {{ 'SELLER' | translate }}
                                    </nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch formControlName="seller">
                                          <nz-option nzLabel="{{ 'SELLER' | translate }} 1" nzValue="0"></nz-option>
                                          <nz-option nzLabel="{{ 'SELLER' | translate }} 2" nzValue="1"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5">
                                    <nz-form-label>
                                       {{ 'DISCOUNT' | translate }}
                                    </nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch formControlName="discount">
                                          <nz-option nzLabel="None 0%" nzValue="0"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5">
                                    <nz-form-label>
                                       {{ 'CELLAR' | translate }}*
                                    </nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control  nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-select nzShowSearch formControlName="cellar">
                                          <nz-option nzLabel="{{ 'PRINCIPAL' | translate }}" nzValue="0"></nz-option>
                                          <nz-option nzLabel="{{ 'TEST_WINERY' | translate }}" nzValue="1"></nz-option>
                                          <nz-option nzLabel="{{ 'VARIOUS' | translate }}" nzValue="2"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </nz-form-item>
                  </nz-card>
               </div>
            </div>
         </nz-form-item>
      </form>
      <div class="row m-0 mt-3">
         <div class="col-md-12">
            <nz-card>
               <div class="col-md-12 m-0">
                  <nz-table class="bg-white ctm-r-b-b" nzShowPagination="false" [nzData]="listOfnewpaymentlinksData">
                     <thead>
                        <tr>
                           <th>{{ 'ITEM' | translate }}</th>
                           <th>{{ 'REFERENCE' | translate }}</th>
                           <th>{{ 'QUANTITY' | translate }}</th>
                           <th>{{ 'PRICE' | translate }}</th>
                           <th>{{ 'DISCOUNT' | translate }}</th>
                           <th>{{ 'TAX' | translate }}</th>
                           <th>{{ 'TOTAL' | translate }}</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let newpaymentlinksItems of listOfnewpaymentlinksData; let i = index" class="editable-row">
                           <td style="width:210px; display:flex;">
                              <nz-select class="ctm-w-100" nzShowSearch nzPlaceHolder="Item">
                                 <nz-option nzLabel="Item 1" nzValue="0"></nz-option>
                                 <nz-option nzLabel="Item 2" nzValue="1"></nz-option>
                              </nz-select>
                              <a nz-button nzType="primary" nzShape="round" class="px-2 ml-1 color-white" (click)="itemAddFormOpen()">
                              <i class="mdi mdi-plus"></i>            
                              </a>       
                           </td>
                           <td>
                              <input type="text" nz-input [value]='newpaymentlinksItems.reference' />
                           </td>
                           <td>
                              <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1" [(ngModel)]="newpaymentlinksItems.quantity"></nz-input-number>
                           </td>
                           <td>
                              <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1" [(ngModel)]="newpaymentlinksItems.price"></nz-input-number>
                           </td>
                           <td>
                              <nz-select style="width:120px;" class="ctm-w-100" nzPlaceHolder="None (0%)" nzShowSearch>
                                 <nz-option nzLabel="None (0%)" nzValue="0"></nz-option>
                              </nz-select>
                           </td>
                           <td>
                              <nz-select style="width:120px;" class="ctm-w-100" nzPlaceHolder="(15 %)" nzShowSearch>
                                 <nz-option nzLabel="None (0%)" nzValue="0"></nz-option>
                              </nz-select>
                           </td>
                           <td>L.{{ newpaymentlinksItems.total | number }}</td>
                           <td>
                              <a (click)="deletenewpaymentlinksRow(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </nz-table>
                  <br>
                  <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="addnewpaymentlinksRow()">
                  {{ 'ADD' | translate }}            
                  </a>
               </div>
               <div class="col-md-12 my-5">
                  <div class="row">
                     <div class="col-md-6">
                        <nz-form-label><strong>{{ 'NOTES' | translate }}</strong></nz-form-label>
                        <textarea rows="2" nz-input></textarea>
                     </div>
                     <div class="col-md-6">
                        <div class="row" style="color:rgba(0,0,0,.85);">
                           <div class="col-md-12">
                              <div class="pull-right">
                                 {{ 'SUBTOTAL' | translate }} : 
                                 <span>L. 0.00</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="pull-right">
                                 {{ 'EXONERATED_AMOUNT' | translate }} : 
                                 <span>L. 0.00</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="pull-right">
                                 {{ 'EXEMPT_AMOUNT' | translate }} : 
                                 <span>L. 0.00</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="pull-right">
                                 {{ 'RECORDED_IMPORT' | translate }} : 
                                 <span>L. 0.00</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="pull-right">
                                 {{ 'DISCOUNT' | translate }} 0% : 
                                 <span>L. 0.00</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="pull-right">
                                 <strong>
                                 {{ 'TOTAL' | translate }} : 
                                 <span>L. 0.00</span>
                                 </strong>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 text-left">
                     <div class="row">
                        <div class="col-md-12">
                           <nz-form-label nz-tooltip [nzTooltipTitle]="bridgeToolTmp">{{ 'PAYMENT_BRIDGE' | translate }}* <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                           <ng-template #bridgeToolTmp>{{ 'SELECT_MULTI_BRIDGE' | translate }}</ng-template>
                        </div>
                        <div class="col-md-12">
                           <nz-form-control class="ctm-w-100">
                              <nz-select class="ctm-w-100" nzMode="multiple" nzShowSearch>
                                 <nz-option nzLabel="paygate" nzValue="0"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
         <div class="col-md-12">
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="savePaymentlink()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>       
            </div>
         </div>
      </div>
   </div>
</div>
<!-- search customer dialog start -->
<app-search-customer-dialog
[searchCustomerVisible]="searchCustomerVisible"
(searchCustomerCls)="searchCustomerClose()"
[customerDatas]="customerDatas"
(customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->
<!-- item add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="itemAddFormVisible" [nzTitle]="itemAddFormTitleTmpl" (nzOnCancel)="itemAddFormClose()" [nzFooter]="itemAddFormFooterTmpl" nzWidth="1000">
<ng-template #itemAddFormTitleTmpl>{{ 'NEW_ITEM' | translate }}</ng-template>
<form nz-form [formGroup]="itemAddForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="item_type">
                        <nz-option nzLabel="{{ 'SERVICE' | translate }}" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'PRODUCT' | translate }}" nzValue="1"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <input type="text" nz-input formControlName="item_name" placeholder="{{ 'PRODUCT_NAME' | translate }}" />
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <input type="text" nz-input formControlName="item_code" placeholder="{{ 'PRODUCT_CODE' | translate }}" />
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CATEGORY' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-10">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear formControlName="item_category">
                              <nz-option nzLabel="Category 1" nzValue="1"></nz-option>
                              <nz-option nzLabel="Category 2" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-2">
                        <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openCategoryDialog()">
                        <i class="mdi mdi-plus"></i>            
                        </a>                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SUPPLIER' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-10">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear formControlName="item_provider_id">
                              <nz-option nzLabel="Provider 1" nzValue="1"></nz-option>
                              <nz-option nzLabel="Provider 2" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-2">
                        <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="supplierDialogOpen()">
                        <i class="mdi mdi-plus"></i>            
                        </a>                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <textarea rows="2" nz-input formControlName="item_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <img src="assets/images/no-photo.png" height="150">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <nz-form-control>    
               <input type="file" nz-input formControlName="item_image" class="h-auto" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <!-- price and taxes form start -->
   <h6 class="border-bottom pb-3 pt-2">
      {{ 'PRICES_AND_TAXES' | translate }}
   </h6>
   <nz-form-item>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="item_currency">
                        <nz-option nzLabel="{{ 'LEMPIRAS' | translate }}" nzValue="1"></nz-option>
                        <nz-option nzLabel="{{ 'DOLLARS' | translate }}" nzValue="2"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-input-group [nzSuffix]="suffixTemplate">
                        <input type="number" nz-input formControlName="item_discount" />
                     </nz-input-group>
                     <ng-template #suffixTemplate>
                        <i class="mdi mdi-percent"></i>
                     </ng-template>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SALE_PRICE' | translate }}*</nz-form-label>
                  <small (click)="showSalePriceCollapse()" class="text-primary">
                  <br>
                  <i class="mdi mdi-plus-circle mr-1"></i>
                  <span *ngIf="!salePriceCollapse">{{ 'USE_PRICE_LIST' | translate }}</span>
                  <span *ngIf="salePriceCollapse">{{ 'REMOVE_PRICE_LIST' | translate }}</span>
                  </small>              
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                        <input type="number" nz-input formControlName="item_sale_price1" placeholder="{{ 'SALE_PRICE' | translate }}" />
                     </nz-input-group>
                     <ng-template #suffixButton>
                        <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(1)">
                        {{ 'PRICE_WITH_ISV' | translate }}
                        </button>
                     </ng-template>
                  </nz-form-control>
                  <!-- sale price 2 show start -->                    
                  <div *ngIf="salePriceCollapse">
                     <nz-form-control>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                           <input type="number" nz-input formControlName="item_sale_price2" placeholder="{{ 'SALE_PRICE' | translate }} 2" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                           <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(2)">
                           {{ 'PRICE_WITH_ISV' | translate }}
                           </button>
                        </ng-template>
                     </nz-form-control>
                  </div>
                  <!-- sale price 2 show end -->                      
                  <!-- sale price 3 show start -->                    
                  <div *ngIf="salePriceCollapse">
                     <nz-form-control>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                           <input type="number" nz-input formControlName="item_sale_price3" placeholder="{{ 'SALE_PRICE' | translate }} 3" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                           <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(3)">
                           {{ 'PRICE_WITH_ISV' | translate }}
                           </button>
                        </ng-template>
                     </nz-form-control>
                  </div>
                  <!-- sale price 3 show end -->  
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'COST_PRICE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>    
                     <input type="text" nz-input formControlName="item_cost_price" />
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <!-- sales taxes row start -->
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SALES_TAXES' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_sales_tax1">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_sales_tax2">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'PURCHASE_TAXES' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_tax_when_buy1">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_tax_when_buy2">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sales taxes row end -->            
   </nz-form-item>
   <div *ngIf="this.itemAddForm.value.item_type=='1'">
      <!-- physical distribution start -->    
      <h6 class="border-bottom pb-3 pt-2">
         {{ 'PHYSICAL_DISTRIBUTION' | translate }}
      </h6>
      <nz-form-item>
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-12">
                           <nz-form-label nz-tooltip [nzTooltipTitle]="winriesToolTmp">{{ 'WINERIES' | translate }}* <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                           <ng-template #winriesToolTmp>{{ 'SELECT_MULTI_WINERIES' | translate }}</ng-template>
                        </div>
                        <div class="col-md-12">
                           <nz-form-control>
                              <nz-select nzMode="multiple" nzShowSearch formControlName="item_wineries">
                                 <nz-option nzLabel="Winries 1" nzValue="1"></nz-option>
                                 <nz-option nzLabel="Winries 2" nzValue="2"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-12">
                           <nz-form-label>{{ 'CURRENT_EXISTENCE' | translate }}*</nz-form-label>
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <input type="text" nz-input formControlName="item_current_existence" />
                           </nz-form-control>
                        </div>
                        <div class="col-md-12">
                           <nz-form-label>{{ 'MINIMUM_EXISTENCE' | translate }}*</nz-form-label>
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <input type="number" nz-input formControlName="item_minimum_existency" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6">
                     <nz-form-control>
                        <nz-form-label>{{ 'LOW_MAIL_EXISTENCE' | translate }}</nz-form-label>
                        <nz-switch
                        formControlName="item_low_mail"
                        [nzCheckedChildren]="checkedTemplate"
                        [nzUnCheckedChildren]="unCheckedTemplate">
                        </nz-switch>
                        <ng-template #checkedTemplate>{{ 'YES' | translate }}</ng-template>
                        <ng-template #unCheckedTemplate>{{ 'NO' | translate }}</ng-template>
                     </nz-form-control>
                  </div>
                  <div class="col-md-6" *ngIf="itemAddForm.get('item_low_mail').value">
                     <nz-form-label>{{ 'NOTIFY_IN_STOCK' | translate }}</nz-form-label>
                     <nz-form-control>
                        <nz-input-group [nzAddOnBefore]="prefixButton" [nzAddOnAfter]="suffixButton">
                        <input type="number" nz-input formControlName="item_notify_in_stock"/>
                        </nz-input-group>
                        <ng-template #prefixButton class="bg-primary">
                           <i class="mdi mdi-minus cursor-pointer" (click)="notify_add_remove(0)"></i>
                        </ng-template>
                        <ng-template #suffixButton class="bg-primary">                  
                           <i class="mdi mdi-plus cursor-pointer" (click)="notify_add_remove(1)"></i>
                        </ng-template>
                     </nz-form-control>
                  </div>
               </div>
            </div>
         </div>
      </nz-form-item>
      <!-- physical distribution end -->
   </div>
   <ng-template #itemAddFormFooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="itemAddSave()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
            </a>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- item add form end -->
<!-- category add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="categoryDialogVisible" [nzTitle]="categoryDTitleTmpl" (nzOnCancel)="closeCategoryDialog()" [nzFooter]="categoryDFooterTmpl">
<ng-template #categoryDTitleTmpl>{{ 'NEW_CATEGORY' | translate }}</ng-template>
<form nz-form [formGroup]="addCategoryForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="category_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #categoryDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeCategoryDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveCategory()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- category add form end -->
<!-- supplier form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="supplierDialogVisible" [nzTitle]="supplierDTitleTmpl" (nzOnCancel)="supplierDialogClose()" [nzFooter]="supplierDFooterTmpl">
<ng-template #supplierDTitleTmpl>{{ 'NEW_SUPPLIER' | translate }}</ng-template>
<form nz-form [formGroup]="supplierForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="supplier_name" placeholder="{{ 'SUPPLIER_NAME' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_phone" placeholder="{{ 'PHONE' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_mobile" placeholder="{{ 'MOBILE' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_fax" placeholder="{{ 'FAX' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_email" placeholder="{{ 'EMAIL' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <textarea rows="3" nz-input formControlName="supplier_direction" placeholder="{{ 'DIRECTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #supplierDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="supplierDialogClose()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="supplierAdd()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- supplier form end -->
<!-- priceIsv1 form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="priceIsv1Visible" [nzTitle]="priceIsv1TitleTmpl" (nzOnCancel)="priceIsv1close()" [nzFooter]="priceIsv1FooterTmpl" nzClassName="modal-sm">
<ng-template #priceIsv1TitleTmpl>{{ 'FINAL_PRICE' | translate }}</ng-template>
<form nz-form [formGroup]="priceIsv1Form">
   <div class="row">
      <div class="col-md-12">
         <nz-form-control>    
            <input type="number" nz-input formControlName="final_price" placeholder="{{ 'ENTER_FINAL_PRICE' | translate }}" />
         </nz-form-control>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 text-center">
         <nz-form-label>{{ 'TAX_TO_CALCULATE' | translate }}</nz-form-label>
         <nz-form-control>
            <nz-select formControlName="tax_to_calculate">
               <nz-option nzLabel="ISV (15%)" nzValue="1"></nz-option>
            </nz-select>
         </nz-form-control>
      </div>
   </div>
   <ng-template #priceIsv1FooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="priceIsv1calculate()">
            <i class="mdi mdi-calculator"></i> {{ 'CALCULATE' | translate }}   
            </a>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- priceIsv1 form end -->
<!-- item view start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="itemViewVisible" [nzTitle]="itemViewTitleTmpl" (nzOnCancel)="itemViewClose()" [nzFooter]="itemViewFooterTmpl" nzWidth="900" nzClassName="item-view-d">
<ng-template #itemViewTitleTmpl>{{ 'NEW_ITEM' | translate }}</ng-template>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Product
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Item 1
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8"> 
            C1
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Category 1
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Supplier 1
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Item 1
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <img src="assets/images/no-photo.png" height="150" class="mt-2">
         </div>
      </div>
   </div>
   <div class="col-md-6">
   </div>
</div>
<!-- price and taxes form start -->
<h6 class="border-bottom pb-3 pt-2">
   {{ 'PRICES_AND_TAXES' | translate }}
</h6>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            Lempiras
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            0%
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'SALE_PRICE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-12">0</div>
               <div class="col-md-12">0</div>
               <div class="col-md-12">0</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'COST_PRICE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            0
         </div>
      </div>
   </div>
</div>
<!-- sales taxes row start -->
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'SALES_TAXES' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-6">
                  ISV (15%)
               </div>
               <div class="col-md-6">
                  ISV (15%)
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <nz-form-label>{{ 'PURCHASE_TAXES' | translate }}</nz-form-label>
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-6">       
                  ISV (15%)                
               </div>
               <div class="col-md-6">
                  ISV (15%)
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- sales taxes row end -->            
<!-- physical distribution start -->    
<h6 class="border-bottom pb-3 pt-2">
   {{ 'PHYSICAL_DISTRIBUTION' | translate }}
</h6>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-12">
                  <nz-form-label nz-tooltip [nzTooltipTitle]="winriesToolTmp">{{ 'WINERIES' | translate }} <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                  <ng-template #winriesToolTmp>{{ 'SELECT_MULTI_WINERIES' | translate }}</ng-template>
               </div>
               <div class="col-md-12">
                  Winries 1
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-12">
                  <nz-form-label>{{ 'CURRENT_EXISTENCE' | translate }}</nz-form-label>
                  0
               </div>
               <div class="col-md-12">
                  <nz-form-label>{{ 'MINIMUM_EXISTENCE' | translate }}</nz-form-label>
                  0
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-6">
            <nz-form-label>{{ 'LOW_MAIL_EXISTENCE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-6">
            <nz-form-label>{{ 'NOTIFY_IN_STOCK' | translate }}</nz-form-label>
            0
         </div>
      </div>
   </div>
</div>
<!-- physical distribution end -->
<ng-template #itemViewFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="itemViewClose()">
         {{ 'CLOSE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- item view end -->