<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-settings"></i> {{ 'INVENTORY_TRANSACTIONS' | translate }}
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/settings/inventory/transactions/create-transactions">
               <i class="mdi mdi-plus"></i> {{ 'NEW_TRANSACTION' | translate }}
               </a>
               <app-backbutton></app-backbutton>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="col-md-12 mt-3">
      <nz-card>
         <div class="row mb-4">
            <div class="offset-md-8 col-md-4">
               <div class="row">
                  <div class="col-md-3">
                     <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
                  </div>
                  <div class="col-md-9">
                     <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                        <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                     </nz-input-group>
                     <ng-template #keyupsearchSuffixIcn>
                        <i nz-icon nzType="search"></i>
                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h6 class="card-title f-s-14 text-center">
                  {{ 'TRANSACTION_LIST' | translate }}
               </h6>
               <nz-table #transationsDisplayData [nzData]="transationsDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
               <ng-template #noTableData>
                  <div class="black2">
                     {{ 'NO_RECORD_FOUND' | translate }}
                  </div>
               </ng-template>
               <thead>
                  <tr>
                     <th>{{ 'TRANSACTION_NAME' | translate }}</th>
                     <th>{{ 'TRANSACTION_TYPE' | translate }}</th>
                     <th>{{ 'ACTIONS' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let data of transationsDisplayData.data">
                     <td>{{ data.transaction_name}}</td>
                     <td>{{ data.transaction_type }}</td>
                     <td>
                        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="editTransationsOpen()">
                        <i class="mdi mdi-pencil"></i>            
                        </a>
                        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
                        <i class="mdi mdi-delete-forever"></i>            
                        </a>            
                     </td>
                  </tr>
               </tbody>
               </nz-table>      
            </div>
         </div>
      </nz-card>
   </div>
</div>
<!-- edit Transations modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editTransationsVisible" [nzTitle]="editTransationsTitleTmpl" (nzOnCancel)="editTransationsClose()" [nzFooter]="editTransationsFooterTmpl">
<ng-template #editTransationsTitleTmpl>{{ 'MODIFY_WINERY' | translate }}</ng-template>
<form nz-form [formGroup]="editTransationsForm" class="ctm-label-r">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="text" nz-input formControlName="category_name" placeholder="{{ 'TRANSACTION_NAME' | translate }}" />
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <textarea rows="3" class="mt-1" nz-input formControlName="category_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>            
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'TYPE' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-select nzShowSearch formControlName="category_type">
                        <nz-option nzLabel="{{ 'TICKETS' | translate }}" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'DEPARTURES' | translate }}" nzValue="1"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #editTransationsFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editTransationsSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- edit Transations modal end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_TRANSACTIONS' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_TRANSACTIONS_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->