<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'SEE_WORK_ORDER' | translate }}
        </h4>
      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-4">
      <nz-card class="color-b">

        <div class="row">

          <div class="col-md-12">
            <div class="invoice-title row">
              <div class="col-md-6">

                <h4 class="font-16 m-tb-10">
                  <strong>{{ 'NUMBER' | translate }}. {{ infoworkDatas.infowork_order_no }}</strong>
                </h4>
              </div>
              <div class="col-md-6 text-right">
                <strong>DEMO LOGISTICAS</strong>
                <br>{{ 'RTN' | translate }}: 082132456<br>
                {{ 'C_A_I' | translate }}: 4DAN11223/40455
              </div>
            </div>  
            
            <hr>

            <div class="row">
              <div class="col-6">
                <address>
                  {{ 'CUSTOMER' | translate }}: {{ infoworkDatas.infowork_customer_name | translate}}<br>
                  {{ 'CREATION_DATE' | translate }}: {{ infoworkDatas.infowork_date | date: 'MMM d, y h:mm:ss a' }}<br>
                  {{ 'EXPIRATION_DATE' | translate }}: {{ infoworkDatas.infowork_date | date: 'MMM d, y h:mm:ss a' }}
                </address>
              </div>
              <div class="col-6 text-right">
                <address>
                  {{ 'ISSUED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'ATTENDED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'EXCHANGE_RATE' | translate }}:<br>
                  (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
                </address>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="py-2">
									<h3 class="panel-title font-20"><strong>{{ 'ORDER_SUMMARY' | translate }}</strong></h3>
								</div>
              </div>

              <div class="col-md-12">
                
                <nz-table [nzData]="infoworkDatas.infowork_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="infoworkProductNoDataTmp">
                  <ng-template #infoworkProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th><strong>#</strong></th>
                      <th class="text-center"><strong>{{ 'CODE' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'QUANTITY' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'PRICE' | translate }}</strong></th>
                      <th class="text-right"><strong>{{ 'DISCOUNT' | translate }}</strong></th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of infoworkDatas.infowork_product_item; let i = index">
                      <td>{{ data.item_quantity }}</td>
                      <td class="text-center">{{ data.item_code }}</td>
                      <td class="text-center">{{ data.item_description }}</td>
                      <td class="text-center">L. {{ data.item_price | number:'.2-2' }}</td>
                      <td class="text-center">L. {{ data.item_discount | number:'.2-2' }}</td>
                      <td class="text-right">L. {{ data.item_total | number:'.2-2' }}</td>
                    </tr>

                    <tr>
                      <td colspan="3" rowspan="11" class="border-0"></td>
                      <td class="thick-line text-right" colspan="2">
                        <strong>{{ 'SUBTOTAL' | translate }}</strong>
                      </td>
                      <td class="thick-line text-right pb-0">L. 00.00</td>
                    </tr>          

                   
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'EXEMPT_AMOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 0.00</td>
                    </tr>    
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'TAXED_AMOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 00.00</td>
                    </tr> 
                   
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'ISV' | translate }}</strong></td>
                      <td class="no-line text-right pt-0 pb-0">L. 0.00</td>
                    </tr>
                    
                    <tr class="text-success">
                      <td class="no-line text-right pt-0 pb-0 color-green2" colspan="2">
                        <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
                      <td class="no-line text-right pt-0 pb-0 color-green2">
                        <strong>L. 9.00</strong>
                      </td>
                    </tr>

                  </tbody>
                </nz-table>                
              </div>              
            </div>

          </div>

        </div>

      </nz-card>
    </div>

  </div>


</div>  

