<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchAccountVisible" [nzTitle]="searchAccountTitleTmpl" (nzOnCancel)="searchAccountClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchAccountTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'ACCOUNT' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'ACCOUNT' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="accountSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="account_search_title" (keyup)="searchAccount()" />
      </nz-input-group>
      <ng-template #accountSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #accountTable [nzData]="accountDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>        
        <thead>
          <tr>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'ACCOUNT' | translate }}</th>
            <th>{{ 'BELONGING_TO' | translate }}</th>
            <th>{{ 'ACCOUNT_IS' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of accountTable.data">
            <td>{{ data.account_code }}</td>
            <td>{{ data.account_description }}</td>
            <td>{{ data.belonging_to }}</td>
            <td>{{ data.account_is }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="accountAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>