<nz-table [nzData]="paymentsmadeDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'SUPPLIER' | translate }}</th>
      <th><i class="mdi mdi-information-outline"></i> {{ 'DOCUMENT' | translate }}</th>
      <th><i class="mdi mdi-bank"></i> {{ 'BANK' | translate }}</th>
      <th><i class="fa fa-usd" aria-hidden="true"></i> {{ 'TOTAL' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of paymentsmadeDatas">
      <td class="ctm_tablehead">
         {{ data.payment_made_code }}
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_supplier }}     
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_document }}
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_bank }}
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_total }}
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_date }}
      </td>
      <td class="ctm_tablehead">
         {{ data.payment_made_state }}
      </td>
   </tr>
</tbody>
</nz-table>