<form nz-form [formGroup]="customerAccountStatusFilter" class="ctm-label-r">
  <nz-form-item>  
    <div class="row">    

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>            
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>    
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>    
            </nz-form-control>              
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>            
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>    
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>     
            </nz-form-control>          
          </div>
        </div>      

      </div>

      <div class="col-md-12 card-footer">
        <nz-form-control class="text-center">   

          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1" (click)="accountStatusFilter()">
            <i class="mdi mdi-filter-outline"></i> {{ 'FILTER' | translate }}
          </a>

          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1" (click)="clearFilter()">
            <i class="mdi mdi-filter-remove"></i> {{ 'CLEAN_FILTERS' | translate }}
          </a>    
          
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1" (click)="accountStatusPrint()">
            <i class="mdi mdi-printer"></i> {{ 'PRINT_ACCOUNT_STATUS' | translate }}
          </a> 
          
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" (click)="accountStatusSendMail()">
            <i class="mdi mdi-telegram"></i> {{ 'SEND_BY_EMAIL' | translate }}
          </a>           

        </nz-form-control>
      </div>    
      
    </div> 

  </nz-form-item>

</form>

<div *ngIf="customerInfoData" class="row mt-3 mb-1">
  <div class="col-md-6">
    <b *ngIf="customerInfoData.type == 'P'">
      <mat-icon svgIcon="account" class="cust-n-i mr-1"></mat-icon> {{ 'CLIENT' | translate }}: {{ customerInfoData.name }} {{ customerInfoData.last_name }}
    </b>
    <b *ngIf="customerInfoData.type == 'C'">
      <i class="fa fa-building "></i> {{ 'CLIENT' | translate }}: {{ customerInfoData.company }}
    </b>    
  </div>  
  <div class="col-md-6" *ngIf="customerInfoData.type == 'P'">
    <b>
      <mat-icon svgIcon="calendar-today" class="cust-n-i mr-1"></mat-icon> {{ 'DATE' | translate }}: {{ currentDate | date:'dd MMMM yyyy' }}
    </b>
  </div>    
</div>

<div class="row">
  <div class="col-md-12">

    <nz-table #basicTable [nzData]="customerAccountData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
      <ng-template #noTableData>
        <div class="black2">
          {{ 'NO_RECORD_FOUND' | translate }}
        </div>
      </ng-template>        
      <thead>
        <tr>
          <th>{{ 'DATE' | translate }}</th>
          <th>{{ 'DESCRIPTION' | translate }}</th>
          <th>{{ 'SHOULD' | translate }}</th>
          <th>{{ 'TO_HAVE' | translate }}</th>
          <th>{{ 'BALANCE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <span>
              <mat-icon svgIcon="calendar-check"></mat-icon> {{ data.date }}
            </span>
          </td>          
          <td>
            <a *ngIf="data.invoice_type == '1'" routerLink="/user/customers/info_customer" [queryParams]="{ invoice_id: data.invoice_id}" nz-button nzType="primary" nzShape="round" class="font-weight-normal px-3">
              <mat-icon svgIcon="file-check"></mat-icon> 
              {{ data.description }}
            </a>
            <span *ngIf="data.invoice_type == '2'">
              <mat-icon svgIcon="file-check"></mat-icon> {{ data.description }}
            </span>                
          </td>
          <td>
            <span>L. {{ data.should }}</span>
          </td>
          <td>
            <span>L. {{ data.to_have }}</span>
          </td>
          <td>
            <span>L. {{ data.balance }}</span>
          </td>          
        </tr>

        <tr>
          <td colspan="2">{{ 'TOTALS' | translate }}</td>
          <td class="font-weight-bold">L. 105000</td>
          <td class="font-weight-bold">L. 100000</td>
          <td class="font-weight-bold">L. 215000</td>
        </tr>

      </tbody>
    </nz-table>    

  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="emailTmpl" (nzOnCancel)="handleCancel()" [nzFooter]="emailModalFooter">
  <ng-template #emailTmpl>{{ 'ENTER_TO_WHICH_EMAILS_THE_ACCOUNT_STATEMENT_WILL_BE_SENT' | translate }}</ng-template>
  
  <form nz-form [formGroup]="accountStatusEmail">

    <div class="row">
      <div class="col-md-2">
        <nz-form-label>{{ 'EMAIL' | translate }} 1</nz-form-label>
      </div>
      <div class="col-md-10">
        <nz-form-control>    
          <input type="text" nz-input formControlName="email1" />
        </nz-form-control>              
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <nz-form-label>{{ 'EMAIL' | translate }} 2</nz-form-label>
      </div>
      <div class="col-md-10">
        <nz-form-control>    
          <input type="text" nz-input formControlName="email2" />
        </nz-form-control>              
      </div>
    </div>    

    <div class="row">
      <div class="col-md-2">
        <nz-form-label>{{ 'EMAIL' | translate }} 3</nz-form-label>
      </div>
      <div class="col-md-10">
        <nz-form-control>    
          <input type="text" nz-input formControlName="email3" />
        </nz-form-control>              
      </div>
    </div>    

    <div class="row">
      <div class="col-md-12">

        <div class="pull-right">
          <a nz-button nzType="primary" nzShape="round" class="mr-1" (click)="actMailSubmit()" class="color-white">
            {{ 'SUBMIT' | translate }}            
          </a>
        </div>

      </div>
    </div>
      
  </form>

</nz-modal>