<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">

        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-package-variant"></i> {{ 'SEE_PURCHASE_ORDER' | translate }}
        </h4>

      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-4">
      <nz-card class="color-b">

        <div class="row">

          <div class="col-md-12">
            <div class="invoice-title row">
              <div class="col-md-6">

                <span class="badge badge-pill badge-success" *ngIf="purchaseDatas.purchase_status == '1'">
                  {{ 'PAID' | translate }}
                </span>
                <span class="badge badge-pill badge-danger" *ngIf="purchaseDatas.purchase_status == '2'">
                  {{ 'UNPAID' | translate }}
                </span>
                <span class="badge badge-pill badge-warning color-white" *ngIf="purchaseDatas.purchase_status == '3'">
                  {{ 'VOIDED' | translate }}
                </span>

                <h4 class="font-16 m-tb-10">
                  <strong>{{ 'ORDER_NO' | translate }}. {{ purchaseDatas.purchase_order_no }}</strong>
                </h4>
              </div>
              <div class="col-md-6 text-right">
                <strong>DEMO LOGISTICAS</strong>
                <br>{{ 'RTN' | translate }}: 082132456<br>
              </div>
            </div>  
            
            <hr>

            <div class="row">
              <div class="col-6">
                <address>
                  {{ 'SUPPLIER' | translate }}: {{ purchaseDatas.purchase_supplier_name }}<br>
                  {{ 'BRANCH' | translate }}: Sucursal 1<br>
                  {{ 'DATE' | translate }}: {{ purchaseDatas.purchase_date | date: 'MMM d, y h:mm:ss a' }}
                </address>
              </div>
              <div class="col-6 text-right">
                <address>
                  {{ 'ISSUED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'PRODUCT_RECEIVED' | translate }}: (X) {{ 'YES' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'NO' | translate }}<br>
                  (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
                </address>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="py-2">
									<h3 class="panel-title font-20"><strong>{{ 'ORDER_SUMMARY' | translate }}</strong></h3>
								</div>
              </div>

              <div class="col-md-12">
                
                <nz-table [nzData]="purchaseDatas.purchase_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="purchaseProductNoDataTmp">
                  <ng-template #purchaseProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th><strong>{{ 'QTY' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'CODE' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'DISCOUNT' | translate }}</strong></th>
                      <th class="text-right"><strong>{{ 'TOTAL' | translate }}</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of purchaseDatas.purchase_product_item; let i = index">
                      <td>{{ data.item_quantity }}</td>
                      <td class="text-center">L. {{ data.item_code }}</td>
                      <td class="text-center">{{ data.item_description }}</td>
                      <td class="text-center">L. {{ data.item_price | number:'.2-2' }}</td>
                      <td class="text-center">L. {{ data.item_discount | number:'.2-2' }}</td>
                      <td class="text-right">L. {{ data.item_total | number:'.2-2' }}</td>
                    </tr>

                    <tr>
                      <td colspan="3" rowspan="6" class="border-0"></td>
                      <td class="thick-line text-right pb-0 border-0" colspan="2">
                        <strong>{{ 'EXEMPT_AMOUNT' | translate }} / {{ 'ISV' | translate }}</strong>
                      </td>
                      <td class="thick-line text-right pb-0 border-0">
                        L. {{ purchaseDatas.purchase_exempt_amount | number:'.2-2' }}
                      </td>
                    </tr>

                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'TAXED_AMOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_taxed_amount | number:'.2-2' }}
                      </td>
                    </tr>
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'DISCOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_final_discount | number:'.2-2' }}
                      </td>
                    </tr>
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'ISV' | translate }} (15%)</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_isv_amount | number:'.2-2' }}
                      </td>
                    </tr> 
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0 color-green2" colspan="2">
                        <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0 color-green2">
                        <strong>L. {{ purchaseDatas.purchase_total_to_pay | number:'.2-2' }}</strong>
                      </td>
                    </tr>                    

                  </tbody>
                </nz-table>                
              </div>              
            </div>

            <hr>

            <div class="row">
              <div class="col-md-12 d-print-none">
                <div class="pull-right">
                  <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1">
                    <i class="fa fa-print"></i>
                  </a>
                  <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1" (click)="sendOrderMailOpen()">
                    <i class="mdi mdi-email"></i>
                  </a>
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirmOpen()">
                    <i class="mdi mdi-delete-forever"></i>
                  </a>
                  <a nz-button nzType="primary" class="ctm-btn-yellow px-2" (click)="createReceiptOpen()">
                    <i class="mdi mdi-plus"></i> {{ 'CREATE_NEW_PAYMENT' | translate }}
                  </a>              
                </div>
              </div>              
            </div>

          </div>

        </div>

      </nz-card>
    </div>

  </div>

  <div class="row m-0">

    <div class="col-md-12 mb-5">
      <nz-collapse>
        <nz-collapse-panel
          [nzHeader]="payGenerateTitleTmp"
          [nzActive]="generatePaymentCollapse"
          nzDisabled="false"
          nzShowArrow="false"
          nzBordered="false"
          [nzExtra]="extraTpl">

          <ng-template #payGenerateTitleTmp>
            {{ 'GENERATED_PAYMENTS' | translate }}
          </ng-template>

          <div>
            <app-generate-payment
              [generatePaymentData]="generatePaymentDatas">
            </app-generate-payment>
          </div>

        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #extraTpl>
        <i class="mdi mdi-plus"></i>
      </ng-template>       
    </div>

  </div>

</div>  


<!-- create receipt form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="createReceiptVisible" [nzTitle]="createReceiptTitleTmpl" (nzOnCancel)="createReceiptClose()" [nzFooter]="createReceiptFooterTmpl">

  <ng-template #createReceiptTitleTmpl>{{ 'CREATE_RECEIPT' | translate }}</ng-template>  
  
  <form nz-form [formGroup]="createReceiptForm">

    <nz-form-item>

      <div class="row">
        <div class="col-md-12">
          <nz-form-label>{{ 'PURCHASE_ORDER_NO' | translate }}</nz-form-label>
          <span>{{ purchaseDatas.purchase_order_no }}</span>
        </div>
        <div class="col-md-12">
          <nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>
          <span>{{ purchaseDatas.purchase_supplier_name }}</span>
        </div>      
      </div>

      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'DATE' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <nz-date-picker formControlName="receipt_date" nzPlaceHolder=""></nz-date-picker>      
          </nz-form-control>        
        </div>      
      </div>

      <div class="row my-2">
        <div class="col-md-3">
          <nz-form-label>{{ 'PREVIOUS_BALANCE' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <span>436</span>    
        </div>      
      </div> 
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'AMOUNT_PAYABLE' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="receipt_amount_payable" />      
          </nz-form-control>        
        </div>      
      </div>   
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'AMOUNT_IN_LETTERS' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="receipt_amount_letters" />      
          </nz-form-control>        
        </div>      
      </div>   
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'WAY_TO_PAY' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <nz-select nzShowSearch formControlName="receipt_way_to_pay">
              <nz-option nzLabel="{{ 'CASH' | translate }}" nzValue="1"></nz-option>
              <nz-option nzLabel="{{ 'CREDIT_DEBIT_CARD' | translate }}" nzValue="2"></nz-option>
              <nz-option nzLabel="{{ 'CHEQUE' | translate }}" nzValue="3"></nz-option>
              <nz-option nzLabel="{{ 'CASH_AND_CREDIT_DEBIT_CARD' | translate }}" nzValue="4"></nz-option>
              <nz-option nzLabel="{{ 'OTHERS' | translate }}" nzValue="5"></nz-option>
            </nz-select>
          </nz-form-control>        
        </div>      
      </div>   
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'NOTES' | translate }}</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <textarea nz-input formControlName="receipt_notes"></textarea>
          </nz-form-control>        
        </div>      
      </div>  
      
    </nz-form-item>  

  </form>

  <ng-template #createReceiptFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="createReceiptSave()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- create receipt form end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_PURCHASE_ORDER' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_PURCHASE_ORDER_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->

<!-- send order mail form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="sendOrderMailVisible" [nzTitle]="sendOrderMailTitleTmpl" (nzOnCancel)="sendOrderMailClose()" [nzFooter]="sendOrderMailFooterTmpl">

  <ng-template #sendOrderMailTitleTmpl>{{ 'SEND_ORDER_BY_MAIL' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'ENTER_TO_WHICH_EMAILS_THE_PURCHASE_ORDER_WILL_BE_SENT' | translate }}</p>
  </div>
  
  <form nz-form [formGroup]="sendOrderMailForm">      
    <nz-form-item>
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 1</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="send_order_email1" />
          </nz-form-control>        
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 2</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="send_order_email2" />
          </nz-form-control>        
        </div>      
      </div> 
      
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 3</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="send_order_email3" />
          </nz-form-control>        
        </div>      
      </div>
    </nz-form-item>     
  </form>

  <ng-template #sendOrderMailFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="sendOrderMailSave()">
          <i class="mdi mdi-email"></i> {{ 'SEND' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- send order mail form end -->
