<form nz-form [formGroup]="itemfilterform" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

       <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'PRODUCT' | translate }}</nz-form-label>              
            </div>
          </div>
          <div class="col-md-7">
            <input type="hidden" nz-input formControlName="item_id"/>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <nz-input-group nzSearch [nzAddOnAfter]="itemSuffixButton">
                <input type="text" nz-input formControlName="item_name" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #itemSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchProductNormalOpen()" class="px-2">
                  ...
                </button>
              </ng-template>                                               
            </nz-form-control>            
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'TRANSACTION' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>
              <nz-select nzShowSearch formControlName="transaction_id">
                <nz-option nzLabel="Cancellation of return" nzValue="1"></nz-option>
                <nz-option nzLabel="Return" nzValue="2"></nz-option>
              </nz-select>
            </nz-form-control>            
          </div>
        </div>        
      </div>   

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'USER' | translate }}</nz-form-label>    
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>
              <input type="hidden" nz-input formControlName="purchase_user_id"/>
              <nz-input-group nzSearch [nzAddOnAfter]="userSuffixButton">
                <input type="text" nz-input formControlName="purchase_user_name" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #userSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchUserOpen()" class="px-2">
                  ...
                </button>
              </ng-template>                                               
            </nz-form-control>            
          </div>
        </div>        
      </div>                                                     

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>             
          </div>
        </div>
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>              
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>                
          </div>
        </div>        
      </div>      

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'CELLAR' | translate }}</nz-form-label>              
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="cellar_type">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Bodega Principal" nzValue="1"></nz-option>
              </nz-select>
            </nz-form-control>            
          </div>
        </div>        
      </div>      
                                         
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>
              <nz-form-label>{{ 'TRANSACTION_TYPE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="transaction_type_id">
                <nz-option nzLabel="Salidas" nzValue="1"></nz-option>
                <nz-option nzLabel="Entradas" nzValue="1"></nz-option>
              </nz-select>
            </nz-form-control>               
          </div>
        </div>        
      </div>        
    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="searchItem()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </button>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="printItemList()">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>          
    </div>
  </div>

</form>

<!-- search product dialog normal start -->
<!-- <app-search-product-dialog-normal
  *ngIf="!loader"
  [searchProductNormalVisible]="searchProductNormalVisible"
  (searchProductNormalCls)="searchProductNormalClose()"
  [saleDatas]="saleDatas"
  (productNormalAddInputChild)="productNormalAddInput($event)">
</app-search-product-dialog-normal> -->
<!-- search product dialog normal end -->

<!-- search user dialog start -->
<!-- <app-search-user-dialog
  [searchUserVisible]="searchUserVisible"
  (searchUserCls)="searchUserClose()"
  [userDatas]="userDatas"
  (userAddInputChild)="userAddInput($event)">
</app-search-user-dialog> -->
<!-- search user dialog end -->