<nz-card>
   <form nz-form [formGroup]="filterForm" class="ctm-label-r">
      <nz-form-item class="mb-0">
         <div class="row m-0">
         	      <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'REGISTRATION_DATE_FROM' | translate }}</nz-form-label>                
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                <nz-date-picker formControlName="registration_date_from" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
              </nz-form-control>                                   
            </div>
          </div>          
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <div>
                <nz-form-label>{{ 'REGISTRATION_DATE_UNTILL' | translate }}</nz-form-label>                
              </div>
            </div>
            <div class="col-md-7">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                <nz-date-picker formControlName="registration_date_untill" nzPlaceHolder="yyyy-mm-dd"></nz-date-picker>
              </nz-form-control>                                   
            </div>
          </div>          
        </div>

            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="state">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'ASSETS' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'REMOVED' | translate }}" nzValue="2"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="branch">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
                  <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="type">
                           <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                           <nz-option nzLabel="{{ 'PERSONAL_CLIENT' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'COMPANY_CLIENT' | translate }}" nzValue="2"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>

         </div>
      </nz-form-item>
   </form>
</nz-card>
<div class="row m-0 card-footer">
   <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
      <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
      <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
      <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>    
   </div>
</div>