<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="referenceguideDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'CREATION' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'EXPIRATION' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <!-- <th>{{ 'PAID_OUT' | translate }}</th> -->
      <!-- <th>{{ 'TO_PAY' | translate }}</th> -->
      <th style="width: 200px;" class="text-center">{{ 'ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/products/reference-guides-info" [queryParams]="{ reference_guide_id: data.reference_guide_id}" class="font-weight-normal">
          {{ data.reference_guide_id }}
        </a>
      </td>
      <!-- <td>
        <a routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id}" class="font-weight-normal">
          {{ data.invoice_provider_name }}
        </a>         
      </td> -->
      <td>{{ data.start_date }}</td>
      <td>{{ data.finish_date }}</td>
      <td>L. {{ data.total_amount }}</td>
      <!-- <td>L. {{ data.invoice_paid_out }}</td> -->
      <!-- <td>L. {{ data.total_amount }}</td> -->
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/products/reference-guides-info" [queryParams]="{ reference_guide_id: data.reference_guide_id}">
          <i class="mdi mdi-eye"></i>            
        </a>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1">
          <i class="mdi mdi-printer"></i>            
        </a>     
        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/products/reference-guides/edit" [queryParams]="{ reference_guide_id: data.reference_guide_id}">
          <i class="mdi mdi-pencil"></i>            
        </a>   
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.reference_guide_id)">
          <i class="mdi mdi-delete-forever"></i>
        </a>         
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_REFERENCE_GUIDES' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_REFERENCE_GUIDES_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteReferenceGuides()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->