<div class="row">
  <div class="col-md-6 text-center">
    <h6>INVERSIONES LOGISTICAS</h6>
    <p>Col. 15 de Septiembre, Avenida Independencia, Casa No. 6005<br></p>
  </div>
  <div class="col-md-6 text-center">
    <h6>{{ 'STATEMENT_OF_INCOME' | translate }}</h6>
    <p>{{ 'FROM_THE' | translate }} 01/Jan/2020 {{ 'UNTIL' | translate }} 01/Jan/2020</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13 mb-1" nzSize="large">
      {{ 'EXPORT_TO_EXCEL' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="searchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyseller()" />
        </nz-input-group>
        <ng-template #searchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="resultsstatusDisplayData" class="bg-white ctm-b-b" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 213px;">{{ 'ACCOUNTING_ACCOUNT' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 303px;">{{ 'ACCOUNT_DESCRIPTION' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 229px;">{{ 'SUB_TOTALS' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 111px;">{{ 'TOTALS' | translate }}</th>
    </tr>    
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: 700">{{ 'SUB_TOTAL' | translate }}</td>
      <td class="subtotal" style="font-weight: 700">0.00</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: 700">{{ 'TOTAL' | translate }}</td>
      <td class="total" style="font-size: 18px; font-weight: 700;">
        0.00
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: 700">{{ 'SUB_TOTAL' | translate }}</td>
      <td class="subtotal" style="font-weight: 700">( 0.00 )</td>
    </tr> 
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: 700">{{ 'TOTAL' | translate }}</td>
      <td class="total" style="font-size: 18px; font-weight: 700;">
        0.00
      </td>
    </tr>       
    <tr>
      <td class="ctm-b-b-b"></td>
      <td class="ctm-b-b-b"></td>
      <td class="ctm-b-b-b" style="font-weight: 700">{{ 'GAIN' | translate }} / {{ 'LOST' | translate }}</td>
      <td class="text-danger ctm-b-b-b" style="font-size: 18px; font-weight: 700;">
        0.00
      </td>
    </tr>                               
  </tbody>
</nz-table>