<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-settings"></i> {{ 'UPLOAD_LOGO' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form nz-form [formGroup]="invoiceuploadlogoform" class="ctm-label-r">
            <div class="card-body bg-white">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-12 text-center">
                        <h6>{{ 'UPLOAD_LOGO_DISCRIPTION' | translate }}</h6>
                        <p>{{ 'CURRENT_LOGO' | translate }}:</p>
                        <img src="assets/images/invoice-logo.png" style="margin-bottom: 13px;width: 66px;">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="file" class="h-auto"  nz-input formControlName="image" />
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </div>
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="saveinvoiceuploadlogo()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
               </a>
            </div>
         </form>
      </div>
   </div>
</div>