<div class="container-fluid">
   <div class="row justify-content-center m-0 mb-4">
      <div class="col-md-7 card-pd">
         <nz-card>
            <form nz-form [formGroup]="sourcesForm">
               <nz-form-item class="mb-0">
                  <div class="row">
                     <div class="col-md-4 text-right">
                        <nz-form-label>{{ 'SOURCE' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-8">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" nz-input formControlName="source"/>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </form>
         </nz-card>
         <div class="row m-0 card-footer">
            <div class="col-md-12 text-center my-1">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="savesources()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'ENTER_SOURCE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearsources()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
               </a>    
            </div>
         </div>
        <div class="mt-4">
           <div class="offset-md-6 col-md-6 my-3">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input/>
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
        <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th style="width:400px;">{{ 'SOURCE' | translate }}</th>
          <th>{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.sources_name }}</td>
          <td>
            <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="editSourcesOpen()">
              <i class="mdi mdi-pencil"></i>            
            </a>
            <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
              <i class="mdi mdi-delete-forever"></i>
            </a>                      
          </td>
   
        </tr>
      </tbody>
    </nz-table>
        </div>
         
      </div>
   </div>
</div>

<!-- editSources modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editSourcesVisible" [nzTitle]="editSourcesTitleTmpl" (nzOnCancel)="editSourcesClose()" [nzFooter]="editSourcesFooterTmpl">

  <ng-template #editSourcesTitleTmpl>{{ 'MODIFY_SOURCE' | translate }}</ng-template>
  
  <form nz-form [formGroup]="editSourcesForm">      
    <nz-form-item>
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'SOURCE' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="source" />
          </nz-form-control>        
        </div>      
      </div>  
    </nz-form-item>     
  </form>

  <ng-template #editSourcesFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editSourcesSave()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- editSources account modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_SOURCE' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_SOURCE_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->