<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <div class="pull-right">
               <app-backbutton></app-backbutton>
            </div>
            <h4 class="page-title">
               <i class="mdi mdi-settings"></i> {{ 'NEW_USER' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0 justify-content-center mb-4">
      <div class="col-md-8">
         <nz-card>
            <form nz-form [formGroup]="createusersForm" class="ctm-label-r">
               <nz-form-item class="mb-0">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'SELLER' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <input type="hidden" nz-input formControlName="seller_id"/>
                        <nz-form-control>
                           <nz-input-group nzSearch [nzAddOnAfter]="sellerSuffixButton">
                              <input type="text" nz-input formControlName="seller_name" class="ctm-input-disabled"/>
                           </nz-input-group>
                           <ng-template #sellerSuffixButton>
                              <button nz-button nzType="primary" nzSearch (click)="searchSellerOpen()" class="px-2">
                              ...
                              </button>
                           </ng-template>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'ROLE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="role" nzAllowClear>
                              <nz-option nzLabel="{{ 'ADMINISTRATOR' | translate }}" nzValue="0"></nz-option>
                              <nz-option nzLabel="{{ 'GENERAL' | translate }}" nzValue="1"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'BRANCH' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="branch" nzAllowClear>
                              <nz-option nzLabel="{{ 'BRANCH' | translate }} 1" nzValue="0"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'SELECT_WINERIES' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <nz-select nzMode="multiple" nzShowSearch formControlName="item_wineries">
                              <nz-option nzLabel="Winries 1" nzValue="1"></nz-option>
                              <nz-option nzLabel="Winries 2" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'USER' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <input type="text" nz-input formControlName="user" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'PASSWORD' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <input type="password" nz-input formControlName="password" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'REPEAT_PASSWORD' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <input type="text" nz-input formControlName="repeat_password" />
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </form>
         </nz-card>
         <div class="row m-0 card-footer">
            <div class="col-md-12 text-center my-1">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveCreateuser()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
               </a>    
            </div>
         </div>
      </div>
   </div>
</div>
<!-- search seller dialog start -->
<app-search-seller-dialog
[searchSellerVisible]="searchSellerVisible"
(searchSellerCls)="searchSellerClose()"
[sellerDatas]="sellerDatas"
(sellerAddInputChild)="sellerAddInput($event)">
</app-search-seller-dialog>
<!-- search customer dialog end -->