<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
           <h4 class="page-title">
              <i class="mdi mdi-settings"></i> {{ 'CATEGORIES' | translate }}
           </h4>
           <div class="pull-right">
              <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/settings/inventory/categories/create-categories">
              <i class="mdi mdi-plus"></i> {{ 'NEW_CATEGORIES' | translate }}
              </a>
              <app-backbutton></app-backbutton>
           </div>
        </div>
     </div>
  </div>
</section>

<div class="container-fluid">
  <div class="col-md-12 mt-3">
     <nz-card>

         <div class="row my-1" *ngIf="loader">
            <div class="col-md-12 text-center">
               <ng-template #indicatorTemplate>
                  <i nz-icon nzType="loading" class="f-s-18"></i>
               </ng-template>
               <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
            </div>
         </div>      

        <div *ngIf="!loader" class="row mb-4">
           <div class="offset-md-8 col-md-4">
              <div class="row">
                 <div class="col-md-3">
                    <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
                 </div>
                 <div class="col-md-9">
                    <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                       <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                    </nz-input-group>
                    <ng-template #keyupsearchSuffixIcn>
                       <i nz-icon nzType="search"></i>
                    </ng-template>
                 </div>
              </div>
           </div>
        </div>
        <div *ngIf="!loader" class="row">
           <div class="col-md-12">
            <h6 class="card-title f-s-14 text-center">
                  {{ 'CATEGORY_LIST' | translate }}
               </h6>
              <nz-table #categoriesDisplayData [nzData]="categoriesDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
              <ng-template #noTableData>
                 <div class="black2">
                    {{ 'NO_RECORD_FOUND' | translate }}
                 </div>
              </ng-template>
              <thead>
                 <tr>
                    <th>{{ 'CODE' | translate }}</th>
                    <th>{{ 'CATEGORIES' | translate }}</th>
                    <th>{{ 'ACTION' | translate }}</th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let data of categoriesDisplayData.data">
                    <td>{{ data.category_code}}</td>
                    <td>{{ data.category_name }}</td>
                    <td>
                       <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="editCategoriesOpen(data)">
                       <i class="mdi mdi-pencil"></i>            
                       </a>
                       <!-- <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="subCategoriesOpen()">
                       <i class="mdi mdi-pencil-box-outline"></i> 
                       </a>  -->
                       <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.category_id)">
                       <i class="mdi mdi-delete-forever"></i>            
                       </a>            
                    </td>
                 </tr>
              </tbody>
              </nz-table>      
           </div>
        </div>
     </nz-card>
  </div>
</div>

<!-- edit categories modal start -->
<nz-modal *ngIf="editCategoriesVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="editCategoriesVisible" [nzTitle]="editCategoriesTitleTmpl" (nzOnCancel)="editCategoriesClose()" [nzFooter]="editCategoriesFooterTmpl">
   <ng-template #editCategoriesTitleTmpl>{{ 'MODIFY_CATEGORY' | translate }}</ng-template>
   <form nz-form [formGroup]="editCategoriesForm" class="ctm-label-r">
     <nz-form-item class="mb-0">
        <div class="row">
           <!-- <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'MAIN_CATEGORY' | translate }}</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control>
                 <nz-select nzShowSearch formControlName="main_category" nzAllowClear>
                    <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>
                    <nz-option nzLabel="Compras" nzValue="2"></nz-option>
                 </nz-select>
              </nz-form-control>
            </div>
         </div>
           </div> -->
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                 <input type="text" nz-input formControlName="category_code" placeholder="{{ 'CATEGORY_CODE' | translate }}" required />
              </nz-form-control>
            </div>
              </div>
           </div>
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                 <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" required />
              </nz-form-control>
            </div>
           </div>
         </div>
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control>
                 <textarea rows="3" class="mt-1" nz-input formControlName="category_description" placeholder="{{ 'CATEGORY_DESCRIPTION' | translate }}"></textarea>            
              </nz-form-control>
            </div>
            </div>
           </div>
        </div>
     </nz-form-item>
   </form>
   <ng-template #editCategoriesFooterTmpl>
     <div class="row">
        <div class="col-md-12 text-center">         
           <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateCategories()" [disabled]="!editCategoriesForm.valid" [nzLoading]="btnLoading">
           <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
           </button>
        </div>
     </div>
   </ng-template>
</nz-modal>
<!-- edit categories modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
   <ng-template #deleteConfirmTmpl>{{ 'DELETE_CATEGORY' | translate }}</ng-template>
   <div class="text-center">
     <p>{{ 'CATEGORIES_DELETE_CONFIRM_MSG' | translate }}</p>
   </div>
   <ng-template #deleteConfirmFooterTmpl>
     <div class="row">
        <div class="col-md-12">         
           <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
           {{ 'CANCEL' | translate }}            
           </a>
           <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteCategories()" [nzLoading]="deleteBtnLoading">
           {{ 'OK' | translate }}            
           </a>
        </div>
     </div>
   </ng-template>
</nz-modal>
<!-- delete confirm end -->


<!-- sub categories modal start -->
<!-- <nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="subCategoriesVisible" [nzTitle]="subCategoriesTitleTmpl" (nzOnCancel)="subCategoriesClose()" [nzFooter]="subCategoriesFooterTmpl">
   <ng-template #subCategoriesTitleTmpl>{{ 'ADD_SUB_CATEGORY' | translate }}</ng-template>
   <form nz-form [formGroup]="subCategoriesForm" class="ctm-label-r">
     <nz-form-item class="mb-0">
        <div class="row">
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'MAIN_CATEGORY' | translate }}</nz-form-label>
            </div>
            <div class="col-md-8">
               <div class="col-md-8">
                <nz-form-control>
                <small>{{'GENERAL_NAME' | translate }}</small>
                </nz-form-control>
               </div>
            </div>
            </div>
           </div>
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'CATEGORY_CODE' | translate }}">
                 <input type="text" nz-input formControlName="category_code" placeholder="{{ 'CATEGORY_CODE' | translate }}"/>
              </nz-form-control>
            </div>
            </div>
           </div>
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'CATEGORY_NAME' | translate }}">
                 <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" />
              </nz-form-control>
            </div>
            </div>
           </div>
           <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
              <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                 <textarea rows="3" class="mt-1" nz-input formControlName="category_description" placeholder="{{ 'CATEGORY_DESCRIPTION' | translate }}"></textarea>            
              </nz-form-control>
            </div>
            </div>
           </div>
        </div>
     </nz-form-item>
   </form>
   <ng-template #subCategoriesFooterTmpl>
     <div class="row">
        <div class="col-md-12 text-center">         
           <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="subCategoriesSave()">
           <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
           </a>
        </div>
     </div>
   </ng-template>
</nz-modal> -->
<!-- sub categories modal end -->
