<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
           <h4 class="page-title">
              <i class="mdi mdi-settings"></i> {{ 'WINERIES' | translate }}
           </h4>
           <div class="pull-right">
              <a nz-button nzType="secondary" class="ctm-btn-pale-blue  px-2 mb-1 mr-1" (click)="addWineriesOpen()">
              <i class="mdi mdi-plus"></i> {{ 'NEW_WINERIES' | translate }}
              </a>
              <app-backbutton></app-backbutton>
           </div>
        </div>
     </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row m-0">
     <div class="col-md-12 mb-5">
        <nz-card>

         <div class="row my-1" *ngIf="loader">
            <div class="col-md-12 text-center">
              <ng-template #indicatorTemplate>
                <i nz-icon nzType="loading" class="f-s-18"></i>
              </ng-template>
              <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
            </div>
         </div>         

         <app-wineriestable
            *ngIf="!loader"
            [wineryDatas]="wineryDatas"
            (populateGetWineryList)="populateGetWineryList()">
         </app-wineriestable>

        </nz-card>
     </div>
  </div>
</div>
<!-- add wineries modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="addWineriesVisible" [nzTitle]="addWineriesTitleTmpl" (nzOnCancel)="addWineriesClose()" [nzFooter]="addWineriesFooterTmpl">
<ng-template #addWineriesTitleTmpl>{{ 'ADD_WINERIES' | translate }}</ng-template>
<form nz-form [formGroup]="addWineriesForm">
  <nz-form-item class="mb-0">
     <div class="row">
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="name" />
           </nz-form-control>
         </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'CITY' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="city" />
           </nz-form-control>
         </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
           <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-8">
           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <input type="text" nz-input formControlName="address" />
           </nz-form-control>
         </div>
         </div>
        </div>
        <div class="col-md-12">
           <div class="row">
              <div class="col-md-4">
         <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label></div>
         <div class="col-md-8">
         <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
          <textarea rows="3" class="mt-1" nz-input formControlName="description"></textarea>            
        </nz-form-control>
      </div>
      </div>
      </div>
     </div>
  </nz-form-item>
</form>
<ng-template #addWineriesFooterTmpl>
  <div class="row">
     <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertWinery()" [nzLoading]="btnLoading">
        <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </a>
     </div>
  </div>
</ng-template>
</nz-modal>