<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="fa fa-paper-plane-o mr-1"></i>
                  <span *ngIf="pageType == 'new'">{{ 'ADD_SENDER' | translate }}</span>
                  <span *ngIf="pageType == 'edit'">{{ 'EDIT_SENDER' | translate }}</span>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="container">

   <div class="row my-1" *ngIf="senderDataLoader">
      <div class="col-md-12 text-center">
         <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
         </ng-template>
         <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
      </div>
   </div>     

   <div *ngIf="senderDataVisible" class="row justify-content-center">
      <div class="col-md-6">
         <form nz-form [formGroup]="senderForm" class="ctm-label-r">
            <div class="card text-center">
               <h5 class="card-header font-weight-normal">{{ 'SENDER_DATA' | translate }}</h5>
            </div>
            <div class="card-body bg-white">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COMPANY_NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" nz-input formControlName="company_name" required/>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'RTN_TDI' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" nz-input formControlName="RTN_TDI" required/>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <textarea nz-input formControlName="address" required></textarea>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="email" nz-input formControlName="email" required/>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'TELEPHONE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" nz-input formControlName="telephone" required/>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'C_A_I' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="CAI" />
                        </nz-form-control>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EXPIRES' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-date-picker formControlName="expires" nzPlaceHolder="" nzAllowClear="false" nzFormat="yyyy-MM-dd"></nz-date-picker>                        
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'SITE_URL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="site_url" />
                        </nz-form-control>
                     </div>
                  </div>

                  <!-- Image for new sender -->
                  <div *ngIf="pageType == 'new'" class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IMAGE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="file" class="h-auto" nz-input formControlName="image" (change)="handleFileSelect($event)" accept="image/x-png,image/jpeg,image/jpg" required/>
                        </nz-form-control>
                     </div>
                  </div>

                  <!-- Image for edit sender -->
                  <div *ngIf="pageType == 'edit'" class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IMAGE' | translate }}<span *ngIf="imageRequired">*</span></nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="row">
                           <div class="col-md-2">
                              <img *ngIf="senderDatas.image" [src]="senderDatas.image" width="40" height="40">
                              <img *ngIf="!senderDatas.image" src="assets/images/no-photo.png" width="40" height="40">
                           </div>
                           <div class="col-md-10 mt-1">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                 <input type="file" class="h-auto"  nz-input formControlName="image" (change)="handleFileSelect($event)" accept="image/x-png,image/jpeg,image/jpg" [required]="imageRequired" />
                              </nz-form-control>
                           </div>
                        </div>    
                     </div>
                  </div>                  

               </nz-form-item>
            </div>

            <div class="card-footer text-center">            
               <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="saveSender()" [disabled]="!senderForm.valid" [nzLoading]="btnLoading">
                  <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </button>

               <a *ngIf="pageType == 'new'" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
                  <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
               </a>
            </div>

         </form>
      </div>
   </div>
</div>