<nz-table #issuedInvoiceBill [nzData]="customerIssuedInvoiceBills" nzShowSizeChanger class="bg-white border" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
      <th><i class="mdi mdi-credit-card"></i> {{ 'PAYMENT_METHOD' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of issuedInvoiceBill.data">
      <td>
        <a>{{ data.invoice_no }}</a>                
      </td>
      <td>
        <span>{{ data.date }}</span>
      </td>
      <td>
        <span>L. {{ data.total }}</span>
      </td>
      <td>
        <span>L. {{ data.balance }}</span>
      </td>
      <td>
        <span>{{ data.payment_method }}</span>
      </td>
      <td>
        <span *ngIf="data.payment_state == '1'" class="badge badge-pill badge-primary">
          {{ 'PAID' | translate }}
        </span>
        <span *ngIf="data.payment_state == '0'" class="badge badge-pill badge-danger">
          {{ 'UNPAID' | translate }}
        </span>
      </td>                              
    </tr>
  </tbody>
</nz-table>