<nz-card>

<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item class="mb-0">

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'YEAR' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
              <nz-select nzShowSearch formControlName="daily_sales_year" nzAllowClear>            
                <nz-option nzLabel="2020" nzValue="2020"></nz-option>
                <nz-option nzLabel="2019" nzValue="2019"></nz-option>
                <nz-option nzLabel="2018" nzValue="2018"></nz-option>
                <nz-option nzLabel="2017" nzValue="2017"></nz-option>
                <nz-option nzLabel="2016" nzValue="2016"></nz-option>
                <nz-option nzLabel="2015" nzValue="2015"></nz-option>
              </nz-select>
            </nz-form-control>            
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'MONTH' | translate }}*</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
              <nz-select nzShowSearch formControlName="daily_sales_month" nzAllowClear>
                <nz-option nzLabel="{{ 'JANUARY' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'FEBRUARY' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'MARCH' | translate }}" nzValue="3"></nz-option>
                <nz-option nzLabel="{{ 'APRIL' | translate }}" nzValue="4"></nz-option>
                <nz-option nzLabel="{{ 'MAY' | translate }}" nzValue="5"></nz-option>
                <nz-option nzLabel="{{ 'JUNE' | translate }}" nzValue="6"></nz-option>
                <nz-option nzLabel="{{ 'JULY' | translate }}" nzValue="7"></nz-option>
                <nz-option nzLabel="{{ 'AUGUST' | translate }}" nzValue="8"></nz-option>
                <nz-option nzLabel="{{ 'SEPTEMBER' | translate }}" nzValue="9"></nz-option>
                <nz-option nzLabel="{{ 'OCTOBER' | translate }}" nzValue="10"></nz-option>
                <nz-option nzLabel="{{ 'NOVEMBER' | translate }}" nzValue="11"></nz-option>
                <nz-option nzLabel="{{ 'DECEMBER' | translate }}" nzValue="12"></nz-option>
              </nz-select>          
            </nz-form-control>            
          </div>
        </div>        
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>
              <nz-select nzShowSearch formControlName="daily_sales_branch">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
              </nz-select>          
            </nz-form-control>            
          </div>
        </div>        
      </div> 

    </div>

  </nz-form-item>     

</form>

</nz-card>

<div class="row m-0 card-footer">
  <div class="col-md-12 text-center my-1">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
      <i class="mdi mdi-chart-bar"></i> {{ 'GENERATE' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
      <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
      <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
    </a>    
  </div>
</div>