<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>         
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>     
          </div>
        </div>         
      </div> 
      
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'SOURCE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>             
              <nz-select nzShowSearch formControlName="source">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'OPENING' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'INCOME' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="3"></nz-option>
                <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
                <nz-option nzLabel="{{ 'PROVISIONS' | translate }}" nzValue="5"></nz-option>
              </nz-select>          
            </nz-form-control>   
          </div>
        </div>         
      </div> 
    
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="state">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'ACTIVE' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'REMOVED' | translate }}" nzValue="2"></nz-option>
              </nz-select>   
            </nz-form-control>                         
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'NO_REFERENCE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <input type="text" nz-input formControlName="reference_no" />   
            </nz-form-control>            
          </div>
        </div>         
      </div>

      <div class="col-md-6">    
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'ACCOUNT' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <input type="hidden" nz-input formControlName="account_id"/>
            <nz-form-control>
              <nz-input-group nzSearch [nzAddOnAfter]="accountSuffixButton">
                <input type="text" nz-input formControlName="account_description" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #accountSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchAccountOpen()" class="px-2">
                  ...
                </button>
              </ng-template>                                               
            </nz-form-control>                 
          </div>
        </div>            
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'COST_CENTER' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="cost_center">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>
                <nz-option nzLabel="Compras" nzValue="2"></nz-option>
              </nz-select>   
            </nz-form-control>                         
          </div>
        </div>         
      </div>

    </div>     

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a> 
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="printLedger()">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- search account dialog start -->
<app-search-account-dialog
  [searchAccountVisible]="searchAccountVisible"
  (searchAccountCls)="searchAccountClose()"
  [accountDatas]="accountDatas"
  (accountAddInputChild)="accountAddInput($event)">
</app-search-account-dialog>
<!-- search account dialog end -->