<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="anticon mdi mdi-chart-areaspline"></i> {{ 'CORRELATIVE_QUOTE' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form nz-form [formGroup]="quotationform" class="ctm-label-r">
            <div class="card text-center">
               <h5 class="card-header font-weight-normal">{{ 'MODIFY_QUOTE_CORRELATIVE' | translate }}</h5>
            </div>
            <div class="card-body bg-white">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'BRANCH' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="branch">
                              <nz-option nzLabel="{{ 'BRANCH' | translate }} 1" nzValue="1"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'CURRENT_CORRELATIVE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-input-group nzSearch [nzAddOnAfter]="correlativeSuffixButton">
                              <input type="text" nz-input formControlName="current_correlative" class="ctm-input-disabled"/>
                           </nz-input-group>
                           <ng-template #correlativeSuffixButton>
                              <button nz-button nzType="primary" nzSearch (click)="currentCorrelativeOpen()" class="px-2">
                              <i class="mdi mdi-pencil-box-outline"></i>
                              </button>
                           </ng-template>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </div>
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="saveBill()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
               </a>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- current Correlative form  -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="currentCorrelativeVisible" [nzTitle]="currentCorrelativeTitleTmpl" (nzOnCancel)="currentCorrelativeClose()" [nzFooter]="currentCorrelativeFooterTmpl">
<ng-template #currentCorrelativeTitleTmpl>{{ 'CHANGE_CORRELATIVE' | translate }}</ng-template>
<form nz-form [formGroup]="currentCorrelativeForm">
   <div class="row">
      <div class="col-md-4">
         <div>
            <nz-form-label>{{ 'NEW_CORRELATIVE' | translate }}*</nz-form-label>
         </div>
      </div>
      <div class="col-md-8">
         <nz-form-control>    
            <input type="text" nz-input formControlName="current_correlative" />      
         </nz-form-control>
      </div>
   </div>
   <ng-template #currentCorrelativeFooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="currentCorrelativeCalculate()">
            {{ 'CHANGE' | translate }}            
            </a>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- current Correlative form end -->