<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <div class="pull-right">
                  <app-backbutton></app-backbutton>
               </div>
               <h4 class="page-title">
                  <i class="mdi mdi-settings"></i> {{ 'NEW_FIELD' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form nz-form [formGroup]="createcustomersAddform" class="ctm-label-r">
            <div class="card-body bg-white">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COLUMN_NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'COLUMN_NAME' | translate }}" nz-input formControlName="column_name" />
                        </nz-form-control>
                     </div>
                  </div>
                       <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COLUMN_IMPRESSION' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'COLUMN_PRINT' | translate }}" nz-input formControlName="column_impression" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'FIELD_TYPE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="field_type">
                              <nz-option nzLabel="{{ 'TEXT' | translate }}" nzValue="0"></nz-option>
                              <nz-option nzLabel="{{ 'TEXT_AREA' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'DATE' | translate }}" nzValue="2"></nz-option>
                              <nz-option nzLabel="{{ 'TELEPHONE' | translate }}" nzValue="3"></nz-option>
                              <nz-option nzLabel="{{ 'MAIL' | translate }}" nzValue="4"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
                      <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'CLIENT_TYPE' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch formControlName="client_type">
                              <nz-option nzLabel="{{ 'PERSONAL' | translate }}" nzValue="0"></nz-option>
                              <nz-option nzLabel="{{ 'BUSINESS' | translate }}" nzValue="1"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </nz-form-item>
            </div>
            <div class="card-footer text-center">            
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="savecreatecustomers()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
               </a>
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
               <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
               </a>
            </div>
         </form>
      </div>
   </div>
</div>