<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
           <h4 class="page-title">
              <i class="mdi mdi-settings"></i> {{ 'REASON' | translate }}
           </h4>
           <div class="pull-right">
              <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" (click)="reasonOpen(1)">
                <i class="mdi mdi-plus"></i> {{ 'NEW_REASON' | translate }}
              </a>
              <app-backbutton></app-backbutton>
           </div>
        </div>
     </div>
  </div>
</section>

<div class="container-fluid">
  <div class="col-md-12 mt-3">
    <nz-card>

      <div class="row my-1" *ngIf="loader">
        <div class="col-md-12 text-center">
          <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
          </ng-template>
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>
      </div>      

      <div *ngIf="!loader" class="row mb-4">
        <div class="offset-md-8 col-md-4">
          <div class="row">
            <div class="col-md-3">
              <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
            </div>
            <div class="col-md-9">
              <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
              </nz-input-group>
              <ng-template #keyupsearchSuffixIcn>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loader" class="row">
        <div class="col-md-12">
        <h6 class="card-title f-s-14 text-center">{{ 'REASON_LIST' | translate }}</h6>
          <nz-table #reasonDisplayData [nzData]="reasonDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
            <ng-template #noTableData>
              <div class="black2">
                {{ 'NO_RECORD_FOUND' | translate }}
              </div>
            </ng-template>
            <thead>
              <tr>
                <th>{{ 'REASON' | translate }}</th>
                <th>{{ 'ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of reasonDisplayData.data">
                <td>{{ data.reason}}</td>
                <td>
                  <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="reasonOpen(data)">
                    <i class="mdi mdi-pencil"></i>            
                  </a>
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.reason_id)">
                    <i class="mdi mdi-delete-forever"></i>            
                  </a>            
                </td>
              </tr>
            </tbody>
          </nz-table>      
        </div>
      </div>
      
    </nz-card>
  </div>
</div>

<!-- reason modal start -->
<nz-modal *ngIf="reasonVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="reasonVisible" [nzTitle]="reasonTitleTmpl" (nzOnCancel)="reasonClose()" [nzFooter]="reasonFooterTmpl">
  <ng-template #reasonTitleTmpl>    
    <span *ngIf="!reason_id">{{ 'NEW_REASON' | translate }}</span>

    <span *ngIf="reason_id">{{ 'MODIFY_REASON' | translate }}</span>
  </ng-template>

  <form nz-form [formGroup]="reasonForm" class="ctm-label-r">
    <nz-form-item class="mb-0">
       <div class="row">
          <div class="col-md-12">
             <div class="row">
                <div class="col-md-4">
             <nz-form-label>{{ 'REASON' | translate }}*</nz-form-label>
           </div>
           <div class="col-md-8">
             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                <input type="text" nz-input formControlName="reason" required />
             </nz-form-control>
           </div>
          </div>
        </div>
       </div>
    </nz-form-item>
  </form>
  <ng-template #reasonFooterTmpl>
    <div class="row">
       <div class="col-md-12 text-center">         
         
         <button *ngIf="!reason_id" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertReason()" [disabled]="!reasonForm.valid" [nzLoading]="btnLoading">
           <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
         </button>
                 
          <button *ngIf="reason_id" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateReason()" [disabled]="!reasonForm.valid" [nzLoading]="btnLoading">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
          </button>
          
       </div>
    </div>
  </ng-template>
</nz-modal>
<!-- reason modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
  <ng-template #deleteConfirmTmpl>{{ 'DELETE_REASON' | translate }}</ng-template>
  <div class="text-center">
    <p>{{ 'REASON_DELETE_CONFIRM_MSG' | translate }}</p>
  </div>
  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
       <div class="col-md-12">         
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
          </a>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteReason()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
          </a>
       </div>
    </div>
  </ng-template>
</nz-modal>
<!-- delete confirm end -->