<nz-table #basicTable [nzData]="itemDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'EXISTENCE_ANT' | translate }}</th>
      <th>{{ 'TYPE' | translate }}</th>
     <!--  <th>{{ 'TRANSACTION' | translate }}</th> -->
      <th>{{ 'DOCUMENT' | translate }}</th>
      <th>{{ 'OBSERVATIONS' | translate }}</th>
      <th>{{ 'QUANTITY' | translate }}</th>
      <th>{{ 'USER' | translate }}</th>
      <th>{{ 'CELLAR' | translate }}</th>
      <th>{{ 'FOR_SALE' | translate }}</th>
      <th>{{ 'COST' | translate }}</th>
      <th>{{ 'TOTAL_C' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>20/ Dec/ 2019</td>
      <td>AD-2007 - Product name</td>
      <td>33</td>
      <td>Entrada</td>
     <!--  <td>Factura Sistema</td> -->
      <td></td>
      <td></td>
      <td>12.00</td>
      <td>test@com</td>
      <td>Bodega Principal</td>
      <td>L. 0.00</td>
      <td>L. 0.00</td>
      <td>L. 0.00</td>
    </tr>
  </tbody>
</nz-table>