<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="fa fa-cubes"></i> {{ 'GENERAL_INVENTORY' | translate }}
        </h4>
      </div>          
    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>  
            <app-inventory-general-filter
              (searchEvent)="receiveSearchData($event)">
            </app-inventory-general-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">

      <nz-card>
        <app-inventory-general-table 
          [itemDatas]="itemDatas">
        </app-inventory-general-table>
      </nz-card>   

    </div>
  </div>  

</div>