<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchProductVisible" [nzTitle]="searchProductTitleTmpl" (nzOnCancel)="searchProductClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchProductTitleTmpl>
    {{ 'PRODUCT_SEARCH' | translate }}
  </ng-template>

  <div class="row my-1" *ngIf="cateLoader">
    <div class="col-md-12 text-center">
       <ng-template #indicatorTemplate>
          <i nz-icon nzType="loading" class="f-s-18"></i>
       </ng-template>
       <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>
  
  <div class="row my-1" *ngIf="discountListLoader">
    <div class="col-md-12 text-center">
       <ng-template #indicatorTemplate>
          <i nz-icon nzType="loading" class="f-s-18"></i>
       </ng-template>
       <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
  </div>  

  <div class="row mb-4">
    <div class="col-md-8">        
      <nz-form-label>{{ 'PRODUCT' | translate }}</nz-form-label>      
      <nz-input-group [nzSuffix]="productSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="product_search_title" (keyup)="searchProduct()" />
      </nz-input-group>
      <ng-template #productSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>            
    </div>     
    
    <div class="col-md-4">
      <nz-form-label>{{ 'CATEGORY' | translate }}</nz-form-label>      
      <nz-form-control>    
        <nz-select nzShowSearch [(ngModel)]="product_search_category" (ngModelChange)="searchProduct()" class="w-100">
          <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
          <nz-option *ngFor="let categories of categoriesDatas" [nzValue]="categories.category_id" [nzLabel]="categories.category_name"></nz-option>
        </nz-select>                                      
      </nz-form-control>    
    </div>

  </div>   

  <div class="row">
    <div class="col-md-12">

      <div class="text-center mb-2">
        <nz-alert *ngIf="successErrorHandle == '1'" nzType="success" [nzMessage]="successAlertTmp" class="ctm-ant-alert">
          <ng-template #successAlertTmp>
            <div class="text-success">{{ 'PRODUCT_ADDED' | translate }}</div>
          </ng-template>
        </nz-alert>
  
        <nz-alert *ngIf="successErrorHandle == '2'" nzType="error" [nzMessage]="costErrorAlertTmp" class="ctm-ant-alert">
          <ng-template #costErrorAlertTmp>
            <div class="text-danger">{{ 'PLEASE_ENTER_THE_PRODUCT_COST_PRICE' | translate }}</div>
          </ng-template>
        </nz-alert>

        <nz-alert *ngIf="successErrorHandle == '3'" nzType="error" [nzMessage]="costErrorAlertTmp" class="ctm-ant-alert">
          <ng-template #costErrorAlertTmp>
            <div class="text-danger">{{ 'PLEASE_ENTER_THE_PRODUCT_SALE_PRICE' | translate }}</div>
          </ng-template>
        </nz-alert>        

        <nz-alert *ngIf="successErrorHandle == '4'" nzType="error" [nzMessage]="quantErrorAlertTmp" class="ctm-ant-alert">
          <ng-template #quantErrorAlertTmp>
            <div class="text-danger">{{ 'PLEASE_ENTER_THE_PRODUCT_QUANTITY' | translate }}</div>
          </ng-template>
        </nz-alert>
      </div>

      <nz-table #productTable [nzData]="productDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>        
        <thead>
          <tr>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'PRODUCT' | translate }}</th>
            <th>{{ 'PRICE_WITH_ISV' | translate }}</th>            
            <th>{{ 'PRICE' | translate }}</th>
            <th>{{ 'USE_PRICE' | translate }}</th>
            <th>{{ 'DESC' | translate }}</th>
            <th>{{ 'EXISTENCE' | translate }}</th>
            <th>{{ 'QUANTITY' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productTable.data; let i = index">
            <td>{{ data.product_code }}</td>
            <td>{{ data.product_name }}</td>
            <td>{{ product_table_price_isv[i] | number:'.2-2' }}</td>
            <td>            
              <nz-input-number [(ngModel)]="product_table_cost_price[i]" [nzMin]="1" [nzStep]="1" class="w-100px"></nz-input-number>
            </td>
            <td>
              <nz-input-number [(ngModel)]="product_table_sale_price[i]" [nzMin]="1" [nzStep]="1" class="w-100px"></nz-input-number>              
            </td>
            <td>
              <nz-select [(ngModel)]="product_table_discount_percent[i]" class="w-75px">
                <nz-option nzLabel="0" nzValue="0"></nz-option>
                <nz-option *ngFor="let discount of discountsDatas" [nzValue]="discount.discount" [nzLabel]="discount.discount"></nz-option>
              </nz-select>   
            </td>
            <td>0.00</td>
            <td>
              <nz-input-number [(ngModel)]="product_table_quantity[i]" [nzMin]="1" [nzStep]="1" class="w-60px"></nz-input-number>
            </td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="productAddInput(data, i)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>