<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchInvoiceVisible" [nzTitle]="searchInvoiceTitleTmpl" (nzOnCancel)="searchInvoiceClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchInvoiceTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'INVOICE' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'INVOICE_CODE' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="invoiceSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="invoice_search_title" (keyup)="searchInvoice()" />
      </nz-input-group>
      <ng-template #invoiceSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #invoiceTable [nzData]="invoiceDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'DATE' | translate }}</th>
            <th>{{ 'CUSTOMER' | translate }}</th>
            <th>{{ 'TOTAL' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of invoiceTable.data">
            <td>{{ data.invoice_code }}</td>
            <td>{{ data.invoice_date | date: 'dd/MMM/yyyy' }}</td>
            <td>{{ data.customer_firstname }} {{ data.customer_lastname }}</td>
            <td>{{ data.invoice_total | number:'.2-2' }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="invoiceAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>