<h6 class="card-title f-s-14 text-center">
  {{ 'BANK_ACCOUNT_SUMMARY' | translate }}
</h6>
<nz-table #basicTable [nzData]="accountsummaryData" class="bg-white" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th><i class="mdi mdi-bank"></i> {{ 'BANK' | translate }}</th>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'ACCOUNT_NO' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td><b>{{ data.accountsummary_bankname }}</b></td>
      <td>{{ data.accountsummary_account_no }}</td>
      <td>{{ data.accountsummary_balance | number:'.2-2' }}</td>
    </tr>
  </tbody>
</nz-table>