.th-border{
	border-right:1px solid #dee2e6;
}
.left-box-left{
    padding: 10px 25px;
    border-bottom: 1px solid #dee2e6;
}
.left-box{
    height:506px;
    overflow-y:scroll;
}
.shift-bx{
	background-color:#fff;
}

.p-l-0{
	padding-left:0px;
}
.open-shift-title {
  margin: 0 auto;
  display: table;
  font-size: 23px;
  color: #00A82D;
  font-weight: 400;
}
.close-shift-title {
  font-size: 20px;
  color: #00A82D;
  font-weight: 400;
  text-transform:uppercase;
}
.shift-title-left{
	float:right;
	font-size:15px;
	padding-right:20px;
	text-transform:uppercase;
}
tr th{
	width:33%;
}
tr small{
	font-size: 15px;
    font-weight: 100;
    color: rgba(0,0,0,0.65);
}
tr{
	width:100%;
}
.table-txt{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0,0,0,0.65);	
}
.b-top {
  border-top: none;
}
.table .b-top td {
  border-top: 1px solid #fff;
}
.table{
	color:rgba(0,0,0,.65);
}
.text-box{
	display:flex;
}
.text-box-left{
	width:50%;
}
.text-box-right{
	width:50%;
	text-align:end;
}
.detail-line{
	 display: flex;
     margin: 8px 0px;
    flex-direction: row;
}
.detail-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    margin: auto;
}
.badge-success{
	background-color:#bfcd30;
	padding:5px;
	font-size:14px;
	text-transform:uppercase;
	font-weight:100;
}
.cash-income{
  display: block;
}
.cash-income p{
  float:left;
}
.cash-income a{
  float:right;
  top:-13px;
}
@media screen and (max-width : 767px){
	.p-l-0{
	padding-left:15px;
	}
}