<div class="container-fluid p-l-0 color-gray9">
   <div class="row m-0">
      <div class="col-md-4 p-l-0">
         <div class="box-left">
            <nz-card>
               <div class="text-box">
                  <div class="text-box-left f-s-1">
                     {{ 'TURN' | translate }}
                     <span  class="badge badge-pill badge-danger">
                     {{ 'CLOSED' | translate }}
                     </span>
                  </div>
                  <div class="text-box-right">
                     <a nz-button nzType="secondary" (click)="openShiftOpen()" class="ctm-btn-pale-blue btn-close text-uppercase mt-2">
                     {{ 'OPEN_SHIFT' | translate }}
                     </a>
                  </div>
               </div>
            </nz-card>
         </div>
         <div class="shift-bx">
            <div class="left-box">
               <div class="left-box-left" *ngFor="let shift of shifts;index as i;">
                  <h6 class="m-0 p-0">{{ shift.name }} {{i+1}}</h6>
                  <p class="m-0 p-0">{{ shift.date }}</p>
               </div>
            </div>
            <nz-pagination [nzPageIndex]="1" [nzTotal]="100"></nz-pagination>
         </div>
      </div>
      <div class="col-md-8">
         <div class="p-3">
            <div class="text-box pb-2 pt-3">
               <div class="text-box-left">
                  <p>Cierre N° 1</p>
               </div>
               <div class="text-box-right">
                    <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 text-uppercase">
                     <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
                     </a>
                 <!--  <a nz-button nzType="secondary" (click)="closeShiftOpen()" class="ctm-btn-pale-blue px-2 text-uppercase">
                  {{ 'CLOSE_SHIFT' | translate }}
                  </a> -->
               </div>
            </div>
            <nz-card class="table-card">
               <table class="table">
                  <thead>
                     <tr>
                        <th class="th-border"><strong>{{ 'SHIFT_START' | translate }}:</strong><br>
                           <small>03/03/2020 18:31</small>
                        </th>
                        <th class="th-border"><strong>{{ 'END_OF_SHIFT' | translate }}:</strong><br>
                           <small>03/03/2020 18:34</small>
                        </th>
                        <th><strong>Base:</strong><br>
                           <small>L. 15,000.00</small>
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <p class="pt-4 pb-1 pl-2 m-0 table-txt">{{ 'MONEY_RECEIVED' | translate }}:</p>
                     <tr class="b-top">
                        <td>Base:</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 15,000.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'CASH_WITHOUT_BASIS' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 130,000.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'DEBIT_CARD' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 70,000.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'CREDIT_CARD1' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 0.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'TRANSFERENCE' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 0.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'CASH_INCOME' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 0.00</td>
                     </tr>
                     <tr>
                        <td>{{ 'CASH_WITHDRAWALS' | translate }}</td>
                        <td colspan="1"></td>
                        <td class="text-right">L. 0.00</td>
                     </tr>
                     <tr>
                        <td><strong>{{ 'TOTAL' | translate }}</strong></td>
                        <td colspan="1"></td>
                        <td class="text-right"><strong>L. 200,000.00</strong></td>
                     </tr>
                     <tr class="b-top">
                        <td><strong>{{ 'OBSERVATIONS' | translate }}:</strong>
                           <br>{{ 'OBSERVATIONS' | translate }}
                        </td>
                        <td colspan="1"></td>
                        <td class="text-right"><strong></strong></td>
                     </tr>
                  </tbody>
               </table>
            </nz-card>
         </div>
      </div>
   </div>
</div>
<!-- open shift modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="openShiftVisible" [nzTitle]="openShiftTitleTmpl" (nzOnCancel)="openShiftClose()" [nzFooter]="openShiftFooterTmpl">
<ng-template #openShiftTitleTmpl><span class="open-shift-title">{{ 'OPEN_SHIFT' | translate }}<a class="ml-2"> <i class="mdi mdi-help-circle "></i></a></span></ng-template>
<form nz-form [formGroup]="openShiftForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-12">
            <h6>{{ 'NOW_YOU_CAN_USE_YOUR' | translate }}<b> {{ 'INITIAL_BASE' | translate }}</b> {{ 'TO_GENERATE_TRANSACTIONS' | translate }}.</h6>
         </div>
         <div class="col-md-12">
            <nz-form-label>{{ 'ENTER_YOUR_INITIAL_BASE' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" placeholder="{{ 'INITIAL_BASE' | translate }}" nz-input formControlName="initial_base" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #openShiftFooterTmpl>
   <div class="row">
      <div class="col-md-12">  
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="openShiftClose()">
         {{ 'CANCEL' | translate }}            
         </a>      
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="openShiftSave()" disabled>
         {{ 'OPEN_SHIFT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- open shift modal end -->
<!-- close shift modal start -->
<!-- <nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="closeShiftVisible" [nzTitle]="closeShiftTitleTmpl" (nzOnCancel)="closeShiftClose()" [nzFooter]="closeShiftFooterTmpl" nzWidth="700">
<ng-template #closeShiftTitleTmpl><span class="close-shift-title">{{ 'CLOSE_SHIFT' | translate }}</span><span class="shift-title-left">{{ 'START_OF_TURN' | translate }}: {{todayDate | date:'short'}}</span></ng-template>
<form nz-form [formGroup]="closeShiftForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <strong class="text-uppercase">{{ 'EXPECTED_VALUE_IN_CASH' | translate }}</strong>
               </div>
               <div class="col-md-6">
                  <h5>L. 130,000.00</h5>
               </div>
            </div>
         </div>
         <div class="col-md-12 py-3">
            <div class="text-uppercase detail-line">
               {{ 'DETAIL' | translate }}
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'BASE_CASH_AT_STARTUP' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <p>L. 15,000.00</p>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'CASH_SALES' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <p>L. 130,000.00</p>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'DEBIT_CARD_SALES' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <p>L. 70,000.00</p>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'SALES_CREDIT_CARDS' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <p>L. 0.00</p>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'TRANSFER_SALES' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <p>L. 0.00</p>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'CASH_INCOME' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <div class="cash-income">
                     <p>L. 0.00</p>
                     <a nz-button nzType="secondary" class="ctm-btn-pale-blue btn-close mt-2">
                     {{ 'LOG_IN' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'CASH_WITHDRAWALS' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <div class="cash-income">
                     <p class="text-danger">L. 0.00</p>
                     <a nz-button nzType="secondary" class="ctm-btn-pale-blue btn-close mt-2">
                     {{ 'REMOVE1' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <hr>
         </div>
         <div class="col-md-12 py-3">
            <div class="row">
               <div class="col-md-6">
                  <p class="text-uppercase">{{ 'REAL_VALUE_IN_BOX' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                     <input type="text" nz-input formControlName="real_value_in_box" placeholder="COP"/>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-12 py-2">
            <div class="row">
               <div class="col-md-6">
                  <p>{{ 'DIFFERENCE' | translate }}</p>
               </div>
               <div class="col-md-6">
                  <div class="cash-income">
                     <p>L. 0.00</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #closeShiftFooterTmpl>
   <div class="row">
      <div class="col-md-12">  
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="closeShiftClose()">
         {{ 'CANCEL' | translate }}            
         </a>      
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="closeShiftSave()" disabled>
         {{ 'CLOSE_SHIFT' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal> -->
<!-- close shift modal end -->