<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="invoiceDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</th>
      <th><i class="mdi mdi-file-document"></i> {{ 'INVOICE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE_OF_PAYMENT' | translate }}</th>
      <th>{{ 'ACCOUNT' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'AMOUNT' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.invoice_code }}
        </a>
      </td>
      <td>{{ data.customer_firstname }} {{ data.customer_lastname }}</td>      
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.invoice_code }}
        </a>         
      </td>
      <td>{{ data.invoice_date | date : "dd/MMM/yyyy" }}</td>
      <td></td>
      <td>
        <span *ngIf="data.invoice_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'ACTIVE' | translate }}
        </span>
        <span *ngIf="data.invoice_state == '0'" class="badge badge-pill badge-danger">
          {{ 'VOIDED' | translate }}
        </span>        
      </td>      
      <td>L. {{ data.invoice_total | number:'.2-2' }}</td>
    </tr>
  </tbody>
</nz-table>