<nz-table #basicTable [nzData]="accountstatusData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'DEBIT' | translate }}</th>
      <th>{{ 'CREDIT' | translate }}</th>
      <th>{{ 'BALANCE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td></td>
      <td><b>{{ 'INITIAL_BALANCE' | translate }}</b></td>
      <td></td>
      <td></td>
      <td>{{ data.accountstatus_initial_balance | number:'.2-2' }}</td>
    </tr>
  </tbody>
</nz-table>