<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'PAYMENT_RECEIVED' | translate }}
        </h4>

        <div class="pull-right">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2">
            <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-5">
      
      <nz-card>    
        
        <div class="row my-1" *ngIf="loader">
          <div class="col-md-12 text-center">
            <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
        </div>        
        
        <app-payments-received-table
          *ngIf="!loader"
          [paymentReceivedDatas]="paymentReceivedDatas">
        </app-payments-received-table>

      </nz-card>   

    </div>
  </div>   

</div>