<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">
      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-package-variant"></i> {{ 'INVENTORY_MOVEMENT' | translate }}
        </h4>
      </div>
    </div>
  </div>
</section>
<div class="container">

  <div class="row my-1" *ngIf="loader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>

  <div class="row my-1" *ngIf="saleDataLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>	
	
  <div class="row my-1" *ngIf="suplierLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>

  <div class="row my-1" *ngIf="wineryLoader">
    <div class="col-md-12 text-center">
      <ng-template #indicatorTemplate>
        <i nz-icon nzType="loading" class="f-s-18"></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
	</div>	
	
  <div class="row m-0 mb-5">
    <div class="col-md-12">
      <nz-card>
				
        <form nz-form [formGroup]="inventoryMovementForm" class="ctm-label-r">
					<nz-form-item>

						<div class="row">
							<div class="col-md-12">
								<h5 class="text-center font-weight-normal mb-4">{{ 'ENTER_THE_DATA' | translate }}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'MOVEMENT_TYPE' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control>
											<nz-select formControlName="movement_type" (ngModelChange)="movementTypeSelection($event)" required [nzDisabled]="movementTypeSelectDisable">
												<nz-option nzLabel="{{ 'ENTRY' | translate }}" nzValue="1"></nz-option>
												<nz-option nzLabel="{{ 'EXIT' | translate }}" nzValue="2"></nz-option>
												<nz-option nzLabel="{{ 'TRANSFER' | translate }}" nzValue="3"></nz-option>
											</nz-select>
										</nz-form-control>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'PRODUCT' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<input type="hidden" nz-input formControlName="product_id"/>
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<nz-input-group nzSearch [nzAddOnAfter]="itemSuffixButton">
												<input type="text" nz-input formControlName="product_name" required class="ctm-input-disabled" readonly="true"/>
											</nz-input-group>
											<ng-template #itemSuffixButton>
												<button nz-button nzType="primary" nzSearch (click)="searchProductNormalOpen()" class="px-2">
													<i class="fa fa-search"></i>
												</button>
											</ng-template>
										</nz-form-control>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" *ngIf="entryTypeShow || exitTypeShow">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'TRANSACTION' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<nz-select nzShowSearch formControlName="transaction" [required]="entryTypeRequired || exitTypeRequired">
												<nz-option nzLabel="{{ 'ENTRY' | translate }}" nzValue="1"></nz-option>
											</nz-select>
										</nz-form-control>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'ORIGIN_WINERY' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<nz-select nzShowSearch formControlName="origin_winery_id" required>
												<nz-option [nzValue]="defaultWineryData.wineries_id" [nzLabel]="defaultWineryData.name"></nz-option>
											</nz-select>
										</nz-form-control>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'EXISTENCE' | translate }}</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control>
											<input type="text" nz-input formControlName="existance" />
										</nz-form-control>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'QUANTITY' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<input type="text" nz-input formControlName="quantity" placeholder="{{ 'QUANTITY' | translate }}" required />
										</nz-form-control>
									</div>
								</div>
							</div>
						</div>

						<div class="row" *ngIf="entryTypeShow">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'SUPPLIER' | translate }}</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<input type="hidden" nz-input formControlName="supplier_id"/>
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<nz-input-group nzSearch [nzAddOnAfter]="supplierSuffixButton">
												<input type="text" nz-input formControlName="supplier_name" class="ctm-input-disabled" readonly="true"/>
											</nz-input-group>
											<ng-template #supplierSuffixButton>
												<button nz-button nzType="primary" nzSearch (click)="searchSupplierOpen()" class="px-2">
													<i class="fa fa-search"></i>
												</button>
											</ng-template>
										</nz-form-control>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'COST_PRICE' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<input type="number" nz-input formControlName="cost_price" placeholder="{{ 'COST_PRICE' | translate }}" [required]="entryTypeRequired" /> 
										</nz-form-control>
									</div>
								</div>
							</div>
						</div>

						<div class="row" *ngIf="entryTypeShow">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'SALE_PRICE' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<input type="number" nz-input formControlName="sale_price" placeholder="{{ 'SALE_PRICE' | translate }}" [required]="entryTypeRequired" />
										</nz-form-control>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'INVOICE_NO' | translate }}</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control>
											<input type="text" nz-input formControlName="invoice_number" placeholder="{{ 'INVOICE_NUMBER' | translate }}" />
										</nz-form-control>
									</div>
								</div>
							</div>							
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control>
											<input type="text" nz-input formControlName="observation" placeholder="{{ 'OBSERVATIONS' | translate }}" />
										</nz-form-control>
									</div>
								</div>
							</div>

							<!-- <div class="col-md-6" *ngIf="entryTypeShow">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'DOCUMENT' | translate }}</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control>
											<input type="file" nz-input formControlName="document" (change)="handleFileSelect($event)" class="h-auto" accept="image/x-png,image/jpeg,image/jpg" />
										</nz-form-control>
									</div>
								</div>
							</div> -->

							<div class="col-md-6" *ngIf="transferTypeShow">
								<div class="row">
									<div class="col-md-5">
										<div>
											<nz-form-label>{{ 'DESTINATION_WINERY' | translate }}*</nz-form-label>
										</div>
									</div>
									<div class="col-md-7">
										<nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
											<nz-select formControlName="destination_winery_id" [required]="transferTypeRequired">
												<nz-option *ngFor="let winery of wineryDatas" [nzValue]="winery.wineries_id" [nzLabel]="winery.name"></nz-option>
											</nz-select>
										</nz-form-control>
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-4">
							<div class="col-md-12 text-center">
								<button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="inventoryMovementAdd()" [disabled]="!inventoryMovementForm.valid">
									<i class="mdi mdi-playlist-plus"></i> {{ 'ADD' | translate }}
								</button>                    
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mt-3">
								<app-inventory-movement-table 
									[inventoryMovementData]="inventoryMovementDatas"
									[entryTypeShow]="entryTypeShow"
									[exitTypeShow]="exitTypeShow"
									[transferTypeShow]="transferTypeShow">
								</app-inventory-movement-table>
							</div>
						</div>
						
					</nz-form-item>
				</form>
				
      </nz-card>
      <div class="card-footer text-center">            
        <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="insertInventoryMovement()" [disabled]="inventoryMovementDatas && !(inventoryMovementDatas.length > 0)" [nzLoading]="inventoryBtnLoading">
        	<i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
				</button>
        <button nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
        	<i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
				</button>
      </div>
    </div>
  </div>
</div>

<!-- search product dialog normal start -->
<app-search-product-dialog-normal
*ngIf="!saleDataLoader"
[searchProductNormalVisible]="searchProductNormalVisible"
(searchProductNormalCls)="searchProductNormalClose()"
[saleDatas]="saleDatas"
(productNormalAddInputChild)="productNormalAddInput($event)">
</app-search-product-dialog-normal>
<!-- search product dialog normal end -->

<!-- search supplier dialog start -->
<app-search-supplier-dialog
*ngIf="!suplierLoader"
[searchSupplierVisible]="searchSupplierVisible"
(searchSupplierCls)="searchSupplierClose()"
[supplierDatas]="supplierDatas"
(supplierAddInputChild)="supplierAddInput($event)">
</app-search-supplier-dialog>
<!-- search supplier dialog end -->