<nz-table #basicTable [nzData]="seatData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'DATE' | translate }}</th>
      <th>{{ 'NO_REFERENCE' | translate }}</th>
      <th>{{ 'REFERENCE' | translate }}</th>
      <th>{{ 'SOURCE' | translate }}</th>
      <th>{{ 'STATE' | translate }}</th>
      <th>{{ 'VOUCHER' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        20-Apr-2018
      </td>
      <td>
        <a routerLink="/user/accounting/seat/info" [queryParams]="{ seat_id: data.seat_id}" class="font-weight-normal">
          0000001
        </a>
      </td>
      <td>Gasto de Combustible</td>
      <td>
        EGRESOS
      </td>
      <td class="text-center">
        <span *ngIf="data.seat_state == '0'" class="badge badge-pill badge-danger color-white">
          {{ 'REMOVED' | translate }}
        </span> 
        <span *ngIf="data.seat_state == '1'" class="badge badge-pill badge-success color-white">
          {{ 'ACTIVE' | translate }}
        </span>                       
      </td>
      <td>
        numero 45666                
      </td>
      <td>
       
        <a nz-button nzType="primary" nzShape="round" routerLink="/user/accounting/seat/info" [queryParams]="{ seat_id: data.seat_id}" class="ctm-btn-green px-2 mr-1 mb-1">
          <i class="mdi mdi-eye"></i>            
        </a>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1">
          <i class="mdi mdi-printer"></i>            
        </a>    
          <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/accounting/seat/edit" [queryParams]="{ seat_id: data.seat_id }">
          <i class="mdi mdi-pencil"></i> 
        </a>
        <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="deleteConfirmOpen()">
          <i class="mdi mdi-delete-forever"></i>    
        </a>
     
    </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [nzStyle]="{ top: '20px' }" 
      [(nzVisible)]="isVisible"
      [nzTitle]="deleteConfirmTmpl"
      [nzFooter]="deleteConfirmFooterTmpl"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #deleteConfirmTmpl>
        {{ 'DELETE_DEPARTURES' | translate }}
      </ng-template>

      <div class="text-center">
        <p>{{ 'ITEM_DELETE_DEPARTURES_MSG' | translate }}</p>
      </div>
      <ng-template #deleteConfirmFooterTmpl>
        <div class="row">
          <div class="col-md-12">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
              {{ 'CANCEL' | translate }}            
            </a>
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
              {{ 'OK' | translate }}            
            </a>
          </div>
        </div>
      </ng-template>  
    </nz-modal>