<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <h4 class="page-title">
          <i class="mdi mdi-bank"></i> {{ 'ACCOUNT_STATUS' | translate }}
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">
    <div class="col-md-12 mb-4 show-filter-collapse">
      
      <nz-collapse>
        <nz-collapse-panel
          [nzActive]="activeCollapse"
          nzDisabled="false"
          nzShowArrow="false">

          <div>            
            <app-account-status-filter 
              (searchEvent)="receiveSearchData($event)">
            </app-account-status-filter>
          </div>

        </nz-collapse-panel>
      </nz-collapse>       

    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 mb-5">
         
      <nz-card>       
        <app-account-status-table
          [accountstatusData]="accountstatusDatas">
        </app-account-status-table>
      </nz-card>   

    </div>
  </div>   

</div>