<div nz-row>  
  <div nz-col nzXs="24" nzMd="12" nzLg="6" class="p-30">
    <div class="text-center">
      <div href="#">
        <img src="assets/images/logo.png" alt="avseta-logo" > 
      </div>
      <div class="m-b-20 f-s-1-5">
        Avesta Contable
      </div>

      <div class="m-b-20 f-s-1-5">{{ 'CREATE_YOUR_FREE_ACCOUNT' | translate }}</div>

      <div class="row my-1" *ngIf="loader">
        <div class="col-md-12 text-center">
           <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
           </ng-template>
           <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>
     </div>          

      <div *ngIf="!loader">      

        <form nz-form [formGroup]="validateForm">

          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <nz-select formControlName="plan">
                  <nz-option *ngFor="let plan of planDatas" [nzValue]="plan.plan_id" [nzLabel]="plan.plan_name_description"></nz-option>
                  <!-- <nz-option nzValue="1" nzLabel="{{ 'FREE_PLAN' | translate }}"></nz-option>
                  <nz-option nzValue="2" nzLabel="{{ 'PRO_PLAN_7' | translate }}"></nz-option>
                  <nz-option nzValue="3" nzLabel="{{ 'ECONOMY_PLAN_7' | translate }}"></nz-option>
                  <nz-option nzValue="4" nzLabel="{{ 'STANDARD_PLAN_7' | translate }}"></nz-option>
                  <nz-option nzValue="5" nzLabel="{{ 'GOLD_PLAN_7' | translate }}"></nz-option>
                  <nz-option nzValue="6" nzLabel="{{ 'PLATINUM_PLAN_7' | translate }}"></nz-option> -->
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>          

          <nz-form-item>

            <div nz-row nzGutter="16">
              <div nz-col nzLg="12">
                <nz-form-control nzErrorTip="{{ 'FIRST_NAME_ERROR' | translate }}">    
                  <input type="text" nz-input formControlName="first_name" placeholder="{{ 'FIRST_NAME' | translate }}*" />
                </nz-form-control>                
              </div>
              <div nz-col nzLg="12">
                <nz-form-control nzErrorTip="{{ 'LAST_NAME_ERROR' | translate }}">    
                  <input type="text" nz-input formControlName="last_name" placeholder="{{ 'LAST_NAME' | translate }}*" />
                </nz-form-control>                
              </div>              
            </div>

          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'COMPANY_ERROR' | translate }}">
              <input type="text" nz-input formControlName="company_name" placeholder="{{ 'COMPANY' | translate }}*" />
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'PHONE_NUMBER_ERROR' | translate }}">
              <input type="text" nz-input formControlName="contact" placeholder="{{ 'PHONE_NUMBER' | translate }}*" />
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'ENTER_YOUR_EMAIL' | translate }}">
              <input type="email" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}*" />
            </nz-form-control>
          </nz-form-item>     
          
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="{{ 'ENTER_YOUR_PASSWORD' | translate }}">
              <input nz-input type="password" formControlName="password" placeholder="{{ 'ENTER_YOUR_PASSWORD' | translate }}*" (ngModelChange)="validateConfirmPassword()" />
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
              <input nz-input type="password" formControlName="confirm" placeholder="{{ 'CONFIRM_YOUR_PASSWORD' | translate }}*" />
              <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{ 'PLEASE_CONFIRM_YOUR_PASSWORD' | translate }}
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  {{ 'PASSWORD_IS_INCONSISTENT' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <nz-select formControlName="country">
                  <nz-option *ngFor="let country of countryDatas" [nzValue]="country.country_code" [nzLabel]="country.country_name"></nz-option>
                  <!-- <nz-option nzValue="HN" nzLabel="Honduras"></nz-option>
                  <nz-option nzValue="CO" nzLabel="Colombia"></nz-option>
                  <nz-option nzValue="INT" nzLabel="Internacional"></nz-option> -->
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>          

          <nz-form-item>
            <nz-form-control>   
              <!-- <button nz-button [nzType]="'primary'" (click)="openMessageBar()">Open the notification box</button> -->
              
              <button nz-button nzBlock class="letter-s-2" nzType="primary" nzShape="round" (click)="insertCompany(validateForm.value)" [nzLoading]="btnLoading">{{ 'CREATE_ACCOUNT' | translate }}</button>
              
              <!-- <a class="text-center" routerLink="/auth/login">Login</a> -->
            </nz-form-control>
          </nz-form-item>
        </form>
      
      </div>

    </div>

  </div>

   <div nz-col nzXs="24" nzMd="12" nzLg="18" class="dark-green-back text-center">     
    <!-- <img src="assets/images/login.svg" class="w-100"> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
 <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
 <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
<!--   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
  </div>

</div>