nz-select {
  width: 100% !important;
}
.carousel-indicators{
	right:inherit;
	bottom:10px;
}
.carousel-indicators li{
	width:10px;
	height:10px;
	border:50px;
	border-radius:50px;
}
.social-icon{
	font-size:25px;
	margin-right:25px;
}
.carousel-caption a:hover{
	color:#14CC45;
}
.carousel-caption{
	left:inherit;
	padding-bottom:5px;
}
.top-left{
	top: 50%;
    left: 12%;
    position: absolute;
}
.carousel-caption a{
	color:#fff;
}