<nz-table [nzData]="purchaseinvoicesDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'SUPPLIER' | translate }}</th>
      <th><i class="fa fa-usd" aria-hidden="true"></i> {{ 'TOTAL' | translate }}</th>
      <th><i class="fa fa-usd"></i> {{ 'BALANCE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'EXPIRATION_DATE' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i>{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of purchaseinvoicesDatas">
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_code }}
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_supplier }}     
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_total }}
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_balance }}
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_date }}
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_expiration_date }}
      </td>
      <td class="ctm_tablehead">
         {{ data.purchase_invoices_state }}
      </td>
   </tr>
</tbody>
</nz-table>