<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-settings"></i> {{ 'INVOICE_INFORMATION' | translate }}
        </h4>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0 justify-content-center mb-4">

    <div class="col-md-8">
      <nz-card>

        <form nz-form [formGroup]="invoiceInfoForm">      
          <nz-form-item class="mb-0">
      
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'COMPANY_NAME' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_company_name" />
                </nz-form-control>
              </div>      
            </div>    
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'RTN' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_rtn" />
                </nz-form-control>
              </div>      
            </div>

            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'SALES_DOCUMENT' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="invoice_sales_document" nzAllowClear>
                    <nz-option nzLabel="Factura" nzValue="1"></nz-option>       
                    <nz-option nzLabel="Recibo por Honorarios" nzValue="2"></nz-option>       
                    <nz-option nzLabel="Boleta de Venta" nzValue="3"></nz-option>       
                  </nz-select>             
                </nz-form-control>
              </div>      
            </div>             
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'PHONE' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_phone" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <textarea rows="3" nz-input formControlName="invoice_address"></textarea>
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <input type="text" nz-input formControlName="invoice_email" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'LEGEND' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <textarea rows="3" nz-input formControlName="invoice_legend"></textarea>
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'WEB_PAGE' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <input type="text" nz-input formControlName="invoice_web_page" />
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'EXCHANGE_RATE' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="text" nz-input formControlName="invoice_exchange_rate" />             
                </nz-form-control>
              </div>      
            </div> 

            <div class="row my-2">
              <div class="col-md-12 text-center">
                <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="searchTaxOpen()">
                  {{ 'SET_UP_TAXES' | translate }}
                </a>
                 <a routerLink="/user/settings/business/invoice/upload-logo" nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1">
                  {{ 'UPLOAD_INVOICES_LOGO' | translate }}
                </a>
                 <a routerLink="/user/settings/business/invoice/upload-seal" nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1">
                  {{ 'UPLOAD_INVOICE_AND_RECEIPT_STAMP' | translate }}
                </a>
              </div>
              
              
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label>{{ 'EXPRESS_BILLING' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <nz-radio-group formControlName="invoice_express_billing" (ngModelChange)="expressBilling()">
                    <label nz-radio nzValue="1">
                      {{ 'YES' | translate }}
                    </label>
                    <label nz-radio nzValue="0">
                      {{ 'NO' | translate }}
                    </label>
                  </nz-radio-group>             
                </nz-form-control>
              </div>      
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <nz-form-label><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-7">
                <nz-form-control>
                  <input type="hidden" nz-input formControlName="customer_id"/>
                  <nz-input-group nzSearch [nzAddOnAfter]="customerSuffixButton">
                    <input type="text" nz-input formControlName="customer_name" class="ctm-input-disabled"/>
                  </nz-input-group>
                  <ng-template #customerSuffixButton>
                    <button nz-button nzType="primary" nzSearch (click)="searchCustomerOpen()" class="px-2" [disabled]="invoice_e_b_button">
                      ...
                    </button>
                  </ng-template>                                               
                </nz-form-control> 
              </div>              
            </div>            
            
            <hr>

            <h6 class="text-center">
              {{ 'SELECT_HOW_THE_CORRELATIVE_OF_INVOICES_AND_RECEIPTS_IS_GENERATED' | translate }}
            </h6>
      
            <div class="row">
              <div class="col-md-5 text-right">
                <nz-form-label>{{ 'A_DIFFERENT_CORRELATIVE_BY_BRANCH' | translate }}*</nz-form-label> 
              </div>        
              <div class="col-md-4">
                <nz-form-control>
                  <nz-radio-group formControlName="invoice_branch_selection" (ngModelChange)="branchSelection()">
                    <label nz-radio nzValue="1">
                      {{ 'YES' | translate }}
                    </label>
                    <label nz-radio nzValue="0">
                      {{ 'NO' | translate }}
                    </label>
                  </nz-radio-group>                                  
                </nz-form-control>
              </div>      
            </div>   
            
            <div class="row">
              <div class="col-md-5 text-right">
                <nz-form-label>{{ 'BRANCH_USED_FOR_THE_CORRELATIVE' | translate }}</nz-form-label> 
              </div>        
              <div class="col-md-5">
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="invoice_branch" nzAllowClear [nzDisabled]="invoice_branch_button">
                    <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>       
                  </nz-select>               
                </nz-form-control>
              </div>      
            </div>            
                 
          </nz-form-item>

        </form>  

      </nz-card>

      <div class="row m-0 card-footer">
        <div class="col-md-12 text-center my-1">
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="saveInvoice()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
          </a>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
            <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
          </a>    
        </div>
      </div>      

    </div>
    
  </div>  

</div>  

<!-- search customer dialog start -->
<app-search-customer-dialog
  [searchCustomerVisible]="searchCustomerVisible"
  (searchCustomerCls)="searchCustomerClose()"
  [customerDatas]="customerDatas"
  (customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->

<!-- search tax dialog start -->
<app-search-tax-dialog
  [searchTaxVisible]="searchTaxVisible"
  (searchTaxCls)="searchTaxClose()"
  [taxDatas]="taxDatas">
</app-search-tax-dialog>
<!-- search tax dialog end -->