<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>
<nz-table #expandTable [nzData]="listOfMapData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'ACCOUNT' | translate }}</th>
      <th>{{ 'BELONGING_TO' | translate }}</th>
      <th>{{ 'ACCOUNT_IS' | translate }}</th>
      <th>{{ 'ACTION' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level * 10"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
          >
            {{ item.code }}
          </td>
          <td>{{ item.account }}</td>
          <td>{{ item.belonging }}</td>
           <td>{{ item.account_is }}</td>
          <td>
            <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="editAccountOpen()">
              <i class="mdi mdi-pencil"></i>            
            </a>
            <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
              <i class="mdi mdi-delete-forever"></i>
            </a>                      
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<!-- edit account modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editAccountVisible" [nzTitle]="editAccountTitleTmpl" (nzOnCancel)="editAccountClose()" [nzFooter]="editAccountFooterTmpl">

  <ng-template #editAccountTitleTmpl>{{ 'MODIFY_ACCOUNTING_ACCOUNT' | translate }}</ng-template>
  
  <form nz-form [formGroup]="editAccountForm">      
    <nz-form-item>
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="accountcatalog_code" />
          </nz-form-control>        
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="description" />
          </nz-form-control>        
        </div>      
      </div> 
      
      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'BELONGING_TO' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <nz-select nzShowSearch formControlName="belonging_to" nzAllowClear>
              <nz-option nzLabel="{{ 'ACTIVE' | translate }}" nzValue="1"></nz-option>
              <nz-option nzLabel="{{ 'PASSIVE' | translate }}" nzValue="2"></nz-option>
              <nz-option nzLabel="{{ 'CAPITAL' | translate }}" nzValue="3"></nz-option>
              <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
              <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="5"></nz-option>
              <nz-option nzLabel="{{ 'COSTS' | translate }}" nzValue="6"></nz-option>
            </nz-select>   
          </nz-form-control>        
        </div>      
      </div>

      <div class="row">
        <div class="col-md-3">
          <nz-form-label>{{ 'ACCOUNT_IS' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
            <nz-select nzShowSearch formControlName="account_is" nzAllowClear>
              <nz-option nzLabel="{{ 'GROUP_ACCOUNT' | translate }}" nzValue="1"></nz-option>
              <nz-option nzLabel="{{ 'ACCOUNT_DETAIL' | translate }}" nzValue="2"></nz-option>
            </nz-select>          
          </nz-form-control>
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <nz-form-label>{{ 'REQUIRES_COST_DEPARTMENT' | translate }}*</nz-form-label>
        </div>
        <div class="col-md-6">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">             
            <nz-select nzShowSearch formControlName="required_cost_department" nzAllowClear>
              <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
              <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="0"></nz-option>
            </nz-select>          
          </nz-form-control>          
        </div>      
      </div>      
    </nz-form-item>     
  </form>

  <ng-template #editAccountFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editAccountSave()">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- edit account modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_ACCOUNT' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_ACCOUNT_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->


