<div *ngIf="customerInfoData" class="ctm-card">  

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'REGISTRATION_DATE' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.created_at | date: "dd-MMM-yyyy" }}
    </div>                
  </div>

  <!-- customer type 1 start -->
  <div *ngIf="customerInfoData.type == 'P'">

    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'IDENTIFICATION_CARD' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.id_card }}
      </div>                
    </div>   

    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'NAME' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.name }}
      </div>                
    </div>
    
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'LAST_NAME' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.last_name }}
      </div>                
    </div>

    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'BIRTHDATE' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.birth_date }}
      </div>                
    </div>
    
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'SEX' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        <span *ngIf="customerInfoData.sex == 'M'">{{ 'MALE' | translate }}</span>
        <span *ngIf="customerInfoData.sex == 'F'">{{ 'FEMALE' | translate }}</span>
      </div>                
    </div>    

  </div>
  <!-- customer type 1 end -->

  <!-- customer type 2 start -->
  <div *ngIf="customerInfoData.type == 'C'">
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'COMPANY' | translate }}
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.company }}
      </div>                
    </div>
  </div>
  <!-- customer type 2 end -->   
  
  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'IDENTIFICATION' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.identification }}
    </div>                
  </div>

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'POSTAL_CODE' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.postal_code }}
    </div>                
  </div>  

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'DIRECTION' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.direction }}
    </div>                
  </div>  

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'CITY' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.city }}
    </div>                
  </div>
  
  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'COUNTRY' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.country }}
    </div>                
  </div>
  
  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'PHONE' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.phone }}
    </div>                
  </div>  

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'Fax' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.fax }}
    </div>                
  </div>
  
  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'MOBILE' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.mobile }}
    </div>                
  </div>

  <div nz-row nzGutter="16" class="m-0">
    <div nz-col nzMd="4" class="bg-blue-grey">
      {{ 'EMAIL' | translate }}
    </div>
    <div nz-col nzMd="20" class="detail-data-col">
      {{ customerInfoData.email }}
    </div>                
  </div>  

  <!-- customer type 2 start -->
  <div *ngIf="customerInfoData.type == 'C'">
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'NAME' | translate }} 1
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.name1 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'LAST_NAME' | translate }} 1
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.last_name1 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'MOBILE' | translate }} 1
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.mobile1 }}
      </div>                
    </div>    
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'EMAIL' | translate }} 1
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.email1 }}
      </div>                
    </div>

    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'NAME' | translate }} 2
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.name2 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'LAST_NAME' | translate }} 2
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.last_name2 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'MOBILE' | translate }} 2
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.mobile2 }}
      </div>                
    </div>    
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'EMAIL' | translate }} 2
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.email2 }}
      </div>                
    </div>    

    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'NAME' | translate }} 3
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.name3 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'LAST_NAME' | translate }} 3
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.last_name3 }}
      </div>                
    </div>
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'MOBILE' | translate }} 3
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.mobile3 }}
      </div>                
    </div>    
    <div nz-row nzGutter="16" class="m-0">
      <div nz-col nzMd="4" class="bg-blue-grey">
        {{ 'EMAIL' | translate }} 3
      </div>
      <div nz-col nzMd="20" class="detail-data-col">
        {{ customerInfoData.email3 }}
      </div>                
    </div>    
  </div>  
  <!-- customer type 2 end -->

</div>