<nz-table #basicTable [nzData]="accountlinkData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'ACCOUNT_NAME' | translate }}</th>
      <th>{{ 'COST_CENTER' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>
        Costo de mercaderia vendida
      </td>
      <td>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue font-weight-normal" (click)="searchAccountOpen()">
          1-01-01
        </a>
      </td>
      <td>
        Costo Ventas
      </td>
      <td class="text-center">
        <nz-select [(ngModel)]="cost_center[i]" class="w-100">
        </nz-select>         
      </td>
      <td>
        <nz-select [(ngModel)]="account_type[i]" class="w-100px">
          <nz-option nzLabel="{{ 'SHOULD' | translate }}" nzValue="1"></nz-option>
          <nz-option nzLabel="{{ 'TO_HAVE' | translate }}" nzValue="2"></nz-option>
        </nz-select>           
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="row card-footer">
  <div class="col-md-12 text-center my-1">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="saveAccountLink()">
      <i class="mdi mdi-printer"></i> {{ 'SAVE' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
      <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
    </a>     
  </div>
</div>

<!-- search account dialog start -->
<app-search-account-dialog
  [searchAccountVisible]="searchAccountVisible"
  (searchAccountCls)="searchAccountClose()"
  [accountDatas]="accountDatas"
  (accountAddInputChild)="accountAddInput($event)">
</app-search-account-dialog>
<!-- search account dialog end -->
