<div class="row mb-4">

  <div class="offset-md-8 col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
        </nz-input-group>
        <ng-template #keyupsearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="invoiceDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'NUMBER' | translate }}</th>
      <th><i class="mdi mdi-account"></i> {{ 'CUSTOMER' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'CREATION' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'EXPIRATION' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'TOTAL' | translate }}</th>
      <th>{{ 'PAID_OUT' | translate }}</th>
      <th>{{ 'TO_PAY' | translate }}</th>
      <th><i class="mdi mdi-pulse"></i> {{ 'STATE' | translate }}</th>
      <th style="width: 200px;" class="text-center">{{ 'ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}" class="font-weight-normal">
          {{ data.invoice_number }}
        </a>
      </td>
      <td>
        <a routerLink="/user/customers/info_customer" [queryParams]="{ customer_id: data.customer_id}" class="font-weight-normal">
          {{ data.invoice_provider_name }}
        </a>         
      </td>
      <td>{{ data.invoice_creation_date | date : "dd/MMM/yyyy" }}</td>
      <td>{{ data.invoice_expiration_date | date : "dd/MMM/yyyy" }}</td>
      <td>L. {{ data.invoice_total }}</td>
      <td>L. {{ data.invoice_paid_out }}</td>
      <td>L. {{ data.invoice_to_pay }}</td>
      <td>
        <span *ngIf="data.invoice_state == '1'" class="badge badge-pill badge-warning color-white">
          {{ 'VOIDED' | translate }}
        </span>
        <span *ngIf="data.invoice_state == '0'" class="badge badge-pill badge-danger">
          {{ 'UNPAID' | translate }}
        </span>        
      </td>
      <td>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1" routerLink="/user/income/invoice/info" [queryParams]="{ invoice_id: data.invoice_id}">
          <i class="mdi mdi-eye"></i>            
        </a>
        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1">
          <i class="mdi mdi-printer"></i>            
        </a>     
        <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/income/invoice/edit" [queryParams]="{ invoice_id: data.invoice_id}">
          <i class="mdi mdi-pencil"></i>            
        </a>   

        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow px-2 mr-1 mb-1" *ngIf="data.invoice_state == '1'" nz-tooltip [nzTooltipTitle]="active">
          <i class="mdi mdi-layers" ></i>
        </a>      
        <ng-template #active>{{ 'ACTIVATE' | translate }}</ng-template>

        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-yellow3 px-2 mr-1 mb-1" *ngIf="data.invoice_state == '0'" nz-tooltip [nzTooltipTitle]="deactive">
          <ng-template #deactive>{{ 'DEACTIVATE' | translate }}</ng-template>
          <i class="mdi mdi-layers-off"></i> 
        </a>        

        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
          <i class="mdi mdi-delete-forever"></i>
        </a>         
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_INVOICE' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'DELETE_INVOICE_CONFIRM_MSG' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->