
<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'ORDER_CODE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <input type="text" nz-input formControlName="workorders_code" />                 
            </nz-form-control>         
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'CUSTOMER' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <input type="hidden" nz-input formControlName="customer_id"/>
            <nz-form-control>
              <nz-input-group nzSearch [nzAddOnAfter]="customerSuffixButton">
                <input type="text" nz-input formControlName="customer_name" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #customerSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchCustomerOpen()" class="px-2">
                  ...
                </button>
              </ng-template>                                               
            </nz-form-control> 
          </div>
        </div>
      </div> 
      
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>
              <nz-date-picker formControlName="date" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>         
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>             
              <nz-select nzShowSearch formControlName="state">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'PENDING' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'BILLED' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'VOIDED' | translate }}" nzValue="3"></nz-option>
              </nz-select>          
            </nz-form-control>                            
          </div>
        </div>         
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BRANCH' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="branch">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
              </nz-select>   
            </nz-form-control>            
          </div>
        </div>         
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'USER' | translate }}</nz-form-label>    
            </div>
          </div>
          <div class="col-md-7">
            <input type="hidden" nz-input formControlName="user_id"/>
            <nz-form-control>
              <nz-input-group nzSearch [nzAddOnAfter]="userSuffixButton">
                <input type="text" nz-input formControlName="user_name" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #userSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchUserOpen()" class="px-2">
                  ...
                </button>
              </ng-template>                                               
            </nz-form-control>            
          </div>
        </div>        
      </div> 

    </div> 

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="searchFilter()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </button>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- search customer dialog start -->
<app-search-customer-dialog
  [searchCustomerVisible]="searchCustomerVisible"
  (searchCustomerCls)="searchCustomerClose()"
  [customerDatas]="customerDatas"
  (customerAddInputChild)="customerAddInput($event)">
</app-search-customer-dialog>
<!-- search customer dialog end -->

<!-- search user dialog start -->
<app-search-user-dialog
  [searchUserVisible]="searchUserVisible"
  (searchUserCls)="searchUserClose()"
  [userDatas]="userDatas"
  (userAddInputChild)="userAddInput($event)">
</app-search-user-dialog>
<!-- search user dialog end -->