<div class="row">
  <div class="col-md-12 text-center">
    <h6>{{ 'SUMMARIZED_ITEM' | translate }}</h6>
    <h6>{{ 'SOURCE' | translate }}: APERTURA</h6>
    <div class="space-6"></div>
    <p>{{ 'FROM_THE' | translate }} 01/Jan/2020 {{ 'UNTIL' | translate }} 01/Jan/2020</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13 mb-1" nzSize="large">
      {{ 'EXPORT_TO_EXCEL' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="searchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyseller()" />
        </nz-input-group>
        <ng-template #searchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="summarizedItemDisplayData" class="bg-white ctm-b-b" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th class="ctm-b-b-b" rowspan="1" style="width: 144px;">{{ 'CODE_CTA' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" style="width: 283px;">{{ 'ACCOUNT_DESCRIPTION' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" style="width: 193px;">{{ 'COST_CENTER' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" style="width: 96px;">{{ 'DEBIT' | translate }}</th>
      <th class="ctm-b-b-b" rowspan="1" style="width: 104px;">{{ 'CREDIT' | translate }}</th>
    </tr>   
  </thead>
  <tbody>
    <tr>
      <td class="ctm-b-b-b"></td>
      <td class="ctm-b-b-b"></td>
      <td class="ctm-b-b-b" style="font-weight: 700">{{ 'TOTALS' | translate }}</td>
      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
    </tr>                              
  </tbody>
</nz-table>