<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <div class="pull-right">
               <app-backbutton></app-backbutton>
            </div>
            <h4 class="page-title">
               <i class="mdi mdi-chart-bar"></i> {{ 'INVENTORY_REPORT' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mb-4">
         <app-inventories-filter 
            (searchEvent)="receiveSearchData($event)">
         </app-inventories-filter>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12 mb-5">
         <nz-card>
            <app-inventories-table
               [inventoriesData]="inventoriesDatas">
            </app-inventories-table>
         </nz-card>
      </div>
   </div>
</div>