<div class="row mb-4">
   <div class="col-md-12">
      <highcharts-chart 
      [Highcharts]="lineChart"
      [options]="lineChartOptions"
      class="ctm-highchart">
      </highcharts-chart>
   </div>
</div>
<div class="row mb-4">
   <div class="col-md-8">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="branchSearchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchEarningbyproduct()" />
            </nz-input-group>
            <ng-template #branchSearchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="earningsbyproductDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'PRODUCT' | translate }}</th>
      <th>{{ 'QUANTITY' | translate }}</th>
      <th>{{ 'TAX' | translate }}</th>
      <th>{{ 'TOTAL_SALES' | translate }}</th>
      <th>{{ 'UNIT_COST' | translate }}</th>
      <th>{{ 'TOTAL_COSTS' | translate }}</th>
      <th>{{ 'L_GAIN' | translate }}</th>
      <th>{{ 'GAIN_PERCENTAGE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.earningbyproduct_product }}</td>
      <td>{{ data.earningbyproduct_quantity }}</td>
      <td>{{ data.earningbyproduct_tax }}</td>
      <td>{{ data.earningbyproduct_total_sales }}</td>
      <td>{{ data.earningbyproduct_unit_cost }}</td>
      <td>{{ data.earningbyproduct_total_costs }}</td>
      <td>{{ data.earningbyproduct_l_gain }}</td>
      <td>
         <p *ngIf="data.earningbyproduct_gain_percentage =='1'" class="mb-0 text-danger">0.00%</p>
         <p *ngIf="data.earningbyproduct_gain_percentage =='0'" class="mb-0 text-success">100.00%</p>
      </td>
   </tr>
   <tr>
      <td class="bg-white" colspan="2"><strong>{{ 'TOTALS' | translate }}</strong></td>
      <td class="bg-white"><strong>L. 1100.00</strong></td>
      <td class="bg-white" colspan="2"><strong>L. 5834.40</strong></td>
      <td class="bg-white" ><strong>L. 3932.50</strong></td>
      <td class="bg-white" colspan="2"><strong>L. 5834.40</strong></td>
   </tr>
</tbody>
</nz-table>