<nz-table [nzData]="customerUnPaidBills" nzShowSizeChanger class="bg-white border" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th><i class="mdi mdi-barcode-scan"></i> {{ 'CODE' | translate }}</th>
      <th><i class="mdi mdi-calendar"></i> {{ 'DATE' | translate }}</th>
      <th><app-currency-sign></app-currency-sign> {{ 'BALANCE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of customerUnPaidBills">
      <td>
        <a>{{ data.invoice_no }}</a>                
      </td>
      <td>
        <span>{{ data.date }}</span>
      </td>
      <td>
        <span>L. {{ data.balance }}</span>
      </td>
    </tr>
  </tbody>
</nz-table>