<div class="row">
  <div class="col-md-6 text-center">
    <h6>INVERSIONES LOGISTICAS H&amp;M S. DE R.L.</h6>
    <p>Col. 15 de Septiembre, Avenida Independencia, Casa<br> No. 6005<br></p>
  </div>

  <div class="col-md-6 text-center">
    <h6>{{ 'DEPARTMENT_EXPENSES' | translate }}</h6>
    <p>{{ 'TO_THE' | translate }} 31/Jan/2020</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13 mb-1" nzSize="large">
      {{ 'EXPORT_TO_EXCEL' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="searchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyseller()" />
        </nz-input-group>
        <ng-template #searchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="departmentExpensesDisplayData" class="bg-white ctm-b-b table-bordered" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>  
  <thead>
    <tr>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 121px;">
        <b>{{ 'ACCOUNTING_ACCOUNT' | translate }}</b>
      </th>
      <th class="ctm-b-b-b" rowspan="1" colspan="1" style="width: 178px;">
        <b>{{ 'ACCOUNT_DESCRIPTION' | translate }}</b>
      </th>
      <th style="text-align: right; border-right: 0px none !important; width: 58px;" class="ctm-b-b-b" rowspan="1" colspan="1">
        <b>{{ 'BALANCE' | translate }}</b>
      </th>
      <th style="text-align: left; padding-left: 0px; width: 108px; border-left: none;" class="ctm-b-b-b" rowspan="1">
        <b>{{ 'PREVIOUS' | translate }}</b>
      </th>
      <th style="text-align: right; border-right: 0px none !important; width: 96px;" class="ctm-b-b-b" rowspan="1" colspan="1">
        <b>{{ 'MOVEMENTS' | translate }}</b>
      </th>
      <th style="text-align: left; padding-left: 0px; width: 56px; border-left: none;" class="ctm-b-b-b" rowspan="1">
        <b>{{ 'OF_THE_MONTH' | translate }}</b>
      </th>
      <th style="text-align: right; border-right: 0px none !important; width: 59px;" class="ctm-b-b-b" rowspan="1" colspan="1">
        <b>{{ 'BALANCE' | translate }}</b>
      </th>
      <th style="text-align: left; padding-left: 0px; width: 84px; border-left: none;" class="ctm-b-b-b" rowspan="1">
        <b>{{ 'ACCUMULATED' | translate }}</b>
      </th>
    </tr>    

  </thead>
  <tbody style="color: black;">

    <tr>
      <td></td>
      <td></td>

      <td class="text-center"><b>{{ 'SHOULD' | translate }}</b></td>
      <td class="text-center"><b>{{ 'TO_HAVE' | translate }}</b></td>

      <td class="text-center"><b>{{ 'SHOULD' | translate }}</b></td>
      <td class="text-center"><b>{{ 'TO_HAVE' | translate }}</b></td>

      <td class="text-center"><b>{{ 'SHOULD' | translate }}</b></td>
      <td class="text-center"><b>{{ 'TO_HAVE' | translate }}</b></td>
    </tr> 
    
    <tr>
      <td style="background-color: #eee; border: 0px; border-left: 1px;"></td>
      <td style="background-color: #eee; border: 0px;"></td>
      <td style="background-color: #eee; border: 0px;"></td>
      <td class="text-center" style="background-color: #eee; border: 0px;"><b>{{ 'ADMINISTRATION' | translate }}</b></td>
      <td style="background-color: #eee; border: 0px;"></td>
      <td style="background-color: #eee; border: 0px;"></td>
      <td style="background-color: #eee; border: 0px;"></td>
      <td style="background-color: #eee;"></td>
    </tr>  
    
    <tr>
      <td>5-01-05</td>
      <td>Compras varios usados</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>
    
    <tr>
      <td>6-01-09</td>
      <td>Alimentacion</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>  
    
    <tr>
      <td>6-03-03</td>
      <td>Energia Electrica</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>    

    <tr>
      <td>6-03-06</td>
      <td>Combustibles y Lubricantes</td>

      <td>0.00</td>
      <td></td>

      <td></td>
      <td></td>

      <td>0.00</td>
      <td></td>
    </tr>  
    
    <tr>
      <td></td>
      <td style="font-weight: 700">TOTAL DEPARTAMENTO</td>

      <td style="font-weight: 700">0.00</td>
      <td style="font-weight: 700">0.00</td>

      <td style="font-weight: 700">0.00</td>
      <td style="font-weight: 700">0.00</td>

      <td style="font-weight: 700">0.00</td>
      <td style="font-weight: 700">0.00</td>
    </tr>    

    <tr>
      <td class="ctm-b-b-b"></td>
      <td class="ctm-b-b-b" style="font-weight: 700">TOTAL</td>

      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>

      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>

      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
      <td class="ctm-b-b-b" style="font-weight: 700">0.00</td>
    </tr>    
    
  </tbody>
</nz-table>