<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchUserVisible" [nzTitle]="searchUserTitleTmpl" (nzOnCancel)="searchUserClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchUserTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'USER' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'USER' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="userSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="user_search_title" (keyup)="searchUser()" />
      </nz-input-group>
      <ng-template #userSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #userTable [nzData]="userDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'FIRST_NAME' | translate }}</th>
            <th>{{ 'LAST_NAME' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'BRANCH' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userTable.data">
            <td>{{ data.user_firstname }}</td>
            <td>{{ data.user_lastname }}</td>
            <td>{{ data.user_email }}</td>
            <td>{{ data.user_branch }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="userAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>