<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-file-document"></i> {{ 'PURCHASE_INVOICES' | translate }}
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/expenses/purchase-invoices/bill/create">
               <i class="mdi mdi-plus"></i> {{ 'NEW' | translate }}
               </a>
               <a nz-button nzType="secondary" (click)="showFilter()" class="ctm-btn-pale-blue px-2">
               <i class="mdi mdi-filter-variant"></i> {{ 'SHOW_FILTERS' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mb-4 show-filter-collapse">
         <nz-collapse>
            <nz-collapse-panel
               [nzActive]="activeCollapse"
               nzDisabled="false"
               nzShowArrow="false">
               <div>
                  <app-purchase-invoices-filter 
                     (searchEvent)="receiveSearchData($event)">
                  </app-purchase-invoices-filter>
               </div>
            </nz-collapse-panel>
         </nz-collapse>
      </div>
   </div>
   <div class="row m-0">
      <div class="col-md-12 mb-5">
         <nz-card>
            <app-purchase-invoices-table
               [purchaseinvoicesDatas]="purchaseinvoicesDatas">
            </app-purchase-invoices-table>
         </nz-card>
      </div>
   </div>
</div>