.badge-primary {
	background-color: #fff;
	border: 1px solid #00A82D;
	color: #00A82D;
}

.badge {
	font-weight: 600;
	width: 40px;
	height:40px;
	font-size: 17px;
	margin-top: 1px;
	border-radius: 50px;
	p {
		margin-top: 6px;
	}
}

strong {
	opacity: 0.8;
}

.pos-item-border {
	border: 2px solid #00A82D;
}

.badge-primary.badge-custom {
	text-align: center;
    font-weight: 600;
    padding: 14px 8px;
    width: 28px;
    height: 30px;
    font-size: 17px;
    margin-top: 1px;
    border-radius: 50px;
    line-height: 0px;
}

.pos-item {
	top: -4%;
	display: inline-grid;
	right: 7%;
	position: absolute;
}

.star-unactive {
	margin: 0px -11px;
	margin-top: 7px;
	background-color: #fff;
	padding: 0px 5px;
	color: #e8ebf0;
	margin-right: 10px;
	padding: 2px 4px;
	position: relative;
}

.star-active {
	margin: 0px -11px;
	margin-top: 7px;
	background-color: #fff;
	padding: 0px 5px;
	color: #00A82D;
	margin-right: 10px;
	padding: 2px 4px;
	position: relative;
}

.invoice-txt {
	margin: 0 auto;
	display: table;
	font-size: 23px;
	color: #00A82D;
	font-weight: 400;
}

.item-text {
	font-size: 23px;
	color: #00A82D;
	font-weight: 400;
}

.payment-type-button {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 100px;
	width: 150px;
}

.payment-type-button-content {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #4a4a4a;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 15px;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	letter-spacing: 0;
	opacity: .8;
	padding: 1rem;
	text-transform: uppercase;
}

.payment-font {
	font-size: 40px;
}

.line {
	display: flex;
	font-size: 14px;
	margin: 8px 0px;
	flex-direction: row;
}

.line:before {
	content: "";
	flex: 1 1;
	border-bottom: 1px solid rgba(204,204,204,0.3);
	margin: auto;
}

.line:after {
	content: "";
	flex: 1 1;
	border-bottom: 1px solid rgba(204,204,204,0.3);
	margin: auto;
}
.payment-line {
	display: flex;
	font-size: 14px;
	margin: 8px 0px;
	flex-direction: row;
}
.payment-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 1px solid rgba(204,204,204,0.3);
	margin: auto;
}
.vl{
	position: absolute;
    border-left: .5px solid #ededed;
    left: -16px;
    height: 75%;
    top: 15%;
}
.change-method{
	font-size:14px;
	color: #00A82D;
	float:right;
	text-transform:uppercase;
	padding-top:15px;
}
.change-method:hover{
	color: #00A82D;
	float:right;
	text-transform:uppercase;
	padding-top:15px;
}
.border-bottom{
	border-bottom: 1px solid rgba(204,204,204,0.3);
}
.pro-btn{
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.1);
    box-shadow: 1px 2px 5px rgba(0,0,0,.1);
    font-size: 12px;
    border-radius: 3.1rem;
    background: #fff;
    border: 1px solid #ededed;
    cursor: default;
    color: #b3b3b3;
    width:32px;
    height:32px;
    margin:0px 6px;
}
.pro-name{
	width:40%;
}
.pro-quantity{
	width:30%;
}
.pro-total{
	width: 26%;
	text-align: end;
}

.ctm-btn-round {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 0px;
	border: 1px solid #ededed;
	color: #b3b3b3;	
}

.ctm-btn-round:hover {
	color: #b3b3b3;	
}
.ctm-cust-search {
    width: calc(100% - 144px);
    float: left;
}
.user-icon{
	padding-top: 3px;
    font-size: 26px;
    color: #7fc98b;
    float: left;
    margin-right: 10px;
}
.header-bg{
	padding:0px;
	background-color:#7fc98b;
	color:#fff;
}
.texture{
  width: 100%;
  height: .7rem;
  display: block;
  background-color:#fff;
  background-image: url("src/assets/images/texture.png");
  background-repeat: repeat-x;
}
.search-icons{
	float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    color:#ccc;
    z-index:1;
}
.barcode-icon{
	left: 41px;
    top: 1px;
    color: #ccc;
    z-index: 1;
    /* float: left; */
    background-color: #1777B4;
    color: #fff;
    position: absolute;
    padding: 8px;
}
.search-product{
	padding:4px 45px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) { 
    .pro-name{
	width:30%;
}
.pro-quantity{
	width:45%;
}
.pro-total{
	width:25%;
	
}
.col-right{
	height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 66%;
    flex: 1 0 66%;
    max-width: 50rem;
}
.col-left{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 50;
    -ms-flex: 50;
    flex: 50;
}
.col-bx{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:800px;
    height: 100%;
}
.card-scroll{
	height:500px;
	overflow-y:scroll;
}
}	
@media only screen and (min-width: 749px) and (max-width: 1142px){
.pro-name{
	width:20%;
}
.pro-quantity{
	width:45%;
}
.pro-total{
	width:35%;
	
}
.col-right{
	height: 100%;
    -webkit-box-flex: 4;
    -ms-flex: 4 0 50%;
    flex: 4 0 50%;
    max-width: 50rem;
}
.col-left{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 30;
    -ms-flex: 30;
    flex: 30;
}
.col-bx{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.card-scroll{
	height:500px;
	overflow-y:scroll;
}	
}
@media only screen and (min-width: 652px) and (max-width: 749px){
.pro-name{
	width:20%;
}
.pro-quantity{
	width:40%;
}
.pro-total{
	width:40%;
	
}
.col-right{
	height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50rem;
}
.col-left{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.col-bx{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.card-scroll{
	height:500px;
	overflow-y:scroll;
}	
}
@media only screen and (min-width: 579px) and (max-width: 652px){
.pro-name{
	width:22%;
}
.pro-quantity{
	width:45%;
}
.pro-total{
	width:33%;
	
}
.col-right{
	height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    max-width: 60rem;
}
.col-left{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.col-bx{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.card-scroll{
	height:500px;
	overflow-y:scroll;
}	
}

@media screen and (max-width : 579px){
.pro-name{
	width:20%;
}
.pro-quantity{
	width:45%;
}
.pro-total{
	width:35%;
	
}
.col-right{
	height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 70%;
    flex: 1 0 70%;
    max-width: 50rem;
}
.col-left{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 50;
    -ms-flex: 50;
    flex: 50;
}
.col-bx{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width:550px;
}
.card-scroll{
	height:500px;
	overflow-y:scroll;
}	
}


.item__quantity {
	position: absolute;
	top: -10px;
	right: 4px;
	width: 2.1rem;
	height: 2.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #00A82D;
	border: 2px solid #00A82D;
	border-radius: 3rem;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-22 {
  padding-top: 22px;
}