<div class="container-fluid color-gray9">
   <div class="row m-0 col-bx">
      <div class="col-md-7 p-0 col-left">
         <div class="row m-0">
            <div class="col-md-10 py-3">
               <nz-input-group [nzAddOnBefore]="userSuffixButton" class="product-search">
                  <input class="search-product" type="text" placeholder="{{ 'SEARCH_PRODUCTS' | translate }}" nz-input [(ngModel)]="product_search_title" (keyup)="searchProduct()" />
                  <i class="fa fa-search fa-lg search-icons"></i>
                  <i class="fa fa-barcode barcode-icon" aria-hidden="true"></i>
               </nz-input-group>
               <ng-template #userSuffixButton>
                  <i class="fa fa-search fa-lg color-white"></i>              
               </ng-template>
            </div>
            <div class="col-md-2 py-4">
               {{ 'ITEM' | translate }}
               <span class="color-blue2 cursor-pointer" (click)="itemEditFormOpen()">
               <i class="fa fa-plus-square fa-lg"></i>
               </span>
            </div>
         </div>
         <div class="row ctm-mr-n-10">
            <div class="col-md-12 pos-product-bar">
               <div class="card-group">
                  <div class="mb-4 col-md-12 px-0">
                     <div class="card-body card-scroll">
                        <div class="row">
                           <div *ngFor="let productData of productDisplayDatas" class="col-md-12 col-lg-4 text-center mb-3" (click)="productAddInvoice(productData)">
                           <div class="pos-item-box pb-2" [ngClass]="{'pos-item-border' : productData.isBorder}">
                              <div *ngIf="productData.item_quantity_added > 0" class="item__quantity">
                                 {{ productData.item_quantity_added }}
                              </div>
                              <div class="item-tag-img"></div>
                              <div>
                                 <small><b>{{ productData.name }}</b></small>
                                 <div><b>{{ productData.price | number:'.2-2' }}</b></div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-5 pr-md-0 col-right">
      <div class="row">
         <div class="col-md-12 header-bg">
            <p class="pt-3 header-title text-center">{{ 'SALES' | translate }}</p>
         </div>
         <div class="texture"></div>
         <div class="col-md-12 pos-invoice-bar">
            <div class="card-group">
               <div class="card border-0">
                  <div class="py-2">
                     <i class="fa fa-user-circle-o user-icon" aria-hidden="true"></i>
                     <div class="ctm-cust-search">
                        <nz-select nzPlaceHolder="{{ 'CUSTOMER' | translate }}" nzShowSearch nzAllowClear class="w-100">
                           <nz-option nzLabel="Customer 1" nzValue="1"></nz-option>
                           <nz-option nzLabel="Customer 2" nzValue="2"></nz-option>
                        </nz-select>
                     </div>
                     <div class="ctm-cust-search-btn">
                        {{ 'CUSTOMER' | translate }}
                        <span class="color-blue2 cursor-pointer" (click)="customerAddOpen()">
                        <i class="fa fa-plus-square fa-lg"></i>
                        </span>
                     </div>
                  </div>
                  <div class="row border-bottom">
                  </div>
                  <div class="row">
                     <table class="table table-hover ctm-bt-0">
                        <tbody>
                           <tr *ngFor="let productAddInvoiceData of productAddInvoiceDatas; let i = index" (click)="invoiceDetailOpen(productAddInvoiceData)" class="border-bottom">
                           <td class="pro-name">
                              <strong>{{ productAddInvoiceData.bill_object_name }}</strong>
                              <div>L. {{ productAddInvoiceData.bill_object_price }}</div>
                           </td>
                           <td class="pro-quantity">
                              <a nz-button class="ctm-btn-round" (click)="removeQuantity(productAddInvoiceData);$event.stopPropagation()">
                              <i class="fa fa-minus"></i>
                              </a>
                              <span class="badge badge-primary mx-1">
                                 <p>{{ productAddInvoiceData.bill_object_item_quantity }}</p>
                              </span>
                              <a nz-button class="ctm-btn-round" (click)="addQuantity(productAddInvoiceData);$event.stopPropagation()">
                              <i class="fa fa-plus"></i>
                              </a>
                           </td>
                           <td class="pro-total p-t-22">
                              <strong>Total:</strong> L. {{ productAddInvoiceData.bill_object_total }}
                              <div *ngIf="productAddInvoiceData.bill_object_discount > 0">
                                 <small>- L. {{ productAddInvoiceData.bill_object_discount }}</small>
                              </div>
                           </td>
                           <td class="p-t-20">
                              <a class="waves-effect waves-light p-t-10" (click)="productRemoveInvoice(i, productAddInvoiceData.bill_object_id)">
                              <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x text-danger" ></i>
                              <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                              </span>
                              </a> 
                           </td>
                           </tr>    
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="pt-1">
               <!-- <p class="mb-0">
                  {{ 'EXEMPT' | translate }}: <span class="pull-right">L. 00.00</span>
                  </p> -->
               <p class="mb-0">
                  {{ 'SUBTOTAL' | translate }}: 
                  <span class="pull-right">
                  L. {{ subtotal | number:'.2-2' }}
                  </span>
               </p>
               <p class="mb-0">
                  {{ 'DISCOUNT' | translate }}: <span class="pull-right">- L. {{ subtotalDiscount | number:'.2-2' }}</span>
               </p>
               <p class="mb-0">
                  {{ 'SUBTOTAL' | translate }}: 
                  <span class="pull-right">
                  L. {{ subtotal - subtotalDiscount | number:'.2-2' }}
                  </span>
               </p>
               <p *ngIf="isvTax > 0" class="mb-0">
                  {{ 'ISV' | translate }}(15%): 
                  <span class="pull-right">L. {{ isvTax | number:'.2-2' }}</span>
               </p>
               <a nz-button nzBlock nzType="primary" class="ctm-btn-green mt-2" (click)="totalPaymentOpen()">
               {{ 'INVOICE' | translate }} L. {{ subtotal - subtotalDiscount + isvTax | number:'.2-2' }}
               </a>
               <a style="display:grid;" nz-button nzBlock nzType="primary" class="ctm-btn-green mt-2" (click)="deleteConfirmOpen()">
               <span class="float-left text-uppercase">{{totalquantityAmount}} {{ 'ITEMS' | translate }}</span>
               <span class="float-right text-uppercase">{{ 'CANCEL' | translate }}
               <i class="fa fa-trash"></i>
               </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>  
<!-- invoice detail dialog start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="invoiceDetailVisible" [nzTitle]="invoiceDetailTitleTmpl" (nzOnCancel)="invoiceDetailClose()" [nzFooter]="invoiceDetailFooterTmpl" nzWidth="700">
<ng-template #invoiceDetailTitleTmpl><span class="invoice-txt">{{ invoiceDetailForm.get('update_name').value }}</span></ng-template>
<form nz-form [formGroup]="invoiceDetailForm">
   <nz-form-item>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'PRICE' | translate }}</nz-form-label>
            <nz-form-control>
               <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                  <input type="number" nz-input formControlName="update_price" (ngModelChange)="dialogSubTotalUpdate()" />
               </nz-form-control>
            </nz-form-control>
         </div>
         <div class="col-md-3">
            <nz-form-label>{{ 'QUANTITY' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="number" nz-input formControlName="update_quantity" (ngModelChange)="dialogSubTotalUpdate()" />
            </nz-form-control>
         </div>
         <div class="col-md-3">
            <nz-form-label>{{ 'TAX' | translate }}</nz-form-label>
            <nz-form-control>
               <nz-select nzShowSearch formControlName="update_tax">
                  <nz-option nzLabel="{{ 'NONE' | translate }} 0%" nzValue="1"></nz-option>
               </nz-select>
            </nz-form-control>
         </div>
         <div class="col-md-3">
            <nz-form-label>{{ 'DISCOUNT' | translate }} 0%</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="number"  nz-input formControlName="update_discount_percent" (ngModelChange)="dialogDiscountTotalUpdate()" />
            </nz-form-control>
         </div>
      </div>
      <div class="row mt-2">
         <div class="col-md-6">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
         <div class="col-md-6 mt-3">
            <p class="mb-0 py-1 border-bottom">
               {{ 'SUBTOTAL' | translate }}: 
               <span class="pull-right">
               L. {{ subTotalDialog | number:'.2-2' }}
               </span>
            </p>
            <p class="mb-0 py-1 border-bottom">
               {{ 'DISCOUNT' | translate }}: <span class="pull-right">- L. {{ dialogDiscount | number:'.2-2' }}</span>
            </p>
            <P class="py-1 border-bottom">
               <strong> {{ 'TOTAL_PER_ITEM' | translate }} <span class="pull-right">L. {{ subTotalDialog - dialogDiscount | number:'.2-2' }}</span>
               </strong>
            </P>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #invoiceDetailFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="invoiceDetailClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="invoiceDetailUpdate()">
         {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- invoice detail dialog end -->
<!-- customer add dialog start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="customerAddVisible" [nzTitle]="customerAddTitleTmpl" (nzOnCancel)="customerAddClose()" [nzFooter]="customerAddFooterTmpl" nzWidth="1000">
<ng-template #customerAddTitleTmpl>{{ 'ADD_CUSTOMER' | translate }}</ng-template>
<ng-template #titleTemplate>
   <div class="ctm-card-title">          
      <i class="mdi mdi-account mr-1"></i>
      <span>{{ 'CUSTOMER_DATA' | translate }}</span>
   </div>
</ng-template>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title">
      <i class="mdi mdi-account-card-details mr-1"></i>
      <span>{{ 'GENERAL_DATA' | translate }}</span>
   </div>
</ng-template>
<form nz-form [formGroup]="customerAddForm" class="ctm-label-r">
   <div class="m-b-20">
      <nz-card nzType="inner" [nzTitle]="titleTemplate">
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_type">
                           <nz-option nzLabel="{{ 'PERSONAL_CLIENT' | translate }}" nzValue="1"></nz-option>
                           <nz-option nzLabel="{{ 'COMPANY_CLIENT' | translate }}" nzValue="2"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5 my-2">
                     <div>
                        <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'TAX_EXEMPT' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_tax_exempt">
                           <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="no"></nz-option>
                           <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="yes"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-5">
                     <div>
                        <nz-form-label>{{ 'ASSIGN_SELLER' | translate }}</nz-form-label>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <nz-form-control>
                        <nz-select nzShowSearch formControlName="customer_assign_seller">
                           <nz-option nzLabel="Norma Aracely Rodas Lagos" nzValue="1"></nz-option>
                           <nz-option nzLabel="Michelle Arely Cuestas Hernandez" nzValue="2"></nz-option>
                           <nz-option nzLabel="Hector Obdulio Mercadal Mendoza" nzValue="3"></nz-option>
                           <nz-option nzLabel="Manuel Santos" nzValue="4"></nz-option>
                        </nz-select>
                     </nz-form-control>
                  </div>
               </div>
            </div>
         </div>
      </nz-card>
   </div>
   <div class="m-b-20">
      <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form">
         <nz-form-item>
            <div class="row" *ngIf="this.customerAddForm.value.customer_type == '1'">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification_card" placeholder="{{ 'IDENTIFICATION_CARD' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_firstname" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_lastname" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'BIRTHDATE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <nz-date-picker formControlName="customer_birthdate" nzPlaceHolder="{{ 'BIRTHDATE' | translate }}"></nz-date-picker>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification1" placeholder="{{ 'IDENTIFICATION' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'SEX' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="customer_sex">
                              <nz-option nzLabel="{{ 'MALE' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'FEMALE' | translate }}" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="this.customerAddForm.value.customer_type == '2'">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COMPANY' | translate }}*</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}*">    
                           <input type="text" nz-input formControlName="customer_company" placeholder="{{ 'COMPANY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_identification" placeholder="{{ 'IDENTIFICATION' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'POSTAL_CODE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_postal_code" placeholder="{{ 'POSTAL_CODE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>
                           <input type="text" nz-input formControlName="customer_direction" placeholder="{{ 'DIRECTION' | translate }}" />                    
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_city" placeholder="{{ 'CITY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'COUNTRY' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_country" placeholder="{{ 'COUNTRY' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_phone" placeholder="{{ 'PHONE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_fax" placeholder="{{ 'FAX' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="this.customerAddForm.value.customer_type == '2'">
               <div class="col-md-12 mb-2">
                  <div class="border-bottom my-2 py-3 text-center font-weight-bold">
                     {{ 'CONTACT_DETAILS' | translate }}
                  </div>
               </div>
               <!-- information of contact 1 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 1
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name1" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname1" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile1" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email1" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 1 end-->   
               <!-- information of contact 2 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 2
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name2" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname2" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile2" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email2" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 2 end-->
               <!-- information of contact 3 start-->                
               <div class="col-md-12 mb-2">
                  <div class="font-weight-bold">
                     {{ 'INFORMATION_OF_CONTACT' | translate }} 3
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_name3" placeholder="{{ 'NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_lastname3" placeholder="{{ 'LAST_NAME' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_mobile3" placeholder="{{ 'MOBILE' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5">
                        <div>
                           <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control>    
                           <input type="text" nz-input formControlName="customer_email3" placeholder="{{ 'EMAIL' | translate }}" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <!-- information of contact 3 end-->
            </div>
         </nz-form-item>
      </nz-card>
   </div>
</form>
<ng-template #customerAddFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="customerAddClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="customerAddSave()">
         {{ 'SAVE' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- customer add dialog end -->
<!-- total payment dialog start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="totalPaymentVisible" [nzTitle]="totalPaymentTitleTmpl" (nzOnCancel)="totalPaymentClose()" [nzFooter]="totalPaymentFooterTmpl" nzWidth="800">
<ng-template #totalPaymentTitleTmpl>
   <span class="invoice-txt"> {{ 'PAY_INVOICE' | translate }}</span>
</ng-template>
<form nz-form [formGroup]="totalPaymentForm">
   <nz-form-item>
      <div *ngIf="currenttab == 0">
         <div class="row">
            <div class="col-md-12 text-center">
               <span class="font-16 text-uppercase"> {{ 'TOTAL' | translate }}</span><span class="font-26"> L. {{ subtotal + isvTax | number:'.2-2' }}</span>
               <div class="line text-uppercase"> {{ 'PAYMENT_METHOD' | translate }}</div>
            </div>
         </div>
         <div class="row" >
            <div class="col-md-4 text-center">
               <button type="button" class="payment-type-button" (click)="newwindow(1)">
                  <div class="payment-type-button-content">
                     <i class="fa fa-money payment-font" aria-hidden="true"></i>
                     {{ 'CASH' | translate }}
                  </div>
               </button>
            </div>
            <div class="col-md-4 text-center">
               <button type="button" class="payment-type-button" (click)="newwindow(2)">
                  <div class="payment-type-button-content">
                     <i class="fa fa-credit-card payment-font" aria-hidden="true"></i>
                     {{ 'CARD' | translate }}
                  </div>
               </button>
            </div>
            <div class="col-md-4 text-center">
               <button type="button" class="payment-type-button" (click)="newwindow(3)">
                  <div class="payment-type-button-content">
                     <i class="fa fa-address-card payment-font" aria-hidden="true"></i>
                     {{ 'COMBINED' | translate }}
                  </div>
               </button>
            </div>
         </div>
      </div>
      <div class="row" *ngIf="currenttab == 1">
         <div class="col-md-12 text-center">
            <span class="font-16 text-uppercase"> {{ 'TOTAL' | translate }}</span><span class="font-26"> L. {{ subtotal + isvTax | number:'.2-2' }}</span>
            <a class="change-method" (click)="backfunction(0)">{{ 'CHANGE_METHOD' | translate }}</a>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-7">
                  <div class="row">
                     <div class="col-md-8 pr-0">
                        <div class="payment-line text-uppercase">
                           {{ 'PAYMENT_METHOD' | translate }}
                        </div>
                     </div>
                     <div class="col-md-4 text-uppercase pl-0 pt-2"> 
                        <span class="float-left">{{ 'CHANGE' | translate }} L. 0.00</span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-11 py-3">
                        <nz-form-label class="text-uppercase">{{ 'CASH' | translate }}</nz-form-label>
                        <nz-form-control>
                           <input type="text" nz-input formControlName="cash" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-11 py-3">
                        <nz-form-label class="text-uppercase">{{ 'QUICK_OPTIONS' | translate }}</nz-form-label>
                        <nz-form-control>
                           <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-3 mb-1">
                           L. 10.00
                           </a>
                           <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-3 mb-1" >
                           L. 15.00           
                           </a>
                           <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-3 mb-1">
                           L. 20.00           
                           </a>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="vl"></div>
                  <nz-form-label class="text-uppercase pt-2">{{ 'NOTES' | translate }}</nz-form-label>
                  <nz-form-control>    
                     <textarea rows="5" nz-input formControlName="notes"></textarea>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row" *ngIf="currenttab == 2" >
         <div class="col-md-12 text-center">
            <span class="font-16 text-uppercase"> {{ 'TOTAL' | translate }}</span><span class="font-26"> L. {{ subtotal + isvTax | number:'.2-2' }}</span>
            <a class="change-method" (click)="backfunction(0)">{{ 'CHANGE_METHOD' | translate }}</a>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-7">
                  <div class="row">
                     <div class="col-md-8 pr-0">
                        <div class="payment-line text-uppercase">
                           {{ 'PAYMENT_METHOD' | translate }}
                        </div>
                     </div>
                     <div class="col-md-4 text-uppercase pl-0 pt-2"> 
                        <span class="float-left">{{ 'CHANGE' | translate }} L. 0.00</span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-11 text-uppercase py-3">
                        <nz-tabset>
                           <nz-tab nzTitle="{{ 'DEBIT' | translate }}">
                              <nz-form-label class="text-uppercase">{{ 'CARD' | translate }}</nz-form-label>
                              <nz-form-control>
                                 <input type="text" nz-input formControlName="card" />
                              </nz-form-control>
                           </nz-tab>
                           <nz-tab nzTitle="{{ 'CREDIT' | translate }}">
                              <nz-form-label>{{ 'CARD' | translate }}</nz-form-label>
                              <nz-form-control>
                                 <input type="text" nz-input formControlName="card" />
                              </nz-form-control>
                           </nz-tab>
                        </nz-tabset>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="vl"></div>
                  <nz-form-label class="text-uppercase pt-2">{{ 'NOTES' | translate }}</nz-form-label>
                  <nz-form-control>    
                     <textarea rows="5" nz-input formControlName="notes"></textarea>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row" *ngIf="currenttab == 3">
         <div class="col-md-12 text-center">
            <span class="font-16 text-uppercase"> {{ 'TOTAL' | translate }}</span><span class="font-26"> L. {{ subtotal + isvTax | number:'.2-2' }}</span>
            <a class="change-method" (click)="backfunction(0)">{{ 'CHANGE_METHOD' | translate }}</a>
         </div>
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-7">
                  <div class="row">
                     <div class="col-md-8 pr-0">
                        <div class="payment-line text-uppercase">
                           {{ 'PAYMENT_METHOD' | translate }}
                        </div>
                     </div>
                     <div class="col-md-4 text-uppercase pl-0 pt-2"> 
                        <span class="float-left">{{ 'CHANGE' | translate }} L. 0.00</span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-11">
                        <nz-form-label class="text-uppercase">{{ 'CASH' | translate }}</nz-form-label>
                        <nz-form-control>
                           <input type="text" nz-input formControlName="cash" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-md-11">
                        <nz-form-label class="text-uppercase">{{ 'DEBIT_CARD' | translate }}</nz-form-label>
                        <nz-form-control>
                           <input type="text" nz-input formControlName="debit_card" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-md-11">
                        <nz-form-label class="text-uppercase">{{ 'CREDIT_CARD' | translate }}</nz-form-label>
                        <nz-form-control>
                           <input type="text" nz-input formControlName="credit_card" />
                        </nz-form-control>
                     </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-md-11">
                        <nz-form-label class="text-uppercase">{{ 'TRANSFERENCE' | translate }}</nz-form-label>
                        <nz-form-control>
                           <input type="text" nz-input formControlName="transference" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="vl"></div>
                  <nz-form-label class="text-uppercase pt-2">{{ 'NOTES' | translate }}</nz-form-label>
                  <nz-form-control>    
                     <textarea rows="5" nz-input formControlName="notes"></textarea>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <!--     <div class="row">
         <div class="col-md-5">
           <nz-form-label>{{ 'CASH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
           <nz-form-control>    
              <input type="number" nz-input formControlName="cash" placeholder="0.00" />
           </nz-form-control>
         </div>
         <div class="col-md-5">
           <nz-form-label>{{ 'CREDIT_CARD' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
           <nz-form-control>    
              <input type="number" nz-input formControlName="credit_card" placeholder="0.00" />
           </nz-form-control>
         </div>
         </div> -->
      <!-- <div class="row">
         <div class="col-md-5">
            <nz-form-label>{{ 'DEBIT_CARD' | translate }}</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <input type="number" nz-input formControlName="debit_card" placeholder="0.00" />
            </nz-form-control>
         </div>
         </div> -->
   </nz-form-item>
</form>
<ng-template #totalPaymentFooterTmpl>
   <div class="row">
      <!--   <div class="col-7 col-md-7">
         <p class="text-danger mb-0 float-left ml-3">
            <strong>{{ 'CHANGE' | translate }}: L. {{ totalPaymentForm.get('cash').value | number:'.2-2' }}</strong>
         </p>
         </div> -->
      <div class="col-12 col-md-12">
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="totalPaymentClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="totalPaymentSave()" disabled>
         {{ 'CHECK_IN' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- total payment dialog end -->
<!-- item edit form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="itemAddFormVisible" [nzTitle]="itemAddFormTitleTmpl" (nzOnCancel)="itemAddFormClose()" [nzFooter]="itemAddFormFooterTmpl" nzWidth="1000">
<ng-template #itemAddFormTitleTmpl><span class="item-text">{{ 'NEW_ITEM' | translate }}</span></ng-template>
<form nz-form [formGroup]="itemAddForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'TYPE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="item_type">
                        <nz-option nzLabel="{{ 'SERVICE' | translate }}" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'PRODUCT' | translate }}" nzValue="1"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <input type="text" nz-input formControlName="item_name" placeholder="{{ 'PRODUCT_NAME' | translate }}" />
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <input type="text" nz-input formControlName="item_code" placeholder="{{ 'PRODUCT_CODE' | translate }}" />
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CATEGORY' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-10">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear formControlName="item_category">
                              <nz-option nzLabel="Category 1" nzValue="1"></nz-option>
                              <nz-option nzLabel="Category 2" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-2">
                        <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="openCategoryDialog()">
                        <i class="mdi mdi-plus"></i>            
                        </a>                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SUPPLIER' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-10">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear formControlName="item_provider_id">
                              <nz-option nzLabel="Provider 1" nzValue="1"></nz-option>
                              <nz-option nzLabel="Provider 2" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-2">
                        <a nz-button nzType="primary" nzShape="round" class="px-2 color-white" (click)="supplierDialogOpen()">
                        <i class="mdi mdi-plus"></i>            
                        </a>                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                     <textarea rows="2" nz-input formControlName="item_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'IMAGE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <img src="assets/images/no-photo.png" height="150">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <nz-form-control>    
               <input type="file" nz-input formControlName="item_image" class="h-auto" />
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <!-- price and taxes form start -->
   <h6 class="border-bottom pb-3 pt-2">
      {{ 'PRICES_AND_TAXES' | translate }}
   </h6>
   <nz-form-item>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CURRENCY' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="item_currency">
                        <nz-option nzLabel="{{ 'LEMPIRAS' | translate }}" nzValue="1"></nz-option>
                        <nz-option nzLabel="{{ 'DOLLARS' | translate }}" nzValue="2"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'DISCOUNT' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>
                     <nz-input-group [nzSuffix]="suffixTemplate">
                        <input type="number" nz-input formControlName="item_discount" />
                     </nz-input-group>
                     <ng-template #suffixTemplate>
                        <i class="mdi mdi-percent"></i>
                     </ng-template>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SALE_PRICE' | translate }}*</nz-form-label>
                  <small (click)="showSalePriceCollapse()" class="text-primary">
                  <br>
                  <i class="mdi mdi-plus-circle mr-1"></i>
                  <span *ngIf="!salePriceCollapse">{{ 'USE_PRICE_LIST' | translate }}</span>
                  <span *ngIf="salePriceCollapse">{{ 'REMOVE_PRICE_LIST' | translate }}</span>
                  </small>              
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                        <input type="number" nz-input formControlName="item_sale_price1" placeholder="{{ 'SALE_PRICE' | translate }}" />
                     </nz-input-group>
                     <ng-template #suffixButton>
                        <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(1)">
                        {{ 'PRICE_WITH_ISV' | translate }}
                        </button>
                     </ng-template>
                  </nz-form-control>
                  <!-- sale price 2 show start -->                    
                  <div *ngIf="salePriceCollapse">
                     <nz-form-control>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                           <input type="number" nz-input formControlName="item_sale_price2" placeholder="{{ 'SALE_PRICE' | translate }} 2" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                           <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(2)">
                           {{ 'PRICE_WITH_ISV' | translate }}
                           </button>
                        </ng-template>
                     </nz-form-control>
                  </div>
                  <!-- sale price 2 show end -->                      
                  <!-- sale price 3 show start -->                    
                  <div *ngIf="salePriceCollapse">
                     <nz-form-control>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                           <input type="number" nz-input formControlName="item_sale_price3" placeholder="{{ 'SALE_PRICE' | translate }} 3" />
                        </nz-input-group>
                        <ng-template #suffixButton>
                           <button nz-button nzType="primary" nzSearch (click)="priceIsv1open(3)">
                           {{ 'PRICE_WITH_ISV' | translate }}
                           </button>
                        </ng-template>
                     </nz-form-control>
                  </div>
                  <!-- sale price 3 show end -->  
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'COST_PRICE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control>    
                     <input type="text" nz-input formControlName="item_cost_price" />
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
      <!-- sales taxes row start -->
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'SALES_TAXES' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_sales_tax1">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_sales_tax2">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'PURCHASE_TAXES' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <div class="row">
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_tax_when_buy1">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                     <div class="col-md-6">
                        <nz-form-control>
                           <nz-select nzShowSearch formControlName="item_tax_when_buy2">
                              <nz-option nzLabel="Ninguno - 0%" nzValue="1"></nz-option>
                              <nz-option nzLabel="ISV (15%)" nzValue="2"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sales taxes row end -->            
   </nz-form-item>
   <div *ngIf="this.itemAddForm.value.item_type=='1'">
      <!-- physical distribution start -->    
      <h6 class="border-bottom pb-3 pt-2">
         {{ 'PHYSICAL_DISTRIBUTION' | translate }}
      </h6>
      <nz-form-item>
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-12">
                           <nz-form-label nz-tooltip [nzTooltipTitle]="winriesToolTmp">{{ 'WINERIES' | translate }}* <i class="fa fa-question-circle-o text-primary"></i></nz-form-label>
                           <ng-template #winriesToolTmp>{{ 'SELECT_MULTI_WINERIES' | translate }}</ng-template>
                        </div>
                        <div class="col-md-12">
                           <nz-form-control>
                              <nz-select nzMode="multiple" nzShowSearch formControlName="item_wineries">
                                 <nz-option nzLabel="Winries 1" nzValue="1"></nz-option>
                                 <nz-option nzLabel="Winries 2" nzValue="2"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-12">
                           <nz-form-label>{{ 'CURRENT_EXISTENCE' | translate }}*</nz-form-label>
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <input type="text" nz-input formControlName="item_current_existence" />
                           </nz-form-control>
                        </div>
                        <div class="col-md-12">
                           <nz-form-label>{{ 'MINIMUM_EXISTENCE' | translate }}*</nz-form-label>
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <input type="number" nz-input formControlName="item_minimum_existency" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6">
                     <nz-form-control>
                        <nz-form-label>{{ 'LOW_MAIL_EXISTENCE' | translate }}</nz-form-label>
                        <nz-switch
                        formControlName="item_low_mail"
                        [nzCheckedChildren]="checkedTemplate"
                        [nzUnCheckedChildren]="unCheckedTemplate">
                        </nz-switch>
                        <ng-template #checkedTemplate>{{ 'YES' | translate }}</ng-template>
                        <ng-template #unCheckedTemplate>{{ 'NO' | translate }}</ng-template>
                     </nz-form-control>
                  </div>
                  <div class="col-md-6" *ngIf="itemAddForm.get('item_low_mail').value">
                     <nz-form-label>{{ 'NOTIFY_IN_STOCK' | translate }}</nz-form-label>
                     <nz-form-control>
                        <nz-input-group [nzAddOnBefore]="prefixButton" [nzAddOnAfter]="suffixButton">
                        <input type="number" nz-input formControlName="item_notify_in_stock"/>
                        </nz-input-group>
                        <ng-template #prefixButton class="bg-primary">
                           <i class="mdi mdi-minus cursor-pointer" (click)="notify_add_remove(0)"></i>
                        </ng-template>
                        <ng-template #suffixButton class="bg-primary">                  
                           <i class="mdi mdi-plus cursor-pointer" (click)="notify_add_remove(1)"></i>
                        </ng-template>
                     </nz-form-control>
                  </div>
               </div>
            </div>
         </div>
      </nz-form-item>
      <!-- physical distribution end -->
   </div>
   <ng-template #itemAddFormFooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="itemAddSave()">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
            </a>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- item add form end -->
<!-- category add form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="categoryDialogVisible" [nzTitle]="categoryDTitleTmpl" (nzOnCancel)="closeCategoryDialog()" [nzFooter]="categoryDFooterTmpl">
<ng-template #categoryDTitleTmpl>{{ 'NEW_CATEGORY' | translate }}</ng-template>
<form nz-form [formGroup]="addCategoryForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DESCRIPTION' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-7">
            <nz-form-control>    
               <textarea rows="2" nz-input formControlName="category_description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #categoryDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="closeCategoryDialog()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="saveCategory()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- category add form end -->
<!-- supplier form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="supplierDialogVisible" [nzTitle]="supplierDTitleTmpl" (nzOnCancel)="supplierDialogClose()" [nzFooter]="supplierDFooterTmpl">
<ng-template #supplierDTitleTmpl>{{ 'NEW_SUPPLIER' | translate }}</ng-template>
<form nz-form [formGroup]="supplierForm">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
               <input type="text" nz-input formControlName="supplier_name" placeholder="{{ 'SUPPLIER_NAME' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_phone" placeholder="{{ 'PHONE' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_mobile" placeholder="{{ 'MOBILE' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_fax" placeholder="{{ 'FAX' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <input type="text" nz-input formControlName="supplier_email" placeholder="{{ 'EMAIL' | translate }}" />
            </nz-form-control>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'DIRECTION' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-form-control>    
               <textarea rows="3" nz-input formControlName="supplier_direction" placeholder="{{ 'DIRECTION' | translate }}"></textarea>
            </nz-form-control>
         </div>
      </div>
   </nz-form-item>
   <ng-template #supplierDFooterTmpl>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="supplierDialogClose()">
               <i class="mdi mdi-close"></i> {{ 'CANCEL' | translate }}            
               </a>        
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="supplierAdd()">
               <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}            
               </a>
            </div>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- supplier form end -->
<!-- priceIsv1 form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="priceIsv1Visible" [nzTitle]="priceIsv1TitleTmpl" (nzOnCancel)="priceIsv1close()" [nzFooter]="priceIsv1FooterTmpl" nzClassName="modal-sm">
<ng-template #priceIsv1TitleTmpl>{{ 'FINAL_PRICE' | translate }}</ng-template>
<form nz-form [formGroup]="priceIsv1Form">
   <div class="row">
      <div class="col-md-12">
         <nz-form-control>    
            <input type="number" nz-input formControlName="final_price" placeholder="{{ 'ENTER_FINAL_PRICE' | translate }}" />
         </nz-form-control>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 text-center">
         <nz-form-label>{{ 'TAX_TO_CALCULATE' | translate }}</nz-form-label>
         <nz-form-control>
            <nz-select formControlName="tax_to_calculate">
               <nz-option nzLabel="ISV (15%)" nzValue="1"></nz-option>
            </nz-select>
         </nz-form-control>
      </div>
   </div>
   <ng-template #priceIsv1FooterTmpl>
      <div class="row">
         <div class="col-md-12 text-center">         
            <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="priceIsv1calculate()">
            <i class="mdi mdi-calculator"></i> {{ 'CALCULATE' | translate }}   
            </a>
         </div>
      </div>
   </ng-template>
</form>
</nz-modal>
<!-- priceIsv1 form end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" 
[(nzVisible)]="isVisible"
[nzTitle]="deleteConfirmTmpl"
[nzFooter]="deleteConfirmFooterTmpl"
(nzOnCancel)="handleCancel()"
>
<ng-template #deleteConfirmTmpl>
   {{ 'CANCEL_INVOICE_1' | translate }}
</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_PRODUCT_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->