<div class="row mb-4">
  <div class="col-md-12">
    <highcharts-chart 
      [Highcharts]="lineChart"
      [options]="lineChartOptions"
      class="ctm-highchart">
    </highcharts-chart>
  </div>   
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
    </a>
    <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
    </a>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
      </div>
      <div class="col-md-9">
        <nz-input-group [nzSuffix]="branchSearchSuffixIcn">
          <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyproduct()" />
        </nz-input-group>
        <ng-template #branchSearchSuffixIcn>
          <i nz-icon nzType="search"></i>
        </ng-template>              
      </div> 
    </div>          
  </div>
       
</div>

<nz-table #basicTable [nzData]="salesbyproductDisplayData" class="bg-white" nzFrontPagination="false" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>
  <thead>
    <tr>
      <th style="width: 684px;">{{ 'PRODUCT' | translate }}</th>
      <th style="width: 59px;">{{ 'EXEMPT_TAX' | translate }}</th>
      <th style="width: 57px;">{{ 'QUANTITY' | translate }}</th>
      <th style="width: 63px;">{{ 'TOTAL_INVOICED' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.salesbyproduct_name }}</td>
      <td>{{ data.salesbyproduct_exempt_tax }}</td>
      <td>{{ data.salesbyproduct_quantity }}</td>
      <td>{{ data.salesbyproduct_total_invoice | number:'.2-2' }}</td>
    </tr>
  </tbody>
</nz-table>

<div class="text-center mt-4">
  <h6>{{ 'TOTAL_INVOICED' | translate }}: L. 1000.00</h6>
</div>