<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">

        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-package-variant"></i> {{ 'EDIT_PURCHASE_ORDER' | translate }}
        </h4>

      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12">
      <nz-card class="color-b">

        <div class="row">

          <div class="col-md-12">
            <div class="invoice-title row">
              <div class="col-md-6">

                <span class="badge badge-pill badge-success" *ngIf="purchaseDatas.purchase_status == '1'">
                  {{ 'PAID' | translate }}
                </span>
                <span class="badge badge-pill badge-danger" *ngIf="purchaseDatas.purchase_status == '2'">
                  {{ 'UNPAID' | translate }}
                </span>
                <span class="badge badge-pill badge-warning color-white" *ngIf="purchaseDatas.purchase_status == '3'">
                  {{ 'VOIDED' | translate }}
                </span>

                <h4 class="font-16 m-tb-10">
                  <strong>{{ 'ORDER_NO' | translate }}. {{ purchaseDatas.purchase_order_no }}</strong>
                </h4>
              </div>
              <div class="col-md-6 text-right">
                <strong>DEMO LOGISTICAS</strong>
                <br>{{ 'RTN' | translate }}: 082132456<br>
              </div>
            </div>  
            
            <hr>

            <div class="row">
              <div class="col-6">
                <address>
                  {{ 'SUPPLIER' | translate }}: {{ purchaseDatas.purchase_supplier_name }}<br>
                  {{ 'BRANCH' | translate }}: Sucursal 1<br>
                  {{ 'DATE' | translate }}: {{ purchaseDatas.purchase_date | date: 'MMM d, y h:mm:ss a' }}
                </address>
              </div>
              <div class="col-6 text-right">
                <address>
                  {{ 'ISSUED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'PRODUCT_RECEIVED' | translate }}: (X) {{ 'YES' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'NO' | translate }}<br>
                  (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
                </address>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="py-2">
									<h3 class="panel-title font-20"><strong>{{ 'ORDER_SUMMARY' | translate }}</strong></h3>
								</div>
              </div>

              <div class="col-md-12 mb-3">
                <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="searchProductOpen()">
                  <i class="mdi mdi-plus"></i> {{ 'ADD_PRODUCTS' | translate }}            
                </a>
              </div>

              <div class="col-md-12">
                
                <nz-table [nzData]="purchaseDatas.purchase_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="purchaseProductNoDataTmp">
                  <ng-template #purchaseProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th><strong>{{ 'QTY' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'CODE' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'DISCOUNT' | translate }}</strong></th>
                      <th class="text-right"><strong>{{ 'TOTAL' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'ACTION' | translate }}</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of purchaseDatas.purchase_product_item; let i = index">
                      <td>{{ data.item_quantity }}</td>
                      <td class="text-center">L. {{ data.item_code }}</td>
                      <td class="text-center">{{ data.item_description }}</td>
                      <td class="text-center">L. {{ data.item_price | number:'.2-2' }}</td>
                      <td class="text-center">L. {{ data.item_discount | number:'.2-2' }}</td>
                      <td class="text-right">L. {{ data.item_total | number:'.2-2' }}</td>
                      <td class="text-center">
                        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="purchaseProductRemove(i)">
                          <i class="mdi mdi-delete-forever"></i>            
                        </a>         
                      </td>                      
                    </tr>

                    <tr><td colspan="7" class="border-0"></td></tr>
                    <tr><td colspan="7" class="border-0"></td></tr>
                    <tr><td colspan="7" class="border-0"></td></tr>

                    <tr>
                      <td colspan="4" rowspan="6" class="border-0"></td>
                      <td class="thick-line text-right pb-0 border-0" colspan="2">
                        <strong>{{ 'EXEMPT_AMOUNT' | translate }} / {{ 'ISV' | translate }}</strong>
                      </td>
                      <td class="thick-line text-right pb-0 border-0">
                        L. {{ purchaseDatas.purchase_exempt_amount | number:'.2-2' }}
                      </td>
                    </tr>

                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'TAXED_AMOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_taxed_amount | number:'.2-2' }}
                      </td>
                    </tr>
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'DISCOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_final_discount | number:'.2-2' }}
                      </td>
                    </tr>
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0" colspan="2">
                        <strong>{{ 'ISV' | translate }} (15%)</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0">
                        L. {{ purchaseDatas.purchase_isv_amount | number:'.2-2' }}
                      </td>
                    </tr> 
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0 border-0 color-green2" colspan="2">
                        <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0 border-0 color-green2">
                        <strong>L. {{ purchaseDatas.purchase_total_to_pay | number:'.2-2' }}</strong>
                      </td>
                    </tr>                    

                  </tbody>
                </nz-table>                
              </div>              
            </div>

          </div>

        </div>

      </nz-card>
    </div>

  </div>

  <div class="row m-0 mb-4">
    <div class="col-md-12">   
      <div class="card-footer text-center">
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue">
          <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
        </a>
      </div>                                   
    </div>              
  </div>  

</div>  

<!-- search product dialog start -->
<app-search-product-dialog
  [searchProductVisible]="searchProductVisible"
  (searchProductCls)="searchProductClose()"
  [saleDatas]="saleDatas"
  (productAddInputChild)="productAddInput($event)">
</app-search-product-dialog>
<!-- search product dialog end -->