<div class="row mb-4">
   <div class="col-md-12">
      <highcharts-chart 
      [Highcharts]="lineChart"
      [options]="lineChartOptions"
      class="ctm-highchart">
      </highcharts-chart>
   </div>
</div>
<div class="row mb-4">
   <div class="col-md-8 mb-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'COPY' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue rounded-0 f-s-13" nzSize="large">
      {{ 'EXCEL' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue f-s-13" nzSize="large">
      {{ 'PDF' | translate }}
      </a>
   </div>
   <div class="col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchSalesbyuser()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="salesbyuserDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th style="width: 610px;">{{ 'USER' | translate }}</th>
      <th style="width: 374px;">{{ 'TOTAL_CHARGED' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>{{ data.salesbyuser_name }}</td>
      <td>{{ data.salesbyuser_total_charged }}</td>
   </tr>
</tbody>
</nz-table>
<div class="text-center mt-4">
   <h6><strong>{{ 'TOTAL_BILLED' | translate }}: L. 0.00</strong></h6>
</div>