<div nz-row nzType="flex" >  
  <div nz-col nzXs="24" nzMd="12" nzLg="6" class="p-30">
    <div class="text-center">
      <div href="#">
        <img src="assets/images/logo.png" alt="avseta-logo" >
      </div>
      <div class="m-b-20 f-s-2-5">Avesta Contable</div>

      <h2 class="login-head">{{ 'LOG_IN_TO_YOUR_ACCOUNT' | translate }}</h2>

      <p class="f-s-1">
        {{ 'YOU_DO_NOT_HAVE_AN_ACCOUNT' | translate }}
        <a routerLink="/auth/register"> {{ 'CREAT_YOUR_ACCOUNT' | translate }}</a>
        <!-- <a routerLink="/user/welcome"> Welcome</a> -->
      </p>

      <div class="m-t-30">      

        <form nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'EMAIL_ERROR' | translate }}">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="{{ 'PASSWORD_ERROR' | translate }}">
              <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="{{ 'PASSWORD' | translate }}"
                  formControlName="password"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>              
              <button nz-button nzBlock class="letter-s-2" nzType="primary" nzShape="round" (click)="loginCompany(validateForm.value)" [nzLoading]="btnLoading">
                {{ 'LOG_IN' | translate }}
              </button>
              <!-- <a class="text-center">Forgot password</a> -->
            </nz-form-control>
          </nz-form-item>
        </form>
      
      </div>

      <!-- <button nz-button nzType="primary" nzShape="round" (click)="getAllTodos()">All Todos</button>
      <button nz-button nzType="primary" nzShape="round" (click)="addLocalStorage()">Set local</button> 
      <button nz-button nzType="primary" nzShape="round" (click)="getLocalStorage()">Get local</button> 
      <button nz-button nzType="primary" nzShape="round" (click)="clearLocalStorage()">Clear local</button> -->

      <!-- <button nz-button nzType="primary" nzShape="round" (click)="useLanguage('en')">English</button> 
      <button nz-button nzType="primary" nzShape="round" (click)="useLanguage('es')">Spanish</button>       -->

    </div>

  </div>

  <div nz-col nzXs="24" nzMd="12" nzLg="18" class="dark-green-back text-center">     
    <!-- <img src="assets/images/login.svg" class="w-100"> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
 <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
 <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/login.svg" alt="First slide">
      <div class="top-left">
      <h4 class="text-white">POS</h4>
      <a href="#" nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1 text-uppercase">
           {{ 'SEE_MORE' | translate }}
          </a>
    </div>
      <div class="carousel-caption">
       <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
<!--   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
  </div>

</div>