<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-settings"></i> {{ 'FIELDS' | translate }}
            </h4>
            <div class="pull-right">
               <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" routerLink="/user/settings/contacts/customers/create-customers">
               <i class="mdi mdi-plus"></i> {{ 'NEW_FIELD' | translate }}
               </a>
               <app-backbutton></app-backbutton>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="col-md-12 mt-3">
      <nz-card>
         <div class="row mb-4">
            <div class="offset-md-8 col-md-4">
               <div class="row">
                  <div class="col-md-3">
                     <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
                  </div>
                  <div class="col-md-9">
                     <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                        <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                     </nz-input-group>
                     <ng-template #keyupsearchSuffixIcn>
                        <i nz-icon nzType="search"></i>
                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h6 class="card-title f-s-14 text-center">
                  {{ 'FIELD_LIST' | translate }}
               </h6>
               <nz-table #customersDisplayData [nzData]="customersDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
               <ng-template #noTableData>
                  <div class="black2">
                     {{ 'NO_RECORD_FOUND' | translate }}
                  </div>
               </ng-template>
               <thead>
                  <tr>
                     <th>{{ 'COLUMN_NAME' | translate }}</th>
                     <th>{{ 'PRINTING_COLUMN' | translate }}</th>
                     <th>{{ 'ACTIONS' | translate }}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let data of customersDisplayData.data">
                     <td>{{ data.customer_column_name}}</td>
                     <td>{{ data.customer_printing_column }}</td>
                     <td>
                        <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="editCustomersOpen()">
                        <i class="mdi mdi-pencil"></i>            
                        </a>
                        <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen()">
                        <i class="mdi mdi-delete-forever"></i>            
                        </a>            
                     </td>
                  </tr>
               </tbody>
               </nz-table>      
            </div>
         </div>
      </nz-card>
   </div>
</div>
<!-- edit Customers modal start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="editCustomersVisible" [nzTitle]="editCustomersTitleTmpl" (nzOnCancel)="editCustomersClose()" [nzFooter]="editCustomersFooterTmpl">
<ng-template #editCustomersTitleTmpl>{{ 'MODIFY_FIELD' | translate }}</ng-template>
<form nz-form [formGroup]="editCustomersForm" class="ctm-label-r">
   <nz-form-item class="mb-0">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'COLUMN_NAME' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="text" nz-input formControlName="category_column_name" placeholder="{{ 'BUSINESS' | translate }}" disabled="true" />
                  </nz-form-control>
               </div>
            </div>
         </div>
          <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'PRINT_COLUMN' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="text" nz-input formControlName="category_print_column" placeholder="{{ 'COLUMN_PRINT' | translate }}"  />
                  </nz-form-control>
               </div>
            </div>
         </div>
            <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'FIELD_TYPE' | translate }}</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-select nzShowSearch formControlName="category_field_type" nzAllowClear [nzDisabled]="customer_field">
                        <nz-option nzLabel="{{ 'TEXT' | translate }}" nzValue="0" disabled="true"></nz-option>
               
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
    
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-4">
                  <nz-form-label>{{ 'CLIENT_TYPE' | translate }}*</nz-form-label>
               </div>
               <div class="col-md-8">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-select nzShowSearch formControlName="category_client_type" >
                        <nz-option nzLabel="{{ 'PERSONAL' | translate }}" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'BUSINESS' | translate }}" nzValue="1"></nz-option>
                     </nz-select>
                  </nz-form-control>
               </div>
            </div>
         </div>
      </div>
   </nz-form-item>
</form>
<ng-template #editCustomersFooterTmpl>
   <div class="row">
      <div class="col-md-12 text-center">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="editCustomersSave()">
         <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- edit Customers modal end -->
<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
<ng-template #deleteConfirmTmpl>{{ 'DELETE_FIELDS' | translate }}</ng-template>
<div class="text-center">
   <p>{{ 'DELETE_FIELDS_CONFIRM_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>
<!-- delete confirm end -->