<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" *ngIf="innerWidth > 768">
    <div class="sidebar-logo">
      <a routerLink="/user/start">
        <img src="assets/images/logo.png" alt="logo">
        <h1>Avesta Contable</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li>

        <!-- Loader -->
        <div class="row my-1" *ngIf="loader">
          <div class="col-md-12 text-center">
            <ng-template #indicatorTemplate>
              <i nz-icon nzType="loading" class="f-s-18"></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
        </div>

        <!-- Branch select box -->
        <nz-form-control *ngIf="!loader">             
          <nz-select nzShowSearch [(ngModel)]="selected_branch" (ngModelChange)="companyBranchChange()" class="ctm-select-h-r w-100">
            <nz-option *ngFor="let branchData of branchDatas" [nzLabel]="branchData.branch_name" [nzValue]="branchData.branch_id"></nz-option>
          </nz-select>
        </nz-form-control>

      </li>
      <li nz-menu-item>
        <a routerLink="/user/start">
          <i class="mdi mdi-view-dashboard" nz-icon></i>          
          <span>{{ 'START' | translate }}</span>
        </a>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="contactsTitleTpl"
        [(nzOpen)]="openMap.sub6"
        (nzOpenChange)="openHandler('sub6')">
        <ng-template #contactsTitleTpl>
          <i class="mdi mdi-account-multiple" nz-icon></i>
          <span class="menu-pos">{{ 'CONTACTS' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/customers/list">{{ 'CUSTOMERS' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/suppliers/list">{{ 'SUPPLIERS' | translate }}</a>
          </li>          
        </ul>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="productTitleTpl"
        [(nzOpen)]="openMap.sub1"
        (nzOpenChange)="openHandler('sub1')">
        <ng-template #productTitleTpl>
          <i class="mdi mdi-playlist-check" nz-icon></i>
          <span class="menu-pos">{{ 'INVENTORY' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/products/items/list">{{ 'SALE' | translate }}</a>
          </li>          
          <li nz-menu-item>
            <a routerLink="/user/products/inventory-movement">{{ 'INVENTORY_MOVEMENT' | translate }}</a>
          </li>

          <!-- <li nz-menu-item>
            <a routerLink="/user/products/inventory-general">{{ 'GENERAL_INVENTORY' | translate }}</a>
          </li> -->
          <li nz-menu-item>
            <a routerLink="/user/products/inventory-flow">{{ 'INVENTORY_FLOW' | translate }}</a>
          </li> 
          <li nz-menu-item>
            <a routerLink="/user/products/reference-guides/list">{{ 'REFERENCE_GUIDES' | translate }}</a>
          </li>       
        </ul>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="incomeTitleTpl"
        [(nzOpen)]="openMap.sub2"
        (nzOpenChange)="openHandler('sub2')">
        <ng-template #incomeTitleTpl>
          <i class="mdi mdi-file-document" nz-icon></i>
          <span class="menu-pos">{{ 'INCOME' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/income/payments-received/list">{{ 'PAYMENT_RECEIVED' | translate }}</a>
          </li> 
          <li nz-menu-item>
            <a routerLink="/user/income/invoice/list">{{ 'SALES_INVOICES' | translate }}</a>
          </li>
           <li nz-menu-item>
            <a routerLink="/user/income/online-payment">{{ 'PAYMENT_LINKS' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/income/quotes/list">{{ 'QUOTATION' | translate }}</a>
          </li> 
          <li nz-menu-item>
            <a routerLink="/user/income/credit-notes/list">{{ 'CREDIT_NOTES' | translate }}</a>
          </li>         
          <li nz-menu-item>
            <a routerLink="/user/income/returns/list">{{ 'RETURNS' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/income/work-orders/list">{{ 'WORK_ORDERS' | translate }}</a>
          </li>                    
        </ul>
      </li>
        <li 
        nz-submenu 
        [nzTitle]="expensesTitleTpl"
        [(nzOpen)]="openMap.sub3"
        (nzOpenChange)="openHandler('sub3')">
        <ng-template #expensesTitleTpl>
          <i class="mdi mdi-file-document" nz-icon></i>
          <span class="menu-pos">{{ 'EXPENSES' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/expenses/payments-made/payment">{{ 'PAYMENTS_MADE' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/expenses/purchase-invoices/bill">{{ 'PURCHASE_INVOICES' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/products/purchase/list">{{ 'PURCHASE_ORDERS' | translate }}</a>
          </li>
         <li nz-menu-item>
            <a routerLink="/user/accounting/debit-notes/list">{{ 'DEBIT_NOTES' | translate }}</a>
          </li> 
        </ul>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="acuntTitleTpl"
        [(nzOpen)]="openMap.sub4"
        (nzOpenChange)="openHandler('sub4')">
        <ng-template #acuntTitleTpl>
          <i class="mdi mdi-chart-areaspline" nz-icon></i>
          <span class="menu-pos">{{ 'ACCOUNTING' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/accounting/categories">{{ 'CATEGORIES' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/accounting/account-catalog/list">{{ 'ACCOUNT_CATALOG' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/accounting/seat/list">{{ 'ACCOUNTING_ENTRIES' | translate }}</a>
          </li> 
          <li nz-menu-item>
            <a routerLink="/user/accounting/account-link">{{ 'ACCOUNT_LINK' | translate }}</a>
          </li> 
          <li nz-menu-item>
            <a routerLink="/user/accounting/period-closing">{{ 'PERIOD_CLOSING' | translate }}</a>
          </li> 
                               
        </ul>
      </li>      
      <li 
        nz-submenu 
        [nzTitle]="bankTitleTpl"
        [(nzOpen)]="openMap.sub5"
        (nzOpenChange)="openHandler('sub5')">
        <ng-template #bankTitleTpl>
          <i class="mdi mdi-bank" nz-icon></i>
          <span class="menu-pos">{{ 'BANKS' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item>
            <a routerLink="/user/banks/bank-account">{{ 'BANK_ACCOUNTS' | translate }}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/user/banks/transaction/list">{{ 'TRANSACTIONS' | translate }}</a>
          </li>          
          <li nz-menu-item>
            <a routerLink="/user/banks/cheque/list">{{ 'CHEQUES' | translate }}</a>
          </li>
         </ul>
      </li>      
      <li nz-menu-item>
        <a routerLink="/pos" target="_blank">
          <i class="mdi mdi-printer" nz-icon></i>
          <span>{{ 'POS' | translate }}</span>          
        </a>
      </li>      
      <li nz-menu-item>
        <a routerLink="/user/employees/list">
          <i class="mdi mdi-account-card-details" nz-icon></i>
          <span>{{ 'EMPLOYEES' | translate }}</span>          
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/user/settings">
          <i class="mdi mdi-settings" nz-icon></i>
          <span>{{ 'SETTINGS' | translate }}</span>          
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/user/reports">
          <i class="mdi mdi-chart-bar" nz-icon></i>
          <span>{{ 'REPORTS' | translate }}</span>          
        </a>
      </li>
    </ul>
  </nz-sider>

  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="drawerVisible"
    [nzPlacement]="drawerPlacement"
    [nzTitle]="slideDrawerTemp"
    (nzOnClose)="drawerClose()"
    class="user-menu-drawer"
    *ngIf="768 > innerWidth">

    <ng-template #slideDrawerTemp>
      <div class="sidebar-logo">
        <a routerLink="/user/start">
          <img src="assets/images/logo.png" alt="logo">
          <h1>Avesta Contable</h1>
        </a>
      </div>   
    </ng-template>    

    <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
      <li>
        <form nz-form [formGroup]="selectBranchForm">
          <nz-form-control>             
            <nz-select nzShowSearch formControlName="select_branch">
              <nz-option nzLabel="Sucursal 1" nzValue="1"></nz-option>
            </nz-select>
          </nz-form-control>
        </form>
      </li>      
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/start">
          <i class="mdi mdi-view-dashboard" nz-icon></i>          
          <span>{{ 'START' | translate }}</span>
        </a>
      </li>
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/customers/list">
          <i class="mdi mdi-account-multiple" nz-icon></i>
          <span>{{ 'CUSTOMERS' | translate }}</span>          
        </a>
      </li>           
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/suppliers/list">
          <i class="mdi mdi-package-up" nz-icon></i>
          <span>{{ 'SUPPLIERS' | translate }}</span>          
        </a>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="productTitleTpl"
        [(nzOpen)]="openMap.sub1"
        (nzOpenChange)="openHandler('sub1')">
        <ng-template #productTitleTpl>
          <i class="mdi mdi-playlist-check" nz-icon></i>
          <span class="menu-pos">{{ 'INVENTORY' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/items/list">{{ 'SALE' | translate }}</a>
          </li>
             
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/inventory-movement">{{ 'INVENTORY_MOVEMENT' | translate }}</a>
          </li>
          
          <!-- <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/inventory-general">{{ 'GENERAL_INVENTORY' | translate }}</a>
          </li> -->
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/inventory-flow">{{ 'INVENTORY_FLOW' | translate }}</a>
          </li> 
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/reference-guides">{{ 'REFERENCE_GUIDES' | translate }}</a>
          </li> 
           <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/sender">{{ 'SENDER' | translate }}</a>
          </li>         
        </ul>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="incomeTitleTpl"
        [(nzOpen)]="openMap.sub2"
        (nzOpenChange)="openHandler('sub2')">
        <ng-template #incomeTitleTpl>
          <i class="mdi mdi-file-document" nz-icon></i>
          <span class="menu-pos">{{ 'INCOME' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/payments-received/list">{{ 'PAYMENT_RECEIVED' | translate }}</a>
          </li> 
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/invoice/list">{{ 'SALES_INVOICES' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/online-payment">{{ 'PAYMENT_LINKS' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/quotes/list">{{ 'QUOTATION' | translate }}</a>
          </li> 
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/credit-notes/list">{{ 'CREDIT_NOTES' | translate }}</a>
          </li>            
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/returns/list">{{ 'RETURNS' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/income/work-orders/list">{{ 'WORK_ORDERS' | translate }}</a>
          </li>                    
        </ul>
      </li>
            <li 
        nz-submenu 
        [nzTitle]="expensesTitleTpl"
        [(nzOpen)]="openMap.sub3"
        (nzOpenChange)="openHandler('sub3')">
        <ng-template #expensesTitleTpl>
          <i class="mdi mdi-file-document" nz-icon></i>
          <span class="menu-pos">{{ 'EXPENSES' | translate }}</span>
        </ng-template>
        <ul>
           <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/expenses/payments-made/payment">{{ 'PAYMENTS_MADE' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/expenses/purchase-invoices/bill">{{ 'PURCHASE_INVOICES' | translate }}</a>
          </li>
           <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/products/purchase/list">{{ 'PURCHASE_ORDERS' | translate }}</a>
          </li> 
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/debit-notes/list">{{ 'DEBIT_NOTES' | translate }}</a>
          </li> 

        </ul>
      </li>
      <li 
        nz-submenu 
        [nzTitle]="acuntTitleTpl"
        [(nzOpen)]="openMap.sub4"
        (nzOpenChange)="openHandler('sub4')">
        <ng-template #acuntTitleTpl>
          <i class="mdi mdi-chart-areaspline" nz-icon></i>
          <span class="menu-pos">{{ 'ACCOUNTING' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/categories">{{ 'CATEGORIES' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/account-catalog/list">{{ 'ACCOUNT_CATALOG' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/seat/list">{{ 'SEATS_DEPARTMENT' | translate }}</a>
          </li>          
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/diary-book/list">{{ 'DIARY_BOOK' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/ledger/list">{{ 'LEDGER' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/account-link">{{ 'ACCOUNT_LINK' | translate }}</a>
          </li> 
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/accounting/period-closing">{{ 'PERIOD_CLOSING' | translate }}</a>
          </li>                    
        </ul>
      </li>     
      <li 
        nz-submenu 
        [nzTitle]="bankTitleTpl"
        [(nzOpen)]="openMap.sub5"
        (nzOpenChange)="openHandler('sub5')">
        <ng-template #bankTitleTpl>
          <i class="mdi mdi-bank" nz-icon></i>
          <span class="menu-pos">{{ 'BANKS' | translate }}</span>
        </ng-template>
        <ul>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/banks/bank-account">{{ 'BANK_ACCOUNTS' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/banks/transaction/list">{{ 'TRANSACTIONS' | translate }}</a>
          </li>          
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/banks/cheque/list">{{ 'CHEQUES' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/banks/account-status/list">{{ 'ACCOUNT_STATUS' | translate }}</a>
          </li>
          <li nz-menu-item (click)="drawerClose()">
            <a routerLink="/user/banks/account-summary/list">{{ 'SUMMARY_OF_ACCOUNTS' | translate }}</a>
          </li>                
        </ul>
      </li>
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/pos" target="_blank">
          <i class="mdi mdi-printer" nz-icon></i>
          <span>{{ 'POS' | translate }}</span>          
        </a>
      </li>             
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/employees/list">
          <i class="mdi mdi-account-card-details" nz-icon></i>
          <span>{{ 'EMPLOYEES' | translate }}</span>          
        </a>
      </li>
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/settings">
          <i class="mdi mdi-settings" nz-icon></i>
          <span>{{ 'SETTINGS' | translate }}</span>          
        </a>
      </li>
      <li nz-menu-item (click)="drawerClose()">
        <a routerLink="/user/reports">
          <i class="mdi mdi-chart-bar" nz-icon></i>
          <span>{{ 'REPORTS' | translate }}</span>          
        </a>
      </li>
    </ul>    

  </nz-drawer>  

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span 
          class="header-trigger" 
          (click)="isCollapsed = !isCollapsed" *ngIf="innerWidth > 768">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span> 
        
        <span *ngIf="768 > innerWidth" class="m-menu-fold">
          <i nz-icon nzType="menu-fold" (click)="drawerOpen()"></i>
        </span>         

        <span>  
          
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuplus" class="f-s-28">
            <i nz-icon nzType="plus-circle" class="plus-outline"></i>
          </a>          
          
          <nz-dropdown-menu #menuplus="nzDropdownMenu">
            <ul nz-menu nzSelectable class="profile-dropdown">
              <li nz-menu-item>
                <i class="mdi mdi-file-document text-muted font-16"></i>
                {{ 'BILL' | translate }}
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <i class="mdi mdi-tag text-muted font-16"></i>
                {{ 'ITEM' | translate }}
              </li>
              <li nz-menu-item>
                <i class="mdi mdi-package-up text-muted font-16"></i>
                {{ 'SUPPLIER' | translate }}
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <i class="mdi mdi-account-plus text-muted font-16"></i>
                {{ 'CUSTOMER' | translate }}
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item>
                <i class="mdi mdi-chart-line text-muted font-16"></i>
                {{ 'ACCOUNTING_SEAT' | translate }}
              </li>
              <li nz-menu-divider></li>         
              <li nz-menu-item>
                <i class="mdi mdi-cart text-muted font-16"></i>
                {{ 'PURCHASE_ORDER' | translate }}
              </li>
              <li nz-menu-item>
                <i class="mdi mdi-pencil-box-outline text-muted font-16"></i>
                {{ 'QUOTATION' | translate }}
              </li>                   
            </ul>
          </nz-dropdown-menu>    
            
        </span>

        <a class="branch-name hide-sm">
          INVERSIONES LOGISTICAS | 
          <small class="f-s-60p">Sucursal 1</small>
        </a>           
        
        <div class="pull-right">
          <a class="l-h-35 color-white">
            <i class="mdi mdi-help-circle"></i> {{ 'HELP' | translate }}
          </a>          
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="logout-dd">
            <i nz-icon nzType="user"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item routerLink="/user/profile">
                <i class="mdi mdi-account-settings font-16"></i> {{ 'PROFILE' | translate }}
              </li>
              <li nz-menu-item (click)="userLogout()">
                <i class="mdi mdi-logout-variant font-16"></i> {{ 'SIGN_OUT' | translate }}
              </li>              
              <li nz-menu-item (click)="useLanguage('en')">
                <img src="assets/images/united-kingdom.png"> English
              </li>
              <li nz-menu-item (click)="useLanguage('es')">
                <img src="assets/images/spain.png"> Spanish
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>        

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
