@import './../../../scss/styles.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  overflow: auto;
}

.header-trigger {
  height: 54px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  color: $white;
  position: relative;
  top: -2px;  
}

.trigger:hover {
  color: $white;
}

.sidebar-logo {
  position: relative;
  height: 54px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 54px;
  background: $light_green;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 54px;
  padding: 0;
  background: $dark_green;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.inner-content {
  background: #f0f2f5;
}

.ant-layout-sider {
  background: $white;
}

.app-header {
  i {
    color: $white;
  }
}

.logout-dd {
  font-size: 1.3rem;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

.ant-layout-header {
  line-height: 50px;
  height: 54px;
}

.profile-dropdown {
  mat-icon {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.plus-outline {
  border: solid 2px $yellow1;
  border-radius: 50px;
  padding: 2px;  
}

.branch-name {
  color: $white !important;
  font-size: 1.2rem;
  vertical-align: 2.4px;
  margin-left: 30px;  
}

.ant-layout {
  width: 100%;
}

.ant-menu {
  .ant-menu-item {
    a {
      span {
        position: relative;
        top: -2px;
      }
    }
  }
}

.menu-pos {
  position: relative !important;
  top: -2px !important;  
}

// side bar color customize
// .ant-menu-submenu-title:hover {
//   color: $dark_green !important;
// }

// .ant-menu-submenu-active:hover, .ant-menu-submenu-selected:hover, 
// .ant-menu-submenu-active .ng-tns-c2-0.ant-menu-submenu-title:hover{
//   color: $dark_green !important;
// }
// .ant-menu-submenu-active, .ant-menu-submenu-active  .ng-tns-c2-0.ant-menu-submenu-title {
//   color: $dark_green !important;
// }

// .ant-menu-submenu-selected {
//   color: $dark_green;
// }

// .ant-menu-item-selected, .ant-menu-item-selected>a, .ant-menu-item-selected>a:hover {
//   color: $dark_green;
// }

// .ant-menu-item>a:hover {
//   color: $dark_green;
// }

// .ant-menu-inline .ant-menu-item::after {
//   border-right: 3px solid $dark_green;
// }