<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>         
          </div>
        </div>        
      </div>       

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'CHEQUE_NO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <input type="text" nz-input formControlName="cheque_no" />                 
            </nz-form-control>         
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>             
              <nz-select nzShowSearch formControlName="state">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'ACTIVE' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'REMOVED' | translate }}" nzValue="2"></nz-option>
              </nz-select>          
            </nz-form-control>                            
          </div>
        </div>        
      </div>       

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'BANK_ACCOUNT' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <input type="hidden" nz-input formControlName="bankaccount_id"/>
            <nz-form-control>
              <nz-input-group nzSearch [nzAddOnAfter]="bankaccountSuffixButton">
                <input type="text" nz-input formControlName="bankaccount_no" class="ctm-input-disabled"/>
              </nz-input-group>
              <ng-template #bankaccountSuffixButton>
                <button nz-button nzType="primary" nzSearch (click)="searchBankaccountOpen()" class="px-2">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </ng-template>                                               
            </nz-form-control>            
          </div>
        </div>        
      </div>     

    </div>

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </button>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a>    
    </div>
  </div>

</form>

<!-- search bankaccount dialog start -->
<app-search-bankaccount-dialog
  [searchBankaccountVisible]="searchBankaccountVisible"
  (searchBankaccountCls)="searchBankaccountClose()"
  [bankaccountDatas]="bankaccountDatas"
  (bankaccountAddInputChild)="bankaccountAddInput($event)">
</app-search-bankaccount-dialog>
<!-- search bankaccount dialog end -->