<nz-table #basicTable [nzData]="diarybookData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
  <ng-template #noTableData>
    <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
    </div>
  </ng-template>    
  <thead>
    <tr>
      <th>{{ 'NO_REFERENCE' | translate }}</th>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'DESCRIPTION' | translate }}</th>
      <th>{{ 'COST_CENTER' | translate }}</th>
      <th>{{ 'DEBIT' | translate }}</th>
      <th>{{ 'CREDIT' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a routerLink="/user/accounting/seat/info" [queryParams]="{ seat_id: data.seat_id}" class="font-weight-normal">
          0000001
        </a>
      </td>
      <td>
        1-01-02-01
      </td>
      <td>Ficohsa</td>
      <td>
        
      </td>
      <td class="text-center">
        L. 0.00                 
      </td>
      <td>
        L. 0.00
      </td>
    </tr>
  </tbody>
</nz-table>