<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <div class="pull-right">
                 <app-backbutton></app-backbutton>
              </div>
              <h4 class="page-title">
                 <i class="mdi mdi-settings"></i> {{ 'CREATE_CATEGORY' | translate }}
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<div class="container">
  <div class="row justify-content-center">
     <div class="col-md-6">
        <form nz-form [formGroup]="categoriesAddform" class="ctm-label-r">
           <div class="card-body bg-white">
              <nz-form-item>
                 <div class="row">
                    <div class="col-md-5">
                       <div>
                          <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
                       </div>
                    </div>
                    <div class="col-md-7">
                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                          <input type="text" nz-input formControlName="category_code" placeholder="{{ 'CATEGORY_CODE' | translate }}" required />
                       </nz-form-control>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-5">
                       <div>
                          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                       </div>
                    </div>
                    <div class="col-md-7">
                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                          <input type="text" nz-input formControlName="category_name" placeholder="{{ 'CATEGORY_NAME' | translate }}" required />
                       </nz-form-control>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-5">
                       <div>
                          <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                       </div>
                    </div>
                    <div class="col-md-7">
                       <nz-form-control>    
                          <textarea rows="3" nz-input formControlName="category_description" placeholder="{{ 'CATEGORY_DESCRIPTION' | translate }}"></textarea>
                       </nz-form-control>
                    </div>
                 </div>
              </nz-form-item>
           </div>
           <div class="card-footer text-center">            
              <button nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2 mb-1" (click)="insertCategories()" [disabled]="!categoriesAddform.valid" [nzLoading]="btnLoading">
              <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}
              </button>
              <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="clearFilter()">
              <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}              
              </a>
           </div>
        </form>
     </div>
  </div>
</div>