<div class="row mb-4">
   <div class="offset-md-8 col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="searchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="searchUsersbyuser()" />
            </nz-input-group>
            <ng-template #searchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="usersDisplayData" class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'USER' | translate }}</th>
      <th>{{ 'NAME' | translate }}</th>
      <th>{{ 'ROLE' | translate }}</th>
      <th>{{ 'BRANCH' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td><a routerLink="/user/settings/contacts/users/edit" class="font-weight-normal">{{ data.users_user }}</a></td>
      <td>{{ data.users_name }}</td>
      <td>{{ data.users_role }}</td>
      <td>{{ data.users_branch }}</td>
   </tr>
</tbody>
</nz-table>