<h2>Hello Test</h2>

<div nz-row>
  <div nz-col nzSpan="8">
    col-8
    <button nz-button nzType="primary">Primary</button>
  </div>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
</div>