<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <i class="mdi mdi-chart-bar"></i> {{ 'REPORTS' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-6">
         <nz-card class="c_bdy">
            <h6 class="card-title m-0 f-s-18 font-weight-normal">
               <app-currency-sign></app-currency-sign>
               <i class="fa fa-bell-o" aria-hidden="true"></i>
               {{ 'SALES_REPORTS' | translate }}
            </h6>
            <ul class="t-d-none">
               <li>
                  <a routerLink="/user/reports/sales/batch-of-invoices">{{ 'BATCH_OF_INVOICES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/batch-of-receipts">{{ 'BATCH_OF_RECEIPTS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/daily-sales">{{ 'DAILY_SALES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/monthly-sales">{{ 'MONTHLY_SALES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/sales-by-product">{{ 'SALES_BY_PRODUCT' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/earnings-by-product">{{ 'EARNINGS_BY_PRODUCT' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/sales-by-category">{{ 'SALES_BY_CATEGORY' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/sales-by-user">{{ 'SALES_BY_USER' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/sales-by-branch">{{ 'SALES_BY_BRANCH' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/sales-by-seller">{{ 'SALES_BY_SELLER' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/quotes">{{ 'QUOTES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/sales/quotes-by-product">{{ 'QUOTES_BY_PRODUCT' | translate }}</a>
               </li>
            </ul>
         </nz-card>
      </div>
      <div class="col-md-6">
         <nz-card class="c_bdy ctm_administrative">
            <h6 class="card-title m-0 f-s-18 font-weight-normal">
               <i class="fa fa-line-chart" aria-hidden="true"></i>
               {{ 'ADMINISTRATIVE_REPORT' | translate }}
            </h6>
            <ul class="t-d-none">
               <li>
                  <a routerLink="/user/reports/administrative/products-services-list">{{ 'PRODUCTS_SERVICES_LIST' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/administrative/inventories">{{ 'INVENTORIES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/administrative/purchases">{{ 'PURCHASES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/administrative/account-receivable">{{ 'ACCOUNT_RECEIVABLE' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/administrative/work-order">{{ 'WORK_ORDERS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/administrative/work-orders-by-product">{{ 'WORK_ORDERS_BY_PRODUCT' | translate }}</a>
               </li>
            </ul>
         </nz-card>
      </div>
        <div class="col-md-6">
         <nz-card class="c_bdy ctm_contact">
            <h6 class="card-title m-0 f-s-18 font-weight-normal">
               <i class="mdi mdi-account-multiple" nz-icon></i>
               {{ 'CONTACTS_REPORTS' | translate }}
            </h6>
            <ul class="t-d-none">
               <li>
                  <a routerLink="/user/reports/contacts/employees">{{ 'EMPLOYEES' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/contacts/customers">{{ 'CUSTOMERS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/contacts/suppliers">{{ 'SUPPLIERS' | translate }}</a>
               </li>
            </ul>
         </nz-card>
      </div>
      <div class="col-md-6">
         <nz-card class="c_bdy">
            <h6 class="card-title m-0 f-s-18 font-weight-normal">
               <i class="mdi mdi-chart-areaspline" nz-icon></i>
               {{ 'ACCOUNTANTS_REPORTS' | translate }}
            </h6>
            <ul class="t-d-none">
               <li>
                  <a routerLink="/user/reports/accountants/balance-general">{{ 'BALANCE_SHEET' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/accountants/checking-balance">{{ 'CHECKING_BALANCE1' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/accountants/status-results">{{ 'STATUS_RESULTS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/accountants/accumulated-income-statement">{{ 'ACCUMULATED_RESULTS_STATUS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/accountants/summarized-item">{{ 'SUMMARIZED_ITEM' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/reports/accountants/department-expenses">{{ 'DEPARTMENT_EXPENSES' | translate }}</a>
               </li>
            <!--    <li>
                  <a routerLink="/user/accounting/diary-book/list">{{ 'DIARY_BOOK' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/accounting/ledger/list">{{ 'LEDGER' | translate }}</a>
               </li> -->
            </ul>
         </nz-card>
      </div>
      <!-- <div class="col-md-6">
         <nz-card class="c_bdy">
            <h6 class="card-title m-0 f-s-18 font-weight-normal">
               {{ 'BANK_REPORT' | translate }}
            </h6>
            <ul class="t-d-none">
               <li>
                  <a routerLink="/user/banks/account-summary/list">{{ 'SUMMARY_OF_ACCOUNTS' | translate }}</a>
               </li>
               <li>
                  <a routerLink="/user/banks/account-status/list">{{ 'ACCOUNT_STATUS' | translate }}</a>
               </li>
            </ul>
         </nz-card>
      </div> -->
   </div>
</div>