.c_bdy{
  background-color: transparent;
  border:1px solid transparent;
  ul{
    list-style: none;
    padding: 0px;
    li {
      border-bottom:1px solid transparent;
    }
    a{
      color: rgba(0,0,0,.5);
     
    }
    a:hover,a:active,a:focus{
      color: #00a82d;
     
    }
  }
}
.c_bdy:hover,.c_bdy:active,.c_bdy:focus{
  background-color: #fff;
  li{
    border-bottom:1px dashed #ddd !important;
  }

}

.card-title{
  border-bottom:2px solid transparent;
}
.c_bdy.ctm_administrative:hover,.c_bdy.ctm_administrative:active,.c_bdy.ctm_administrative:focus{
  height:363px;
}
.c_bdy.ctm_contact:hover,.c_bdy.ctm_contact:active,.c_bdy.ctm_contact:focus{
  height:233px;
}