<div class="ctm-card">  

  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'NAME' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.supplier_name }}
    </div>                
  </div>

  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'IDENTIFICATION' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.identification }}
    </div>                
  </div>  
  
  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'PHONE' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.phone }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'MOBILE' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.mobile }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'EMAIL' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.email }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 p-1 border-b-dotted">
      <div class="text-right">
        {{ 'FAX' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1 border-b-dotted">
      {{ supplierInfoData.fax }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 p-1">
      <div class="text-right">
        {{ 'DIRECTION' | translate }}
      </div>
    </div>
    <div class="col-md-9 ml-2 p-1">
      {{ supplierInfoData.direction }}
    </div>                
  </div>   

</div>