<form nz-form [formGroup]="filterForm" class="ctm-label-r">

  <nz-form-item>

    <div class="row m-0">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_FROM' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-date-picker formControlName="date_from" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>         
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'DATE_TO' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>    
              <nz-date-picker formControlName="date_to" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>            
          </div>
        </div>        
      </div> 
      
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'SOURCE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>             
              <nz-select nzShowSearch formControlName="source">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'OPENING' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'INCOME' | translate }}" nzValue="2"></nz-option>
                <nz-option nzLabel="{{ 'EXPENSES' | translate }}" nzValue="3"></nz-option>
                <nz-option nzLabel="{{ 'SALES' | translate }}" nzValue="4"></nz-option>
                <nz-option nzLabel="{{ 'PROVISIONS' | translate }}" nzValue="5"></nz-option>
              </nz-select>          
            </nz-form-control>   
          </div>
        </div>        
      </div> 
    
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="state">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="{{ 'ACTIVE' | translate }}" nzValue="1"></nz-option>
                <nz-option nzLabel="{{ 'REMOVED' | translate }}" nzValue="2"></nz-option>
              </nz-select>   
            </nz-form-control>                         
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'NO_REFERENCE' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">
            <nz-form-control>    
              <input type="text" nz-input formControlName="reference_no" />   
            </nz-form-control>            
          </div>
        </div>        
      </div>

      <div class="col-md-6">       
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'VOUCHER' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <input type="text" nz-input formControlName="voucher" />   
            </nz-form-control>          
          </div>
        </div>        
      </div> 

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <div>              
              <nz-form-label>{{ 'COST_CENTER' | translate }}</nz-form-label>
            </div>
          </div>
          <div class="col-md-7">            
            <nz-form-control>    
              <nz-select nzShowSearch formControlName="cost_center">
                <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                <nz-option nzLabel="Inversiones Logisticas" nzValue="1"></nz-option>
                <nz-option nzLabel="Compras" nzValue="2"></nz-option>
              </nz-select>   
            </nz-form-control>                         
          </div>
        </div>        
      </div>

    </div>     

  </nz-form-item>     
  
  <div class="row card-footer">
    <div class="col-md-12 text-center my-1">
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="searchFilter()">
        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
      </a>
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="clearFilter()">
        <i class="mdi mdi-undo"></i> {{ 'CLEAN_FILTERS' | translate }}
      </a> 
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1 mb-1" (click)="printDiaryBook()">
        <i class="mdi mdi-printer"></i> {{ 'TO_PRINT' | translate }}
      </a> 
      <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2">
        <i class="fa fa-download"></i> {{ 'EXPORT' | translate }}
      </a>   
    </div>
  </div>

</form>