@media only screen and (max-width: 620px) {
  .hide-sm {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ctm-label-r {
    .col-md-5 {
      div {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ctm-label-r {
    .col-md-5 {
      div {
        nz-form-label {
          padding: 0px;
          margin-top: 7px;
        }
      }
    }
  }
}