// color variables
$white: #ffffff;
$black: #000000;
$black2: #000000d9;
$dark_green: #00A82D;
$light_green: #14CC45;
$green1: #50d38a;

$gray1: #3d424d;
$gray2: #6c757d;
$gray3: #9ca1a5;
$gray4: #8f9499;
$gray5: #EEEEEE;
$gray6: #d5e4f1;
$gray7: #f5f5f5;
$gray8: #d9d9d9;
$gray9: #4c5667;

$gray10: #f9f9f9;

$gray11: #f0f2f5;

$gray12: #595959;

$lightgray1: #dee2e6;
$yellow1: #ffb22b;
$yellow2: #ffc35a;

$yellow3: #d48907;

$green2: #69aa46;
$green3: #629b58;
$green4: #05631e;

$blue1: #CCE5FA;
$blue2: #007ee5;

$skyblue1: #00bdff;
$skyblue2: #00aae6;

$paleblue: #00c0ed;

