<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row m-0 page-title-box-b">       

      <div class="col-sm-12 p-0">
        <div class="pull-right">
          <app-backbutton></app-backbutton>
        </div>

        <h4 class="page-title">
          <i class="mdi mdi-file-document"></i> {{ 'SEE_QUOTATION' | translate }}
        </h4>
      </div>          

    </div>
  </div>
</section>

<div class="container-fluid">

  <div class="row m-0">

    <div class="col-md-12 mb-4">
      <nz-card class="color-b">

        <div class="row">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">

                <span class="badge badge-pill badge-success" *ngIf="quotationDatas.quotation_status == '1'">
                  {{ 'PAID' | translate }}
                </span>
                <span class="badge badge-pill badge-danger" *ngIf="quotationDatas.quotation_status == '2'">
                  {{ 'UNPAID' | translate }}
                </span>
                <span class="badge badge-pill badge-warning color-white" *ngIf="quotationDatas.quotation_status == '3'">
                  {{ 'VOIDED' | translate }}
                </span>

                <h4 class="font-16 m-tb-10">
                  <strong>{{ 'QUOTATION_NO' | translate }} {{ quotationDatas.quotation_order_no }}</strong>
                </h4>
              </div>
              <div class="col-md-6 text-right">
                <strong>DEMO LOGISTICAS</strong>
                <br>{{ 'RTN' | translate }}: 082132456<br>
                {{ 'C_A_I' | translate }}: 4DAN11223/40455
              </div>
            </div>  
            
            <hr>

            <div class="row">
              <div class="col-6">
                <address>
                  {{ 'CUSTOMER' | translate }}: {{ quotationDatas.quotation_supplier_name }}<br>
                  {{ 'BRANCH' | translate }}: Sucursal 1<br>
                  {{ 'CREATION_DATE' | translate }}: {{ quotationDatas.quotation_date | date: 'MMM d, y h:mm:ss a' }}<br>
                  {{ 'EXPIRY_DATE' | translate }}: {{ quotationDatas.quotation_date | date: 'MMM d, y h:mm:ss a' }}<br>
                  {{ 'INVOICE' | translate }}: 
                </address>
              </div>
              <div class="col-6 text-right">
                <address>
                  {{ 'CREATED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'ATTENDED_BY' | translate }}: Manuel  Santos<br>
                  {{ 'EXCHANGE_RATE' | translate }}:<br>
                  (X) {{ 'CREDIT' | translate }} &nbsp; &nbsp;(&nbsp;&nbsp;) {{ 'COUNTED' | translate }}
                </address>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="py-2">
									<h3 class="panel-title font-20"><strong>{{ 'QUOTATION_SUMMARY' | translate }}</strong></h3>
								</div>
              </div>

              <div class="col-md-12">
                
                <nz-table [nzData]="quotationDatas.quotation_product_item" class="bg-white ctm-r-b-b ctm-table-style" nzShowPagination="false" [nzNoResult]="quotationProductNoDataTmp">
                  <ng-template #quotationProductNoDataTmp></ng-template>
                  <thead>
                    <tr>
                      <th><strong>{{ 'QTY' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'CODE' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'DESCRIPTION' | translate }}</strong></th>
                      <th class="text-center"><strong>{{ 'UNIT_PRICE' | translate }}.</strong></th>
                      <th class="text-center"><strong>{{ 'DESC_AND_REB_GRANTED' | translate }}</strong></th>
                      <th class="text-right"><strong>{{ 'TOTAL' | translate }}</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of quotationDatas.quotation_product_item; let i = index">
                      <td>{{ data.item_quantity }}</td>
                      <td class="text-center">L. {{ data.item_code }}</td>
                      <td class="text-center">{{ data.item_description }}</td>
                      <td class="text-center">L. {{ data.item_price | number:'.2-2' }}</td>
                      <td class="text-center">L. {{ data.item_discount | number:'.2-2' }}</td>
                      <td class="text-right">L. {{ data.item_total | number:'.2-2' }}</td>
                    </tr>                                                    

                    <tr>
                      <td colspan="3" rowspan="5" class="no-line"></td>                      
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'EXEMPT_AMOUNT' | translate }} / {{ 'ISV' | translate}}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 0.00</td>
                    </tr>    
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'TAXED_AMOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 00.00</td>
                    </tr>  
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'DISCOUNT' | translate }}</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 00.00</td>
                    </tr>                      
                    
                    <tr>
                      <td class="no-line text-right pt-0 pb-0" colspan="2">
                        <strong>{{ 'ISV' | translate }} (15%)</strong>
                      </td>
                      <td class="no-line text-right pt-0 pb-0">L. 00.00</td>
                    </tr>                   
                    
                    <tr class="text-success">
                      <td class="no-line text-right pt-0 pb-0 color-green2" colspan="2">
                        <strong>{{ 'TOTAL_TO_PAY' | translate }}</strong></td>
                      <td class="no-line text-right pt-0 pb-0 color-green2">
                        <strong>L. 9.00</strong>
                      </td>
                    </tr>

                  </tbody>
                </nz-table>                
              </div>              
            </div>

            <hr>

            <div class="row">
              <div class="col-md-12 d-print-none">
                <div class="pull-right">
                  <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1">
                    <i class="fa fa-print"></i>
                  </a>
                  <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1" (click)="sendInvoiceMailOpen()">
                    <i class="mdi mdi-email"></i>
                  </a>
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1" (click)="deleteConfirmOpen()">
                    <i class="mdi mdi-delete-forever"></i>
                  </a>
                  <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2" routerLink="/user/income/quotes/generate-invoice" [queryParams]="{ quotation_id: this.quotationDatas.quotation_id }">
                    <i class="mdi mdi-file-document"></i> {{ 'GENERATE_INVOICE' | translate }}
                  </a>              
                </div>
              </div>              
            </div>

          </div>

        </div>

      </nz-card>
    </div>

  </div>

</div>

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">

  <ng-template #deleteConfirmTmpl>{{ 'DELETE_CUSTOMER' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THE_CLIENT' | translate }}</p>
  </div>

  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
      <div class="col-md-12">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
        </a>
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteConfirmClose()">
          {{ 'OK' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- delete confirm end -->

<!-- send invoice mail form start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="sendInvoiceMailVisible" [nzTitle]="sendInvoiceMailTitleTmpl" (nzOnCancel)="sendInvoiceMailClose()" [nzFooter]="sendInvoiceMailFooterTmpl">

  <ng-template #sendInvoiceMailTitleTmpl>{{ 'SEND_INVOICE_BY_MAIL' | translate }}</ng-template>  

  <div class="text-center">
    <p>{{ 'ENTER_TO_WHICH_EMAILS_THE_QUOTATION_WILL_BE_SENT' | translate }}</p>
  </div>
  
  <form nz-form [formGroup]="sendInvoiceMailForm">      
    <nz-form-item>
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 1</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
            <input type="text" nz-input formControlName="send_invoice_email1" />
          </nz-form-control>        
        </div>      
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 2</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="send_invoice_email2" />
          </nz-form-control>        
        </div>      
      </div> 
      
      <div class="row">
        <div class="col-md-2">
          <nz-form-label>{{ 'EMAIL' | translate }} 3</nz-form-label>
        </div>
        <div class="col-md-9">
          <nz-form-control>    
            <input type="text" nz-input formControlName="send_invoice_email3" />
          </nz-form-control>        
        </div>      
      </div>
    </nz-form-item>     
  </form>

  <ng-template #sendInvoiceMailFooterTmpl>
    <div class="row">
      <div class="col-md-12 text-center">         
        <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="sendInvoiceMailSave()">
          <i class="mdi mdi-email"></i> {{ 'SEND' | translate }}            
        </a>
      </div>
    </div>
  </ng-template>      
  
</nz-modal>
<!-- send invoice mail form end -->