<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchEmployeeVisible" [nzTitle]="searchEmployeeTitleTmpl" (nzOnCancel)="searchEmployeeClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchEmployeeTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'EMPLOYEE' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'EMPLOYEE' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="employeeSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="employee_search_title" (keyup)="searchEmployee()" />
      </nz-input-group>
      <ng-template #employeeSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #employeeTable [nzData]="employeeDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'IDENTIFICATION_CARD' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of employeeTable.data">
            <td>{{ data.employee_identification_no }}</td>
            <td>{{ data.employee_firstname }} {{ data.employee_lastname }}</td>
            <td>
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="employeeAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>