<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
           <h4 class="page-title">
              <i class="mdi mdi-settings"></i> {{ 'EMPLOYEE_POSITION' | translate }}
           </h4>
           <div class="pull-right">
              <a nz-button nzType="secondary" class="ctm-btn-pale-blue px-2 mr-1 mb-1" (click)="chargeOpen(1)">
                <i class="mdi mdi-plus"></i> {{ 'NEW_POSITION' | translate }}
              </a>
              <app-backbutton></app-backbutton>
           </div>
        </div>
     </div>
  </div>
</section>

<div class="container-fluid">
  <div class="col-md-12 mt-3">
    <nz-card>

      <div class="row my-1" *ngIf="loader">
        <div class="col-md-12 text-center">
          <ng-template #indicatorTemplate>
            <i nz-icon nzType="loading" class="f-s-18"></i>
          </ng-template>
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>
      </div>      

      <div *ngIf="!loader" class="row mb-4">
        <div class="offset-md-8 col-md-4">
          <div class="row">
            <div class="col-md-3">
              <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
            </div>
            <div class="col-md-9">
              <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
              </nz-input-group>
              <ng-template #keyupsearchSuffixIcn>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loader" class="row">
        <div class="col-md-12">
        <h6 class="card-title f-s-14 text-center">{{ 'EMPLOYEE_JOB_LIST' | translate }}</h6>
          <nz-table #chargeDisplayData [nzData]="chargeDisplayDatas" nzShowSizeChanger [nzNoResult]="noTableData">
            <ng-template #noTableData>
              <div class="black2">
                {{ 'NO_RECORD_FOUND' | translate }}
              </div>
            </ng-template>
            <thead>
              <tr>
                <th>{{ 'POSITION' | translate }}</th>
                <th>{{ 'DESCRIPTION' | translate }}</th>
                <th>{{ 'ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of chargeDisplayData.data">
                <td>{{ data.charge_name }}</td>
                <td>{{ data.charge_description }}</td>
                <td>
                  <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green mr-1 px-2" (click)="chargeOpen(data)">
                    <i class="mdi mdi-pencil"></i>            
                  </a>
                  <a nz-button nzType="danger" nzShape="round" class="color-white px-2" (click)="deleteConfirmOpen(data.charge_id)">
                    <i class="mdi mdi-delete-forever"></i>            
                  </a>            
                </td>
              </tr>
            </tbody>
          </nz-table>      
        </div>
      </div>
      
    </nz-card>
  </div>
</div>

<!-- charge modal start -->
<nz-modal *ngIf="chargeVisible" [nzStyle]="{ top: '20px' }" [(nzVisible)]="chargeVisible" [nzTitle]="chargeTitleTmpl" (nzOnCancel)="chargeClose()" [nzFooter]="chargeFooterTmpl">
  <ng-template #chargeTitleTmpl>    
    <span *ngIf="!charge_id">{{ 'NEW_POSITION' | translate }}</span>

    <span *ngIf="charge_id">{{ 'EDIT_POSITION' | translate }}</span>
  </ng-template>

  <form nz-form [formGroup]="chargeForm" class="ctm-label-r">
    <nz-form-item class="mb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <nz-form-label>{{ 'POSITION_NAME' | translate }}*</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                <input type="text" nz-input formControlName="charge_name" required />
              </nz-form-control>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <nz-form-label>{{ 'POSITION_DESCRIPTION' | translate }}</nz-form-label>
            </div>
            <div class="col-md-8">
              <nz-form-control>
                <input type="text" nz-input formControlName="charge_description" />
              </nz-form-control>
            </div>
          </div>
        </div>        
      </div>
    </nz-form-item>
  </form>
  <ng-template #chargeFooterTmpl>
    <div class="row">
       <div class="col-md-12 text-center">         
         
         <button *ngIf="!charge_id" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="insertCharge()" [disabled]="!chargeForm.valid" [nzLoading]="btnLoading">
           <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
         </button>
                 
          <button *ngIf="charge_id" nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="updateCharge()" [disabled]="!chargeForm.valid" [nzLoading]="btnLoading">
            <i class="mdi mdi-content-save-settings"></i> {{ 'SAVE' | translate }}      
          </button>
          
       </div>
    </div>
  </ng-template>
</nz-modal>
<!-- charge modal end -->

<!-- delete confirm start -->
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="deleteConfirmVisible" [nzTitle]="deleteConfirmTmpl" (nzOnCancel)="deleteConfirmClose()" [nzFooter]="deleteConfirmFooterTmpl">
  <ng-template #deleteConfirmTmpl>{{ 'DELETE_POSITION' | translate }}</ng-template>
  <div class="text-center">
    <p>{{ 'POSITION_DELETE_CONFIRM_MSG' | translate }}</p>
  </div>
  <ng-template #deleteConfirmFooterTmpl>
    <div class="row">
       <div class="col-md-12">         
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-1" (click)="deleteConfirmClose()">
          {{ 'CANCEL' | translate }}            
          </a>
          <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="deleteCharge()" [nzLoading]="deleteBtnLoading">
          {{ 'OK' | translate }}            
          </a>
       </div>
    </div>
  </ng-template>
</nz-modal>
<!-- delete confirm end -->