<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="searchSellerVisible" [nzTitle]="searchSellerTitleTmpl" (nzOnCancel)="searchSellerClose()" [nzFooter]="null" nzWidth="1000">

  <ng-template #searchSellerTitleTmpl>
    {{ 'SEARCH' | translate }} {{ 'CUSTOMER' | translate }}
  </ng-template>

  <div class="row mb-4">
    <div class="col-md-2">        
      <nz-form-label>{{ 'CUSTOMER' | translate }}</nz-form-label>            
    </div>     
    
    <div class="col-md-6">
      <nz-input-group [nzSuffix]="sellerSearchSuffixIcn">
        <input type="text" nz-input [(ngModel)]="seller_search_title" (keyup)="searchSeller()" />
      </nz-input-group>
      <ng-template #sellerSearchSuffixIcn>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nz-table #sellerTable [nzData]="sellerDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
        <ng-template #noTableData>
          <div class="black2">
            {{ 'NO_RECORD_FOUND' | translate }}
          </div>
        </ng-template>          
        <thead>
          <tr>
            <th>{{ 'IDENTIFICATION_CARD' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sellerTable.data">
            <td style="width: 122px;">{{ data.seller_identification_card }}</td>
            <td style="width: 480px;">{{ data.seller_name }}</td>
            <td style="width: 45px;">
              <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green m-r-5 px-2" (click)="sellerAddInput(data)">
                <i class="mdi mdi-plus"></i>            
              </a>         
            </td>
          </tr>
        </tbody>
      </nz-table>      
    </div>
  </div>     
  
</nz-modal>