<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <i class="mdi mdi-account-settings"></i> {{ 'PROFILE' | translate }}
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>

     <form class="ctm-label-r" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
     <nz-form-item>
        <div class="row m-0">
          <div class="col-md-12">
            <nz-card>
               <h6 class="card-title mt-0 f-s-14">
                  {{ 'PROFILE' | translate }}
               </h6>
               <div class="row m-0">
           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                       <input type="text" nz-input formControlName="identificationcard" />
                    </nz-form-control>
                 </div>
              </div>
           </div>
          
           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'BRANCH_OFFICE' | translate }}</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                  <nz-form-control>
                     <nz-select nzShowSearch formControlName="branch">
                        <nz-option nzLabel="--{{ 'ALL' | translate }}--" nzValue="0"></nz-option>
                        <nz-option nzLabel="{{ 'BRANCH_1' | translate }}" nzValue="1"></nz-option>
                        <nz-option nzLabel="{{ 'BRANCH_2' | translate }}" nzValue="2"></nz-option>
                     </nz-select>
                  </nz-form-control>
                 </div>
              </div>
           </div>
        
         
           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                       <input type="text" placeholder="Manuel Santos" nz-input formControlName="name" />
                    </nz-form-control>
                 </div>
              </div>
           </div>
         
           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                       <input type="text"  nz-input formControlName="user"/>
                    </nz-form-control>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="text"  nz-input formControlName="phone" placeholder="{{ 'PHONE_NUMBER' | translate }}*" />
                  </nz-form-control>
               </div>
            </div>
         </div>
            
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="text" nz-input formControlName="mobile" />
                  </nz-form-control>
               </div>
            </div>
         </div>

           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'PASSWORD' | translate }}*</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                    <nz-form-control nzHasFeedback nzErrorTip="{{ 'REQUIRED' | translate }}">
                       <input nz-input type="password" formControlName="password" placeholder="{{ 'ENTER_YOUR_PASSWORD' | translate }}*" (ngModelChange)="validateConfirmPassword()" />
                    </nz-form-control>
                 </div>
              </div>
           </div>
          
           <div class="col-md-6">
              <div class="row">
                 <div class="col-md-5">
                    <div>
                       <nz-form-label>{{ 'CONFIRM_PASSWORD' | translate }}*</nz-form-label>
                    </div>
                 </div>
                 <div class="col-md-7">
                    <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                       <input nz-input type="password" formControlName="confirm" placeholder="{{ 'CONFIRM_YOUR_PASSWORD' | translate }}*" />
                       <ng-template #passwordErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                             {{ 'PLEASE_CONFIRM_YOUR_PASSWORD' | translate }}
                          </ng-container>
                          <ng-container *ngIf="control.hasError('confirm')">
                             {{ 'PASSWORD_IS_INCONSISTENT' | translate }}
                          </ng-container>
                       </ng-template>
                    </nz-form-control>
                 </div>
              </div>
           </div>
          
           <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'ENTER_YOUR_EMAIL' | translate }}*</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input nz-input type="text" formControlName="mail" placeholder="{{ 'EMAIL' | translate }}*"/>
                  </nz-form-control>
               </div>
            </div>
         </div>

         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'ADMISSION_DATE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <nz-date-picker formControlName="date" nzPlaceHolder="{{ 'ADMISSION_DATE' | translate }}"></nz-date-picker>
                  </nz-form-control>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-5">
                  <div>
                     <nz-form-label>{{ 'ATTACH_FILE' | translate }}</nz-form-label>
                  </div>
               </div>
               <div class="col-md-7">
                  <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                     <input type="file" nz-input formControlName="seat_file" class="h-auto" />
                  </nz-form-control>
               </div>
            </div>
         </div>

          
        
         </div>
         </nz-card>
         </div>
         <div class="col-md-12">
            <div class="card-footer text-center"> 
               <nz-form-control>              
                  <button nz-button class="ctm-btn-pale-blue mt-4" nzType="secondary"><i class="mdi mdi-content-save-settings"></i>  {{ 'SAVE' | translate }}</button>
               </nz-form-control>
            
            </div>
          </div>

         </div>
     
     </nz-form-item>
    
     </form>
  
