<div class="row mb-4">
   <div class="offset-md-8 col-md-4">
      <div class="row">
         <div class="col-md-3">
            <nz-form-label>{{ 'SEARCH' | translate }}</nz-form-label>
         </div>
         <div class="col-md-9">
            <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
               <input type="text" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
            </nz-input-group>
            <ng-template #keyupsearchSuffixIcn>
               <i nz-icon nzType="search"></i>
            </ng-template>
         </div>
      </div>
   </div>
</div>
<nz-table #basicTable [nzData]="debitDisplayDatas" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th>{{ 'CODE' | translate }}</th>
      <th>{{ 'PROVIDER' | translate }}</th>
      <th>{{ 'CREATION' | translate }}</th>
      <th>
         <app-currency-sign></app-currency-sign>
         {{ 'TOTAL' | translate }}
      </th>
      <th>
         <app-currency-sign></app-currency-sign>
         {{ 'TO_APPLY' | translate }}
      </th>
      <th> {{ 'ACTIONS' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of basicTable.data">
      <td>
         <a routerLink="/user/accounting/debit-notes/info" [queryParams]="{ debit_id: data.debit_id}" class="font-weight-normal">
         {{ data.debit_code }}
         </a>
      </td>
      <td>
         {{ data.provider_firstname }} {{ data.provider_lastname }}
      </td>
      <td>{{ data.credit_creation | date : "dd/MMM/yyyy" }}</td>
      <td>L. 0.00</td>
      <td>L. 0.00</td>
      <td>
         <a nz-button nzType="primary" nzShape="round" class="ctm-btn-green px-2 mr-1 mb-1"  routerLink="/user/accounting/debit-notes/info" [queryParams]="{ debit_id: data.debit_id}">
         <i class="mdi mdi-eye"></i>            
         </a>      
         <a nz-button nzType="primary" nzShape="round" class="color-white px-2 mr-1 mb-1" routerLink="/user/accounting/debit-notes/edit" [queryParams]="{ debit_id: data.debit_id}">
         <i class="mdi mdi-pencil-box-outline"></i> 
         </a>                                                             
         <a nz-button nzType="danger" nzShape="round" class="color-white px-2 mr-1 mb-1" (click)="deleteConfirmOpen()">
         <i class="mdi mdi-delete-forever"></i>    
         </a>  
      </td>
   </tr>
</tbody>
</nz-table>
<!--modal-->
<nz-modal [nzStyle]="{ top: '20px' }" 
[(nzVisible)]="isVisible"
[nzTitle]="deleteConfirmTmpl"
[nzFooter]="deleteConfirmFooterTmpl"
(nzOnCancel)="handleCancel()"
>
<ng-template #deleteConfirmTmpl>
   {{ 'DELETE_DEBIT_NOTES' | translate }}
</ng-template>
<div class="text-center">
   <p>{{ 'ITEM_DELETE_DEBIT_NOTES_MSG' | translate }}</p>
</div>
<ng-template #deleteConfirmFooterTmpl>
   <div class="row">
      <div class="col-md-12">         
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue mr-2" (click)="handleCancel()">
         {{ 'CANCEL' | translate }}            
         </a>
         <a nz-button nzType="secondary" class="ctm-btn-pale-blue" (click)="handleOk()">
         {{ 'OK' | translate }}            
         </a>
      </div>
   </div>
</ng-template>
</nz-modal>