<div class="ctm-card">  

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'IDENTIFICATION_CARD' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.identification }}
    </div>                
  </div>  

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'FIRST_NAME' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.first_name }}
    </div>                
  </div>

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'LAST_NAME' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.last_name }}
    </div>                
  </div> 

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'BIRTHDATE' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.birth_date }}
    </div>                
  </div>
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'SEX' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      <span *ngIf="employeeDatas.sex == '1'">{{ 'MALE' | translate }}</span>
      <span *ngIf="employeeDatas.sex == '2'">{{ 'FEMALE' | translate }}</span>      
    </div>                
  </div>  
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'PHONE' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.phone }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'MOBILE' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.mobile }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'EMAIL' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.email }}
    </div>                
  </div> 

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'DIRECTION' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.direction }}
    </div>                
  </div>     
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'DATE_OF_ADMISSION' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.admission_date }}
    </div>                
  </div> 

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'SALARY' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.salary }}
    </div>                
  </div> 
  
  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'POSITION' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      {{ employeeDatas.charge_name }}
    </div>                
  </div> 

  <div class="row">
    <div class="col-md-2 bg-blue-grey">
      <div class="text-right">
        {{ 'IMAGE' | translate }}
      </div>
    </div>
    <div class="col-md-9 detail-data-col">
      <img *ngIf="employeeDatas.image" [src]="employeeDatas.image" width="40" height="40">
      <img *ngIf="!employeeDatas.image" src="assets/images/no-photo.png" width="40" height="40">
    </div>                
  </div>

</div>