<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-chart-areaspline"></i> {{ 'SEE_ENTRIES' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row m-0 mt-2 mb-4">

    <div class="col-md-12">

      <nz-card>
        <h6 class="card-title mt-0 f-s-14 text-center">
          {{ 'SEAT_DATA' | translate }}
        </h6>

        <div class="table-responsive">
          <table class="simple-ctm-table table table-hover bg-white">
            <tbody>
              <tr>
                <td><b>{{ 'DATE' | translate }}</b></td>
                <td>20-Apr-2018</td>
                <td><b>{{ 'NO_REFERENCE' | translate }}</b></td>
                <td>20-Apr-2018</td>
              </tr>
              <tr>
                <td><b>{{ 'REFERENCE' | translate }}</b></td>
                <td>Combustible</td>
                <td><b>{{ 'SOURCE' | translate }}</b></td>
                <td>EGRESOS</td>
              </tr>
              <tr>
                <td><b>{{ 'VOUCHER' | translate }}</b></td>
                <td>000-002-01-123</td>
                <td><b>{{ 'STATE' | translate }}</b></td>
                <td>
                  Eliminado
                </td>
              </tr>
              <tr>
                <td><b>{{ 'COST_CENTER' | translate }}</b></td>
                <td>Inversiones Logisticas</td>
                <td></td>
                <td></td>
              </tr>                                    
            </tbody>
          </table>
        </div>        

      </nz-card>

    </div>

  </div>

  <div class="row m-0 mt-2 mb-4">

    <div class="col-md-12">

      <nz-card>

        <div class="table-responsive">
          <table class="simple-ctm-table table table-hover bg-white">
            <thead>
              <th>{{ 'CODE' | translate }}</th>
              <th>{{ 'DESCRIPTION' | translate }}</th>
              <th>{{ 'DEPARTMENT' | translate }}</th>
              <th>{{ 'COMMENTARY' | translate }}</th>
              <th>{{ 'DEBIT' | translate }}</th>
              <th>{{ 'CREDIT' | translate }}</th>
            </thead>
            <tbody>
              <tr>
                <td>1-01-02-01</td>
                <td>Bank 1</td>
                <td></td>
                <td>Banco</td>
                <td>L. 500.00</td>
                <td>L. 0.00</td>
              </tr>
              <tr>
                <td>1-01-02-01</td>
                <td>Bank 1</td>
                <td></td>
                <td>Banco</td>
                <td>L. 0.00</td>
                <td>L. 500.00</td>
              </tr>
              <tr>
                <td colspan="4">
                  <b>Totales</b>
                </td>
                <td>L. 500.00</td>
                <td>L. 500.00</td>
              </tr>                                 
            </tbody>
          </table>
        </div>        

      </nz-card>

    </div>

  </div>  

</div>