<section class="bg-w-shadow mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box-b">

          <div class="pull-right">        
            <app-backbutton></app-backbutton>
          </div>        

          <h4 class="page-title">
            <i class="mdi mdi-bank"></i> {{ 'SEE_CHEQUE' | translate }}
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row m-0 mt-2 mb-4">

    <div class="col-md-12">

      <nz-card>
        <h6 class="card-title mt-0 f-s-14 text-center">
          {{ 'CHEQUE_DATA' | translate }}
        </h6>

        <div class="table-responsive">
          <table class="simple-ctm-table table table-hover bg-white">
            <tbody>
              <tr>
                <td><b>{{ 'DATE' | translate }}</b></td>
                <td>20-Apr-2018</td>
                <td><b>{{ 'CHEQUE_NO' | translate }}</b></td>
                <td>112233</td>
              </tr>
              <tr>
                <td><b>{{ 'PAY_TO' | translate }}</b></td>
                <td>al portador</td>
                <td><b>{{ 'THE_AMOUNT_OF' | translate }}</b></td>
                <td>Dos mil lempiras</td>
              </tr>
              <tr>
                <td><b>{{ 'AMOUNT' | translate }}</b></td>
                <td>L. 300.00</td>
                <td><b>{{ 'STATE' | translate }}</b></td>
                <td>
                  <span class="badge badge-pill badge-danger color-white">
                    {{ 'CANCELED' | translate }}
                  </span>
                </td>
              </tr>                                    
            </tbody>
          </table>
        </div>        

      </nz-card>

    </div>

  </div>

  <div class="row m-0 mt-2 mb-4">

    <div class="col-md-12">

      <nz-card>
        <h6 class="card-title mt-0 f-s-14 text-center">
          {{ 'ACCOUNTING_ENTRY_DATA' | translate }}
        </h6> 
        
        <div class="table-responsive">
          <table class="simple-ctm-table table table-hover bg-white">
            <tbody>
              <tr>
                <td><b>{{ 'DATE' | translate }}</b></td>
                <td>20-Apr-2018</td>
                <td><b>{{ 'NO_REFERENCE' | translate }}</b></td>
                <td>20-Apr-2018</td>
              </tr>
              <tr>
                <td><b>{{ 'REFERENCE' | translate }}</b></td>
                <td>Combustible</td>
                <td><b>{{ 'SOURCE' | translate }}</b></td>
                <td>EGRESOS</td>
              </tr>
              <tr>
                <td><b>{{ 'VOUCHER' | translate }}</b></td>
                <td>000-002-01-123</td>
                <td><b>{{ 'STATE' | translate }}</b></td>
                <td>
                  <span class="badge badge-pill badge-danger color-white">
                    {{ 'REMOVED' | translate }}
                  </span>
                </td>
              </tr>
              <tr>
                <td><b>{{ 'COST_CENTER' | translate }}</b></td>
                <td>Inversiones Logisticas</td>
                <td></td>
                <td></td>
              </tr>                                    
            </tbody>
          </table>
        </div>        

        <div class="table-responsive">
          <table class="simple-ctm-table table table-hover bg-white">
            <thead>
              <th>{{ 'CODE' | translate }}</th>
              <th>{{ 'DESCRIPTION' | translate }}</th>
              <th>{{ 'COST_CENTER' | translate }}</th>
              <th>{{ 'COMMENTARY' | translate }}</th>
              <th>{{ 'DEBIT' | translate }}</th>
              <th>{{ 'CREDIT' | translate }}</th>
            </thead>
            <tbody>
              <tr>
                <td>1-01-02-01</td>
                <td>Bank 1</td>
                <td></td>
                <td>pago de flete</td>
                <td>L. 500.00</td>
                <td>L. 0.00</td>
              </tr>
              <tr>
                <td>1-01-02-01</td>
                <td>Bank 1</td>
                <td></td>
                <td>pago de flete</td>
                <td>L. 0.00</td>
                <td>L. 500.00</td>
              </tr>
              <tr>
                <td colspan="4">
                  <b>Totales</b>
                </td>
                <td>L. 500.00</td>
                <td>L. 500.00</td>
              </tr>                                 
            </tbody>
          </table>
        </div>        

      </nz-card>

    </div>

  </div>  

</div>